<!--
   파일정보 : brd/brdDtl.html
   파일명 : brdDtl
   업무명 : 게시판상세
   생성자 : BSG
   생성일 : 2023.04.06
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
   <body>
      <script th:inline="javascript">
         /*<![CDATA[*/ 
         //초기화 조회 콜백
         var htmlData = "";
         var fnInitCallBack = function(resData){
            console.log(resData);
            
            //동적 첨부파일 (다건)
            com.fnIbsUploadView($("#myUpload"), resData.fileList); 
            
            com.fnSetKeyVal(resData.data);
            
            htmlData = resData.data.brdCont;

            fnCreateView(); //미리보기그리기 
             
            
         };
        
         //수정페이지호출
         var fnUpt = function(){
            menuNm = /*[[${paramMap.menuNm}]]*/;
            param = {menuCd:1070217, title:menuNm+"수정"
                  , paramMap:{menuNm:menuNm
                           , brdNo:$("#brdNo").val()
                           , brdSeq:$("#brdSeq").val()
                           , atthType:$("#atthType").val()
                           , atthNo:$("#atthNo").val()
                           } 
            };
            parent.menuOpen(param);
      		parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
         }
                  
         //화면 초기화(게시판정보 조회)
         $(document).ready(function(){
            obj = {url:"/brd/selectBrd.do", formId:"serchFrm", callBack:fnInitCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
            com.fnAjaxPost(obj);
            
			/*$('#preView').on('load', function() {
				fnCreateView();
			});*/
            
         });
         
          //미리보기 그리기 
         var fnCreateView = function(){
			 
			if($("#preView").contents().find("html body").length === 0) {
				//$("#preView").attr("src", "/index/preViewTest.do");
			}else {
				$("#preView").contents().find("html body").find("#spo_brdCont").html(htmlData);
			}
			 
            //img경로 바꾸기
            fnChgImgUrl();
         };
         
          var fnChgImgUrl = function(){
			 $("#preView").contents().find("html body").find('img[src^="../images"]').each(function() {
			    var currentSrc = $(this).attr('src');
			   
			    var domainHome = /*[[${domainHome}]]*/;
			    var newSrc = currentSrc.replace('../images', domainHome+'images');
			    $(this).attr('src', newSrc);
		    });
         }
         
          //미리보기
         var fnSpoPop = function(){
            $("#homePreView").css("display","block");
            $("#ele_brdCont_wrap").css("display","none");
            fnCreateView();
         };
         //소스보기
         var fnSpoPopNo = function(){
            $("#homePreView").css("display","none");
            $("#ele_brdCont_wrap").css("display","block");
         };
          
          /*]]>*/
          
          
            
      </script>
      
      <!-- 콘텐츠 시작 -->
      <div class="contentsArea">
         <div class="contentsTop">
            <div th:insert="~{/fragments/subTitle}"></div>
         </div><!-- //contentsTop -->
         <form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
         <input type="hidden" name="brdNo" id="brdNo" th:value="${paramMap.brdNo}"/>
         <input type="hidden" name="brdSeq" id="brdSeq" th:value="${paramMap.brdSeq}"/>
         <input type="hidden" name="atthType" id="atthType" th:value="${paramMap.atthType}"/>
         <input type="hidden" name="atthNo" id="atthNo" value=""/>
         <div class="contents flex">
            <div class="layer-flex">
               <!-- 그리드 좌측 부분 -->
               <div class="" style="width:100%">
                  <table class="tbl">
                     <colgroup>
                        <col style="width:10%;">
                        <col style="width:25%;">
                        <col style="width:10%;">
                        <col style="width:25%;">
                        <col style="width:10%;">
                        <col style="width:25%;">
                     </colgroup>
                     <tbody>
                        <tr>
                           <th>제목</th>
                           <td colspan="5">
                              <div id="ele_brdSubj"></div>
                           </td>
                        </tr>
                        <tr>
                           <th>게시여부</th>
                           <td>
                              <div id="ele_viewYn"></div>
                           </td>
                           <th>공지여부</th>
                           <td>
                              <div id="ele_notiYn"></div>
                           </td>
                           <th>상단공지여부</th>
                           <td>
                              <div id="ele_topYn"></div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <button type="button" onclick="fnSpoPopNo();return false;"class="btn small style08 mt10 mb10">소스보기</button>
                  <button type="button" onclick="fnSpoPop();return false;"class="btn small style08 mt10 mb10">화면 미리보기</button>
                  <!--<button type="button" onclick="fnSpoPopNo2();return false;" class="btn small style08 mt10 mb10">링크열기</button>-->
                  <div id="ele_brdCont_wrap" style="display:block;width:100%;min-height:400px;overflow:auto;border:1px solid #cfd6db;padding:20px;box-sizing:border-box;">
                     <div id="ele_brdCont"></div>
                  </div>
                  <div id="homePreView" style="display:none;height:540px;">
                     <iframe name="preView" id="preView" title="뷰" style="width:100%;height:100%;" th:src="@{/index/preViewTest.do?domainHome=}+${domainHome}"></iframe>
                  </div>
                  <!-- 처리 버튼 영역 -->
                  <section class="area mt50">
                     <div class="fc">
                        <button type="button" onclick="javascript:fnUpt();" class="btn style07">수정</button>
                     </div>
                  </section>
               </div>   
               <!-- END 컨텐츠 영역 -->
            </div>
         </div><!-- //contents -->
         </form>
          
      </div><!-- //contentsArea -->
   </body>
</html>