<!--
	파일정보 : mngReq/mngReqUpt.html
	파일명 : mngReq
	업무명 : 보안요청관리 수정
	생성자 : 변성균
	생성일 : 2023-12-11
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:src="@{/ckeditor/build/ckeditor.js}"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			
			//초기화 조회 콜백
			$(document).ready(function(){

				//화면 처리
				
				//코드값 처리
				com.fnCodeSelectBox("MR01", "reqType", 1, "10"); //요청유형
				com.fnCodeSelectBox("MR02", "reqWork", 1, ""); //요청업무
				com.fnCodeSelectBox("MR03", "procStat", 1, "10"); //진행상태

				//동적 첨부파일 생성(동적)
				com.fnIbsUpload($("#myUpload")); 

				//에디터 호출
				com.fnCkeditorSet("#editor");	
				
				//정보조회
				rowData = parent.sheet.getFocusedRow(); //생성된 행 정보 가져오기
				
				var param = {reqYm:rowData.reqYm, reqSeq:rowData.reqSeq};
				var obj = {url:"/mngReq/selectMngReq.do", param:param, callBack:fnDtlCallBack, msgYn:"N", loadYn:"N"};
				com.fnAjaxDef(obj);
				
				
			});
			
			//상세정보 콜백
			var fnDtlCallBack = function(resData){
				com.fnSetKeyVal(resData.data);
			}
			
			
			//저장
			var fnSave = function(){
				//필수체크
				var valChks = ["today"];

				if(com.fnValChk(valChks)){
					if(confirm("저장 처리 하시겠습니까?")){
						obj = {url:"/mngReq/insertMngReq.do", formId:"saveFrm", fileId:"myUpload", callBack:fnSaveCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						com.fnAjaxMulti(obj);

					}
				}
			};

			//저장콜백
			var fnSaveCallBack = function(resData){
				com.dialpopupClose();
			};

			

			/*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div th:insert="~{/fragments/subTitle}"></div>
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
			<input type="hidden" name="atthType" id="atthType" th:value="${menuInfo.atthType}"/>
			<input type="hidden" name="atthNo" id="atthNo"/>
			<input type="hidden" name="reqYm" id="reqYm"/>
			<input type="hidden" name="reqSeq" id="reqSeq"/>
			
			<div class="contents flex">
				<div class="layer-flex">
					<!-- 그리드 좌측 부분 -->
					<div class="" style="width:100%">
						<table class="tbl">
							<colgroup>
								<col style="width:10%;">
								<col style="width:25%;">
								<col style="width:10%;">
								<col style="width:25%;">
								<col style="width:10%;">
								<col style="width:25%;">
							</colgroup>
							<tbody>
								<tr>
									<th>제목</th>
									<td colspan="5">
										<input type="search" name="reqTitl" id="reqTitl" title="제목" style="width:100%;" maxlength="50">
									</td>
								</tr>
								<tr>
									<th>요청일</th>
									<td><span id="ele_reqDt"></span></td>
									<th>요청자</th>
									<td><span id="ele_reqNm"></span></td>
									<th>연락처</th>
									<td>
										<input type="search" name="reqTelNo" id="reqTelNo" th:value="${session.userTel}" title="제목" style="width:80%;" maxlength="20">
									</td>
								</tr>
								<tr>
									<th>요청유형</th>
									<td>
										<select name="reqType" id="reqType" style="width:120px" title="요청유형"></select>
									</td>
									<th>요청업무</th>
									<td>
										<select name="reqWork" id="reqWork" style="width:120px" title="요청업무"></select>
									</td>
									<th>진행상태</th>
									<td>
										<select name="procStat" id="procStat" style="width:120px" title="진행상태"></select>
									</td>
								</tr> 
								
							</tbody>
						</table>
						<div class="ckEdirorWrap" style="width:100%;min-height:200px;overflow:auto">
							<div id="editor" name="editor"></div>
						</div>
						<div id="ele_atthArea">
							<section class="area mt10">
								<div class="fl">
									<h4 class="title">첨부파일</h4>
								</div>
								<!--
								<div class="fr">
									<button type="button" onclick="javascript:com.fnIbsFileAdd($('#myUpload'));" class="btn small style08">추가</button>
									<button type="button" onclick="javascript:com.fnIbsFileDel($('#myUpload'));" class="btn small style08">삭제</button>
								</div>
								-->
							</section>
							<div id="myUpload" style="height:120px;"></div>
						</div>
						<!-- 처리 버튼 영역 -->
						<section class="area mt10">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">저장</button>
							</div>
						</section>
					</div>	
					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
			
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>