<!--
	시스템구분 : 홈페이지 (콘텐츠 화면 처리 영역)
	파일정보 : guarReqIns.html
	파일명 : guarReqIns.html
	업무명 : 홈페이지 (콘텐츠 화면 처리 영역)
	생성자 : 권다슬
	생성일 : 2023.08.29
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xml:lang="ko">
	<th:block th:layout="comjs">
		<script th:src="@{/js/guarCom.js}"></script>
	</th:block>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var codeList = /*[[${codeList}]]*/; //공통코드
		var guarType = /*[[${menuInfo.refVal}]]*/; 	//메뉴참조값 (보증상품)
		var menuCd = /*[[${menuInfo.menuCd}]]*/;	//guarCom.fnCalcCommAmt 사용

		//화면 초기화 처리 호출
		$(document).ready(function(){
			//lnb 세팅함수
			fnPageLnbSet(/*[[${menuInfo}]]*/, /*[[${menuInfo.menuNm}]]*/); //lnb세팅

			guarCom.fnGuarIssueCdSelectBox();	//신청방법

			//동적 첨부파일 (다건)
			com.fnIbsUpload($("#docFile"));

			//보증 정보 화면 설정(guar/comGuarReq.html)
			fnGuarContrInputSet();
			$("#guarCont").val(guarCom.fnSelectGuarTypeNm(guarType));	//보증내용 자동입력

			//보증신청정보 조회
			fnGuarIns();
		});

		//보증신청정보 조회
		var fnGuarIns = function(){
			obj = {url:"/guar/selectGuarReqIns.do", formId:"saveFrm", callBack:fnGuarInsCallback, msgYn:"N", sessYn:"Y", loadYn:"Y"};
			com.fnAjaxPost(obj);
		}

		//보증신청정보 조회 콜백
		var fnGuarInsCallback = function(resData){
			//console.log(resData);

			//약정정보 확인
			if(com.fnIsEmpty(resData.contrList)){
				alert("보증 약정 정보가 존재하지 않습니다.");
				fnPage('2030201');	//신청 목록으로 이동
				return;
			}

			//0. 조합원 조기경보 체크
			guarCom.fnCheckMembCretop(resData.memb.membCretop, '2030201');	//alert후 신청리스트 이동

			//1-1. 조합원
			com.fnSetKeyVal(resData.memb);
			if(resData.memb.mainBussCd === "14")	$("#genreNm").prop("disabled", false);	//장르(기타)

			//1-2. 약정구분 selectBox 생성(comGuarMemb.html)
			fnContrTypeSelectBoxSet(resData.contrList);

			//1-3. 조합원(약정정보)
			com.fnSetKeyVal(resData.contr, "area_comGuarMemb");
			$("#finalGrade").val(resData.contr.finalGrade);			//신용도
			$("#contrType").val(resData.contr.contrType);			//약정구분
			$("#contrNo").val(resData.contr.contrNo);				//약정번호

			//1-4. 조합원(보증한도, 보증사용액, 보증가능액)
			com.fnSetKeyVal(resData.contrLimit, "area_comGuarMemb");

			//2. 보증신청정보(신청자 selectBox)
			guarCom.fnSelCpSelectBox(resData.persList); //전체

			//3. 요율정보
			var paramData = {data: resData.comRate};
			guarCom.fnSelectRateNoCalcCallBack(paramData);

			//4. 선급금경우 약정이율 공시
			if(guarType === "14"){
				$("#ele_guarPayRate").html("<b>"+resData.guarPayRate.remark + "<font color='blue'>"+resData.guarPayRate.payRate+"%</font></b>");
			}
			
			//알림톡세팅
			var membNo = /*[[${session.membNo}]]*/;
			var setParam = {membNo: membNo, setTalk:"Y"}
			com.fnSetPersList(setParam);
		}

		//저장
		var fnSave = function(){
			//필수체크
			var valChks = ["reqNm","reqTel","reqDt","contrAmt","guarRate","guarAmt","orderNm","servNm","guarBegDt","guarExpDt","guarAddDays"];	//"selCp",

			if(guarType !== "11")						valChks.push(...["contrBegDt", "contrExpDt", "contrDays"]);
			if(guarType === "11" || guarType === "13")	valChks.push(...["releDt"]);
			if(guarType === "13")						valChks.push(...["releBegDt", "releEndDt", "releDays"]);
			if(guarType !== "14")						valChks.push(...["contrDt"]);
			if(guarType === "14")						valChks.push(...["repayAmt"]);

			if(com.fnValChk(valChks)){

			    if($("#contrNo").val() === ""){
			        alert("해당보증 약정 정보가 존재하지 않습니다.");
			        return;
			    }

			    if(guarCom.fnToNumber($("#ele_remainAmt").text()) < guarCom.fnToNumber($("#guarAmt").val())){
			        alert("보증금액이 보증가능금액을 초과하였습니다.");
			        return;
			    }

			    //출자면제보증한도체크
			    if($("#contrType").val() === "13" && guarCom.fnToNumber($("#guarAmt").val()) > guarCom.fnToNumber($("#exemLimitAmt").val())) {
			    	alert("보증금액이 출자면제약정 건당 한도액(" + com.aprojomma($("#exemLimitAmt").val()) + ")을 초과하였습니다.");
			        return;
			    }


				if($("#guarIssueCd option:selected").val() === "G" ) {
					if($("#g2bYn").val() !== "Y"){
						alert("전자보증정보를 조회 하십시오.");
						return;
					}

					if($("#checkedPublicNo").val() !== $("#publicNo").val()){
						alert("계약번호가 변경 입력되었습니다.(조회된 계약번호: "+$("#checkedPublicNo").val()+")\n 다시 조회 하시거나 이전 계약번호로 변경하십시오.");
						return;
					}
			    }

				if(confirm("입력하신 "+ guarCom.fnSelectGuarTypeNm(guarType) + " 정보를 신청하시겠습니까?")){
					//전자서명 처리

					var guarBegDt = $("#guarBegDt").val().split("-");	//보증기간(시작)
			        var guarExpDt = $("#guarExpDt").val().split("-");	//보증기간(종료)
			        var reqDt	  = $("#reqDt").val().split("-");		//신청일

					let plan =  "주계약명 : "	+ $("#servNm").val() 	+ "\n" +
								"계약기간 : " 	+ guarBegDt[0]+"년 "+guarBegDt[1]+"월 "+guarBegDt[2] +"일 ~ "+guarExpDt[0]+"년 "+guarExpDt[1]+"월 "+guarExpDt[2] +"일까지 " 	+ "\n" +
								"계약일자 : "	+ reqDt[0]+"년 "+reqDt[1]+"월 "+reqDt[2] +"일" + "\n" +
								"계약금액 : "	+ $("#contrAmt").val() 	+ "\n" +
								"보증금율 : "	+ $("#guarRate").val() + " %";
					alert(plan);
					param = {plan:plan, idn:/*[[${session.bizNo}]]*/};
					com.fnCertSign(param); //전자서명 처리

					//등록 테스트
					//var test = {signData: "test"};
					//fnCertSingCallBack(test);	//테스트
				}
			}
		}

		//서명 콜백(전자서명 포함 저장)
		var fnCertSingCallBack = function(resData){
			//console.log(resData);
			$("#signedGuarCont").val(resData.signData);

			obj = {url:"/guar/insertGuar.do", formId:"saveFrm", fileId:"docFile", callBack:fnSaveCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
			com.fnAjaxMulti(obj);
		}

		//저장 콜백
		var fnSaveCallBack = function(resData){
			fnPage('2030201');	//신청 목록으로 이동
		}

		/*]]>*/
	</script>
        <div class="main-top sub">
			<ul class="inner">
                <li class="move1"></li>
                <li class="move2"></li>
                <li class="move3"></li>
                <li class="move4"></li>
                <li class="move5"></li>
            </ul>
        </div>
        <div class="content-wrap">
            <div class="inner">
                <div class="content-box flex-box jc-between">
                    <!-- 업무 안내 영역 -->
                    <div id="lnb" class="lnb-wrap">
                        <h3 class="ko-bold h3-txt"></h3>

                    </div>

                    <!-- 업무 안내 영역 끝 -->
                    <div class="content-main">
						<!-- 경로 영역 시작 -->
                        <div th:insert="~{/fragments/subTitle}"></div>
                        <!-- 경로 영역 끝 -->
                        <form name="saveFrm" id="saveFrm" onSubmit="return false">
							<input type="hidden" th:name="_csrf" th:value="${_csrf?.token}"/>
							<input type="hidden" name="membNo" 			id="membNo" 	  th:value="${session.membNo}"/>
							<input type="hidden" name="sMembNo" 		id="sMembNo" 	  th:value="${session.membNo}"/>
							<input type="hidden" name="guarType" 		id="guarType" 	  th:value="${menuInfo.refVal}"/>
							<input type="hidden" name="sGuarType" 		id="sGuarType" 	  th:value="${menuInfo.refVal}"/>
							<input type="hidden" name="atthType" 		id="atthType" 	  th:value="${menuInfo.atthType}"/>
							<input type="hidden" name="sRefContrNoYn" 	id="sRefContrNoYn"   value="Y"/>	<!-- 참조약정 제외 조회 -->

							<!-- resData.memb -->
							<input type="hidden" name="membNm"       	id="membNm"       value="" />
                			<input type="hidden" name="ceoNm"        	id="ceoNm"        value="" />

                			<!-- resData.comRate -->
							<input type="hidden" name="commRate"     	id="commRate"	  value="" />
							<input type="hidden" name="orgRate"      	id="orgRate"      value="" />

							<!-- resData.contr-->
                			<input type="hidden" name="contrNo"      	id="contrNo"	  value="" />
                			<input type="hidden" name="finalGrade"   	id="finalGrade"	  value="" />
                			<!--<input type="hidden" name="contrType"   	id="contrType"	  value="" />-->  <!-- comGuarMemb으로 위치변경 -->

			                <input type="hidden" 						id="mortCnt"	  value="" />	<!-- 담보갯수 -->
               				<input type="hidden" name="exemLimitAmt" 	id="exemLimitAmt" value="" />	<!-- 출자면제보증한도 - 요율조회할때 가져옴 fnSelectRateNoCalcCallBack  -->

							<!-- 데이터 저장용 -->
               				<input type="hidden" name="guarStat"		id="guarStat" 	  value="10"/> 	<!-- 보증상태 : GR02 -->
							<input type="hidden" name="guarClassCd"		id="guarClassCd"  value="10"/> 	<!-- 신청유형 : GR03 - 최초 -->
							<input type="hidden" name="guarReqCd"		id="guarReqCd" 	  value="1"/> 	<!-- 신청유형 : GR04 - 신규 -->
							<!--<input type="hidden" name="procStat"		id="procStat" 	  value="10"/>--> 	<!-- GR05  신청 > insert NVL로 넣음 -->

							<input type="hidden" name="reqType" 		id="reqType"/> 					<!-- 신청유형(신청자명 선택시 값 set) -->
							<input type="hidden" name="reqSeq"  		id="reqSeq"/> 					<!-- 신청순번(신청자명 선택시 값 set) -->
							<input type="hidden" name="commAmt"  		id="commAmt"/> 					<!-- 보증수수료 -->
							<input type="hidden" name="commCalc"  		id="commCalc"/> 				<!-- 보증료 산식 -->
							<input type="hidden" name="calcCommAmt"  	id="calcCommAmt"/> 				<!-- 계산 보증료 -->
							<input type="hidden" name="payPreDt"  		id="payPreDt"/> 				<!-- guarCom.fnGetMinCommAmt -->


							<input type="hidden" name="signedGuarCont"	id="signedGuarCont"	/>			<!-- 전자서명 -->
							<input type="hidden" name="g2bYn"	id="g2bYn"	/>			<!-- 조회여부 -->
							<input type="hidden" name="checkedPublicNo"	id="checkedPublicNo"	/>		<!-- 적용눌러서 확인된 계약번호 -->

	                        <section id="content" class="content">
	                            <!-- 여기서부터 content -->
	                            <div>
									<!-- 조합원 및 약정정보 -->
	                                <article>
										<th:block th:include="guar/comGuarMemb :: type(search)"></th:block>
	                                </article>

	                                <article>
	                                    <p class="title-dept1">보증서 신청정보</p>
	                                    <div class="table-wrap info">
	                                        <div class="table-scroll">
	                                            <table summary="보증서 신청정보">
	                                                <colgroup>
	                                                	<col style="width:13%;">
	                                                	<col style="width:39%;">
	                                                	<col style="width:13%;">
	                                                	<col style="width:35%;">
	                                                </colgroup>
	                                                <tbody>
	                                                    <tr>
	                                                        <th>신청유형</th>
	                                                        <td>신규</td>
	                                                        <th>처리상태</th>
	                                                        <td>신청</td>
	                                                    </tr>
	                                                    <tr>
	                                                        <th>신청방법</th>
	                                                        <td><select name="guarIssueCd" id="guarIssueCd" title="발급구분" style="width:120px" onchange="guarCom.fnGuarIssueChg(this.value);"></select></td>
	                                                        <th>계약번호</th>
	                                                        <td>
																<div id="ele_g2bNone">해당사항없음</div>
																<div id="ele_g2b" style="display:none">
																	<input type="text" name="publicNo" id="publicNo" maxlength="30" style="width:200px" />
																	<button type="button" name="btnG2b" id="btnG2b" class="address-btn3" onclick="guarCom.fnG2bSearch()"></button>
																</div>
															</td>
	                                                    </tr>
	                                                    <tr>
	                                                        <th><span class="reqMark">*</span>신청자명</th>
	                                                        <td>
																<select name="selCp" id="selCp" title="신청자" style="width:150px"></select>
																<input type="text" name="reqNm" id="reqNm" title="신청자명" style="width:120px" maxlength="20"/>
															</td>
	                                                        <th><span class="reqMark">*</span>신청자연락처</th>
	                                                        <td><input type="text" name="reqTel" id="reqTel" title="신청자연락처" style="width:130px" maxlength="13" onkeyup="com.fnOnlyNum(this);com.makeTelNo(this)"/></td>
	                                                    </tr>
	                                                </tbody>
	                                            </table>
	                                        </div>
	                                    </div>
	                                </article>

	                                <article>
										<th:block th:include="guar/comGuarReq"></th:block> <!-- 계약정보 -->
	                                </article>
	                                
	                                <!--알림톡정보 : s-->
									<th:block th:include="com/comAlarmTalk"></th:block> <!--알람톡정보 -->
									<!--<th:block th:include="com/comAlarmTalk :: type('invtSeprt')"></th:block> -->
									<!--알림톡정보 : e-->

	                                <article>
	                                    <p class="title-dept1">첨부파일<span style="font-size: 13px; color: #ff6600"> (첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></p>
										<div id="docFile" style="height:140px;"></div>
	                                </article>

	                                <div class="btn-wrap flex-box jc-end gap-10 m-col">
	                                    <button type="button" class="sub-btn2 btn-color" onclick="fnSave()">신청</button>
	                                    <button type="button" class="sub-btn2 btn-white" onclick="fnPage('2030201')">신청목록</button>
	                                </div>
	                            </div>
	                        </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</html>