<!--
	파일정보 : lend/lendContrDtl.html
	파일명 : lendContr
	업무명 : 대출약정 상세
	생성자 : 김대성
	생성일 : 2023-06-30
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<th:block th:layout="comjs">
			<script th:src="@{/js/lendCom.js}"></script>
		</th:block>
		<script th:inline="javascript">

			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "LD02:LD09:LD01:LD05", gridNoList : "20112:30105:30106:40308:40202:40203:40204:40205", accYn : "Y"}

			var lendContr = {}; //한도약정정보(정상)

			var paramMap = /*[[${paramMap}]]*/; //넘어온 파라미터

			//초기화 조회 콜백
			$(document).ready(function(){

				//화면 처리

				//동적 첨부파일 생성(동적)
				com.fnFileViewSet("LD09", "myUpload");

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

			    //수정가능 설정
				gridOptList[0].Cols[0].Visible = 0; //삭제버튼비활성화
			    gridOptList[1].Cols[0].Visible = 0; //삭제버튼비활성화

			    gridOptList[3].Cfg.CanEdit = 1;
				gridOptList[3].Cols[0].Visible = 0; //삭제버튼비활성화
			    gridOptList[4].Cfg.CanEdit = 1;
			    gridOptList[4].Cols[0].Visible = 0; //삭제버튼비활성화
			    gridOptList[5].Cfg.CanEdit = 1;
			    gridOptList[5].Cols[0].Visible = 0; //삭제버튼비활성화
			    gridOptList[6].Cfg.CanEdit = 1;
			    gridOptList[6].Cols[0].Visible = 0; //삭제버튼비활성화

			    IBSheet.create({ id: "sheetSure", el: "sheetDivSure", options: gridOptList[0] }); //대출인정보
			    IBSheet.create({ id: "sheetMort", el: "sheetDivMort", options: gridOptList[1] }); //담보정보
			    IBSheet.create({ id: "sheetInter", el: "sheetDivInter", options: gridOptList[2] }); //이자정보
			    IBSheet.create({ id: "sheetLend", el: "sheetDivLend", options: gridOptList[7] }); //대출정보

			    IBSheet.create({ id: "sheetConcl", el: "sheetDivConcl", options: gridOptList[3] }); //계약체결명세현황
				IBSheet.create({ id: "sheetNote", el: "sheetDivNote", options: gridOptList[4] }); //어음담보명세현황
				IBSheet.create({ id: "sheetBond", el: "sheetDivBond", options: gridOptList[5] }); //매출채권명세현황
				IBSheet.create({ id: "sheetClaim", el: "sheetDivClaim", options: gridOptList[6] }); //보험청구권현황

				IBSheet.create({ id: "sheetHist", el: "sheetDivHist", options: gridOptList[8] }); //변경이력

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					//넘어온 파라미터 설정 및 상세 정보 조회
					$("#membNo").val(paramMap.membNo);
					$("#sMembNo").val(paramMap.membNo);
					$("#contrNo").val(paramMap.contrNo);
					$("#atthNo").val(paramMap.atthNo);

					obj = {url:"/lendContr/selectLendContr.do", formId:"serchFrm", callBack:fnDtlCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
					com.fnAjaxPost(obj);
				};

				//대출정보 원클릭 처리
				sheetLend.bind("onAfterClick" , function(obj) { //원클릭
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기
					if(!com.fnIsEmpty(rowData))	lendCom.fnLendSet(rowData);
				});

				//대출정보 조회 후 자동 조회
				sheetLend.bind("onSearchFinish" , function(obj) { //원클릭
					this.focus(this.getRowById("AR1"));
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기
					if(!com.fnIsEmpty(rowData))	lendCom.fnLendSet(rowData);
				});

			});

			//상세 조회 콜백
			var fnDtlCallBack = function(resData){
				//console.log(resData)
				lendContr = resData.contr; //약정정보
				var contrStat = resData.contr.contrStat; //약정상태

				//동적 융자상품정보설정
				lendCom.fnSetLendLimitView("LD01", "tbl_lendLimit", resData.contr);

				com.fnSetKeyVal(resData.memb); //조합원 설정
				com.fnSetKeyVal(resData.contr); //약정정보 설정
				
				//융자상품정봇수기 설정여부
				if(resData.contr.limitOptYn == "Y"){
					$("#overChk").prop("checked", true);
				} 
				
				com.fnIbsUploadViewOne(resData.fileList); //첨부파일설정
				com.fnIbsUploadView($("#myUploadLend"), resData.lendFileList);	//융자 첨부파일
				sheetSure.loadSearchData(resData.suretyList); //보증인정보
				sheetMort.loadSearchData(resData.mortList); //담보정보
				sheetLend.loadSearchData(resData.lendList); //대출현황
				sheetHist.loadSearchData(resData.contrHistList); //약정이력현황

				//약정가능좌수 설정
				var contrNum = resData.contr.contrNum;
			    if(contrStat !== "10") contrNum = 0;
			    $("#ele_contrRemainNum").text(resData.memb.mortNum - resData.memb.assignNum - resData.memb.contrUseNum + contrNum);

			    //버튼 체어
				var procStat = resData.contr.procStat;
				var contrStat = resData.contr.contrStat;

				if(procStat === "10" || procStat === "51" || procStat === "21"){ //접수,승인불가,심사반려
					$("#btn_apprReq").css("display", ""); //요청
				}
				if(procStat === "22"){ //심사중
					$("#btn_apprFail").css("display", ""); //심사반려
					$("#btn_apprSucc").css("display", ""); //심사완료
				}
				if(procStat === "30" || procStat === "40" || procStat === "50"){ //심사완료, 제출완료, 승인요청
					$("#btn_examFail").css("display", "");
					$("#btn_examSucc").css("display", "");
				}

				if(contrStat === "10"){ //발급(정상)
					$("#btn_rmv").css("display", "");
					$("#btn_rptExp").css("display", "");
				}
				if(contrStat !== "20"){ //해제 아닌경우
					$("#btn_upt").css("display", "");
				}
				
				//알림톡전용 상태값에 세팅
				$("#talkProcStat").val($("#procStat").val());
				
				//알림톡세팅
				var setParam = {membNo: $("#membNo").val(), setTalk:"Y", setVal:resData.contr.talkNm}
				com.fnSetPersList(setParam);
				
				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_membNm").text()}
				com.fnSetTabMembTag(tabObj);
				
			}

			//레포트
			var fnReport = function(){
				var nameArr = ["contr_no"];
				var valueArr = [$("#contrNo").val()];
				ozLoad("LD_자금대여상환예고통지서", nameArr, valueArr, 1, false, false, "");
			}

			//해제
			var fnRmv = function(){
				if(confirm("해제 처리 하시겠습니까?")){

					param = {contrNo:$("#contrNo").val() };
					obj = {url:"/lendContr/updateLendContrRmvProc.do", param:param, callBack:fnProcCallBack, msgYn:"Y", loadYn:"Y", sessYn:"Y"};
					com.fnAjaxDef(obj);

				}
			}

			//수정
			var fnUpt = function(){
				if(lendContr.contrStat === "20"){
					alert("이미 해제처리 된 대상 입니다.");
					return;
				}

				if(Number(lendContr.contrCnt) > 0 && com.fnIsEmpty(lendContr.contrStat)){ //정상건이 있고 약정신청중인경우
					menuCd = "1040109"; //약정갱신수정
				}else if(Number(lendContr.contrCnt) === 0 && com.fnIsEmpty(lendContr.contrStat)){ //최초신청인경우
					menuCd = "1040106"; //약정신청수정
				}else{
					menuCd = "1040111"; //약정수정
				}

				param = {menuCd:menuCd, paramMap:{
										contrNo:$("#contrNo").val()
										, lendType:$("#lendType").val()
										, atthType:$("#atthType").val()
										}
				};
				parent.menuOpen(param);
				parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
			}


			//처리
			var msg = "";
			var fnProc = function(procStat){
				var contrNo = $("#contrNo").val(); //약정번호
				var apprNm =  $("#apprNm").val(); //약정번호
				var userNm = /*[[${session.userNm}]]*/;

				if((procStat === "51" || procStat === "90")  && apprNm === userNm){
					alert("심사자와 승인자를 동일할 수 없습니다.");
					if(userNm !== "관리자"){
						return;
					}
				}

				if(procStat === "30"){
					msg = "심사완료";
				}else if(procStat === "51"){ //
					msg = "승인불가";
				}else if(procStat === "90"){ //
					$("#talkProcStat").val('90'); //알림톡발송여부를 위해 세팅
					alert('알림톡발송을 원할시, 알림톡정보란에 수신자정보를 입력해주세요.');
					msg = "승인완료";
				}
				
				if(confirm(msg + " 처리 하시겠습니까?")){
					param = {contrNo:contrNo, procStat:procStat, befContrNo:$("#befContrNo").val() , lendNo:$("#lendNo").val(), talkNm: $("#talkNm").val(), talkTel: $("#talkTel").val()};
					obj = {url:"/lendContr/updateLendContrProc.do", param:param, callBack:fnProcCallBack, msgYn:"N", loadYn:"N", sessYn:"Y"};
					com.fnAjaxDef(obj);
				}
				
				
			};

			//처리콜백
			var fnProcCallBack = function(resData){
				if(resData.resultCode === 0) {
					
					//알림톡 약정체결
					if($("#talkProcStat").val() === "90"){  
						
						/*****************약정체결******************/
						//저장성공시 알림톡발송						
						/*
						[동양정보서비스] param1약정체결완료 안내
						약정인 param2, 연대보증인 param3님은 저희 조합과 금 param4만원정을 한도금액으로 약정을 체결하였습니다.
						*/
						
						//보증인, 담보제공인 정보 가져오기
						var sureList = [];
						var sRow = sheetSure.getDataRows();
						var mRow = sheetMort.getDataRows();
						
						var sureListSure = sRow.reduce((acc, row) => {
						  const sureNm  = sheetSure.getValue(row, "sureNm").trim() || '';
						  const sureTel = sheetSure.getValue(row, "cellNo").trim() || '';
						  acc.push([sureNm, sureTel]);
						  return acc;
						}, []);
						
						var sureListMort = mRow.reduce((acc, row) => {
						  const mortNm  = sheetMort.getValue(row, "sureNm").trim() || '';
						  const mortTel = sheetMort.getValue(row, "cellNo").trim() || '';
						  acc.push([mortNm, mortTel]);
						  return acc;
						}, []);
						
						var targetList = [...sureListSure,...sureListMort];
						
						// 전화번호가 있는 배열 중에서 이름, 번호만 각각 추출
						let nmList = targetList.filter(([nm, cellNo]) => cellNo !== '').map(([nm]) => nm);//.join(":");
						let cellList = targetList.filter(([nm, cellNo]) => cellNo !== '').map(([, cellNo]) => cellNo);//.join(":");
						
						if($("#talkTel").val() !== ""){
							nmList.push($("#talkNm").val());
							cellList.push($("#talkTel").val());
						}
						
						nmList = nmList.join(':');
						cellList = cellList.join(':');
						
						/*파라미터세팅*/
						var valListSure = sRow.map(row => sheetSure.getValue(row, "sureNm"));
						var valListMort = mRow.map(row => sheetMort.getValue(row, "sureNm"));
						var combinedSureList1 = [...valListSure, ...valListMort].join(',');
						var paramsArray = [
						  $("#ele_contrTypeNm").text()     //약정구분
						  , $("#ele_ceoNm").text()  				   //약정인 (약정체결 조합원 대표자명)
						  , combinedSureList1                           //연대보증인, 담보제공인
						  , $("#totalLimitSum").text()                    //한도액
						];
						
						// 배열을 콜론으로 구분된 문자열로 합치기
						var paramVal = paramsArray.join(':');
						param = {msgSeq:"14", membNo:$("#membNo").val(), param:paramVal, telNo:cellList, telNm:nmList, msgYn: "N"}
						com.fnSendTalkMsg(param);
						
						/*****************대출지급******************/
						//저장성공시 알림톡발송						
						/*
						[동양정보서비스] param1님, 동양정보서비스 대출(금 param2만원정, 이자율 param3%, 
						실행일 param4) 실행되었음을 안내드립니다. 아울러, 대출금액의 상환기일과 이자납일기일을 경과하였을 때에는, 
						상환기일과 이자납입기일의 익일부터 입금당일까지의 연체이자가 징수됩니다. 또한 당해채무의 이자의 지체회수가 4회에 달한 때에는, 
						조합의 독촉 및 통지가 없더라도, 모든 채무를 변제하여야 합니다. 자세한 문의사항은 02-3661-5167 고객지원팀에 문의하시기 바랍니다.
						*/
						/*파라미터세팅*/
						var ceo =  $("#ele_ceoNm").text();
						var combinedSureList2 = [ceo,...valListSure, ...valListMort].join(','); //이름 - 카톡msg 내용용
						var paramsArray2 = [
							combinedSureList2             //대표자들
							, $("#ele_lendAmt").text()   //대출금액
							, $("#ele_interPer").text()  //이자율
							, $("#ele_lendDt").text()    //대출일자
						];
						
						// 배열을 콜론으로 구분된 문자열로 합치기
						var paramVal2 = paramsArray2.join(':');
						param2= {msgSeq:"15", membNo:$("#membNo").val(), param:paramVal2, telNo:cellList, telNm:nmList}
						com.fnSendTalkMsg(param2);
						
					}
					
					alert(msg + " 처리 되었습니다.");	
				}
				else alert(resData.resultMsg);

				location.reload();
			};

			//융자 첨부파일(대출정보 선택에 따른 동적변화)
			var fnDtlFileUpload = function(){
				var rowData = sheetLend.getFocusedRow(); //생성된 행 정보 가져오기
				if(com.fnIsEmpty(rowData)){
					alert("선택된 대출정보가 없습니다.");
					return;
				}

				com.fnDtlFileUpload('myUploadLend', 'LD02', $('#lendAtthNo').val(), $('#lendNo').val());
			}

			/*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>
			</div><!-- //contentsTop -->
			<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false;" action="">
			<input type="hidden" name="membNo" id="membNo" value=""/> <!--조합원번호-->
			<input type="hidden" name="sMembNo" id="sMembNo" value=""/> <!--조합원번호-->
			<input type="hidden" name="contrNo" id="contrNo" value=""/> <!--약정번호-->
			<input type="hidden" name="lendNo" id="lendNo" value=""/> <!--대출번호-->
			<input type="hidden" name="lendType" id="lendType" value=""/> <!--대출상품-->
			<input type="hidden" name="atthType" id="atthType" th:value="${paramMap.atthType}"/> <!--첨부파일유형-->
			<input type="hidden" name="atthNo" id="atthNo" /> <!--첨부파일번호-->
			<input type="hidden" name="lendAtthNo" id="lendAtthNo" /> <!--융자 첨부파일번호-->
			<input type="hidden" name="gradeNo" id="gradeNo" value=""/> <!-- 신용등급관리번호 -->
			<input type="hidden" name="modFileCds" id="modFileCds" /> <!-- 첨부파일 첨부순서 -->

			<input type="hidden" name="procStat" id="procStat" /> <!-- 처리상태 -->
			<input type="hidden" name="apprNm" id="apprNm" /> <!-- 심사자 -->
			<input type="hidden" name="befContrNo" id="befContrNo" /> <!-- 이전약정번호 -->
			
			<input type="hidden" name="talkProcStat" id="talkProcStat" /> <!-- 처리상태:알림톡전용 -->

			<div class="contents flex">
				<div class="layer-flex">
					<div class="" style="width:100%">
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnProc('30');" id="btn_apprSucc" class="btn style01" style="display:none">심사완료</button>
								<button type="button" onclick="javascript:fnProc('21'');" id="btn_apprFail" class="btn style03" style="display:none">심사반려</button>
								<button type="button" onclick="javascript:fnProc('50');" id="btn_examReq" class="btn style03" style="display:none">승인요청</button>
								<button type="button" onclick="javascript:fnProc('90');" id="btn_examSucc" class="btn style01" style="display:none">승인완료</button>
								<button type="button" onclick="javascript:fnProc('51');" id="btn_examFail" class="btn style03" style="display:none">승인불가</button>
								<button type="button" onclick="javascript:fnReport();" id="btn_rptExp" class="btn style02" style="display:none">만기안내문</button>
								<button type="button" onclick="javascript:fnRmv();" id="btn_rmv" class="btn style03" style="display:none">해제</button>
								<button type="button" onclick="javascript:fnUpt();" id="btn_upt" class="btn style08" style="display:none">수정</button>
								<button type="button" th:onclick="javascript:parent.closeMenu([[${menuInfo.menuIdx}]], [[${menuInfo.refMenuIdx}]])" class="btn style06" >닫기</button>
							</div>
						</section>
					</div>
				</div>
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						<th:block th:include="com/comMemb"></th:block> <!--조합원조회 -->
						<!--융자약정정보 ######################################################################## -->
						<th:block th:include="lend/comLendContrDtl"></th:block> <!--융자약정정보 -->
						<!--융자약정정보 ######################################################################## -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">심사정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
							</colgroup>
							<tbody>
								<tr>
									<th>처리상태</th>
									<td>
										<span id="ele_apprYn"></span>
									</td>
									<th>심사일자</th>
									<td>
										<span id="ele_apprDtm"></span>
									</td>
									<th>심사자</th>
									<td>
										<span id="ele_apprNm"></span>
									</td>
								</tr>
								<tr>
									<th>승인여부</th>
									<td>
										<span id="ele_examYn"></span>
									</td>
									<th>승인일자</th>
									<td>
										<span id="ele_examDtm"></span>
									</td>
									<th>승인자</th>
									<td>
										<span id="ele_examNm"></span>
									</td>
								</tr>
							</tbody>
						</table>
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">융자상품정보
									<input type="checkbox" name="overChk" id="overChk" disabled />
								</h4>
							</div>
						</section>
						<table class="tbl" id="tbl_lendLimit"></table>

						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">보증인정보</h4>
								</div>
							</section>
							<div id="sheetDivSure" style="width:100%;height:140px"></div>
						</div>
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담보정보</h4>
								</div>
							</section>
							<div id="sheetDivMort" style="width:100%;height:140px"></div>
						</div>
						<!-- 첨부파일 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">첨부파일<span style="font-size: 11px; color: #ff6600">(첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></h4>
							</div>
							<div class="fr">
								<button type="button" onclick="javascript:com.fnDtlFileUpload('docFile', $('#atthType').val(), $('#atthNo').val(), $('#lendNo').val(), 'LD09');" class="btn small style07">파일저장</button>
		                    </div>
						</section>
						<table class="tbl" id="myUpload"></table>
						<div id="ele_hist">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">약정변경이력</h4>
								</div>
							</section>
							<div id="sheetDivHist" style="width:100%;height:200px"></div>
						</div>

					</div>

					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:49%">
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">대출정보</h4>
							</div>
						</section>
						<div id="sheetDivLend" style="width:100%;height:120px"></div>
						<div id="areaLend">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">대출상품정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:80px;">
									<col style="width:80px;">
									<col style="width:200px;">
									<col style="width:160px;">
									<col style="">
								</colgroup>
								<tbody>
									<tr>
										<th colspan="2">대출상품</th>
										<td>
											<span id="ele_lendTypeNm"></span>
										</td>
										<th >이자산정방법</th>
										<td>
											<span id="ele_interWayNm"></span>
										</td>
									</tr>

									<tr>
										<th colspan="2">대출일자</th>
										<td>
											<span id="ele_lendDt"></span>
										</td>
										<th>상환기한</th>
										<td>
											<span id="ele_repayPreDt"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">대출금액</th>
										<td>
											<span id="ele_lendAmt"></span>
										</td>
										<th>대체금액</th>
										<td>
											<span id="ele_repLendAmt"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">지급대상금액(A)</th>
										<td>
											<span id="ele_payAmt"></span>
										</td>
										<th>이자율</th>
										<td>
											<span id="ele_interPer"></span>&nbsp;%
										</td>
									</tr>

									<!-- 어음할인 -->
									<tr class="ele_lendType13" style="display:none">
										<th rowspan="4">공제 또는</br>환급금액</th>
										<th>대출이자</th>
										<td>
											<span id="ele_interAmt"></span>
										</td>
										<th>수수료</th>
										<td>
											<span id="ele_commAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th>공증료</th>
										<td>
											<span id="ele_notarAmt"></span>
										</td>
										<th>국민주택채권매입비</th>
										<td>
											<span id="ele_purcAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th>상계금액</th>
										<td>
											<span id="ele_offsetAmt"></span>
										</td>
										<th>연체이자</th>
										<td>
											<span id="ele_delayAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th>환급이자</th>
										<td>
											<span id="ele_retAmt"></span>
										</td>
										<th>소계(B)</th>
										<td>
											<span id="ele_totAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th colspan="2">차감지급액</th>
										<td colspan="3">
											<span id="ele_payAmt"></span>
										</td>
									</tr>
									<!-- 어음할인 끝-->

									<tr class="ele_lendType14" style="display:none">
										<th colspan="2">대출이자(B)</th>
										<td>
											<span id="ele_interAmt"></span>
										</td>
										<th>차감지급액(A-B)</th>
										<td>
											<span id="ele_payAmt"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">출금은행</th>
										<td>
											<span id="ele_outBankNm"></span>
										</td>
										<th>출금계좌</th>
										<td colspan="3">
											<span id="ele_outAcct"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">비고</th>
										<td colspan="3">
											<span id="ele_lendRemark"></span>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						<!-- 대출상품별 상세 추가 부분 -->
						<div id="ele_concl" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">계약체결명세현황</h4>
								</div>
							</section>
							<div id="sheetDivConcl" style="width:100%;height:200px"></div>
						</div>
						<div id="ele_note" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담보명세현황</h4>
								</div>
							</section>
							<div id="sheetDivNote" style="width:100%;height:200px"></div>
						</div>
						<div id="ele_claim" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">매출채권보험청구권현황</h4>
								</div>
							</section>
							<div id="sheetDivClaim" style="width:100%;height:200px"></div>
						</div>
						<div id="ele_bond" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">양도 매출채권 및 대출신청 명세</h4>
								</div>
							</section>
							<div id="sheetDivBond" style="width:100%;height:200px"></div>
						</div>
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">대출이자정보</h4>
							</div>
						</section>
						<div id="sheetDivInter" style="width:100%;height:320px"></div>
						
						<!--알림톡정보 : s-->
						<div id="alarmBox" class="wrapBox mt10">
							<th:block th:include="com/comAlarmTalk :: type('dtl')"></th:block> <!--알람톡정보 -->
							<!--<th:block th:include="com/comAlarmTalk :: type('invtSeprt')"></th:block> -->
						</div><!-- //wrapbox-->
						<!--알림톡정보 : e-->
						
						<!-- 첨부파일 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">첨부파일(융자)<span style="font-size: 11px; color: #ff6600">(첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></h4>
							</div>
							<div class="fr">
								<button type="button" onclick="fnDtlFileUpload();" class="btn small style07">파일저장</button>
	                        	<button type="button" onclick="javascript:com.fnIbsFileDownAll($('#myUploadLend'));" class="btn small style08">전체다운</button>
	                    	</div>
						</section>
						<div id="myUploadLend" style="height:180px;"></div>
						<!-- END 컨텐츠 영역 -->

					</div>

				</div>

			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
