<!--
	파일정보 : lend/lendContrReqUpt.html
	파일명 : lendContrReqUpt
	업무명 : 대출약정 수정
	생성자 : 김대성
	생성일 : 2023-06-29
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		
		<th:block th:layout="comjs">
			<script th:src="@{/js/lendCom.js}"></script>
		</th:block>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "LD02:LD09:LD01:LD05", gridNoList : "20112:30105:30106:40308:40202:40203:40204:40205:", accYn : "Y"}
			
			var selSureRow = {}; //대출인선택정보
			var selMortRow = {}; //담보선택정보
			
			var lendContr = {}; //한도약정정보(정상)
			
			var paramMap = /*[[${paramMap}]]*/; //넘어온 파라미터
			
			var contrStat = ""; //약정상태
			var procStat = ""; //처리상태
			//초기화 조회 콜백
			$(document).ready(function(){
				
				//화면 처리
				//코드값 처리
				com.fnCodeSelectBox("LD01", "lendType", 1, ""); //대출상품
				com.fnCodeSelectBox("LD05", "procStat", 1, "", "1"); //처리상태
				
				//동적 융자상품정보설정
				lendCom.fnSetLendLimit("LD01", "tbl_lendLimit"); 
				
				//융자 첨부파일
				com.fnIbsUpload($("#myUploadLend")); 
				
				//동적 첨부파일 생성(동적)
				com.fnFileSet("LD09", "myUpload"); 
				
				//조합계좌설정
				com.fnSetBankAccList("selBank", 1);	
				
				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);
				
				//수정가능 설정
				gridOptList[3].Cfg.CanEdit = 1;
			    gridOptList[4].Cfg.CanEdit = 1;
			    gridOptList[5].Cfg.CanEdit = 1;
			    gridOptList[6].Cfg.CanEdit = 1;
			    
			    IBSheet.create({ id: "sheetSure", el: "sheetDivSure", options: gridOptList[0] }); //대출인정보
			    IBSheet.create({ id: "sheetMort", el: "sheetDivMort", options: gridOptList[1] }); //담보정보
			    IBSheet.create({ id: "sheetInter", el: "sheetDivInter", options: gridOptList[2] }); //이자정보
			    
			    IBSheet.create({ id: "sheetLend", el: "sheetDivLend", options: gridOptList[7] }); //대출정보
			    
			    IBSheet.create({ id: "sheetConcl", el: "sheetDivConcl", options: gridOptList[3] }); //계약체결명세현황
				IBSheet.create({ id: "sheetNote", el: "sheetDivNote", options: gridOptList[4] }); //어음담보명세현황
				IBSheet.create({ id: "sheetBond", el: "sheetDivBond", options: gridOptList[5] }); //매출채권명세현황
				IBSheet.create({ id: "sheetClaim", el: "sheetDivClaim", options: gridOptList[6] }); //보험청구권현황
				
			    //시트 생성 이후 
			    IBSheet.onRenderFirstFinishAll = function(obj){
					//넘어온 파라미터 설정 및 상세 정보 조회
					$("#membNo").val(paramMap.membNo);
					$("#sMembNo").val(paramMap.membNo);
					$("#contrNo").val(paramMap.contrNo);
					$("#atthNo").val(paramMap.atthNo);
					
					obj = {url:"/lendContr/selectLendContr.do", formId:"saveFrm", callBack:fnDtlCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
					com.fnAjaxPost(obj);
					
				};
			    
			    
				//sheetSure 원클릭
			    sheetSure.bind("onAfterClick" , function(obj) { //원클릭
			    	//수정호출
					if(obj.col === "sureNm"){
						selSureRow = obj.row;
						fnPopup("sure"); 
					} 	
					
					//삭제
					if(obj.col === "delChk"){
						com.fnIbsStatusChg(this, "D");//삭제상태변경
					}; 
				});
				
				//sheetMort 원클릭
			    sheetMort.bind("onAfterClick" , function(obj) { //원클릭
			    	//수정호출
					if(obj.col === "sureNm"){
						selMortRow = obj.row;
						fnPopup("mort"); 
					} 	
					
					//삭제
					if(obj.col === "delChk"){
						com.fnIbsStatusChg(this, "D");//삭제상태변경
					}; 
				});
				
				//계약체결명세 원클릭
			    sheetConcl.bind("onAfterClick" , function(obj) { //원클릭
			    	//삭제
					if(obj.col === "delChk"){
						com.fnIbsStatusChg(this, "D");//삭제상태변경
					}; 	
				});
					
				sheetNote.bind("onAfterClick" , function(obj) { //원클릭
			    	//삭제
					if(obj.col === "delChk"){
						com.fnIbsStatusChg(this, "D");//삭제상태변경
					}; 
				});
				
				//양도 매출채권 및 대출신청 명세 원클릭
			    sheetBond.bind("onAfterClick" , function(obj) { //원클릭
			    	//삭제
					if(obj.col === "delChk"){
						com.fnIbsStatusChg(this, "D");//삭제상태변경
					}; 	
				});
					
				//매출채권보험청구권현황 원클릭 (보험청구권)
			    sheetClaim.bind("onAfterClick" , function(obj) { //원클릭
			    	//삭제
					if(obj.col === "delChk"){
						com.fnIbsStatusChg(this, "D");//삭제상태변경
					}; 	
				});
			    
			    //대출현황 원클릭 처리
				sheetLend.bind("onAfterClick" , function(obj) { //원클릭
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기
					lendCom.fnLendSet(rowData);
				});
				
				//대출현황 조회 후 자동 조회
				sheetLend.bind("onSearchFinish" , function(obj) { //원클릭
					this.focus(this.getRowById("AR1"));
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기
					lendCom.fnLendSet(rowData);
				});
			});
			
			//상세 조회 콜백 
			var fnDtlCallBack = function(resData){
				lendContr = resData.contr;
				
				contrStat = resData.contr.contrStat;
				
				com.fnSetKeyVal(resData.memb); //조합원 설정
				com.fnSetKeyVal(resData.contr); //약정정보 설정
				
				//약정가능좌수 설정
				var contrNum = resData.contr.contrNum;
			    if(contrStat !== "10") contrNum = 0;
			    $("#remainNum").val(resData.memb.mortNum - resData.memb.assignNum - resData.memb.contrUseNum + resData.memb.deptNum + contrNum);
				
				com.fnIbsUploadViewOne(resData.fileList, "upt"); //첨부파일설정
				
				sheetSure.loadSearchData(resData.suretyList); //보증인정보
				sheetMort.loadSearchData(resData.mortList); //담보정보
				
				sheetLend.loadSearchData(resData.lendList); //대출현황
				
				//상품선택 처리
				var lendTypes = resData.contr.lendTypes.split(",");
				lendTypes.forEach((item, idx) => {
					$("#lendTypes"+item).prop("checked", true);
					$("#lendUseAmt"+item).val(com.aprojomma(resData.contrLimit["useAmt" + item]));
			  	});
			  	
			  	fnSumLimit(); //합계계산
			  	
				//약정체결 상태에서 수정 들어왔을 경우 수정 사유 입력 활성화
				if(contrStat === "10"){
					$("#ele_histReason").css("display", "");
				}
				
			}
			
			
			//업무처리 ****************************************************************************************************************************
			
			//약정일자 입력시 시작일 설정
			var fnSetContrDt = function(obj){
				var contrDt = obj.value;
				
				$("#contrBegDt, #lendDt").val(contrDt); //약정시작일
				$("#contrExpDt, #repayPreDt").val(com.fnDateGet(contrDt, 365)); //약정종료일
				
				//약정배수조회
				//fnContrDrng();
			}
			
			//약정좌수 금액 체크
			var fnContrNumChk = function(){
				var contrNum = $("#contrNum").val();
				var remainNum = $("#remainNum").val();
				if(remainNum < contrNum){
					alert("약정가능좌수를 초과할 수 없습니다.");
					//$("#contrNum").val("");
					//return false;
				}
				return true;
			}
			
			//신용도 조회 팝업
			var fnGrad = function(obj){
				
				var valChks = ["contrDt", "contrNum"];
				
				if(com.fnValChk(valChks)){
					com.dialpopupOpen("신용도조회", "/index/pageCall.do?menuCd=1070710", "800", "500"); ///com/serchCred
				}
			}
			
			//신용도 조횝 팝업 콜백
			var fnGradCallBack = function(resData){
				$("#gradeNo").val(resData.gradeNo);
				$("#finalGrade").val(resData.finalGrade);
				$("#gradeDt").val(com.fnDateGet(resData.gradeDt, 0));
				
				//좌당금액,배수,한도조회
				fnContrDrng();
			}
			
			//좌당금액,배수,한도조회 (한도 필요 여부 확인)
			var fnContrDrng = function(resData){
	
				var param = {appDt : $("#contrDt").val(), finalGrade : $("#finalGrade").val()}
				obj = {url:"/lendContr/selectLendContrBase.do", param:param, callBack:fnContrDrngCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);	
			}
			
			//좌당금액,배수,한도조회 콜백
			var fnContrDrngCallBack = function(resData){
				console.log(resData);
				//상품배수율
				$("#doubleNum11").val(resData.confLend.conclusRate);
				$("#doubleNum12").val(resData.confLend.creditRate);
				$("#doubleNum13").val(resData.confLend.noteRate);
				$("#doubleNum14").val(resData.confLend.bondRate);
				$("#doubleNum15").val(resData.confLend.claimRate);
				
				//지분액
				$("#dealAmt").val(com.aprojomma(resData.confInvt.dealAmt));
				$("#lendEachMul").val(com.aprojomma(resData.confRisk.lendEachMul)); //개별한도
                $("#lendLimitMul").val(resData.confRisk.lendLimitMul); //융자한도배수
			}
			
			//상품 직접입력 선택 처리
			var fnOverChkSel = function(){
				var overChk  = $("#overChk").is(":checked"); //한도임의설정여부
				
				//상품정보 화면 컨트롤
				$("input[name='lendTypes']").each(function(idx) {
					var cd = $(this).attr("id").replace("lendTypes", ""); //상품id
					if(overChk){
						$("#limitAmt"+cd).aprojlass("readonly").attr("readonly", false);	
						$("#limitOptYn").val("Y");
					}else{
						$("#limitAmt"+cd).aprojlass("readonly").attr("readonly", true);
						$("#limitOptYn").val("N");
					}
				});
			}
			
			//상품 선택 체크
			var fnGuarTypeSel = function(obj){
				var cd = obj.id.replace("lendTypes", ""); //상품id
				var contrType = $("#contrType").val();
				var contrNum = $("#contrNum").val();
				var overChk  = $("#overChk").is(":checked"); //한도임의설정여부
				var chkYn  = $("#"+obj.id).is(":checked"); //상품선택여부
				
				if(!overChk && $("#contrNum").val() === ""){
					alert("약정좌수를 입력 하십시오.");
					if(chkYn) $("#"+obj.id).prop("checked", false);
					return
				}
				
				if(!overChk && $("#gradeNo").val() === ""){
					alert("신용도를 조회 하십시오.");
					if(chkYn) $("#"+obj.id).prop("checked", false);
					return
				}
				
				if(!chkYn){
					//$("#doubleNum"+cd).val("");
					$("#limitAmt"+cd).val("");		
				}
				
				fnSumLimit(); //합계계산
			}
			
			//한도액 입력 
			var fnLimiAmtSet = function(obj){
				var id = obj.id;
				var cd = id.replace("limitAmt", ""); //한도액
				
				if(obj.value ===""){
					$("#lendTypes"+cd).prop("checked", false);	
				}else{
					$("#lendTypes"+cd).prop("checked", true);
				}
				
				fnSumLimit();
			}
			
			
			//한도금액 합산 (상품정보 화면 수정)
			var fnSumLimit = function(){
				
				var sumNum = 0;
    			var sumAmt = 0;
    			
    			var overChk  = $("#overChk").is(":checked"); //한도임의설정여부
    			var contrNum = Number($("#contrNum").val()); //약정좌수
    			var dealAmt  = Number(com.rmComma($("#dealAmt").val())); //좌당금액
    			var finalGrade = $("#finalGrade").val(); //등급
    			var contrType = $("#contrType").val(); //약정구분
    			
    			$("input[name='lendTypes']").each(function(idx) {
					//console.log(idx)
					var cd = $(this).attr("id").replace("lendTypes", ""); //상품id
					var chkYn = $(this).is(":checked"); //상품체크여부
					var doubleNum = Number($('input[name="doubleNum"]')[idx].value); //상품배수
					var limitAmt  = Number(com.rmComma($('input[name="limitAmt"]')[idx].value)); //상품한도액
					
					if(chkYn && overChk){
						
					}else if(chkYn && contrNum !== "" && doubleNum !== ""){
						limitAmt = contrNum * dealAmt * doubleNum;
						
						$('input[name="limitAmt"]')[idx].value = com.aprojomma(limitAmt);
								
					}else{
						$('input[name="limitAmt"]')[idx].value = "";
						doubleNum = 0;
					}
					
					//console.log(doubleNum + " / " + limitAmt)
					sumNum += doubleNum;
					sumAmt += limitAmt;
					
				});
				$("#sumDoubleNum").val(sumNum);
    			$("#sumLimitAmt").val(com.aprojomma(sumAmt));
				
			}
			
			
			//대출인/담보/관련조합원 팝업 호출
			var fnPopup = function(type, addYn){
				
				if($("#membNo").val() === ""){
					alert("조합원을 선택 하십시오.");
					return;
				}
				
				if(type === "sure"){
					if($("#sumLimitAmt").val() === ""){
						alert("한도금합계가 산정 되지 않았습니다.");
						//return;
					}
					if(addYn === "Y") selSureRow = {}; //초기화	
					com.dialpopupOpen("보증인추가", "/index/pageCall.do?menuCd=1070715", "900", "700"); ///com/comSureAdd
				}else if(type === "mort"){
					if(addYn === "Y") selMortRow = {}; //초기화	
					com.dialpopupOpen("담보추가", "/index/pageCall.do?menuCd=1070716", "900", "650"); ///com/comMortAdd
				}	
			}
			
			//보증인 추가 콜백
			var fnSureCallBack = function(obj){
				if(selSureRow.sureNm !== undefined){
					sheetSure.removeRow({row:selSureRow});				
				}
				com.fnIbsRowAdd("pre", obj, sheetSure);
				
				var row = sheetSure.getRowById(sheetSure.getFocusedRow());
				row["CanEdit"] = 0;
				
			}
			//담보 추가 콜백
			var fnMortCallBack = function(obj){
				if(selMortRow.sureNm !== undefined){
					sheetMort.removeRow({row:selMortRow});				
				}
				com.fnIbsRowAdd("pre", obj, sheetMort);
			}
			
			//대출일자 입력
			var fnLendDtSet = function(){
				var lendDt = $("#lendDt").val();
				if(lendDt.length === 10){
					$("#repayPreDt").val(com.fnDateGet($("#lendDt").val(), 365)); //	
				}
			}
			
			//대출금액 입력
			var fnPayAmtCalc = function(){
				var lendType = $("#lendType").val();
				if(lendType === ""){
					alert("대출상품을 선택하십시오.");
					return;
				}
				
				var limitAmt = com.rmComma($("#limitAmt" + lendType).val());
				var lendAmt = com.rmComma($("#lendAmt").val());
				var repLendAmt = com.rmComma($("#repLendAmt").val());
				
				if(limitAmt === ""){
					alert("한도금액을 입력하십시오");
					return;
				}
				
				if(lendAmt === "") lendAmt = 0;
				if(repLendAmt === "") repLendAmt = 0;
				
				if(lendType === "12" || lendType === "15") lendType = '11'; //계약, 보험청구둰담보 경우 11로 설정 
				
				if(limitAmt < lendAmt - repLendAmt){
					alert("지급금액이 한도금액보다 큽니다.");
					return;
				}
				
				$("#payAmt" + lendType).val(com.aprojomma(lendAmt - repLendAmt));
			}
			
			//대출상품 선택 처리
			var fnLendTypeSel = function(){
				var lendType = $("#lendType").val();
				if(lendType === "") return;
				
				//필수체크
				var valChks = ["membNo", "finalGrade"];
				
				if(com.fnValChk(valChks)){
					//이자율 조회
					var param = {appDt : $("#lendDt").val(), finalGrade : $("#finalGrade").val(), lendType : $("#lendType").val() }
					obj = {url:"/membRateLend/selectLendRate.do", param:param, callBack:fnLendTypeSelCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
					com.fnAjaxDef(obj);
				}else{
					$("#lendType").val("");	
				}
					
			}
			
			//대출상품 선택 콜백
			var fnLendTypeSelCallBack = function(resData){
				var lendType = $("#lendType").val();
				//conclusRate 11 계약진행자금대출
				//creditRate  12 신용운영자금대출
				//noteRate    13 어음할인
				//bondRate    14 양도 매출재춴 및 대출신청 명세
				//claimRate   15 매출채권보험청구권 명세
				$("#ele_concl").css("display", "none");
				$("#ele_note").css("display", "none");
				$("#ele_bond").css("display", "none");
				$("#ele_claim").css("display", "none");
				
				$(".ele_lendType13").hide();
				$(".ele_lendType14").hide();
				
				if(lendType === "11"){
					$("#ele_concl").css("display", "");
					$("#interPer").val(resData.data.conclusRate); //이율
					if(typeof sheetConcl === "undefined") IBSheet.create({ id: "sheetConcl", el: "sheetDivConcl", options: gridOptList[4] }); //계약체결명세현황
					
				}else if(lendType === "12"){
					$("#interPer").val(resData.data.creditRate); //이율
					
				}else if(lendType === "13"){
					$("#ele_note").css("display", "");
					$(".ele_lendType13").show();
				
					$("#interPer").val(resData.data.noteRate); //이율
					if(typeof sheetNote === "undefined") IBSheet.create({ id: "sheetNote", el: "sheetDivNote", options: gridOptList[5] }); //어음담보명세현황
					
				}else if(lendType === "14"){
					$("#ele_bond").css("display", "");
					$(".ele_lendType14").show();
					
					$("#interPer").val(resData.data.bondRate); //이율
					if(typeof sheetBond === "undefined") IBSheet.create({ id: "sheetBond", el: "sheetDivBond", options: gridOptList[6] }); //매출채권명세현황
				}else if(lendType === "15"){
					$("#ele_claim").css("display", "");
					$("#ele_bond").css("display", "");
					
					$("#interPer").val(resData.data.claimRate); //이율
				 	if(typeof sheetClaim === "undefined") IBSheet.create({ id: "sheetClaim", el: "sheetDivClaim", options: gridOptList[7] }); //보험청구권현황
			    	if(typeof sheetBond === "undefined") IBSheet.create({ id: "sheetBond", el: "sheetDivBond", options: gridOptList[6] }); //매출채권명세현황
			    }
			    
			    //대출이자정보 초기화
			    sheetInter.removeAll();//마스터 값이 없을 경우
			}
			
			//이자계산
			var fnInterCalc = function(){
				lendCom.fnInterCalc();
			}
			
			//행 추가
			var fnRowAdd = function(sheetId){
				initData = {};
				com.fnIbsRowAdd("pre", initData, sheetId);
			};
			
			//저장
			var fnSave = function(){
				
				fnContrNumChk(); //약정좌수 체크
				fnPayAmtCalc(); //한도금액 체크
				
				//필수체크
				alert(1);
				var valChks = [ "contrDt", "contrBegDt", "contrExpDt", "contrNum"
							, "gradeNo"];
				alert(2);
				//약정체결 상태인경우 
				if(contrStat === "10") valChks[valChks.length] = "histReason";
				
				if(com.fnValChk(valChks)){
					var lendType = $("#lendType").val();
					
					//지급 금액 설정
					var payAmt = $("#payAmt11").val();
					if(lendType === '13') payAmt = $("#payAmt13").val();
					if(lendType === '14') payAmt = $("#payAmt14").val();
					
					$("#payAmt").val(payAmt);
					//파일여부
					var fileList01 = $("#docFile01").IBUpload('fileList');
					var fileList02 = $("#docFile02").IBUpload('fileList');
					var fileList03 = $("#docFile02").IBUpload('fileList');
					if(fileList01.length === 0 || fileList02.length === 0 || fileList03.length === 0 ){
						alert("관련 첨부파일을 첨부하십시오.");
						//return;
					}
					//첨부파일 첨부한 순서 코드따오기 (물리적저장순서 맞춰야해서 필수)
					com.fnGetModCds("docFile");
					if(confirm("저장 처리 하시겠습니까?")){
						var param = $("#saveFrm").serializeObject();
						param.sure = sheetSure.getSaveJson(0);
						param.mort = sheetMort.getSaveJson(0);
						param.inter = sheetInter.getSaveJson(0);
						
						if(lendType === "11"){ //계약진행자금대출 LD_MAS_CONCL (계약체결현황)
							param.conclus = sheetConcl.getSaveJson(0);
						}else if(lendType === "13"){ //어음할인 LD_MAS_NOTE (담보명세)
							param.note = sheetNote.getSaveJson(0);
						}else if(lendType === "14"){ //양도 매출재춴 및 대출신청 명세 LD_MAS_BOND 
							param.bond = sheetBond.getSaveJson(0);
						}else if(lendType === "15"){ //매출채권보험청구권 명세 LD_MAS_CLAIM, LD_MAS_BOND
							param.claim = sheetClaim.getSaveJson(0);
							param.bond = sheetBond.getSaveJson(0);
						}
						
						obj = {url:"/lendContr/updateLendContr.do", callBack:fnSaveCallBack, jParam:param, fileId:"docFile", sessYn:"Y" };
						com.fnAjaxMulti(obj);
					}
					
				}	
			};
			
			//저장콜백
			var fnSaveCallBack = function(resData){
				if(resData.resultCode === 0){
					param = {menuCd:"1040107", paramMap:{membNo:$("#membNo").val()
										, contrNo:$("#contrNo").val()
										, atthNo:$("#atthNo").val()
										, lendType:$("#lendType").val()
										, atthType:$("#atthType").val()
										}
					};
					parent.menuOpen(param);
					
					parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);	
				}
			};
			
			/*]]>*/
		</script>
		
		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>
			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false;" action="">
			<input type="hidden" name="membNo" id="membNo" value="" title="조합원"/>
			<input type="hidden" name="sMembNo" id="sMembNo" value=""/> <!--조합원번호-->
			<input type="hidden" name="contrNo" id="contrNo" value=""/> <!--조합원번호-->
			<input type="hidden" name="lendNo" id="lendNo" value=""/> <!--대출번호-->
			
			<input type="hidden" name="atthType" id="atthType" th:value="${paramMap.atthType}"/>
			<input type="hidden" name="atthNo" id="atthNo" /> <!--첨부파일번호-->
			<input type="hidden" name="modFileCds" id="modFileCds" /> <!-- 첨부파일 첨부순서 -->
			
			<input type="hidden" name="reqWay" id="reqWay" value="V"/> <!-- 신청방법 -->
			<input type="hidden" name="payAmt" id="payAmt" value=""/> <!-- 지급금액 -->
			<input type="hidden" name="gradeNo" id="gradeNo" value=""/> <!-- 신용등급관리번호 -->
			<input type="hidden" name="contrOverYn" id="contrOverYn" value=""/> <!-- 한도직접입력대상 -->
			
			<input type="hidden" name="lendStat" id="lendStat" /> <!-- 융자처리상태(심사승인) -->
			<input type="hidden" name="dealAmt" id="dealAmt" />
			<input type="hidden" name="lendEachMul" id="lendEachMul"   />
			<input type="hidden" name="lendLimitMul" id="lendLimitMul"  />
			<div class="contents flex">
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						<th:block th:include="com/comMemb"></th:block> <!--조합원조회 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">약정정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:100px;">
								<col style="width:140px;">
								<col style="width:100px;">
								<col style="width:140px;">
								<col style="width:100px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th>약정구분</th>
									<td>
										<span id="ele_contrTypeNm"></span>
									</td>
									<th>약정번호</th>
									<td>
										<span id="ele_contrNo"></span>
									</td>
									<th>약정상태</th>
									<td>
										<span id="ele_contrStatNm"></span>
									</td>
								</tr>
								<tr>
									<th>약정일자</th>
									<td >
										<input type="search" name="contrDt" id="contrDt" title="약정일자" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" onChange="fnSetContrDt(this.value);" autocomplete="off" style="width:100px" maxlength="10"/>
										<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'contrDt', 'yyyy-mm-dd')" />
									</td>
									<th>약정기간</th>
									<td colspan="3">
										<input type="text" name="contrBegDt" id="contrBegDt" title="시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
			                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'contrBegDt', 'yyyy-mm-dd','contrExpDt', 1)" />
			                        	<input type="text" name="contrExpDt" id="contrExpDt" title="종료일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
			                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'contrExpDt', 'yyyy-mm-dd', 'contrBegDt', 2)" />
									</td>
								</tr>
								<tr>
									<th>담보좌수</th>
									<td>
										<input type="text" name="mortNum" id="mortNum" title="담보좌수" style="width:40px" readonly/>
									</td>
									<th>예수좌수</th>
									<td>
										<input type="text" name="deptNum" id="deptNum" title="담보좌수" style="width:40px" readonly/>
									</td>
									<th>총좌수</th>
									<td>
										<input type="text" name="totNum" id="totNum" title="약정사용좌수" style="width:40px" readonly/>
									</td>
								</tr>
								<tr>
									<th>배정좌수</th>
									<td>
										<input type="text" name="assignNum" id="assignNum" title="배정좌수" style="width:40px" readonly/>
									</td>
									<th>사용좌수</th>
									<td>
										<input type="text" name="contrUseNum" id="contrUseNum" title="배정좌수" style="width:40px" readonly/>
									</td>
									<th>가능좌수</th>
									<td>
										<input type="text" name="remainNum" id="remainNum" title="약정가능좌수" style="width:40px" readonly/>
									</td>
								</tr>
								<tr>
									<th>약정좌수</th>
									<td >
										<input type="search" name="contrNum" id="contrNum" title="약정좌수" style="width:60px" onKeyUp="com.fnOnlyNum(this);" onBlur="fnContrNumChk()" maxlength="5" />
									</td>
									<th>신용도</th>
									<td colspan="3">
										<input type="text" name="finalGrade" id="finalGrade" title="신용도" style="width:50px" readonly/>
										<button type="button" class="btn icoSearch" onclick="fnGrad()">검색</button>
										<input type="text" name="gradeDt" id="gradeDt" title="평가일자" style="width:100px" readonly/>
									</td>
								</tr>
								<tr>
									<th>비고</th>
									<td colspan="5">
										<input type="search" name="remark" id="remark" title="비고" style="width:400px" maxlength="100"/>
									</td>
								</tr>
							</tbody>
						</table>
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">융자상품정보
								<input type="checkbox" name="overChk" id="overChk" onClick="fnOverChkSel();" />
								<input type="hidden" name="limitOptYn" id="limitOptYn" value=""/> <!-- 한도직접입력여부 -->
								</h4>
							</div>
						</section>
						<table class="tbl" id="tbl_lendLimit"></table>
						
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">심사정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:80px;">
								<col style="width:140px;">
								<col style="width:80px;">
								<col style="width:140px;">
								<col style="width:80px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th>처리상태</th>
									<td><span id="ele_procStatNm"></span></td>
									<th>심사일자</th>
									<td><span id="ele_apprDtm"></span></td>
									<th>심사자</th>
									<td><span id="ele_apprNm"></span></td>
								</tr>
								<tr>
									<th>승인여부</th>
									<td>
										<span id="ele_examYn"></span>
									</td>
									<th>승인일자</th>
									<td>
										<span id="ele_examDtm"></span>
									</td>
									<th>승인자</th>
									<td>
										<span id="ele_examNm"></span>
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">보증인정보</h4>
								</div>
								<div class="fr">
									<button type="button" onclick="javascript:fnPopup('sure', 'Y');" class="btn small style08">추가</button>
								</div>
							</section>
							<div id="sheetDivSure" style="width:100%;height:140px"></div>
						</div>	
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담보정보</h4>
								</div>
								<div class="fr">
									<button type="button" onclick="javascript:fnPopup('mort', 'Y');" class="btn small style08">추가</button>
								</div>
							</section>
							<div id="sheetDivMort" style="width:100%;height:140px"></div>
						</div>
						<!-- 첨부파일 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">첨부파일(융자)</h4>
							</div>
						</section>
						<table class="tbl" id="myUpload"></table>
					</div>
					
					<div class="collapseBox fixable" style="width:49%">
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">대출정보</h4>
							</div>
						</section>
						<div id="sheetDivLend" style="width:100%;height:120px"></div>
						<div id="areaLend">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">대출상품정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:80px;">
									<col style="width:80px;">
									<col style="width:200px;">
									<col style="width:160px;">
									<col style="">
								</colgroup>
								<tbody>
									<tr>
										<th colspan="2">대출상품</th>
										<td colspan="3">
											<span id="ele_lendTypeNm"></span>
										</td>
									</tr>
									
									<tr>
										<th colspan="2">대출일자</th>
										<td>
											<span id="ele_lendDt"></span>
										</td>
										<th>상환기한</th>
										<td>
											<span id="ele_repayPreDt"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">대출금액</th>
										<td>
											<span id="ele_lendAmt"></span>
										</td>
										<th>대체금액</th>
										<td>
											<span id="ele_repLendAmt"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">지급대상금액(A)</th>
										<td>
											<span id="ele_payAmt"></span>
										</td>
										<th>이자율</th>
										<td>
											<span id="ele_interPer"></span>&nbsp;%
										</td>
									</tr>
									
									<!-- 어음할인 -->
									<tr class="ele_lendType13" style="display:none">
										<th rowspan="4">공제 또는</br>환급금액</th>
										<th>대출이자</th>
										<td>
											<span id="ele_interAmt"></span>
										</td>
										<th>수수료</th>
										<td>
											<span id="ele_commAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th>공증료</th>
										<td>
											<span id="ele_notarAmt"></span>
										</td>
										<th>국민주택채권매입비</th>
										<td>
											<span id="ele_purcAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th>상계금액</th>
										<td>
											<span id="ele_offsetAmt"></span>
										</td>
										<th>연체이자</th>
										<td>
											<span id="ele_delayAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th>환급이자</th>
										<td>
											<span id="ele_retAmt"></span>
										</td>
										<th>소계(B)</th>
										<td>
											<span id="ele_totAmt"></span>
										</td>
									</tr>
									<tr class="ele_lendType13" style="display:none">
										<th colspan="2">차감지급액</th>
										<td colspan="3">
											<span id="ele_payAmt"></span>
										</td>
									</tr>
									<!-- 어음할인 끝-->
									
									<tr class="ele_lendType14" style="display:none">
										<th colspan="2">대출이자(B)</th>
										<td>
											<span id="ele_interAmt"></span>
										</td>
										<th>차감지급액(A-B)</th>
										<td>
											<span id="ele_payAmt"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">출금은행</th>
										<td>
											<span id="ele_outBankNm"></span>
										</td>
										<th>출금계좌</th>
										<td colspan="3">
											<span id="ele_outAcct"></span>
										</td>
									</tr>
									<tr>
										<th colspan="2">비고</th>
										<td colspan="3">
											<span id="ele_lendRemark"></span>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<!-- 대출상품별 상세 추가 부분 -->
						<div id="ele_concl" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">계약체결명세현황</h4>
								</div>
							</section>
							<div id="sheetDivConcl" style="width:100%;height:200px"></div>
						</div>
						<div id="ele_note" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담보명세현황</h4>
								</div>
							</section>
							<div id="sheetDivNote" style="width:100%;height:200px"></div>
						</div>
						<div id="ele_claim" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">매출채권보험청구권현황</h4>
								</div>
							</section>
							<div id="sheetDivClaim" style="width:100%;height:200px"></div>
						</div>
						<div id="ele_bond" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">양도 매출채권 및 대출신청 명세</h4>
								</div>
							</section>
							<div id="sheetDivBond" style="width:100%;height:200px"></div>
						</div>
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">대출이자정보</h4>
							</div>
						</section>
						<div id="sheetDivInter" style="width:100%;height:320px"></div>
						
						<!-- 첨부파일 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">첨부파일(융자)</h4>
							</div>
						</section>
						<div id="myUploadLend" style="height:180px;"></div>
						
						<div id="ele_hist" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">변경이력</h4>
								</div>
							</section>
							<div id="sheetDivHist" style="width:100%;height:200px"></div>
						</div>
						<div id="ele_histReason" style="display:none">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">수정사유</h4>
								</div>
							</section>
							<div>
								<textarea name="histReason" id="histReason" cols="100" rows="3" title="수정사유"></textarea>
							</div>
						</div>	
					</div>
					<!-- END 컨텐츠 영역 -->
				</div>
				<div class="layer-flex mt20">
					<!-- 처리 버튼 영역 -->
					<div class="" style="width:100%">	
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">저장</button>
							</div>
						</section>
					</div>
					<!-- 처리 버튼 영역 끝-->
				</div>
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
