<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="proj.biz.sys.repository.BatchMapper"> 

	<!-- 배치관리 정보 조회 --> 
	<select id="selectBatchList" parameterType="Map" resultType="camelMap"> 
		/* BatchMapper.selectBatchList */ 
		SELECT 
			TO_CHAR(BATCH_NO) BATCH_NO 
			, BATCH_NM 
			, BATCH_CONT 
			, BATCH_SCHE 
			, BATCH_CALL 
			, BATCH_PARAM 
			, BATCH_USE_YN 
			, BATCH_CHG_YN 
			, BATCH_LOG_YN 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
			, HOLY_YN
		  FROM CM_BATCH 
		<where> 
		<if test="sBatchNm != null and sBatchNm  != ''"> 
		AND BATCH_NM LIKE '%' || #{sBatchNm} || '%' 
		</if> 
		</where> 
		ORDER BY TO_NUMBER(BATCH_NO) 
	</select> 
	
	<!-- 배치관리 상세 조회 --> 
	<select id="selectBatch" parameterType="Map" resultType="camelMap"> 
		/* BatchMapper.selectBatch */ 
		SELECT 
			TO_CHAR(BATCH_NO) BATCH_NO 
			, BATCH_NM 
			, BATCH_CONT 
			, BATCH_SCHE 
			, BATCH_CALL 
			, BATCH_PARAM 
			, BATCH_USE_YN 
			, BATCH_CHG_YN
			, BATCH_LOG_YN
			, HOLY_YN
		  FROM CM_BATCH
		 WHERE BATCH_NO = #{batchNo}
	</select> 


	<!-- 배치관리 등록 처리 --> 
	<insert id="insertBatch" parameterType="Map"  > 
		/* BatchMapper.insertBatch */ 
		INSERT INTO CM_BATCH ( 
			BATCH_NO 
			, BATCH_NM 
			, BATCH_CONT 
			, BATCH_SCHE 
			, BATCH_CALL 
			, BATCH_PARAM 
			, BATCH_USE_YN 
			, BATCH_CHG_YN 
			, BATCH_LOG_YN 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
			, HOLY_YN
		) VALUES ( 
			(SELECT NVL(MAX(BATCH_NO), 0) + 1 FROM CM_BATCH)
			, #{batchNm} 
			, #{batchCont} 
			, #{batchSche} 
			, #{batchCall} 
			, #{batchParam} 
			, #{batchUseYn} 
			, #{batchChgYn} 
			, #{batchLogYn} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
			, #{holyYn} 
		) 
	</insert> 

	<!-- 배치관리 수정 처리 --> 
	<update id="updateBatch" parameterType="Map"  > 
		/* BatchMapper.updateBatch */ 
		UPDATE CM_BATCH 
		SET 
			BATCH_NM 		= #{batchNm} 
			, BATCH_CONT 	= #{batchCont} 
			, BATCH_SCHE 	= #{batchSche} 
			, BATCH_CALL 	= #{batchCall} 
			, BATCH_PARAM 	= #{batchParam} 
			, BATCH_USE_YN	= #{batchUseYn} 
			, BATCH_CHG_YN 	= 1
			, BATCH_LOG_YN 	= #{batchLogYn} 
			, MOD_DTM 		= SYSDATE 
			, MOD_NM 		= #{modNm}
			, HOLY_YN 		= #{holyYn}  
		WHERE BATCH_NO = #{batchNo} 
	</update> 
	
	
	<!-- 배치관리 변경적용 처리 완료  --> 
	<update id="updateBatchChgProc" parameterType="Map"  > 
		/* BatchMapper.updateBatchChgProc */ 
		UPDATE CM_BATCH 
		SET BATCH_CHG_YN 	= 0 
		WHERE BATCH_NO = #{batchNo} 
	</update> 
	
	
	


</mapper>
