<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="proj.biz.sys.repository.BrdMapper"> 

	<!-- 게시판 정보 조회 --> 
	<select id="selectBrdList" parameterType="Map" resultType="camelMap"> 
		/* BrdMapper.selectBrdList */ 
		SELECT 
			BRD_NO 
			, BRD_SEQ 
			, BRD_SUBJ 
			, NOTI_YN 
			, VIEW_YN 
			, TOP_YN 
			, SECRT_YN 
			, ATTH_NO 
			, IMG_ATTH_NO 
			, VIEW_CNT 
			, REG_TEL_NO 
			, REG_EMAIL 
			, TO_CHAR(REG_DTM,'YYYYMMDD') REG_DTM
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		  FROM CM_BRD 
		 WHERE BRD_NO = #{brdNo}
		 AND (DEL_YN != 'Y' OR DEL_YN IS NULL)
		<if test="sBrdSubj != null and sBrdSubj  != ''"> 
		AND BRD_SUBJ LIKE '%' || #{sBrdSubj} || '%' 
		</if> 
		ORDER BY BRD_NO DESC, TO_NUMBER(BRD_SEQ) DESC
	</select> 

	<!-- 게시판 상세 조회 --> 
 	<resultMap id="brdMap" type="camelMap">
		<result property="BRD_NO" column="BRD_NO" />
		<result property="BRD_SEQ" column="BRD_SEQ" />
		<result property="BRD_SUBJ" column="BRD_SUBJ" />
		<result property="BRD_CONT" column="BRD_CONT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="ANS_CONT" column="ANS_CONT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="NOTI_YN" column="NOTI_YN" />
		<result property="VIEW_YN" column="VIEW_YN" />
		<result property="TOP_YN" column="TOP_YN" />
		<result property="SECRT_YN" column="SECRT_YN" />
		<result property="ATTH_NO" column="ATTH_NO" />
		<result property="IMG_ATTH_NO" column="IMG_ATTH_NO" />
		<result property="VIEW_CNT" column="VIEW_CNT" />
		<result property="REG_TEL_NO" column="REG_TEL_NO" />
		<result property="REG_EMAIL" column="REG_EMAIL" />
		<result property="REG_PW" column="REG_PW" />
		<result property="REG_DTM" column="REG_DTM" />
		<result property="REG_NM" column="REG_NM" />
		<result property="MOD_DTM" column="MOD_DTM" />
		<result property="MOD_NM" column="MOD_NM" />
	</resultMap>	
	<select id="selectBrd" parameterType="Map" resultMap="brdMap"> 
		/* BrdMapper.selectBrd*/ 
		SELECT 
			BRD_NO 
			, BRD_SEQ 
			, BRD_SUBJ 
			, BRD_CONT 
			, NOTI_YN 
			, VIEW_YN 
			, TOP_YN 
			, SECRT_YN 
			, ATTH_NO 
			, IMG_ATTH_NO 
			, VIEW_CNT 
			, REG_TEL_NO 
			, REG_EMAIL 
			, REG_PW 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		  FROM CM_BRD 
		 WHERE BRD_NO = #{brdNo}
		   AND BRD_SEQ = #{brdSeq}
	</select> 
	

	<!-- 게시판 등록 처리 --> 
	<insert id="insertBrd" parameterType="Map"> 
		/* BrdMapper.insertBrd */ 
		<selectKey resultType="java.lang.String" keyProperty="brdSeq" order="BEFORE">
	          SELECT NVL(MAX(BRD_SEQ), 0) + 1 AS MAX_BRD_SEQ 
	            FROM CM_BRD 
	           WHERE BRD_NO = #{brdNo}
	    </selectKey>
		INSERT INTO CM_BRD ( 
			BRD_NO 
			, BRD_SEQ 
			, BRD_SUBJ 
			, BRD_CONT 
			, NOTI_YN 
			, VIEW_YN 
			, TOP_YN 
			, SECRT_YN 
			, ATTH_NO 
			, IMG_ATTH_NO 
			, VIEW_CNT 
			, REG_TEL_NO 
			, REG_EMAIL 
			, REG_PW 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		) VALUES ( 
			#{brdNo} 
			, #{brdSeq} 
			, #{brdSubj} 
			, #{brdCont} 
			, #{notiYn} 
			, #{viewYn} 
			, #{topYn} 
			, #{secrtYn} 
			, #{atthNo} 
			, #{imgAtthNo} 
			, #{viewCnt} 
			, #{regTelNo} 
			, #{regEmail}
			, #{regPw} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		) 
	</insert> 

	<!-- 게시판 수정 처리 --> 
	<update id="updateBrd" parameterType="Map"  > 
		/* BrdMapper.updateBrd */ 
		UPDATE CM_BRD 
		SET 
			BRD_NO = #{brdNo} 
			, BRD_SEQ = #{brdSeq} 
			, BRD_SUBJ = #{brdSubj} 
			, BRD_CONT = #{brdCont} 
			, NOTI_YN = #{notiYn} 
			, VIEW_YN = #{viewYn} 
			, TOP_YN = #{topYn} 
			, SECRT_YN = #{secrtYn} 
			, ATTH_NO = #{atthNo} 
			, IMG_ATTH_NO = #{imgAtthNo} 
			, REG_TEL_NO = #{regTelNo} 
			, REG_EMAIL = #{regEmail} 
			, REG_PW = #{regPw} 
			, REG_NM = #{userNm} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm} 
		WHERE BRD_NO = #{brdNo} 
		  AND BRD_SEQ = #{brdSeq} 
	</update> 

	<!-- 게시판 삭제 처리 --> 
	<update id="deleteBrd" parameterType="Map"  > 
		/* BrdMapper.deleteBrd */ 
		UPDATE CM_BRD
		   SET DEL_YN = 'Y' 
		WHERE BRD_NO = #{brdNo} 
		  AND BRD_SEQ = #{brdSeq} 
	</update> 
	
	<!-- *************** 홈페이지 게시판 처리 ***************************--> 
	<!-- 게시판 리스트 조회(페이징, 상단고정) --> 
	<select id="selectHomeBrdList" parameterType="Map" resultMap="brdMap"> 
		/* BrdMapper.selectHomeBrdList */ 
		SELECT CC.* FROM
		(SELECT ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RN, C.* FROM
			(SELECT ROWNUM AS RN2, A.* FROM
				(SELECT
					BRD.BRD_NO
					, BRD.BRD_SEQ
					, BRD.BRD_SUBJ
					, BRD.BRD_CONT
					, BRD.NOTI_YN
					, BRD.VIEW_YN
					, BRD.TOP_YN
					, BRD.SECRT_YN
					, BRD.ATTH_NO
					, BRD.IMG_ATTH_NO
					, (SELECT COUNT(*) FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO) ATTH_CNT
					, (SELECT FILE_ORG_NM FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO AND ATTH_SEQ = (SELECT MIN(ATTH_SEQ) FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO AND NVL(DEL_YN,'N') != 'Y')) AS FILE_ORG_NM /*갤러리게시판 썸네일을 위한 이름*/
					, (SELECT MIN(ATTH_SEQ) FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO AND NVL(DEL_YN,'N') != 'Y') MIN_ATTH_SEQ /*갤러리게시판 썸네일을 위한 구분*/
					, NVL(BRD.VIEW_CNT, 0) AS VIEW_CNT
					, BRD.REG_TEL_NO
					, BRD.REG_EMAIL
					, BRD.REG_PW
					, F_GET_PATTERN(TO_CHAR(BRD.REG_DTM,'YYYYMMDD'), 'DT') AS REG_DTM
					, BRD.REG_NM
					, BRD.MOD_DTM
					, BRD.MOD_NM
					, MENU.MENU_CD
					, MENU.MENU_NM
					, MENU.REF_VAL
					, ANS.BRD_NO AS ANS_NO
					, ANS.BRD_SEQ AS ANS_SEQ
					, ANS.BRD_CONT AS ANS_CONT
					, ANS.REG_DTM AS ANS_DTM
					, ANS.REG_ID AS ANS_ID
					, ANS.REG_NM AS ANS_NM
				FROM CM_BRD BRD
						FULL OUTER JOIN CM_BRD_ANSWER ANS
						ON BRD.BRD_NO = ANS.BRD_NO
						AND BRD.BRD_SEQ = ANS.BRD_SEQ
					,(SELECT MENU_CD, MENU_NM, REF_VAL
					FROM CM_MENU
					 WHERE MENU_CD LIKE '2%' AND MENU_TYPE ='B' AND REF_VAL != 'null') MENU
					 
					 <trim prefix="WHERE" prefixOverrides="AND | OR">
						 MENU.REF_VAL = BRD.BRD_NO
						 	 AND (DEL_YN != 'Y' OR DEL_YN IS NULL)
							 AND VIEW_YN != 'N'
							 AND TOP_YN ='Y'
						 <if test="brdNo != 0">
							 AND BRD.BRD_NO = #{brdNo}
						 </if>
						 <if test="sKeyword != null and !sKeyword.equals('')">
							 <if test="sOption.equals('ti_con')">
								 AND( BRD.BRD_SUBJ LIKE '%' || #{sKeyword} || '%'
								 OR BRD.BRD_CONT LIKE '%' || #{sKeyword} || '%' )
							 </if>
							 <if test="sOption.equals('title')">
								 AND BRD.BRD_SUBJ LIKE '%' || #{sKeyword} || '%'
							 </if>
							 <if test="sOption.equals('content')">
								 AND BRD.BRD_CONT LIKE '%' || #{sKeyword} || '%'
							 </if>
						 </if>
					 </trim>
					 
				 ORDER BY BRD.REG_DTM, BRD.BRD_SEQ
				 ) A
			 )C
			 ORDER BY RN2 DESC
		 ) CC
		 
		 UNION ALL
		 
		SELECT CC.* FROM
		(SELECT ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RN, C.* FROM
			(SELECT ROWNUM AS RN2, A.* FROM
				(SELECT
					BRD.BRD_NO
					, BRD.BRD_SEQ
					, BRD.BRD_SUBJ
					, BRD.BRD_CONT
					, BRD.NOTI_YN
					, BRD.VIEW_YN
					, BRD.TOP_YN
					, BRD.SECRT_YN
					, BRD.ATTH_NO
					, BRD.IMG_ATTH_NO
					, (SELECT COUNT(*) FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO) ATTH_CNT
					, (SELECT FILE_ORG_NM FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO AND ATTH_SEQ = (SELECT MIN(ATTH_SEQ) FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO AND NVL(DEL_YN,'N') != 'Y')) AS FILE_ORG_NM /*갤러리게시판 썸네일을 위한 이름*/
					, (SELECT MIN(ATTH_SEQ) FROM CM_ATTH WHERE ATTH_NO = BRD.ATTH_NO AND ATTH_TYPE = 'BR0'||BRD.BRD_NO AND NVL(DEL_YN,'N') != 'Y') MIN_ATTH_SEQ /*갤러리게시판 썸네일을 위한 구분*/
					, NVL(BRD.VIEW_CNT, 0) AS VIEW_CNT
					, BRD.REG_TEL_NO
					, BRD.REG_EMAIL
					, BRD.REG_PW
					, F_GET_PATTERN(TO_CHAR(BRD.REG_DTM,'YYYYMMDD'), 'DT') AS REG_DTM
					, BRD.REG_NM
					, BRD.MOD_DTM
					, BRD.MOD_NM
					, MENU.MENU_CD
					, MENU.MENU_NM
					, MENU.REF_VAL
					, ANS.BRD_NO AS ANS_NO
					, ANS.BRD_SEQ AS ANS_SEQ
					, ANS.BRD_CONT AS ANS_CONT
					, ANS.REG_DTM AS ANS_DTM
					, ANS.REG_ID AS ANS_ID
					, ANS.REG_NM AS ANS_NM
				FROM CM_BRD BRD
						FULL OUTER JOIN CM_BRD_ANSWER ANS
						ON BRD.BRD_NO = ANS.BRD_NO
						AND BRD.BRD_SEQ = ANS.BRD_SEQ
					,(SELECT MENU_CD, MENU_NM, REF_VAL
					FROM CM_MENU
					 WHERE MENU_CD LIKE '2%' AND MENU_TYPE ='B' AND REF_VAL != 'null') MENU
					 
					 <trim prefix="WHERE" prefixOverrides="AND | OR">
						 MENU.REF_VAL = BRD.BRD_NO
						  	 AND (DEL_YN != 'Y' OR DEL_YN IS NULL)
							 AND VIEW_YN != 'N'
							 AND (TOP_YN !='Y'OR TOP_YN IS NULL)
						 <if test="brdNo != 0">
							 AND BRD.BRD_NO = #{brdNo}
						 </if>
						 <if test="sKeyword != null and !sKeyword.equals('')">
							 <if test="sOption.equals('ti_con')">
								 AND( BRD.BRD_SUBJ LIKE '%' || #{sKeyword} || '%'
								 OR BRD.BRD_CONT LIKE '%' || #{sKeyword} || '%' )
							 </if>
							 <if test="sOption.equals('title')">
								 AND BRD.BRD_SUBJ LIKE '%' || #{sKeyword} || '%'
							 </if>
							 <if test="sOption.equals('content')">
								 AND BRD.BRD_CONT LIKE '%' || #{sKeyword} || '%'
							 </if>
						 </if>
					 </trim>
					 
				 ORDER BY BRD.REG_DTM, BRD.BRD_SEQ
				 ) A
			 )C
			 ORDER BY RN2 DESC
		 ) CC
		 WHERE RN BETWEEN #{pageUtil.startNo } AND #{pageUtil.endNo }
	</select> 
	
	<!-- 총 페이지 수 --> 
	<select id="totalPage" parameterType="Map" resultType="int"> 
		/* BrdMapper.totalPage */ 
		 SELECT COUNT(*)
		   FROM
		   (
		      SELECT * 
			  	FROM CM_BRD BRD 
			  	   , (
			  		 SELECT MENU_CD, MENU_NM, REF_VAL
		              FROM CM_MENU 
		              WHERE MENU_CD LIKE '2%' AND MENU_TYPE ='B' AND REF_VAL != 'null'
		            ) MENU 
		 		WHERE MENU.REF_VAL = BRD.BRD_NO
		 			AND (DEL_YN != 'Y' OR DEL_YN IS NULL)
			  		AND VIEW_YN != 'N'
				<if test="brdNo != 0">  
			  		AND BRD.BRD_NO = #{brdNo}
			  	</if>
				<if test="sKeyword != null and !sKeyword.equals('')"> 
					<if test="sOption.equals('ti_con')"> 
					AND( BRD_SUBJ LIKE '%' || #{sKeyword} || '%' 
					     OR BRD_CONT LIKE '%' || #{sKeyword} || '%' )
					</if>
					<if test="sOption.equals('title')"> 
					AND BRD_SUBJ LIKE '%' || #{sKeyword} || '%' 
					</if>
					<if test="sOption.equals('content')"> 
					AND BRD_CONT LIKE '%' || #{sKeyword} || '%' 
					</if>
				</if>
			 )
	</select> 
	
	<!-- 총 상단공지 수 --> 
	<select id="totalTopCount" parameterType="Map" resultType="int"> 
		/* BrdMapper.totalTopCount */ 
		 SELECT COUNT(*)
		   FROM
		   (
		      SELECT * 
			  	FROM CM_BRD BRD 
			  	   , (
			  		 SELECT MENU_CD, MENU_NM, REF_VAL
		              FROM CM_MENU 
		              WHERE MENU_CD LIKE '2%' AND MENU_TYPE ='B' AND REF_VAL != 'null'
		            ) MENU 
		 		WHERE MENU.REF_VAL = BRD.BRD_NO
		 			AND (DEL_YN != 'Y' OR DEL_YN IS NULL)
			  		AND VIEW_YN != 'N'
			  		AND TOP_YN ='Y'
				<if test="brdNo != 0">  
			  		AND BRD.BRD_NO = #{brdNo}
			  	</if>
			 )
	</select> 
	
	<!-- 게시판 상세 조회 --> 
	<select id="selectBrdDtl" parameterType="Map" resultMap="brdMap"> 
		/* BrdMapper.selectBrdDtl*/ 
		SELECT
			C.BRD_NO
			, C.BRD_SEQ
			, C.BRD_SUBJ 
		    , C.BRD_CONT 
		    , C.NOTI_YN 
		    , C.VIEW_YN 
		    , C.TOP_YN 
		    , C.SECRT_YN 
		    , C.ATTH_NO 
		    , C.IMG_ATTH_NO 
		    , NVL(VIEW_CNT, 0) AS VIEW_CNT
		    , C.REG_TEL_NO 
		    , C.REG_EMAIL 
		    , C.REG_PW 
		    , F_GET_PATTERN(TO_CHAR(REG_DTM,'YYYYMMDD'), 'DT') AS REG_DTM
		    , C.REG_NM 
		    , F_GET_PATTERN(TO_CHAR(MOD_DTM,'YYYYMMDD'), 'DT') AS MOD_DTM 
		    , C.MOD_NM 
		    , B.PREV_SEQ
		    , B.PREV_SUBJ 
		    , B.PREV_PW
		    , B.NEXT_SEQ
		    , B.NEXT_SUBJ 
		    , B.NEXT_PW 
		  FROM CM_BRD C, 
		         (SELECT 
		            BRD_NO
		            , BRD_SEQ
		            ,LEAD (BRD_SEQ, 1) OVER (ORDER BY BRD_SEQ DESC) PREV_SEQ
		            ,LEAD (BRD_SUBJ, 1, '이전글이 존재하지 않습니다.') OVER (ORDER BY BRD_SEQ DESC) PREV_SUBJ
		            ,LEAD (REG_PW, 1) OVER (ORDER BY BRD_SEQ DESC) PREV_PW
		            ,LAG (BRD_SEQ, 1) OVER (ORDER BY BRD_SEQ DESC) NEXT_SEQ
		            ,LAG (BRD_SUBJ, 1, '다음글이 존재하지 않습니다.')OVER (ORDER BY BRD_SEQ DESC) NEXT_SUBJ
		            ,LAG (REG_PW, 1)OVER (ORDER BY BRD_SEQ DESC) NEXT_PW
		          FROM CM_BRD
		          WHERE BRD_NO = #{brdNo}
		          	AND (DEL_YN != 'Y' OR DEL_YN IS NULL)
		  			AND VIEW_YN != 'N'
		          ) B
		  WHERE B.BRD_NO = C.BRD_NO
		           AND B.BRD_SEQ = C.BRD_SEQ
		           AND C.BRD_NO = #{brdNo}
		           AND C.BRD_SEQ = #{brdSeq}
	</select> 
	
	<!-- 답변 조회 --> 
	<select id="selectBrdAnswer" parameterType="Map" resultMap="brdMap"> 
		/* BrdMapper.selectBrdAnswer*/ 
		SELECT
			BRD_NO
			,BRD_SEQ
			,DEPT_NM
			,BRD_CONT
			,REG_DTM
			,REG_ID
			,REG_NM 
		  FROM CM_BRD_ANSWER
		  WHERE BRD_NO = #{brdNo}
           		AND BRD_SEQ = #{brdSeq}
	</select> 
	
	<!-- 답변 등록 --> 
	<insert id="insertAns" parameterType="Map"> 
		/* BrdMapper.insertAns */ 
		INSERT INTO CM_BRD_ANSWER ( 
			BRD_NO 
			, BRD_SEQ 
			, DEPT_NM 
			, BRD_CONT 
			, REG_DTM 
			, REG_ID 
			, REG_NM
		) VALUES ( 
			#{brdNo} 
			, #{brdSeq} 
			, #{deptNm} 
			, #{ansCont} 
			, SYSDATE 
			, #{userId} 
			, #{userNm}
		) 
	</insert> 
	
	<!-- 답변 수정 --> 
	<update id="updateAns" parameterType="Map"> 
		/* BrdMapper.updateAns */ 
		UPDATE CM_BRD_ANSWER
		SET 
			BRD_CONT = #{ansCont}
			, DEPT_NM = #{deptNm} 
			, REG_DTM = SYSDATE 
			, REG_ID = #{userId} 
			, REG_NM = #{userNm} 
		WHERE BRD_NO = #{brdNo}
		AND BRD_SEQ = #{brdSeq}
	</update> 
	
	<!-- 조회수 --> 
	<update id="updateViewCnt" parameterType="Map">
		UPDATE CM_BRD
		SET VIEW_CNT = NVL(VIEW_CNT, 0) + 1
		WHERE BRD_NO = #{brdNo}
		AND BRD_SEQ = #{brdSeq}
	</update>

</mapper>
