<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="proj.biz.sys.repository.PopMapper"> 

	<!-- 팝업 정보 조회 --> 
	<select id="selectPopList" parameterType="Map" resultMap="popMap"> 
		/* PopMapper.selectPopList */ 
		SELECT SEQ
			, SUBJ
			, CONT
			, USE_YN
			, BEG_DT
			, EXP_DT
			, WID_SIZE
			, HEG_SIZE HEIGHT
			, POS_TOP
			, POS_LEFT
			, SCROLL_YN
			, ATTH_NO
			, IMG_ATTH_NO
			, TO_CHAR(REG_DTM,'YYYYMMDD') REG_DTM
			, REG_NM
			, TO_CHAR(MOD_DTM,'YYYYMMDD') MOD_DTM
			, MOD_NM
			, <![CDATA[CASE WHEN TO_DATE(EXP_DT, 'YYYYMMDD') > TO_DATE(TO_CHAR(SYSDATE,'YYYYMMDD'), 'YYYYMMDD') AND USE_YN = 'Y' THEN '게시중'
			       WHEN TO_DATE(EXP_DT, 'YYYYMMDD') < TO_DATE(TO_CHAR(SYSDATE,'YYYYMMDD'), 'YYYYMMDD') AND USE_YN = 'Y' THEN '마감'
			       WHEN USE_YN = 'N' THEN '미사용'
			       ELSE '' END AS STAT]]>
        FROM CM_POP
        <where>
		<if test='sSubj != null and sSubj  != ""'> 
		AND SUBJ LIKE '%' || #{sSubj} || '%' 
		</if> 
		<if test='sUseYn != null and sUseYn  != ""'> 
		AND USE_YN = #{sUseYn}
		</if>
		<if test="today != null and today  != ''"> 
		<![CDATA[ AND BEG_DT <= #{today} AND EXP_DT >= #{today}]]>
		</if> 
		<if test="sBegDt != null and sBegDt  != ''"> 
		AND BEG_DT &gt;= REPLACE(#{sBegDt}, '-', '')
		</if>
		<if test="sExpDt != null and sExpDt  != ''"> 
		AND EXP_DT &lt;= REPLACE(#{sExpDt}, '-', '')
		</if> 
		</where>
		ORDER BY SEQ DESC
	</select> 

	<!-- 팝업 상세 조회 --> 
 	<resultMap id="popMap" type="camelMap">
		<result property="SEQ" column="SEQ" />
		<result property="SUBJ" column="SUBJ" />
		<result property="CONT" column="CONT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="USE_YN" column="USE_YN" />
		<result property="BEG_DT" column="BEG_DT" />
		<result property="EXP_DT" column="EXP_DT" />
		<result property="WID_SIZE" column="WID_SIZE" />
		<result property="HEG_SIZE" column="HEG_SIZE" />
		<result property="POS_TOP" column="POS_TOP" />
		<result property="POS_LEFT" column="POS_LEFT" />
		<result property="SCROLL_YN" column="SCROLL_YN" />
		<result property="ATTH_NO" column="ATTH_NO" />
		<result property="IMG_ATTH_NO" column="IMG_ATTH_NO" />
		<result property="REG_DTM" column="REG_DTM" />
		<result property="REG_NM" column="REG_NM" />
		<result property="MOD_DTM" column="MOD_DTM" />
		<result property="MOD_NM" column="MOD_NM" />
	</resultMap>	
	<select id="selectPop" parameterType="Map" resultMap="popMap"> 
		/* PopMapper.selectPop*/ 
		SELECT 
			SEQ
			, SUBJ
			, CONT
			, USE_YN
			, BEG_DT
			, EXP_DT
			, WID_SIZE
			, HEG_SIZE
			, POS_TOP
			, POS_LEFT
			, SCROLL_YN
			, ATTH_NO
			, IMG_ATTH_NO
			, TO_CHAR(REG_DTM,'YYYYMMDD') REG_DTM
			, REG_NM
			, TO_CHAR(MOD_DTM,'YYYYMMDD') MOD_DTM
			, MOD_NM
		FROM CM_POP 
		WHERE SEQ = #{seq}
	</select> 

	<!-- 팝업 등록 처리 --> 
	<insert id="insertPop" parameterType="Map"  > 
		/* PopMapper.insertPop */
		<selectKey resultType="java.lang.String" keyProperty="seq" order="BEFORE">
	          SELECT NVL(MAX(SEQ), 0) + 1 AS MAX_SEQ 
	            FROM CM_POP 
	    </selectKey> 
		INSERT INTO CM_POP ( 
			SEQ
			,SUBJ
			, CONT
			, USE_YN
			, BEG_DT
			, EXP_DT
			, WID_SIZE
			, HEG_SIZE
			, POS_TOP
			, POS_LEFT
			, SCROLL_YN
			, ATTH_NO
			, IMG_ATTH_NO
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM
		) VALUES ( 
			#{seq} 
			, #{subj} 
			, #{cont} 
			, #{useYn}
			, REPLACE(#{begDt}, '-', '') 
			, REPLACE(#{expDt}, '-', '')
			, NVL(#{widSize},300) 
			, NVL(#{hegSize},400) 
			, NVL(#{posTop},100) 
			, NVL(#{posLeft},100) 
			, #{scrollYn} 
			, #{atthNo} 
			, #{imgAtthNo}
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		
		) 
	</insert> 
	
	<!-- 팝업 수정 처리 --> 
	<update id="updatePop" parameterType="Map"  > 
		/* PopMapper.updatePop */
		UPDATE CM_POP 
		SET 
			SUBJ          = #{subj}  
			, CONT        = #{cont}
			, USE_YN      = #{useYn}
			, BEG_DT      = REPLACE(#{begDt}, '-', '') 
			, EXP_DT      = REPLACE(#{expDt}, '-', '')
			, WID_SIZE    = NVL(#{widSize},300) 
			, HEG_SIZE    = NVL(#{hegSize},400)
			, POS_TOP     = NVL(#{posTop},100)
			, POS_LEFT    = NVL(#{posLeft},100)
			, SCROLL_YN   = #{scrollYn}
			, ATTH_NO     = #{atthNo} 
			, IMG_ATTH_NO = #{imgAtthNo}
			, MOD_DTM     = SYSDATE 
			, MOD_NM      = #{userNm} 
		WHERE SEQ = #{seq} 
	</update> 

</mapper>
