<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="proj.biz.sys.repository.ReportMapper"> 

	<!-- 레포트 목록 정보 조회 --> 
	<select id="selectReportList" parameterType="Map" resultType="camelMap"> 
		/* ReportMapper.selectReportList */ 
		SELECT 
			RPT_NO 
			, RPT_NM 
			, RPT_FILE_NM
			, WORK_TYPE 
			, REF_VAL
			, USE_YN 
			, REG_DTM 
			, REG_NM 
			, TO_CHAR(MOD_DTM, 'YYYY-MM-DD HH24:MI:SS') MOD_DTM 
			, MOD_NM
			, '미리보기' BTN_VIEW 
		  FROM CM_RPT 
	 	 ORDER BY WORK_TYPE,  RPT_NM
	</select> 

	<!-- 레포트 목록 등록 처리 --> 
	<insert id="insertReport" parameterType="Map"  >
		/* ReportMapper.insertReport */ 
		<selectKey resultType="java.lang.String" keyProperty="rptNo" order="BEFORE">
          SELECT NVL(MAX(RPT_NO), 0) + 1 AS MAX_RPT_NO
            FROM CM_RPT 
	    </selectKey>
		INSERT INTO CM_RPT ( 
			RPT_NO 
			, RPT_NM
			, RPT_FILE_NM
			, WORK_TYPE
			, REF_VAL 
			, USE_YN 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		) VALUES ( 
			#{rptNo} 
			, #{rptNm} 
			, #{rptFileNm} 
			, #{workType} 
			, #{refVal} 
			, #{useYn} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		) 
	</insert> 

	<!-- 레포트 목록 수정 처리 --> 
	<update id="updateReport" parameterType="Map"  > 
		/* ReportMapper.updateReport */ 
		UPDATE CM_RPT 
		SET 
			RPT_NM = #{rptNm} 
			, RPT_FILE_NM = #{rptFileNm} 
			, WORK_TYPE = #{workType} 
			, REF_VAL = #{refVal} 
			, USE_YN = #{useYn} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm}
		WHERE RPT_NO = #{rptNo}
	</update> 

	<!-- 레포트 목록 삭제 처리 --> 
	<delete id="deleteReport" parameterType="Map"  > 
		/* ReportMapper.deleteReport */ 
		DELETE FROM CM_RPT
		 WHERE RPT_NO = #{rptNo} 
	</delete> 

</mapper>
