<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="proj.biz.sys.repository.UnitTestMapper"> 

	<!-- 검수관리 정보 조회 --> 
	<select id="selectUnitTestList" parameterType="Map" resultType="camelMap"> 
		/* UnitTestMapper.selectUnitTestList */ 
		SELECT *
		  FROM 
		  (
			SELECT B.TOP_MENU_CD
			      , B.MENU_CD
			      , B.MENU_NM
			      , B.MENU_PATH || B.MENU_NM AS MENU_PATH
			      , A.PRG_ID
			      , A.DEV_NM
			      , A.TEST_NM
			      , A.TEST_DT
			      , A.CHK_NM
			      , A.CHK_DT
			      , A.SUCC_YN
			      , A.SUCC_DT
			      , (SELECT COUNT(*) FROM CM_UNIT_CASE WHERE MENU_CD = A.MENU_CD AND NVL(CHK_YN, 'N') = 'N') CASE_CNT
	          	  , (SELECT COUNT(*) FROM CM_UNIT_REQ WHERE MENU_CD = A.MENU_CD AND NVL(PROC_STAT, 'N') = 'N') PROC_STAT_CNT
			  FROM CM_UNIT A
			    , (
			        SELECT 
			            CASE WHEN MENU_STEP = 3 THEN (SELECT PARENT_CD FROM CM_MENU WHERE MENU_CD = A.PARENT_CD) ELSE PARENT_CD END TOP_MENU_CD 
			            , MENU_CD
			            , SUBSTR(REGEXP_REPLACE(SYS_CONNECT_BY_PATH(MENU_NM, ' > '), MENU_NM, ''), 4) MENU_PATH
			            , MENU_NM
			          FROM CM_MENU A
			          START WITH PARENT_CD IN (1, 2)
			        CONNECT BY PRIOR MENU_CD = PARENT_CD
			        ORDER SIBLINGS BY SUBSTR(MENU_CD, 0, 1), MENU_SEQ 
			    ) B
			WHERE A.MENU_CD = B.MENU_CD
			<where> 
			<if test="sMenuCd != null and sMenuCd  != ''"> 
			AND B.MENU_CD = #{sMenuCd} 
			</if> 
			<if test="sMenuNm != null and sMenuNm  != ''"> 
			AND B.MENU_NM LIKE '%' || #{sMenuNm} || '%' 
			</if> 
			</where> 
		)
		ORDER BY PROC_STAT_CNT DESC, CASE_CNT DESC 
	</select> 


	<!-- 검수관리 등록 처리 --> 
	<insert id="insertUnitTest" parameterType="Map"  > 
		/* UnitTestMapper.insertUnitTest */ 
		INSERT INTO CM_UNIT ( 
			MENU_CD 
			, PRG_ID 
			, DEV_NM 
			, TEST_NM 
			, TEST_DT 
			, CHK_NM 
			, CHK_DT 
			, SUCC_YN 
			, SUCC_DT 
		) VALUES ( 
			#{menuCd} 
			, #{prgId} 
			, #{devNm} 
			, #{testNm} 
			, REPLACE(#{testDt}, '-', '') 
			, #{chkNm} 
			, REPLACE(#{chkDt}, '-', '') 
			, #{succYn} 
			, REPLACE(#{succDt}, '-', '') 
		) 
	</insert> 

	<!-- 검수관리 수정 처리 --> 
	<update id="updateUnitTest" parameterType="Map"  > 
		/* UnitTestMapper.updateUnitTest */ 
		UPDATE CM_UNIT 
		SET 
			MENU_CD = #{menuCd} 
			, PRG_ID = #{prgId} 
			, DEV_NM = #{devNm} 
			, TEST_NM = #{testNm} 
			, TEST_DT = REPLACE(#{testDt}, '-', '') 
			, CHK_NM = #{chkNm} 
			, CHK_DT = REPLACE(#{chkDt}, '-', '') 
			, SUCC_YN = #{succYn} 
			, SUCC_DT = REPLACE(#{succDt}, '-', '') 
		WHERE MENU_CD = #{menuCd} 
	</update> 

	<!-- 검수관리 삭제 처리 --> 
	<delete id="deleteUnitTest" parameterType="Map"  > 
		/* UnitTestMapper.deleteUnitTest */ 
		DELETE FROM CM_UNIT 
		WHERE MENU_CD = #{menuCd} 
	</delete> 

</mapper>
