<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="proj.biz.sys.repository.UnitTestReqMapper"> 

	<!-- 단위별요청사항 정보 조회 --> 
	<select id="selectUnitTestReqList" parameterType="Map" resultType="camelMap"> 
		/* UnitTestReqMapper.selectUnitTestReqList */ 
		SELECT 
			MENU_CD 
			, REQ_SEQ 
			, REQ_NM 
			, REQ_DT 
			, REQ_CONT 
			, PROC_STAT 
			, PROC_NM 
			, PROC_DT 
			, CHK_NM 
			, CHK_DT 
			, REMARK
		  FROM CM_UNIT_REQ 
		<where> 
		<if test="sMenuCd != null and sMenuCd  != ''"> 
		AND MENU_CD = #{sMenuCd} 
		</if> 
		<if test="sReqSeq != null and sReqSeq  != ''"> 
		AND REQ_SEQ = #{sReqSeq} 
		</if> 
		</where> 
		ORDER BY MENU_CD DESC, REQ_SEQ DESC
	</select> 

	<!-- 단위별요청사항 등록 처리 --> 
	<insert id="insertUnitTestReq" parameterType="Map"  > 
		/* UnitTestReqMapper.insertUnitTestReq */ 
		INSERT INTO CM_UNIT_REQ ( 
			MENU_CD 
			, REQ_SEQ 
			, REQ_NM 
			, REQ_DT 
			, REQ_CONT 
			, PROC_STAT 
			, PROC_NM 
			, PROC_DT 
			, CHK_NM 
			, CHK_DT 
			, REMARK
		) VALUES ( 
			#{menuCd} 
			, (SELECT NVL(MAX(REQ_SEQ), 0) + 1 FROM CM_UNIT_REQ WHERE MENU_CD = #{menuCd})
			, #{reqNm} 
			, REPLACE(#{reqDt}, '-', '') 
			, #{reqCont} 
			, #{procStat} 
			, #{procNm} 
			, REPLACE(#{procDt}, '-', '') 
			, #{chkNm} 
			, REPLACE(#{chkDt}, '-', '') 
			, #{remark} 
		) 
	</insert> 

	<!-- 단위별요청사항 수정 처리 --> 
	<update id="updateUnitTestReq" parameterType="Map"  > 
		/* UnitTestReqMapper.updateUnitTestReq */ 
		UPDATE CM_UNIT_REQ 
		SET 
			MENU_CD = #{menuCd} 
			, REQ_SEQ = #{reqSeq} 
			, REQ_NM = #{reqNm} 
			, REQ_DT = REPLACE(#{reqDt}, '-', '') 
			, REQ_CONT = #{reqCont} 
			, PROC_STAT = #{procStat} 
			, PROC_NM = #{procNm} 
			, PROC_DT = REPLACE(#{procDt}, '-', '') 
			, CHK_NM = #{chkNm} 
			, CHK_DT = REPLACE(#{chkDt}, '-', '') 
			, REMARK = #{remark} 
		WHERE MENU_CD = #{menuCd} 
		  AND REQ_SEQ = #{reqSeq} 
	</update> 

	<!-- 단위별요청사항 삭제 처리 --> 
	<delete id="deleteUnitTestReq" parameterType="Map"  > 
		/* UnitTestReqMapper.deleteUnitTestReq */ 
		DELETE FROM CM_UNIT_REQ 
		WHERE MENU_CD = #{menuCd} 
		  AND REQ_SEQ = #{reqSeq} 
	</delete> 

</mapper>
