<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
   
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:9099/css/reset.css">
    <link rel="stylesheet" href="/css/homeCss/font.css">
    <link rel="stylesheet" href="http://localhost:9099/css/content.css">
    <script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/jquery-ui-1.10.3.js"></script>
	<script th:src="|${domainHome},/js/main.js|"></script>
    
</head>

<body>
	
   <div id="wrap">
      <main style="padding-top:0;">
         <div class="content-wrap">
             <div class="inner">
                 <div class="content-box flex-box jc-between">
                     <div class="content-main">
                         <!-- 경로 영역 시작 -->
                         <!-- 경로 영역 끝 -->
                         <section id="spo_brdCont" class="content">
                             <!-- 여기서부터 content -->
                             미리보기가 실행되지 못했습니다. 미리보기 버튼을 다시한번 눌러주세요.
                         </section>
                     </div>
                 </div>
             </div>
         </div>
      </main>
   </div>
</body>
</html>