<!--
	파일정보 : memb/membIns.html
	파일명 : memb
	업무명 : memb등록, 수정
	생성자 : 김상민1
	생성일 : 2023-04-05
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "CRET:MB02:MB07:MB08:CM04", gridNoList : "10110:10111"}

			//초기화 조회 콜백
			$(document).ready(function(){

				//동적 첨부파일 (다건)
				com.fnIbsUpload($("#docFileDF"));
				
				ibUploadInit.iconMode = "list";
				ibUploadInit.limitFileExt = "gif,jpg,jpeg,png,GIF,JPG,JPEG,PNG"; //확장자 설정(이미지 파일만)
				//사용인감
				com.fnIbsUploadOne($("#docFileCS"));
				//개인인감
				com.fnIbsUploadOne($("#docFilePS"));
			
			
				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
				fnMakeModOpt(gridOptList[0].Cols);	//체크박스 기본값 수정
			    IBSheet.create({ id: "sheetCeo", el: "sheetDivCeo", options: gridOptList[0] });
			    IBSheet.create({ id: "sheetPerson", el: "sheetDivPerson", options: gridOptList[1] });
				IBSheet.create({ id: "sheetAcc", el: "sheetDivAcc", options: gridOptList[2] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};
			});

			//검색
			var fnSearch = function(){
			    //화면 처리 (조합원 정보 조회)
				var selectParam = { membNo : /*[[${paramMap.membNo}]]*/, sMembNo: /*[[${paramMap.membNo}]]*/, atthType : $("#atthType").val() };
				obj = {url:"/memb/selectMemb.do", param:selectParam, callBack:fnSelectCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			};

			//조합원 정보 조회 콜백
			var fnSelectCallBack = function(resData){
				//console.log(resData);
				var data = resData.data;

				//기본 데이터
				com.fnSetKeyVal(data);

				//보조장르
				var subBussCds = data.subBussCds;
				if(subBussCds){
					var subBussList = [];
					if(subBussCds.indexOf(',') !== -1)	subBussList = [...subBussCds.split(',')];
					else								subBussList.push(subBussCds);
					var subBussNms = "";
					$.each(subBussList, function(idx, item){
						if(subBussNms !== "")	subBussNms += ", ";
						subBussNms += com.fnInputText("MB02", item);
						if(item === "14" && data.bussEtc !== null)	subBussNms += "(" + data.bussEtc + ")";		//기타면 기타내용 추가
					});
					$("#ele_subBussCds").text(subBussNms);
				}

				//checkBox 관련(알게된 사유)
				com.checkBoxCheckValue(data.knowCds, "knowCd");	//알게된 사유

				//시트값 설정
				sheetCeo.loadSearchData(resData.ceoList);		//대표자정보
				sheetPerson.loadSearchData(resData.personList);	//담당자정보
				sheetAcc.loadSearchData(resData.bankHistList);	//계좌정보

				//거래은행 변경이력 버튼
				//if(resData.bankHistList.length > 0) $("#bankHistBtn").show();

				//조합원 상태에 따른 업무정지 정보 표기
				if(resData.data.membStat === '80') {
					$("#workStop").show();
				} else{
					$("#workStop").hide();
				}

				//파일첨부
				fnIbsUploadViewOne(resData.fileList);
				
				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_membNm").text()}
				com.fnSetTabMembTag(tabObj);
				
			}

			//파일업로드(등록/조회) - 단건
			//미리보기(파일보기 팝업) 때문에 공통사용 안하고 재정의
			var fnIbsUploadViewOne = function(list){
				var dfList = [];
				$.each(list, function(idx, item){
					
					var setData = {name: item.fileOrgNm, size: item.fileSize, date: item.regDtm, url: item.atthType +":"+ item.atthNo +":"+ item.atthSeq};
					var setList = [setData];
					var setObj = {files: setList};
					if(item.docCd === "CS" || item.docCd === "PS"){ //한개씩만 있음
						$("#docFile"+item.docCd+"_saveBtn").show();	//파일저장 버튼 보여주기
						$("#docFile"+item.docCd+"_showBtn").show();	//미리보기 버튼 보여주기
						$("#docFile"+item.docCd).IBUpload(setObj);	
					}else{
						dfList.push(setData)
					}				
				});
				
				//console.log(dfList);
				$("#docFileDF").IBUpload({files: dfList});	
			}

			//변경이력
			var fnBankHistPop = function(){
				com.dialpopupOpen("계좌변경이력", "/index/pageCall.do?menuCd=1070705", "580", "500"); //menuPage=/memb/popupMembBankHist
			}

			//사용인감, 개인인감 미리보기(파일보기) 팝업
			var fnShowSealPop = function(docCd){
				var fileInfo = $("#docFile"+docCd).IBUpload('fileList')[0];
				if(!fileInfo)	return;	//파일 정보 없으면 팝업 안띄우기

				$("#paramFilePath").val(fileInfo.url);	//인감조회 팝업에서 접근하여 사용중
				$("#paramFileName").val(fileInfo.name);	//인감조회 팝업에서 접근하여 사용중
				com.dialpopupOpen("인감조회", "/index/pageCall.do?menuCd=1070704", "580", "450"); //menuPage=/memb/popupSealView
			}

			//그리드양식 수정(컬럼 다 보이기, 수정가능)
			var fnMakeModOpt = function(gridOptList){
				$.each(gridOptList, function(idx, item){
					if(item.Type === "Bool") {	//체크박스 기본값 설정
						item.TrueValue = "Y";
						item.FalseValue = "N";
					}
				});
			}

			//수정
			var fnUpt = function(){
				param = {menuCd:"1010122", paramMap:{membNo:/*[[${paramMap.membNo}]]*/}};
				parent.menuOpen(param);
				parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
				//parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
			};


			//엑셀 다운로드 - 다른 리스트도 추가될까봐 파라미터 방식으로 구현
			var fnExcel = function(num ,paramSheet){	//1:담당자정보
				if(paramSheet.getFirstVisibleRow() === null){	//담당자정보 검색된 데이터가 없을때(첫번째 행 데이터가 없으면)
					alert("다운로드할 목록이 없습니다.");
					return;
				}

				var excelfileNm = "";	//파일명
				if(num === 1) excelfileNm = $("#ele_membNm").text() + "_담당자정보_";	//조합원명 + 담당자정보
				com.fnExcelToJs(paramSheet, gridOptList[num].Cols, excelfileNm + /*[[${today}]]*/);
			};

			/*]]>*/

		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>

				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
<!--						<button type="type" class="btn-collapse close"><span></span></button>-->
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>
			</div><!-- //contentsTop -->

			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false;" action="">
			<input type="hidden" name="reqNo" id="reqNo" value="" />
			<input type="hidden" name="membNo" id="membNo" value="" />
			<input type="hidden" name="atthType" id="atthType" th:value="${menuInfo.atthType}"/>	<!-- 메뉴관리 > 관련첨부코드 -->
			<input type="hidden" name="atthNo" id="atthNo" value=""/>
			<input type="hidden" name="paramFilePath" id="paramFilePath" />	<!-- 인감조회 팝업에서 파일이미지 찾는용도 -->
			<input type="hidden" name="paramFileName" id="paramFileName" />	<!-- 인감조회 팝업에서 파일이름 보여주는 용도 -->
			<div class="contents flex">
				<div class="layer-flex collapseArea">

					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:50%">

						<section class="area mt5">
							<div class="fl">
								<h4 class="title">기본정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:70px;">
								<col style="width:220px;">
								<col style="width:80px;">
								<col style="width:220px;">
							</colgroup>
							<tbody>
								<tr>
									<th colspan="2">조합원번호/명</th>
									<td><span id="ele_membNo"></span>&nbsp;/&nbsp;<span id="ele_membNm"></span></td>
									<th>주대표자</th>
									<td><div id="ele_ceoNm"></div></td>
								</tr>
								<tr>
									<th colspan="2">사업자번호</th>
									<td><div id="ele_bizNo"></div></td>
									<th>법인번호</th>
									<td><div id="ele_lawNo"></div></td>
								</tr>
								<tr>
									<th colspan="2">조기경보</th>
									<td colspan="5"><div id="ele_membCretopNm"></div></td>
								</tr>
								<tr>
									<th colspan="2">조합원상태</th>
									<td><div id="ele_membStatNm"></div></td>
									<th>조합원구분</th>
									<td><div id="ele_membDivNm"></div></td>
								</tr>
								<tr id="workStop">
									<th colspan="2">업무정지일자</th>
									<td><div id="ele_workStopDt"></div></td>
									<th>업무정지사유</th>
									<td><div id="ele_workStopReason"></div></td>
								</tr>
								<tr>
									<th rowspan="3">주사무소<br>(본사)</th>
									<th>주소</th>
									<td colspan="3">
										<span id="ele_addrFull"></span>
									</td>
								</tr>
								<tr>
									<th>전화번호</th>
									<td><div id="ele_telNo"></div></td>
									<th>팩스번호</th>
									<td><div id="ele_faxNo"></div></td>
								</tr>
								<tr>
									<th>홈페이지</th>
									<td colspan="3"><div id="ele_homepage"></div></td>
								</tr>

								<tr>
									<th rowspan="3">사업장<br>(공장,지점)</th>
									<th>주소</th>
									<td colspan="3">
										<span id="ele_bussAddrFull"></span>
									</td>
								</tr>
								<tr>
									<th>전화번호</th>
									<td><div id="ele_bussTelNo"></div></td>
									<th>팩스번호</th>
									<td><div id="ele_bussFaxNo"></div></td>
								</tr>
								<tr>
									<th>홈페이지</th>
									<td colspan="3"><div id="ele_bussHomepage"></div></td>
								</tr>

								<tr>
									<th colspan="2">회사이메일</th>
									<td><div id="ele_compEmail"></div></td>
									<th>우편수령처</th>
									<td><div id="ele_postGetNm"></div></td>
								</tr>
								<tr>
									<th colspan="2">사업게시일</th>
									<td><div id="ele_bussStartDt"></div></td>
									<th>조합원형태</th>
									<td><div id="ele_membCdNm"></div></td>
								</tr>

								<tr>
									<th colspan="2">가입일자</th>
									<td><div id="ele_joinDt"></div></td>
									<th>탈퇴일자</th>
									<td><div id="ele_leaveDt"></div></td>
								</tr>
								<tr>
									<th colspan="2">제재여부</th>
									<td><div id="ele_sactCdNm"></div></td>
									<th>제재일자</th>
									<td><div id="ele_sactDt"></div></td>
								</tr>
								<tr>
									<th colspan="2">주장르</th>
									<td ><div id="ele_mainBussNm"></div></td>
									<th >우량여부</th>
									<td ><div id="ele_superYnNm"></div></td>
								</tr>
								<tr>
									<th colspan="2">보조장르</th>
									<td colspan="3"><div id="ele_subBussCds"></div></td>
								</tr>
								<tr>
									<th colspan="2">사용인감</th>
									<td colspan="2" style="border-right:0;">
										<input type="hidden" name="docCd" value="CS" />
										<div id="docFileCS" style="width:100%;"></div>
									</td>
									<td style="border-left:0;">
										<button type="button" id="docFileCS_saveBtn" onclick="javascript:com.fnDtlFileUpload('docFileCS', $('#atthType').val(), $('#atthNo').val(), $('#membNo').val(),'','CS');" class="btn small style07" >파일저장</button>
										<button type="button" id="docFileCS_showBtn" onclick="javascript:fnShowSealPop('CS');" class="btn small style08" style="display: none;">파일보기</button>
									</td>
								</tr>
								<tr>
									<th colspan="2">개인인감</th>
									<td colspan="2" style="border-right:0;">
										<input type="hidden" name="docCd" value="PS" />
										<div id="docFilePS" style="width:100%;"></div>
									</td>
									<td style="border-left:0;">
										<button type="button" id="docFilePS_saveBtn" onclick="javascript:com.fnDtlFileUpload('docFilePS', $('#atthType').val(), $('#atthNo').val(), $('#membNo').val(),'','PS');" class="btn small style07" >파일저장</button>
										<button type="button" id="docFilePS_showBtn" onclick="javascript:fnShowSealPop('PS');" class="btn small style08" style="display: none;">파일보기</button>
									</td>
								</tr>

							</tbody>
						</table>

						<!-- 대표자 정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">대표자정보</h4>
							</div>
						</section>
						<div id="sheetDivCeo" style="width:100%;height:170px"></div>

						<!-- 조합걔좌 정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">계좌정보</h4>
							</div>
						</section>
						<div id="sheetDivAcc" style="width:100%;height:170px"></div>
						<div style="font-size: 11px; margin-top: 3px;">조합원계좌는 조합원업무 > 조합원관리 > 조합원계좌관리 메뉴에서 관리하실 수 있습니다.</div>

					</div>

					<!-- 그리드 우측 부분 시작 -->
					<!--여긴 영역 감싼 버전으로 -->
					<!--fixScroll 스크롤 넣으면 안쪽영역으로 -->
					<div class="collapseBox fixable" style="width:49%">
						<div class="wrapBox">

							<section class="area mt5">
								<div class="fl">
									<h4 class="title">추가정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:90px;">
									<col style="width:180px;">
									<col style="width:90px;">
									<col style="width:160px;">
									<col style="width:80px;">
									<col style="width:180px;">
								</colgroup>
								<tbody>
									<tr>
										<th>자산총액</th>
										<td><div id="ele_assetAmt"></div></td>
										<th>자본금총액</th>
										<td><div id="ele_capiAmt"></div></td>
										<th>종업원수</th>
										<td><div id="ele_empCnt"></div></td>
									</tr>
									<tr>
										<th>년매출액</th>
										<td><div id="ele_yearSaleAmt"></div></td>
										<th>주생산품</th>
										<td><div id="ele_mainProd"></div></td>
										<th>업태</th>
										<td><div id="ele_bussCond"></div></td>
									</tr>
									<tr>
										<th>소속 협회/단체</th>
										<td colspan="3"><div id="ele_belong"></div></td>
										<th>미출자<br/>표시여부</th>
										<td><div id="ele_investViewYnNm"></div></td>
									</tr>
									<!--<tr>
										<th>거래은행</th>
										<td>
											<span id="ele_bankNm"></span>
											<button type="button" id="bankHistBtn" onclick="javascript:fnBankHistPop();" class="btn small style08" style="display: none;">변경이력</button></td>
										<th>계좌번호</th>
										<td><div id="ele_acctNo"></div></td>
										<th>예금주</th>
										<td><div id="ele_depoNm"></div></td>
									</tr>-->
									<tr>
										<th>신용카드<br/>사용여부</th>
										<td><div id="ele_cardYnNm"></div></td>
										<th>부서</th>
										<td colspan="3"><div id="ele_deptNm"></div></td>
									</tr>

									<tr>
										<th>알게된 사유</th>
										<td colspan="5">
											<div title="체크세로1" style="float:left; margin-left:10px;">
												<input type="checkbox" name="knowCd" id="knowCd1" value="1" disabled="disabled">
												&nbsp;&nbsp;인터넷검색&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<br>
												<input type="checkbox" name="knowCd" id="knowCd2" value="2" disabled="disabled">
												&nbsp;&nbsp;지인 추천&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<br>
												<input type="checkbox" name="knowCd" id="knowCd3" value="3" disabled="disabled">
												&nbsp;&nbsp;콘텐츠 관련기관 추천&nbsp;&nbsp;&nbsp;&nbsp;
												<br>
											</div>

											<div title="체크세로1" style="float:left; margin-left:10px;">
												(검색어 :
												<input type="text" name="webKeyword" id="webKeyword" size="20" value="" disabled="disabled" style="width:150px; float:none; margin-left:0px;"/>
												)
												<br>
												(추천인 :
												<input type="text" name="recPers" id="recPers" size="20" value="" disabled="disabled" style="width:150px; float:none; margin-left:0px;"/>
												)
												<br>
												(추천인 :
												<input type="text" name="recComp" id="recComp" size="20" value="" disabled="disabled" style="width:150px; float:none; margin-left:0px;"/>
												)
												<br>
											</div>

											<div title="체크세로1" style="float:left; margin-left:10px;">
												<input type="checkbox" name="knowCd" id="knowCd4" value="4" disabled="disabled">
												&nbsp;&nbsp;조합 홍보물&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<br>
												<input type="checkbox" name="knowCd" id="knowCd5" value="5" disabled="disabled">
												&nbsp;&nbsp;언론보도&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<br>
												<input type="checkbox" name="knowCd" id="knowCd6" value="6" disabled="disabled">
												&nbsp;&nbsp;기타&nbsp;(<input type="text" name="etcCont" id="etcCont" size="20" value="" disabled="disabled" style="width:200px; float:none; margin-left:0px;"/>)
												<br>
											</div>
										</td>
									</tr>
									<tr>
										<th>비고</th>
										<td colspan="5"><div id="ele_remark"></div></td>
									</tr>
								</tbody>
							</table>

							<!-- 담당자 정보 -->
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담당자정보</h4>
								</div>
								<div class="fr">
									<button type="button" onclick="javascript:fnExcel(1, sheetPerson);" class="btn small style04">엑셀</button>
								</div>
							</section>
							<div id="sheetDivPerson" style="width:100%;height:420px"></div>
							
							<section class="area mt10">
								<div class="fl">
									<h4 class="title">첨부파일<span style="font-size: 11px; color: #ff6600">(첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></h4>
								</div>
								<div class="fr">
									<button type="button" id="docFileDF_saveBtn" onclick="javascript:com.fnDtlFileUpload('docFileDF', $('#atthType').val(), $('#atthNo').val(), $('#membNo').val(),'','DF');" class="btn small style07" >파일저장</button>
		                        	<button type="button" onclick="javascript:com.fnIbsFileDownAll($('#docFileDF'));" class="btn small style08">전체다운</button>
		                    	</div>
							</section>
							<div id="docFileDF" style="height:140px;"></div>
							        
						</div>
					</div>
					<!-- END 컨텐츠 영역 -->
				</div>

				<!-- 처리 버튼 영역 -->
				<div class="layer-flex mt50">
					<div class="" style="width:100%">
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:window.print();" class="btn style02">인쇄</button>
								<button type="button" onclick="javascript:fnUpt();" id="btn_upt" class="btn style08" >수정</button>
								<button type="button" th:onclick="javascript:parent.closeMenu([[${menuInfo.menuIdx}]], [[${menuInfo.refMenuIdx}]])" class="btn style06" >닫기</button>
							</div>
						</section>
					</div>
				</div>
				<!-- 처리 버튼 영역 끝-->
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
