<!--
	파일정보 : membList.html
	파일명 : memb현황
	업무명 : memb현황 조회, 등록, 수정
	생성자 : 김상민
	생성일 : 2023-04-03
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "CRET:MB02:MB08:CM04", gridNoList : "10108"}

			//초기화 조회 콜백
			$(document).ready(function(){

				//검색조건(공통 selectBox 생성)
				com.fnCodeSelectBox("MB08", "sMembStat", 2, "10");	//조합원상태 - default 선택값 : 정상(10)
				com.fnCodeSelectBox("MB02", "sMainBussCd", 2, "");	//장르
				com.fnCodeSelectBox("CRET", "sMembCretop", 2, "", "1");	//조기경보
				com.fnCodeSelectBox("CM04", "sDept", 2, "");			//부서

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//조기경보 html태그 설정
				$.each(gridOptList[0].Cols, function(idx, item){
					if(item.Name === "membCretop"){
						//공통코드는 13개지만 asis 이미지 기준 7개만 있음(데이터도 그외는 없음)
						item.Format = {
							"1": "<div class='mctpCss' style='background-color: #319A02;'>"+com.fnInputText("CRET", "1")+"</div>"	//관심
							, "2": "<div class='mctpCss' style='background-color: #CCCCCC;'>"+com.fnInputText("CRET", "2")+"</div>"	//관찰1
							, "3": "<div class='mctpCss' style='background-color: #A9A3A7;'>"+com.fnInputText("CRET", "3")+"</div>"	//관찰2
							, "4": "<div class='mctpCss' style='background-color: #F8A66E;'>"+com.fnInputText("CRET", "4")+"</div>"	//관찰3
							, "5": "<div class='mctpCss' style='background-color: #901821;'>"+com.fnInputText("CRET", "5")+"</div>"	//부도
							, "6": "<div class='mctpCss' style='background-color: #C4212A;'>"+com.fnInputText("CRET", "6")+"</div>"	//폐업
							, "7": "<div class='mctpCss' style='background-color: #D77A3F;'>"+com.fnInputText("CRET", "7")+"</div>" //휴업
							
							, "8": "<div class='mctpCss' style='background-color: #319A02;'>"+com.fnInputText("CRET", "8")+"</div>" //유보 (WATCH)
							, "9": "<div class='mctpCss' style='background-color: #CCCCCC;'>"+com.fnInputText("CRET", "9")+"</div>" //관찰 (WATCH)
							, "10": "<div class='mctpCss' style='background-color: #A9A3A7;'>"+com.fnInputText("CRET", "10")+"</div>" //주의 (WATCH)
							, "11": "<div class='mctpCss' style='background-color: #F8A66E;'>"+com.fnInputText("CRET", "11")+"</div>" //경보 (WATCH)
							, "12": "<div class='mctpCss' style='background-color: #901821;'>"+com.fnInputText("CRET", "12")+"</div>" //위험 (WATCH)
							, "13": "<div class='mctpCss' style='background-color: #C4212A;'>"+com.fnInputText("CRET", "13")+"</div>" //회수의문 (WATCH)
							, "14": "<div class='mctpCss' style='background-color: #D77A3F;'>"+com.fnInputText("CRET", "14")+"</div>" //휴폐업 (WATCH)
							, "15": "<div class='mctpCss' style='background-color: #D77A3F;'>"+com.fnInputText("CRET", "15")+"</div>" //부도 (WATCH)
							//, "16": "<div class='mctpCss' style='background-color: #319A02;'>"+com.fnInputText("CRET", "16")+"</div>" //산출유보 (WATCH)
							};
					}
				});
				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

				//sheetDiv 더블클릭 처리
				sheet.bind("onDblClick", function(obj){ //더블클릭
					if(obj.kind === "Filter") return;
					fnView("V");
				});

			});

			//현황 조회
			var fnSearch = function(){
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/memb/selectMembList.do", param); //param, sheetId 생략 가능
			};

			//화면 호출(수정, 삭제)
			var fnView = function(type){
				var selectRow = sheet.getFocusedRow();
				if(type === "U") menuCd = "1010122";
				if(type === "V") menuCd = "1010111";

				if(validateUtil.isNull(selectRow)) {
					alert("조회 대상을 선택하십시오.");
					return;
				}

				param = { menuCd:menuCd, paramMap:{membNo: selectRow.membNo} };
				parent.menuOpen(param);
			};

			//엑셀 다운로드
			var fnExcel = function(){
				com.fnExcelToJs(sheet, gridOptList[0].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/);
			};

			//검색 초기화
			var fnReset = function(){
				com.fnSerchInit("#serchFrm");

				fnSearch();
			};

			//홈페이지 로그인
			var fnLoginHome = function(){
				var rowData = sheet.getFocusedRow();
				if(validateUtil.isNull(rowData)) {
					alert("로그인 대상을 선택하십시오.");
					return;
				}

				//홈페이지 로그인
				com.fnLoginHome(/*[[${session.userEncVal}]]*/, rowData.membNo);
			}


		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
			</div><!-- //contentsTop -->

			<div class="contents flex">
				<!-- 검색 부분 -->
				<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<section class="searchArea mt10">

					<div class="row">
						<dl>
							<dt>조합원</dt>
							<dd style="width:250px;">
								<input type="search" name="sMembNo" id="sMembNo" style="width:60px;" maxlength="4" onkeyup="com.fnOnlyNum(this);">		<!-- 조합원 공통 검색 팝업 사용을 위해 s+id -->
								<input type="search" name="sMembNm" id="sMembNm" style="width:150px;" maxlength="40" >		<!-- 조합원 공통 검색 팝업 사용을 위해 s+id -->
								<button type="button" class="btn icoSearch" onclick="com.fnMembInfo();">검색</button>
							</dd>
						</dl>
						<dl>
							<dt>대표자</dt>
							<dd style="width:150px;">
								<input type="search" name="sCeoNm" id="sCeoNm" maxlength="10" style="width:150px;">
							</dd>
						</dl>
						<dl>
							<dt>조합원상태</dt>
							<dd style="width:120px;">
								<select name="sMembStat" id="sMembStat" style="width:120px" title="조합원상태"></select>
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="row">
						<dl>
							<dt>사업자번호</dt>
							<dd style="width:250px;">
								<input type="search" name="sBizNo" id="sBizNo" style="width:243px;" onkeyup="com.fnOnlyNum(this);com.makeBizNo(this);" maxlength="12">
							</dd>
						</dl>
						<dl>
							<dt>법인등록번호</dt>
							<dd style="width:150px;">
								<input type="search" name="sLawNo" id="sLawNo" style="width:150px;" onkeyup="com.fnOnlyNum(this);com.makeJuminNo(this);" maxlength="14">
							</dd>
						</dl>
						<dl>
							<dt>장르</dt>
							<dd style="width:120px;">
								<select name="sMainBussCd" id="sMainBussCd" style="width:120px" title="장르"></select>
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="row">
						<dl>
							<dt>조기경보</dt>
							<dd style="width:250px;">
								<select name="sMembCretop" id="sMembCretop" style="width:243px" title="조기경보"></select>
							</dd>
						</dl>
						<dl>
							<dt>부서</dt>
							<dd style="width:150px;">
								<select name="sDept" id="sDept" style="width:150px" title="부서"></select>
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="searchBtn">
						<button onclick="javascript:fnSearch();" class="btn search">조회</button>
						<button type="button" onclick="javascript:fnReset();" class="btn reset">초기화</button>
					</div>
				</section>
				</form>
				<!-- 검색 부분 끝 -->
				<div class="layer-flex mt20">
					<!-- 그리드 좌측 부분 -->
					<div class="" style="width:100%">
						<!-- 그리드 상단 부분 -->
						<section class="area">
							<div class="fr">
								<button onclick="javascript:fnLoginHome();" class="btn style02">사용자로그인</button>
								<button onclick="javascript:fnView('U');" class="btn style08">수정</button>
								<button onclick="javascript:fnView('V');" class="btn style08">상세</button>
								<button onclick="javascript:fnExcel();" class="btn style04">엑셀</button>
							</div>
						</section>
						<!-- 그리드 상단 부분 끝 -->
						<div class="mt10">
					    	<div id="sheetDiv" style="width:100%;height:500px"></div>
						</div>
					</div>
					<!-- 그리드 좌측 부분 끝 -->

					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
		</div><!-- //contentsArea -->
	</body>
</html>
