<!--
	파일정보 : membRateLend/membRateLendIns.html
	파일명 : membRateLend
	업무명 : 조합원별융자요 상세
	생성자 : 김상민1
	생성일 : 2023-05-03
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션

			//초기화 조회 콜백
			$(document).ready(function(){
				//화면 처리
				fnSearch();
			});

			//검색
			var fnSearch = function(){
			    //화면 처리 (조합원 정보 조회)
				var selectParam = { membNo : /*[[${paramMap.membNo}]]*/, appDt : /*[[${paramMap.appDt}]]*/ };
				obj = {url:"/membRateLend/selectMembRateLend.do", param:selectParam, callBack:fnSelectCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			};

			//조합원 정보 조회 콜백
			var fnSelectCallBack = function(resData){
				console.log(resData);

				//기본 데이터
				com.fnSetKeyVal(resData.memb, "area_memb");
				com.fnSetKeyVal(resData.data);
				
				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_membNm").text()}
				com.fnSetTabMembTag(tabObj);
			};

			//수정
			var fnUpt = function(){
				param = {menuCd:"1010117", paramMap:{membNo:/*[[${paramMap.membNo}]]*/
										, appDt:/*[[${paramMap.appDt}]]*/
										}
				};
				parent.menuOpen(param);
				parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
			};

			/*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>

				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down active"><span></span></button>
<!--						<button type="type" class="btn-collapse close"><span></span></button>-->
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>

			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false;" action="">
			<input type="hidden" name="membNo" id="membNo" value=""/>
    		<!--<input type="hidden" name="atthType" id="atthType" th:value="${menuInfo.atthType}"/>-->	<!-- 메뉴관리 > 관련첨부코드 -->
			<div class="contents flex">
				<div class="layer-flex collapseArea Collapsedown">

					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						<!--조합원정보 -->
						<div id="area_memb">
							<th:block th:include="com/comMemb"></th:block>
						</div>

						<!-- 할인기준정보 -->
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">할인기준정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:80px;">
									<col style="width:140px;">
									<col style="width:80px;">
									<col style="width:140px;">
									<col style="width:80px;">
									<col style="">
								</colgroup>
								<tbody>
									<tr>
										<th>적용일자</th>
										<td><div id="ele_appDt"></div></td>
										<th>신용도</th>
										<td><div id="ele_finalGrade"></div></td>
										<th>할인사유</th>
										<td><div id="ele_discReason"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- 그리드 우측 부분 시작 -->
					<!--여긴 영역 감싼 버전으로 -->
					<!--fixScroll 스크롤 넣으면 안쪽영역으로 -->
					<div class="collapseBox fixable" style="width:49%">
						<!--기본보증료요율 -->
						<div class="wrapBox">
							<section class="area">
								<div class="fl">
									<h4 class="title">기본보증료요율</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:10%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
								</colgroup>
								<tbody>
									<tr>
										<th>구분</th>
										<th>계약진행</th>
										<th>신용운영</th>
										<th>어음할인</th>
										<th>매출채권</th>
										<th>청구권담보</th>
										<th>연체</th>
										<th>물적담보제공</th>
									</tr>
									<tr>
										<th>기본요율</th>
										<td class="tar"><span id="ele_orgConclusRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_orgCreditRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_orgNoteRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_orgBondRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_orgClaimRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_orgDelayRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_orgMortDiscRate"></span><span> %</span></td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- 할인보증료요율 -->
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">할인보증료요율</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:10%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
									<col style="width:12%;">
								</colgroup>
								<tbody>
									<tr>
										<th>구분</th>
										<th>계약진행</th>
										<th>신용운영</th>
										<th>어음할인</th>
										<th>매출채권</th>
										<th>청구권담보</th>
										<th>연체</th>
										<th>물적담보제공</th>
									</tr>
									<tr>
										<th>할인요율</th>
										<td class="tar"><span id="ele_discConclusRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_discCreditRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_discNoteRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_discBondRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_discClaimRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_discDelayRate"></span><span> %</span></td>
										<td class="tar"><span id="ele_discMortDiscRate"></span><span> %</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- END 컨텐츠 영역 -->
				</div>
				<!-- 처리 버튼 영역 -->
				<div class="area mt50" style="width:100%">
					<section class="area">
						<div class="fc">
							<button type="button" onclick="javascript:fnUpt();" id="btn_upt" class="btn style08" >수정</button>
							<button type="button" th:onclick="javascript:parent.closeMenu([[${menuInfo.menuIdx}]], [[${menuInfo.refMenuIdx}]])" class="btn style06" >닫기</button>
						</div>
					</section>
				</div>
				<!-- 처리 버튼 영역 끝-->
				</div>
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
