<!--
	파일정보 : membConsList.html
	파일명 : membCons현황
	업무명 : 공제가입상담현황 현황 조회, 등록, 수정
	생성자 : 김상민1
	생성일 : 2023-05-04
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "MB02:MB31", gridNoList : "10204"}

			//초기화 조회 콜백
			$(document).ready(function(){
				//화면 처리

				//코드값 처리
				com.fnCodeSelectBox("MB02", "sMainBussCd", 2, ""); 	//장르
				com.fnCodeSelectBox("MB31", "sJoinStat", 2, ""); 	//공제가입의사

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

				//sheetDiv 더블클릭 처리
				sheet.bind("onDblClick", function(obj){ //더블클릭
					if(obj.kind === "Filter") return;
					fnView("V");
				});
			});

			//현황 조회
			var fnSearch = function(){
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/membCons/selectMembConsList.do", param); //param, sheetId 생략 가능
			};

			//화면 호출(등록, 수정, 삭제)
			var fnView = function(type){
				var selectRow = sheet.getFocusedRow();
				if(type === "I") menuCd = "1010403";
				if(type === "U") menuCd = "1010404";
				if(type === "V") menuCd = "1010405";

				if(type !== "I" && validateUtil.isNull(selectRow)){
					alert("선택된 행이 없습니다.");
					return;
				}

				param = {menuCd:menuCd, paramMap:{counsNo: selectRow?.counsNo} };
				parent.menuOpen(param);
			};

			//엑셀 다운로드
			var fnExcel = function(){
				com.fnExcelToJs(sheet, gridOptList[0].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/);
			};

			//검색 초기화
			var fnReset = function(){
				com.fnSerchInit("#serchFrm");
				fnSearch();
			};

		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
			</div><!-- //contentsTop -->

			<div class="contents flex">
				<!-- 검색 부분 -->
				<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<section class="searchArea mt10">
					<div class="row">
						<dl>
							<dt>업체명</dt>
							<dd style="width:260px;">
								<input type="search" name="sCompNm" id="sCompNm" maxlength="20" style="width:258px;">
							</dd>
						</dl>
						<dl>
							<dt>대표자</dt>
							<dd style="width:150px;">
								<input type="search" name="sCeoNm" id="sCeoNm" maxlength="10" style="width:150px;">
							</dd>
						</dl>
						<dl>
							<dt>장르</dt>
							<dd style="width:140px;">
								<select name="sMainBussCd" id="sMainBussCd" style="width:140px" title="장르"></select>
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="row">
						<dl>
							<dt>일자</dt>
							<dd style="width:260px;">
								<input type="search" name="sModDtmStaDt" id="sModDtmStaDt" title="시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sModDtmStaDt','sModDtmEndDt','F');"/>
								<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sModDtmStaDt', 'yyyy-mm-dd','sModDtmEndDt', 1)" />
								<input type="search" name="sModDtmEndDt" id="sModDtmEndDt" title="종료일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sModDtmStaDt','sModDtmEndDt','T');"/>
								<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sModDtmEndDt', 'yyyy-mm-dd','sModDtmStaDt', 2)" />
							</dd>
						</dl>
						<dl>
							<dt>내용</dt>
							<dd style="width:150px;">
								<input type="search" name="sCounsCont" id="sCounsCont" maxlength="50" style="width:150px;">
							</dd>
						</dl>
						<dl>
							<dt>가입의사</dt>
							<dd style="width:140px;">
								<select name="sJoinStat" id="sJoinStat" style="width:140px" title="가입의사"></select>
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="row">
						<dl>
							<dt>사업자번호</dt>
							<dd style="width:260px;">
								<input type="search" name="sBizNo" id="sBizNo" style="width:258px;" onkeyup="com.fnOnlyNum(this);com.makeBizNo(this);" maxlength="12">
							</dd>
						</dl>
						<dl>
							<dt>법인번호</dt>
							<dd style="width:140px;">
								<input type="search" name="sLawNo" id="sLawNo" style="width:150px;" onkeyup="com.fnOnlyNum(this);com.makeJuminNo(this);" maxlength="14">
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="searchBtn">
						<button type="button" onclick="javascript:fnSearch();" class="btn search">조회</button>
						<button type="button" onclick="javascript:fnReset();" class="btn reset">초기화</button>
					</div>
				</section>
				</form>
				<!-- 검색 부분 끝 -->
				<div class="layer-flex mt20">
					<!-- 그리드 좌측 부분 -->
					<div class="" style="width:100%">
						<!-- 그리드 상단 부분 -->
						<section class="area">
							<div class="fr">
								<button type="button" onclick="javascript:fnView('I');" class="btn style08">등록</button>
								<button type="button" onclick="javascript:fnView('U');" class="btn style08">수정</button>
								<button type="button" onclick="javascript:fnView('V');" class="btn style08">상세</button>
								<button type="button" onclick="javascript:fnExcel();" class="btn style04">엑셀</button>
							</div>
						</section>
						<!-- 그리드 상단 부분 끝 -->
						<div class="mt10">
					    	<div id="sheetDiv" style="width:100%;height:500px"></div>
						</div>
					</div>
					<!-- 그리드 좌측 부분 끝 -->

					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
		</div><!-- //contentsArea -->
	</body>
</html>
