<!--
	파일정보 : membReqList.html
	파일명 : membReq현황
	업무명 : 공제가입등록 현황 조회, 등록, 수정
	생성자 : 김상민1
	생성일 : 2023-05-04
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "MB02:MB03", gridNoList : "10205"};

			//초기화 조회 콜백
			$(document).ready(function(){
				//검색조건(공통 selectBox 생성)
				com.fnCodeSelectBox("MB03", "sProcStat", 2, "");

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

				//sheetDiv 더블클릭 처리
				sheet.bind("onDblClick", function(obj){ //더블클릭
					if(obj.kind === "Filter") return;
					fnView("V");
				});
			});

			//현황 조회
			var fnSearch = function() {
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/membReq/selectMembReqList.do", param); //param, sheetId 생략 가능
			};


			//화면 호출(등록, 수정, 삭제)
			var fnView = function(type){
				var row = sheet.getFocusedRow();
				if(type === "I") menuCd = "1010406";
				if(type === "U") menuCd = "1010407";
				if(type === "V") menuCd = "1010408";

				if(type !== "I" && validateUtil.isNull(row)){
					alert("조회 대상을 선택하십시오.");
					return;
				}

				//개발때문에 잠시 주석
				if(type === "U" && row.procStat === "90"){
					alert("가입완료인 항목은 수정할 수 없습니다.\n조합원관리메뉴에서 수정하시기 바랍니다.");

    				var userId = /*[[${session.userId}]]*/;
					if(userId === "admin") {
						if(!confirm("admin 권한으로 계속 접근하시겠습니까?(데이터 수정시 주의)"))	return;
					} else	{
						return;
					}
				}

				param = { menuCd:menuCd, paramMap:{bizNo: row?.bizNo, atthType: row?.atthType, atthNo : row?.atthNo} };
				parent.menuOpen(param);
			};

			//엑셀 다운로드
			var fnExcel = function(){
				com.fnExcelToJs(sheet, gridOptList[0].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/);
			};

			//검색 초기화
			var fnReset = function(){
				com.fnSerchInit("#serchFrm");
				fnSearch();
			};

		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
			</div><!-- //contentsTop -->

			<div class="contents flex">
				<!-- 검색 부분 -->
				<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<section class="searchArea mt10">
					<div class="row">
						<dl>
							<dt>업체명</dt>
							<dd style="width:200px;">
								<input type="text" name="sMembNm" id="sMembNm" maxlength="20" style="width:200px;">
							</dd>
						</dl>
						<dl>
							<dt>대표자</dt>
							<dd style="width:100px;">
								<input type="text" name="sCeoNm" id="sCeoNm" maxlength="10" style="width:100px;">
							</dd>
						</dl>
						<dl>
							<dt>처리상태</dt>
							<dd style="width:120px;">
								<select name="sProcStat" id="sProcStat" style="width:120px" title="처리상태"></select>
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="searchBtn">
						<button type="button" onclick="javascript:fnSearch();" class="btn search">조회</button>
						<button type="button" onclick="javascript:fnReset();" class="btn reset">초기화</button>
					</div>
				</section>
				</form>
				<!-- 검색 부분 끝 -->
				<div class="layer-flex mt20">
					<!-- 그리드 좌측 부분 -->
					<div class="" style="width:100%">
						<!-- 그리드 상단 부분 -->
						<section class="area">
							<div class="fr">
								<button type="button" onclick="javascript:fnView('I');" class="btn style08">등록</button>
								<button type="button" onclick="javascript:fnView('U');" class="btn style08">수정</button>
								<button type="button" onclick="javascript:fnView('V');" class="btn style08">상세</button>
								<button type="button" onclick="javascript:fnExcel();" class="btn style04">엑셀</button>
							</div>
						</section>
						<!-- 그리드 상단 부분 끝 -->
						<div class="mt10">
					    	<div id="sheetDiv" style="width:100%;height:500px"></div>
						</div>
					</div>
					<!-- 그리드 좌측 부분 끝 -->

					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
		</div><!-- //contentsArea -->
	</body>
</html>
