<!--
	파일정보 : suptStat/membWorkDtl.html
	파일명 : membWorkDtl
	업무명 : 업무거래상세
	생성자 : 권다슬
	생성일 : 2023-09-18
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "CM01:MB04:GR01:GR21", gridNoList : "10115:10116:10117:20204:80105:"}

			//초기화 조회 콜백
			$(document).ready(function(){
				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheetInvt", el: "sheetDivInvt", options: gridOptList[0] });
			    IBSheet.create({ id: "sheetGuarContr", el: "sheetDivGuarContr", options: gridOptList[1] });
			    IBSheet.create({ id: "sheetLendContr", el: "sheetDivLendContr", options: gridOptList[2] });
			    IBSheet.create({ id: "sheetInvtDept", el: "sheetDivInvtDept", options: gridOptList[3] });
			    IBSheet.create({ id: "sheetContrMort", el: "sheetDivContrMort", options: gridOptList[4] });
			    IBSheet.create({ id: "sheetMembCouns", el: "sheetDivMembCouns", options: gridOptList[5] });
			    IBSheet.create({ id: "sheetInvtTran", el: "sheetDivInvtTran", options: gridOptList[6] });

				//업무거래 상세 조회
				fnSearch();
			});

			//업무거래 상세 조회
			var fnSearch = function(){
				var param = { sMembNo: /*[[${paramMap.membNo}]]*/, membNo: /*[[${paramMap.membNo}]]*/};
				obj = {url:"/membSupt/selectMembWork.do", param:param, callBack:fnSearchCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			};


			//업무거래 상세 조회 콜백
			var fnSearchCallBack = function(resData){
				//console.log(resData);

				//0. 조합원정보
				com.fnSetKeyVal(resData.memb);

				//0-1. 출자정보
				$("#ele_investAmt").text(com.addComma(resData.memb.investAmt));	//출자금액
				$("#ele_mortAmt").text(com.addComma(resData.memb.mortAmt));		//담보금액
				$("#ele_assGetNumSum").text(com.addComma(Number(resData.memb.assGetNum) - Number(resData.memb.assSetNum)));	//배정좌수
				$("#ele_assGetAmtSum").text(com.addComma(Number(resData.memb.assGetAmt) - Number(resData.memb.assSetAmt)));	//배정금액

				//1. 업무거래 정보 (신용평가정보 + 보증정보 + 대출정보)
				com.fnSetKeyVal(resData.workDtl);

				//3. 출자증권정보
				sheetInvt.loadSearchData(resData.invtBill);	//출자증권정보
				sheetInvtTran.loadSearchData(resData.invtTran);	//출자증권지분취득정보

				//3. 예수금정보
				sheetInvtDept.loadSearchData(resData.invtDept);

				//4. 보증약정정보
				sheetGuarContr.loadSearchData(resData.guarContr);

				//5. 대출약정정보
				sheetLendContr.loadSearchData(resData.lendContr);

				// 담보현황
				sheetContrMort.loadSearchData(resData.contrMort);

				//진행내용(상담내용) 정보
				sheetMembCouns.loadSearchData(resData.consDtlList);
				
				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_membNm").text()}
				com.fnSetTabMembTag(tabObj);
			}


			/*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>

				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
<!--						<button type="type" class="btn-collapse close"><span></span></button>-->
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>

			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false;" action="">
			<div class="contents flex">
				<div class="layer-flex collapseArea">

					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						<!--조합원정보 -->
						<th:block th:include="com/comMemb"></th:block>

						<!-- 신용평가 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">신용평가정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
							</colgroup>
							<tbody>
								<tr>
									<th>등급일자</th>
									<td><span id="ele_gradeDt"></span></td>
									<th>최종등급</th>
									<td><span id="ele_finalGrade"></span></td>
								</tr>
							</tbody>
						</table>

						<!-- 출정정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">출자정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
							</colgroup>
							<tbody>
								<tr>
									<th>예수금</th>
									<td colspan="3"><span id="ele_depositAmt"></span></td>
								</tr>
								<tr>
									<th>출자좌수</th>
									<td><span id="ele_investNum"></span></td>
									<th>출자금액</th>
									<td><span id="ele_investAmt"></span></td>
								</tr>
								<tr>
									<th>담보좌수</th>
									<td><span id="ele_mortNum"></span></td>
									<th>담보금액</th>
									<td><span id="ele_mortAmt"></span></td>
								</tr>
								<tr>
									<th>배정좌수</th>
									<td><span id="ele_assGetNumSum"></span></td>
									<th>배정금액</th>
									<td><span id="ele_assGetAmtSum"></span></td>
								</tr>
							</tbody>
						</table>

						<!-- 보증정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">보증정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
							</colgroup>
							<tbody>
								<tr>
									<th>약정상태</th>
									<td><span id="ele_guarContrStatNm"></span></td>
									<th>요율</th>
									<td><span id="ele_guarRateYn"></span></td>
								</tr>
								<tr>
									<th>보증인유무</th>
									<td><span id="ele_guarSuretyYn"></span></td>
									<th>담보유무</th>
									<td><span id="ele_guarMortYn"></span></td>
								</tr>
							</tbody>
						</table>

						<!-- 대출정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">대출정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
							</colgroup>
							<tbody>
								<tr>
									<th>약정상태</th>
									<td><span id="ele_lendContrStatNm"></span></td>
									<th>요율</th>
									<td><span id="ele_lendRateYn"></span></td>
								</tr>
								<tr>
									<th>보증인유무</th>
									<td><span id="ele_lendSuretyYn"></span></td>
									<th>담보유무</th>
									<td><span id="ele_lendMortYn"></span></td>
								</tr>
							</tbody>
						</table>

						<!-- 상담내용 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">상담내용</h4>
							</div>
						</section>
						<div id="sheetDivMembCouns" style="width:100%;height:460px"></div>

					</div>

					<!-- 그리드 우측 부분 시작 -->
					<!--여긴 영역 감싼 버전으로 -->
					<!--fixScroll 스크롤 넣으면 안쪽영역으로 -->
					<div class="collapseBox fixable" style="width:49%">
						<!-- 출자증권정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">출자증권정보</h4>
							</div>
						</section>
						<div id="sheetDivInvt" style="width:100%;height:150px"></div>

						<!-- 출자증권지분취득 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">출자증권지분취득정보</h4>
							</div>
						</section>
						<div id="sheetDivInvtTran" style="width:100%;height:150px"></div>

						<!-- 예수금현황 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">예수금현황</h4>
							</div>
						</section>
						<div id="sheetDivInvtDept" style="width:100%;height:150px"></div>

						<!-- 보증약정정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">보증약정정보</h4>
							</div>
						</section>
						<div id="sheetDivGuarContr" style="width:100%;height:150px"></div>

						<!-- 대출약정정보 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">대출약정정보</h4>
							</div>
						</section>
						<div id="sheetDivLendContr" style="width:100%;height:150px"></div>

						<!-- 약정담보현황 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">약정담보현황</h4>
							</div>
						</section>
						<div id="sheetDivContrMort" style="width:100%;height:150px"></div>


					</div>
					<!-- END 컨텐츠 영역 -->
				</div>
				<!-- 처리 버튼 영역 -->
				<div class="area mt5" style="width:100%">
					<section class="area">
						<div class="fc">
							<button type="button" th:onclick="javascript:parent.closeMenu([[${menuInfo.menuIdx}]], [[${menuInfo.refMenuIdx}]])" class="btn style06" >닫기</button>
						</div>
					</section>
				</div>
				<!-- 처리 버튼 영역 끝-->
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
