<!--
	파일정보 : membCons/membConsIns.html
	파일명 : membCons
	업무명 : 공제가입상담현황 상세
	생성자 : 김상민1
	생성일 : 2023-05-04
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "MB02:MB31", gridNoList : "10114"}

			//초기화 조회 콜백
			$(document).ready(function(){
				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);
				
				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

				//시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};
			});

			//검색
			var fnSearch = function(){
			   	//화면 처리 (공제가입상담 업제정보 조회)
				var selectParam = { counsNo : /*[[${paramMap.counsNo}]]*/, atthType : /*[[${menuInfo.atthType}]]*/ };
				obj = {url:"/membCons/selectMembCons.do", param:selectParam, callBack:fnSelectCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			};

			//공제가입상담 업제정보 조회 콜백
			var fnSelectCallBack = function(resData) {
				
				
				//console.log(resData);
				com.fnSetKeyVal(resData.data);				//업체개요 + 신용평가 + 담당자
				sheet.loadSearchData(resData.consDtlList);	//진행내용
				
				//동적 첨부파일 (다건)
				com.fnIbsUploadView($("#docFile"), resData.fileList);
				
				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_compNm").text()}
				com.fnSetTabMembTag(tabObj);
				
				
			};

			//수정
			var fnUpt = function(){
				param = {menuCd:"1010404", paramMap:{counsNo: /*[[${paramMap.counsNo}]]*/}};

				parent.menuOpen(param);
				parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
			};

			/*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>

				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>

			</div><!-- //contentsTop -->

			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false;" action="">
			<input type="hidden" name="atthType" id="atthType" th:value="${menuInfo.atthType}"/>
			<input type="hidden" name="atthNo" id="atthNo" />
			
			<div class="contents flex">
				<div class="layer-flex collapseArea">

					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">

						<!-- 업체개요 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">업체개요</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:100px;">
								<col style="width:250px;">
								<col style="width:100px;">
								<col style="width:250px;">
							</colgroup>
							<tbody>
								<tr>
									<th>업체명</th>
									<td><span id="ele_compNm"></span></td>
									<th>대표자</th>
									<td><span id="ele_ceoNm"></span></td>
								</tr>
								<tr>
									<th>사업자번호</th>
									<td><span id="ele_bizNo"></span></td>
									<th>법인번호</th>
									<td><span id="ele_lawNo"></span></td>
								</tr>
								<tr>
									<th>전화번호</th>
									<td><span id="ele_telNo"></span></td>
									<th>장르</th>
									<td><span id="ele_mainBussNm"></span></td>
								</tr>
								<tr>
									<th>설립일</th>
									<td><span id="ele_bussStartDt"></span></td>
									<th>가입의사</th>
									<td><span id="ele_joinStatNm"></span></td>
								</tr>
								<tr>
									<th>총자산</th>
									<td><span id="ele_assetAmt"></span></td>
									<th>매출액</th>
									<td><span id="ele_yearSaleAmt"></span></td>
								</tr>
								<tr>
									<th>주소</th>
									<td colspan="3"><span id="ele_postNo"></span>&nbsp;<span id="ele_addrFullDoro"></span>&nbsp;<span id="ele_doroDtl"></span></td>
								</tr>
								<tr>
									<th>기타<br/>/특이사항</th>
									<td colspan="3"><pre style="min-height: 100px;white-space:pre-wrap"><span id="ele_counsCont"></div></pre></td>
								</tr>
							</tbody>
						</table>

						<!-- 신용평가 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">신용평가</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:100px;">
								<col style="width:250px;">
								<col style="width:100px;">
								<col style="width:250px;">
							</colgroup>
							<tbody>
								<tr>
									<th>신용등급</th>
									<td><span id="ele_creditGradeNm"></span></td>
									<th>기타</th>
									<td><span id="ele_creditEtc"></span></td>
								</tr>
							</tbody>
						</table>

						<!-- 담당자 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">담당자</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:100px;">
								<col style="width:250px;">
								<col style="width:100px;">
								<col style="width:250px;">
							</colgroup>
							<tbody>
								<tr>
									<th>담당자</th>
									<td><span id="ele_persNm"></span></td>
									<th>연락처</th>
									<td><span id="ele_persTelNo"></span></td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- 그리드 우측 부분 시작 -->
					<!--여긴 영역 감싼 버전으로 -->
					<!--fixScroll 스크롤 넣으면 안쪽영역으로 -->
					<div class="collapseBox fixable" style="width:49%">
						<!-- 신용평가 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">진행내용</h4>
							</div>
						</section>
						<div id="sheetDiv" style="width:100%;height:350px"></div>
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">첨부파일<span style="font-size: 11px; color: #ff6600">(첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></h4>
							</div>
							<div class="fr">
                           		<button type="button" onclick="javascript:com.fnIbsFileAdd($('#docFile'));" class="btn small style08">추가</button>
                           		<button type="button" onclick="javascript:com.fnIbsFileDel($('#docFile'));" class="btn small style08">삭제</button>
                    		</div>
						</section>
						<div id="docFile" style="height:140px;"></div>
						
					</div>
					<!-- END 컨텐츠 영역 -->
				</div>
				<!-- 처리 버튼 영역 -->
				<div class="area mt50" style="width:100%">
					<section class="area">
						<div class="fc">
							<button type="button" onclick="javascript:fnUpt();" id="btn_upt" class="btn style08" >수정</button>
							<button type="button" th:onclick="javascript:parent.closeMenu([[${menuInfo.menuIdx}]], [[${menuInfo.refMenuIdx}]])" class="btn style06" >닫기</button>
						</div>
					</section>
				</div>
				<!-- 처리 버튼 영역 끝-->
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
