<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	-->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="proj.core.filter.LogBackFilter"/>
		<encoder>
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %clr(%5p)  %clr(%logger{36}){blue} - %msg%n</pattern>
		</encoder>
	</appender>
	

	<appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:\logs\dyis-oms.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

    
    <logger name="org.springframework" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLINGFILE"/>
    </logger>

    <logger name="org.springframework.web" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLINGFILE"/>
    </logger>

    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="ERROR">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="ERROR">
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <logger name="_.s.w.s.HandlerMapping.Mappings" level="OFF">
        <appender-ref ref="CONSOLE" />
    </logger>
    

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLINGFILE" />
    </root>
    
</configuration>