<!--
	시스템구분 : 홈페이지 (콘텐츠 화면 처리 영역)
	파일정보 : comLendPop.html
	파일명 : comLendPop.html
	업무명 : 홈페이지 (콘텐츠 화면 처리 영역)
	생성자 : 변성균
	생성일 : 2023.06.21
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xml:lang="ko">
   
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/content.css">
    <script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-ui-1.10.3.js"></script>
	<script src="/js/jquery.modal.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/calendar.js"></script>
</head>

	<script>
		//화면 초기화 처리 호출
		$(document).ready(function(){
		
			//게시글 부르기
			fnSerchLend();
		});
		

		//신청기간 검색
		var fnSerchLend = function(){
			obj = {url:"/comConf/selectPopLendList.do", formId:"conf", callBack:fnSerchLendcallback, msgYn:"N", sessYn:"N", loadYn:"N"};
			com.fnAjaxPost(obj); 
		}
		
		//민원조회 리턴 
		var fnSerchLendcallback = function(resData){
		
			console.log("resData" + resData);
			console.log("resData object:" + JSON.stringify(resData));
			
			//table 내용 추가
			var data = resData.data;
			$("#lendList").empty();
				
			if( data === ''){
				var html = '<tr><td colspan="7">검색 결과가 없습니다.</td><tr>';
				$("#lendList").append(html);
			}
			
			$.each(data, function(index, item) {
				var html  = '<tr onmouseover="this.className=\'mOver\'" onmouseout="this.className=\'mOut\'" style="cursor:pointer;" onclick="setLendData(\'' + item.lendNo + '\',\'' + item.lendTypeNm + '\',\'' + item.lendStatNm + '\',\'' + item.lendDt + '\',\'' + item.lendAmt + '\',\'' + item.repayPreDt + '\',\'' + item.sumPayAmt + '\',\'' + item.remainAmt + '\')">';
		            html += '<td>'+ item.lendTypeNm +'</td>';
					html += '<td>'+ com.fnNvlChk(item.lendStatNm)+'</td>';
					html += '<td>'+ com.fnDateFormat(item.lendDt)+'</td>';
					html += '<td>'+ com.aprojomma(item.lendAmt) +'</td>';
					html += '<td>'+ com.fnDateFormat(item.repayPreDt) +'</td>';
					html += '<td>'+ com.aprojomma(item.sumPayAmt) +'</td>';
					html += '<td>'+ com.aprojomma(item.remainAmt) +'</td>';
					html += '</tr>';
					
				$("#lendList").append(html);
			});
		}
		
		//대출정보 세팅
		var setLendData = function(lendNo, lendTypeNm, lendStatNm, lendDt, lendAmt, repayPreDt, sumPayAmt, remainAmt) {
			if(parent === null){
				top.setLendData(lendNo, lendTypeNm, lendStatNm, lendDt, lendAmt, repayPreDt, sumPayAmt, remainAmt);
			}else{
				parent.setLendData(lendNo, lendTypeNm, lendStatNm, lendDt, lendAmt, repayPreDt, sumPayAmt, remainAmt);
			}
    
		}
	</script>

<body>
    <!-- 업무 안내 영역 끝 -->
    <div class="popWrap">
		<!-- 경로 영역 시작 -->
        <form name="conf" id="conf" method="post" onSubmit="return false;">
			<input type="hidden" th:name="_csrf" th:value="${_csrf?.token}"/>
			<input type="hidden" name="sConfCd" id="sConfCd" value=""/>
			<input type="hidden" name="confCd" id="confCd" value=""/>
			<input type="hidden" name="menuCd" id="menuCd" value=""/>
			<input type="hidden" name="confNo" id="confNo" value=""/>
            <!-- 경로 영역 끝 -->
            <section id="content" class="content">
                <!-- 여기서부터 content -->
                <div>
                    <div class="search-wrap txt-border-wrap  ">
                        <table class="block">
                            <colgroup>
                                <col width="10%">
                                <col width="45%">
                                <col width="*%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>대출일자</th>
                                    <td class="m-mb10">
                                        <div class="flex-box al-center gap-10">
                                            <div class="flex-box al-center">
                                                <input type="text" name="sLendStaDt" id="sLendStaDt" value="" maxlength="10" class="w-100" title="신청일 입력" placeholder="YYYY-MM-DD" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
                                            	<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'sLendStaDt', 'yyyy-mm-dd','sLendEndDt', 1, '')" />
                                            </div>
                                            ~
                                            <div class="flex-box al-center">
                                                <input type="text" name="sLendEndDt" id="sLendEndDt" value="" maxlength="10" class="w-100" title="신청일 입력" placeholder="YYYY-MM-DD" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
                                                <img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'sLendEndDt', 'yyyy-mm-dd', 'sLendStaDt', 2, '')" />
                                            </div>
                                        </div>
                                        <div id="ele_dateDt" class="ele_dt"></div>
                                    </td>
                                    <td class="alignR">
                                        <button onClick="fnSerchLend()" class="sub-btn btn-black m-w-100">조회</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <article>
                        <div class="table-wrap board">
                            <div class="table-scroll v2">
                                <table>
                                    <caption>대출정보 목록</caption>
                                    <thead class="back-gray">
                                        <tr>
                                            <th width="18%" scope="col">대출종류</th>
                                            <th width="12%" scope="col">대출상태</th>
                                            <th width="12%" scope="col">대출일자</th>
                                            <th width="15%" scope="col">대출금액</th>
                                            <th width="12%" scope="col">상환기한</th>
                                            <th width="15%" scope="col">상환금액</th>
                                            <th width="15%" scope="col">잔액</th>
                                        </tr>
                                    </thead>
                                    <tbody id="lendList">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </form>
    </div>
</body>
</html>