<!--
	시스템구분 : 홈페이지 (콘텐츠 화면 처리 영역)
	파일정보 : privPolicyPop.html
	파일명 : privPolicyPop.html
	업무명 : 개이정보처리방침 상세 정보
	생성자 : 변성균
	생성일 : 2024.04.02
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xml:lang="ko">
   
<head>
   <meta charset="euc-kr">
    <meta name="Keywords" content="동양정보서비스">
    <meta name="title" content="동양정보서비스">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=euc-kr">

    <meta name="_csrf" th:content="${_csrf?.token}">
	<meta name="_csrf_header" th:content="${_csrf?.headerName}">

	<title>동양정보서비스</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/content.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
	<!--위 제이쿼리 버전문제로 대체 -->
	<script src="/ibsheet8/vendors/jquery-3.4.1.js"></script>
	<script src="/ibsheet8/vendors/jquery.ellipsis.js"></script>
	<script src="/ibsheet8/vendors/jquery-ui.min.js"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		//화면 초기화 처리 호출
		$(document).ready(function(){
			 //게시판 내용
	        var data = /*[[${data}]]*/;
	        //console.log(data)
	        $("#content").html(data.brdCont);
				
		});
		
		
		
		/*]]>*/
	</script>
</head>
<body>
<div class="content-wrap">
    <div class="inner">
        <div class="content-box flex-box jc-between">
            <!-- 업무 안내 영역 -->
            <div id="lnb" class="lnb-wrap">
                <h3 class="ko-bold h3-txt"></h3>

            </div>


            <!-- 업무 안내 영역 끝 -->
            <div class="content-main">
                <!-- 경로 영역 끝 -->
                <section id="content" class="content">
                    <!-- 여기서부터 content -->

                </section>
                
            </div>
        </div>
    </div>
</div>

</body>
</html>