<!--
	파일정보 : serchAddr/serchAddr.html
	파일명 : serchAddr
	업무명 : 주소검색 팝업
	생성자 : BSG
	생성일 : 2023.04.05
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xml:lang="ko">
	<head>
	    <title>한국콘텐츠공제조합</title>
	    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
	    <link rel="stylesheet" th:href="@{/css/reset.css}">
	    <link rel="stylesheet" th:href="@{/css/font.css}">
	    <link rel="stylesheet" th:href="@{/css/content.css}">
	</head>
	<body>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/jquery-ui-1.10.3.js}"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			
			//초기화 조회 콜백
			$(document).ready(function(){
				
			});
			
			var fnChkKeyWord = function(obj){
				if(obj.value.length >0){
					//특수문자 제거
					var expText = /[%=><]/ ;
					if(expText.test(obj.value) === true){
						alert("특수문자를 입력 할수 없습니다.") ;
						obj.value = obj.value.split(expText).join(""); 
						return false;
					}
					
					//특정문자열(sql예약어의 앞뒤공백포함) 제거
					var sqlArray = new Array(
						//sql 예약어
						"OR", "SELECT", "INSERT", "DELETE", "UPDATE", "CREATE", "DROP", "EXEC",
			             		 "UNION",  "FETCH", "DECLARE", "TRUNCATE" 
					);
					
					var regex;
					for(var i=0; i<sqlArray.length; i++){
						regex = new RegExp( sqlArray[i] ,"gi") ;
						
						if (regex.test(obj.value) ) {
						    alert("\"" + sqlArray[i]+"\"와(과) 같은 특정문자로 검색할 수 없습니다.");
							obj.value =obj.value.replace(regex, "");
							return false;
						}
					}
				}
				return true ;
			};
			
			var fnSearch = function(){
				// 적용예 (api 호출 전에 검색어 체크) 	
				if (!fnChkKeyWord(document.serchFrm.keyword)) {
					return ;
				}
			
				$.ajax({
					 url :"https://business.juso.go.kr/addrlink/addrLinkApiJsonp.do"  //인터넷망
					,type:"post"
					,data:$("#serchFrm").serialize()
					,dataType:"jsonp"
					,crossDomain:true
					,success:function(jsonStr){
						$("#list").html("");
						//console.log(jsonStr);
						var errCode = jsonStr.results.common.errorCode;
						var errDesc = jsonStr.results.common.errorMessage;
						
						var setAddr = [];
						setAddr.data = jsonStr.results.juso;
						
						if(errCode !== "0"){
							alert(errCode+"="+errDesc);
						}else{
							if(jsonStr !== null){
								fnSetAddrList(jsonStr);
								//sheet.loadSearchData(setAddr);
							}
						}
					}
				    ,error: function(xhr,status, error){
				    	alert("에러발생");
				    }
				});
			}
			
			var fnSetAddrList = function(jsonStr){
				console.log(jsonStr.results.juso);
				var htmlStr = "";
				htmlStr += "<ul class='zipList'>";
				$(jsonStr.results.juso).each(function(){
					
					htmlStr += "<li class='zipItem'>"; 
					htmlStr += "<dl>"; 
					htmlStr += "<dt>도로명</dt>"; 
					htmlStr += "<dd class='row'>"; 
					htmlStr += "<a href='javascript:void(0);' class='zipLink' onclick='fnAddrSet(this);'>("+this.zipNo+")<span class='addr ml5'>" +this.roadAddrPart1+ "</span></a>";
					htmlStr += "</dd>"; 
					htmlStr += "</dl>"; 
					
					
					htmlStr += "<dl>"; 
					htmlStr += "<dt>지 번</dt>"; 
					htmlStr += "<dd class='row'>"; 
					htmlStr += "<a href='javascript:void(0);' class='zipLink' onclick='fnAddrSet(this);'>("+this.zipNo+")<span class='addr ml5'>" +this.jibunAddr+ "</span></a>"; 
					htmlStr += "</dd>"; 
					htmlStr += "</dl>";
					htmlStr += "<input type='hidden' name='roadAddr' value='" + this.roadAddr + "'>";				//도로명전체
					htmlStr += "<input type='hidden' name='roadAddrPart1' value='"+ this.roadAddrPart1 + "'>";		//도로명주소
					htmlStr += "<input type='hidden' name='roadAddrPart2' value='"+ this.roadAddrPart2 + "'>";		//참고주소
					htmlStr += "<input type='hidden' name='zipNo' value='"+ this.zipNo + "'>";						//우편번호
					htmlStr += "<input type='hidden' name='rnMgtSn' value='"+ this.rnMgtSn + "'>";					//도로명코드
					//htmlStr += "<input type='hidden' name='doroBunho' value='"+ this.doroBunho + "'>";
					htmlStr += "<input type='hidden' name='emdNm' value='"+ this.emdNm + "'>";						//읍면동명
					//htmlStr += "<input type='hidden' name='doroBdNo' value='"+ this.doroBdNo + "'>";
					htmlStr += "<input type='hidden' name='buldMnnm' value='"+ this.buldMnnm + "'>";				//건물본번
					htmlStr += "<input type='hidden' name='buldSlno' value='"+ this.buldSlno + "'>";				//건물부번
					htmlStr += "<input type='hidden' name='lnbrMnnm' value='"+ this.lnbrMnnm + "'>";				//지번본번(번지)		
					htmlStr += "<input type='hidden' name='lnbrSlno' value='"+ this.lnbrSlno + "'>";				//지번부번(호)
					htmlStr += "<input type='hidden' name='jibunAddr' value='" + this.jibunAddr + "'>";				//지번주소
					
					htmlStr += "</li>"; 
					/*htmlStr += "<tr>"+this.roadAddr+"</tr>"; //도로명전체
					htmlStr += "<tr>"+this.roadAddrPart1+"</tr>"; //도로명주소
					htmlStr += "<tr>"+this.roadAddrPart2+"</tr>";//참고주소
					htmlStr += "<tr>"+this.jibunAddr+"</tr>"; //지번주소
					htmlStr += "<tr>"+this.engAddr+"</tr>"; //영문도로명주소
					htmlStr += "<tr>"+this.zipNo+"</tr>"; //우편번호
					htmlStr += "<tr>"+this.admCd+"</tr>"; //행정구역코드
					htmlStr += "<tr>"+this.rnMgtSn+"</tr>"; //도로명코드
					htmlStr += "<tr>"+this.bdMgtSn+"</tr>"; //건물관리번호
					htmlStr += "<tr>"+this.detBdNmList+"</tr>"; //상세건물명
					htmlStr += "<tr>"+this.bdNm+"</tr>"; // 건물명
					htmlStr += "<tr>"+this.bdKdcd+"</tr>"; //공동주택여부
					htmlStr += "<tr>"+this.siNm+"</tr>"; //시도명
					htmlStr += "<tr>"+this.sggNm+"</tr>"; //시군구명
					htmlStr += "<tr>"+this.emdNm+"</tr>"; //읍면동명
					htmlStr += "<tr>"+this.liNm+"</tr>"; //법정리명
					htmlStr += "<tr>"+this.rn+"</tr>"; //도로명
					htmlStr += "<tr>"+this.udrtYn+"</tr>"; //지하여부
					htmlStr += "<tr>"+this.buldMnnm+"</tr>"; //건물본번
					htmlStr += "<tr>"+this.buldSlno+"</tr>"; //건물부번
					htmlStr += "<tr>"+this.mtYn+"</tr>"; //산여부
					htmlStr += "<tr>"+this.lnbrMnnm+"</tr>"; //지번본번(번지)
					htmlStr += "<tr>"+this.lnbrSlno+"</tr>"; //지번부번(호)
					htmlStr += "<tr>"+this.emdNo+"</tr>"; //읍면동일련번호*/
				});
				htmlStr += "</ul>";
				$("#list").html(htmlStr);
				$("#list").removeClass('hide');
				$(".tipArea").hide();
			}
			
		    /*]]>*/
		    
		    var fnAddrSet = function(self) {
				var paramMap = {};
				var target = $(self).closest("li");
				var roadAddr = $(target).find("input[name='roadAddr']").val();
				var roadAddrPart1 = $(target).find("input[name='roadAddrPart1']").val();
				var zipNo = $(target).find("input[name='zipNo']").val();
				var rnMgtSn = $(target).find("input[name='rnMgtSn']").val();
				//var doroBunho = $(target).find("input[name='doroBunho']").val();
				var emdNm = $(target).find("input[name='emdNm']").val();
				//var doroBdNo = $(target).find("input[name='doroBdNo']").val();
				var buldMnnm = $(target).find("input[name='buldMnnm']").val();
				var buldSlno = $(target).find("input[name='buldSlno']").val();
				var lnbrMnnm = $(target).find("input[name='lnbrMnnm']").val();
				var lnbrSlno = $(target).find("input[name='lnbrSlno']").val();
				var jibunAddr = $(target).find("input[name='jibunAddr']").val();
				
				paramMap.roadAddr = roadAddr;
				paramMap.roadAddrPart1 = roadAddrPart1; 
				paramMap.jibunAddr = jibunAddr; 
				paramMap.zipNo = zipNo;
				paramMap.rnMgtSn = rnMgtSn;
				paramMap.emdNm = emdNm;
				
				var buldNo = buldMnnm;
				if(buldSlno !== "0") buldNo += "-" + buldSlno;
				paramMap.doroBunho = buldNo;
				
				var lnbrNo = lnbrMnnm;
				if(lnbrSlno !== "0") lnbrNo += "-" + lnbrSlno;
				paramMap.doroBdNo = lnbrNo;
				
				opener.fnAddrCallBack(paramMap);
				window.close();
			}
		</script>
		
		
	    <!-- 콘텐츠 시작 -->
	    <!-- .hide{display:none;} -->
	    <div id="serchAddr" class="contentsArea">
	        <form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<input type="hidden" th:name="_csrf" th:value="${_csrf?.token}"/>
	            <input type="hidden" name="currentPage" value="1" />
	            <input type="hidden" name="countPerPage" value="100" />
	            <input type="hidden" name="resultType" value="json" />
	            <input type="hidden" name="confmKey" value="U01TX0FVVEgyMDIzMDMzMDE3MTA0ODExMzY0Mzg=" />
	            <section class="searchArea">
	                <div class="keyword-wrap">
	                    <input type="text" class="keyword" id="keyword" name="keyword" value="" autocomplete="off"
	                        placeholder="예) 공항대로 219, 가양 1동 774-3, 마곡동 774-3">
	                    <button type="button" onclick="fnSearch();" class="address-btn2"></button>
	                    <button type="button" onclick="fnSearch();" class="address-btn2"></button>
	                </div>
	            </section>
	        </form>
	        <div class="contentsBody">
				
				<!-- 검색완료 시 #list : removeClass='hide'-->
	            <div id="list" class="hide">
	                <ul class="zipList">
	                    <li class="zipItem">
	                        <span class="zipCode" title="기초구역번호(새 우편번호)">07802</span>
	                        <dl>
	                            <dt>도로명</dt>
	                            <dd>
	                                <a href="javascript:void(0);" class="zipLink">
	                                    <span class="addr">서울 강서구 공항대로 219 (센테니아)</span>
	                                </a>
	                            </dd>
	                        </dl>
	                        <dl>
	                            <dt>지 번</dt>
	                            <dd>
	                                <a href="javascript:void(0);" class="zipLink">
	                                    <span class="addr">서울 강서구 마곡동 774-3</span><span class="addrDetail">(행정동:가양1동)</span>
	                                </a>
	                            </dd>
	                        </dl>
	                    </li>
	                </ul>
	                <div class="pagination-wrap">
	                    <ul class="pagination">
	                        <li><a class="pre-page" href="#;" title="이전"></a></li>
	                        <li><a class="pre-num" href="#;" title="이전"></a></li>
	                        <li><a href="#;">1</a></li>
	                        <li><a href="#;">2</a></li>
	                        <li><a href="#;">3</a></li>
	                        <li><a href="#;">4</a></li>
	                        <li><a href="#;">5</a></li>
	                        <li><a class="next-num" href="#;" title="다음"></a></li>
	                        <li><a class="next-page" href="#;" title="다음"></a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="tipArea">
					<!-- 검색 없을 시 removeClass='hide'-->
	                <p class="font-size-16 mb20 hide">검색 결과가 존재하지 않습니다.</p>
	                
					<div class="info">
		                <h2>tip</h2>
		                <p>아래와 같은 조합으로 검색을 하시면 더욱 정확한 결과가 검색됩니다.</p>
		                <p class="mt15">도로명 + 건물번호</p>
		                <span>예) 공항대로 219</span>
		                <p class="mt10">지역명(동/리) + 번지</p>
		                <span>예) 마곡동 774-3,&nbsp;&nbsp;가양 1동 774-3</span>
		                <p class="mt10">지역명(동/리) + 건물명(아파트명)</p>
		                <span>예) 마곡동,&nbsp;&nbsp;센테니아</span>
		                <p class="mt10">사서함명 + 번호</p>
		                <span>예) 서울강서우체국사서함 1~150</span>
	                </div>
	            </div>
	        </div>
	        <div class="contentsFoot">
	        </div>
	    </div><!-- //contentsArea -->
	</body>
</html>