<!--
	시스템구분 : 홈페이지 (콘텐츠 화면 처리 영역)
	파일정보 : infoIntro.html
	파일명 : infoIntro.html
	업무명 : 홈페이지 (콘텐츠 화면 처리 영역)
	생성자 : 변성균
	생성일 : 2023.06.21
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xml:lang="ko">

<script th:inline="javascript">
    /*<![CDATA[*/

    //화면 초기화 처리 호출
    $(document).ready(function () {
     
      	//lnb 세팅함수
		fnPageLnbSet(/*[[${menuInfo}]]*/); //lnb세팅
		
        //게시판 내용
        var contInfo = /*[[${contInfo.brdCont}]]*/;
        $("#content").html(contInfo);
		
		
		//개인정보처리방침
        var infoList = /*[[${infoList}]]*/;
        if(infoList.length != 0){
			$("#infoList").show();
			
			$.each(infoList, function(idx, item){
				console.log(item.brdSubj);
				$("#infoListTbl").append("<a href='javascript:fnInfoDtl("+item.brdSeq+")'>"+item.brdSubj + "</a></br>");
			});
	   }
	   
	   
       //infoListTbl
       
    });
    
    var fnInfoDtl = function(brdSeq){
		
		//var frmPop = document.unitFrm;
	    var url = "/index/selectPrivPolicy.do?brdSeq="+brdSeq; //menuCd=1070727
	    var option = "chrome, centerscreen, dependent=yes, resizable=yes, width=800, height=700, scrollbars=yes";
	    
        //다중팝업열경우
        window.open(url, 'infoPop'+brdSeq, option);
	}
		/*]]>*/
</script>
<div class="main-top sub">
    <ul class="inner">
        <li class="move1"></li>
        <li class="move2"></li>
        <li class="move3"></li>
        <li class="move4"></li>
        <li class="move5"></li>
    </ul>
</div>
<div class="content-wrap">
    <div class="inner">
        <div class="content-box flex-box jc-between">
            <!-- 업무 안내 영역 -->
            <div id="lnb" class="lnb-wrap">
                <h3 class="ko-bold h3-txt"></h3>

            </div>


            <!-- 업무 안내 영역 끝 -->
            <div class="content-main">
                <!-- 경로 영역 시작 -->
                <div th:insert="~{/fragments/subTitle}"></div>
                <!-- 경로 영역 끝 -->
                <section id="content" class="content">
                    <!-- 여기서부터 content -->

                </section>
                
                <!-- 개인정보처리 방침 이력 정보 -->
                <section id="infoList" class="content" style="display:none">
					<div>※ 이전 버전 보기</div>
					<div id="infoListTbl"></div>
                </section>
            </div>
        </div>
    </div>
</div>

</html>