<!--
	파일정보 : invt/invtBillAssUpt.html
	파일명 : assign
	업무명 : 담보배정수정
	생성자 : 윤가영1
	생성일 : 2023-04-17
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			
			var sMembType = ""; //조합원검색구분
			
			//초기화 조회 콜백
			$(document).ready(function(){
				
				//화면 처리
				//동적 첨부파일 생성(동적)
				com.fnFileSet("IV09", "myUpload"); 

				//동적 출자증권정보(보유매수,담보매수,기배정매수 등) 그리기
				invtCom.fnSetinvtbillAssTbl("IV03", "assInvtBillTbl","upt");
					
				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);
				
				//출자담보배정 출자담보정보(공통부), view : 담보배정정보
				fnIbsInvtMortAss(gridOptList[0], "upt"); 
				
				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    //IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });
			    
			    //시트 생성 이후 
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};
			    
				//sheetDiv 원클릭 처리
				//sheet.bind("onAfterClick" , function(obj) { //원클릭
					//rowData = this.getFocusedRow(); //생성된 행 정보 가져오기
					//alert(rowData.id); 
				//});
			});
			
			//검색
			var fnSearch = function(){
				//상세정보 조회
				
			    var ownMembNo = /*[[${paramMap.ownMembNo}]]*/;
			    var orgAssMembNm = /*[[${paramMap.orgAssMembNm}]]*/;
			    var assMembNo = /*[[${paramMap.assMembNo}]]*/;
			    var investNo = /*[[${paramMap.investNo}]]*/;
			    var atthType = /*[[${menuInfo.atthType}]]*/;
			    
			    var param = {ownMembNo : ownMembNo, assMembNo : assMembNo, orgAssMembNm:orgAssMembNm, investNo : investNo, atthType: atthType};
				obj = {url:"/InvtBillAss/selectInvtBillAss.do", param:param, callBack:fnSearchCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			};
			
			//검색콜백
			var fnSearchCallBack = function(resData){
				console.log(resData);
				
				//소유조합원세팅
				//배정가능좌수, 배정가능금액 계산 (수정이므로 해당조합원에대해 배정당시 등록한 좌수는 다시 더해서 수정할 수 있게끔 보여줘야함)
				var assSetNumCalc = Number(resData.membData.mortNum) - Number(resData.membData.assSetNum) + Number(resData.assignData.assignNum) - Number(resData.membData.contrUseNum);
				var assSetAmtCalc = Number(resData.membData.mortAmt) - Number(resData.membData.assSetAmt) + Number(resData.assignData.assignAmt) - Number(resData.membData.contrUseAmt);
				resData.membData.assAvailNum = assSetNumCalc;
				resData.membData.assAvailAmt = assSetAmtCalc;
				
				//전체배정좌수, 금액세팅				
				resData.membData.assTotalAmt = Number(resData.membData.assGetAmt)-Number(resData.membData.assSetAmt);
				resData.membData.assTotalNum = Number(resData.membData.assGetNum)-Number(resData.membData.assSetNum);
				
				//세팅
				invtCom.fnAssSetKeyVal(resData.membData,"own");
				
				//배정조합원세팅
				invtCom.fnAssSetKeyVal(resData.assData,"ass");
				
				//담보배정설정정보
				resData.assignData.assignDt = com.fnDateFormat(resData.assignData.assignDt);
				invtCom.fnAssSetKeyVal(resData.assignData);
								
				//콤마추가 클래스들 세팅
				$.each($(".setCommaCls"), function(idx,item){
					$(item).text($(item).text() === "" ? "0":com.addComma($(item).text()));
					$(item).val($(item).val() === "" ? "0":com.addComma($(item).val()));
					
					//$(item).text(com.addComma($(item).text()));
				});
				
				//첨부파일 
				com.fnIbsUploadViewOne(resData.fileList, "upt");
				
				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_own_membNm").text()}
				com.fnSetTabMembTag(tabObj);
				
				//출자담보정보 조회
				fnSearchDtl();
				
			};
			
			
			//출자증권정보(담보정보) 조회 :: 해당 배정조합원에 배정설정된 증권만  
			var fnSearchDtl = function(){
				var ownMembNo = /*[[${paramMap.ownMembNo}]]*/;
				var assMembNo = /*[[${paramMap.assMembNo}]]*/;
				var assignDt = $("#assignDt").val();
			    
				var param = {membNo : ownMembNo, assMembNo : assMembNo, assignDt: assignDt, billStat: '10'}; //setType : 증권목록전체 + 해제or설정인지 조건
				
				com.fnIbsSearch("/InvtBillAss/selectInvtBillAssSetList.do", param, sheetInvtMortAss, fnSearchDtlCallback ); //param, sheetId 생략 가능
			};
			
			//출자증권정보(담보정보) 콜백
			var fnSearchDtlCallback = function(resData){
				var resData = JSON.parse(resData.data);
				if(resData.resultCode === 9){
					alert(resData.resultMsg);	
				}
				
				parent.$("#ele_loading").css("display","none"); //로딩바
				
				//출자증권정보, 출자담보정보(히든)리스트가져온걸로 세팅
				invtCom.fnSetinvtbillCnt(sheetInvtMortAss, 'upt');
				
				//선택된증권 기배정매수,좌수에서 빼주고 설정매수, 좌수 세팅해주기
				//invtCom.fnSetOriAssignCnt(sheetInvtMortAss);
			};
			
			//저장
			var fnSave = function(saveType){
				
				if($('#assignNum').val()===""){
					alert("담보배정 처리를 위한 증권이 선택되지 않았습니다.");
					$("#assignNum").focus();
					return false;
				} 
				if(Number($('#assignNum').val()) > Number($('#ele_own_assAvailNum').text())){
					alert("배정가능 좌수가 초과되었습니다. \n(배정좌수 : " + $('#assignNum').val() + ", 가능좌수 : " + $('#ele_own_assAvailNum').text() + ")");
					$("#assignNum").focus();
					return false;
				} 		
				
				//필수체크
				var valChks = ["assignDt"];
				 
				if(com.fnValChk(valChks)){
					
					//파일여부
					var fileList = $("#docFile01").IBUpload('fileList');
					if(fileList.length === 0){
						alert("출자금배정서 파일을 첨부하십시오.");
						return;
					}
					
					//첨부파일 첨부한 순서 코드따오기 (물리적저장순서 맞춰야해서 필수)
					com.fnGetModCds("docFile");
					
					if(confirm("담보배정 정보를 수정하시겠습니까??")){
						var param = $("#saveFrm").serializeObject();
						param.AssBillDat = sheetInvtMortAss.getSaveJson();
						
						obj = {url:"/InvtBillAss/updateInvtBillAss.do", jParam:param, callBack:fnSaveCallBack, fileId:"docFile", msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						//obj = {url:"/InvtBillAss/insertInvtBillAss.do", formId:"saveFrm", fileId:"docFile", callBack:fnSaveCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						com.fnAjaxMulti(obj);
	
					}
				}	
			};
			
			//저장콜백
			var fnSaveCallBack = function(resData){
				if(resData.resultCode === 0) {
					parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
					//com.fnDoAfterClose(); 
				}
			};
			
			
			/*]]>*/
		    
		    
            
		</script>
		
		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
			
				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
					<!--오른쪽 업무 버튼-->
					<!--<div class="bizBtns">
						<button type="button" onclick="" class="btn style01">저장</button>
						<button type="button" onclick="" class="btn style02">저장</button>
						<button type="button" onclick="" class="btn style03">저장</button>
						<button type="button" onclick="" class="btn style04">저장</button>
						<button type="button" onclick="" class="btn style07">저장</button>
						<button type="button" onclick="" class="btn style08">저장</button>
					</div>-->
				</div>
			
			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
			<input type="hidden" name="atthType"    id="atthType" th:value="${paramMap.atthType}"/>
			<input type="hidden" name="imgAtthNo"   id="imgAtthNo" />
			<input type="hidden" name="atthNo"      id="atthNo"     th:value="${paramMap.atthType}"/>
			<input type="hidden" name="modFileCds"  id="modFileCds" />
			<input type="hidden" name="investNo"    id="investNo"   th:value="${paramMap.investNo}"/>
			<input type="hidden" name="ownMembNo"   id="ownMembNo"  th:value="${paramMap.ownMembNo}"/>
			<input type="hidden" name="ownMembNm"   id="ownMembNm"  th:value="${paramMap.ownMembNm}"/>
			<input type="hidden" name="assMembNo"   id="assMembNo"  th:value="${paramMap.assMembNo}"/>
			<input type="hidden" name="assMembNm"   id="assMembNm"  th:value="${paramMap.assMembNm}"/>
			<!--조합원 공통검색용-->
			<input type="hidden" name="sMembNo"    id="sMembNo" value=""/> 
			<input type="hidden" name="sMembNm"    id="sMembNm" value=""/>
			<div class="contents flex ">
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:47%">
						<!--소유조합원정보 : s-->
						<div class="wrapBox">
							<section class="area">
								<div class="fl">
									<h4 class="title">소유조합원</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:90px;">
									<col style="width:120px;">
									<col style="width:80px;">
									<col style="width:120px;">
									<col style="width:80px;">
									<col style="">
								</colgroup>
								<tbody>
									<!--<tr>
										<th>소유조합원</th>
										<td colspan="3">
											<input type="search" name="sOwnMembNo" id="sOwnMembNo" style="width:50px;" onkeyup="if(window.event.keyCode===13){com.fnMembInfoMulti('own')}">
											<input type="search" name="sOwnMembNm" id="sOwnMembNm" style="width:150px;" onkeyup="if(window.event.keyCode===13){com.fnMembInfoMulti('own')}">
											<button type="button" class="btn icoSearch" onclick="com.fnMembInfoMulti('own')">검색</button>
										</td>
										<th>대표자</th>
										<td><div id="ele_own_ceoNm"></div></td>
									</tr>-->
									<tr>
										<th>소유조합원</th>
										<td colspan="3"><span id="ele_own_membNo"></span> / <span id="ele_own_membNm"></span></td>
										<th>대표자</th>
										<td><div id="ele_own_ceoNm"></div></td>
									</tr>	
									<tr>
										<th>법인번호</th>
										<td><div id="ele_own_lawNo"></div></td>
										<th>사업자번호</th>
										<td><div id="ele_own_bizNo"></div></td>
										<th>전화번호</th>
										<td><div id="ele_own_telNo"></div></td>
									</tr>
									<tr>
										<th>상태</th>
										<td><div id="ele_own_membStatNm"></div></td>
										<th>주장르</th>
										<td><div id="ele_own_mainBussNm"></div></td>
										<th>소속단체</th>
										<td><div id="ele_own_belong"></div></td>
									</tr>
									<tr>
										<th>주소</th>
										<td colspan="5"><div id="ele_own_addrFull"></div></td>
									</tr>
									<tr>
										<th>출좌좌수</th>
										<td><div id="ele_own_investNum" class="setCommaCls"></div></td>
										<th>담보좌수</th>
										<td><div id="ele_own_mortNum" class="setCommaCls"></div></td>
										<th>배정가능좌수</th>
										<td><div id="ele_own_assAvailNum" class="setCommaCls"></div></td>
									</tr>
									<tr>
										<th>출좌금액</th>
										<td><div id="ele_own_investAmt" class="setCommaCls"></div></td>
										<th>담보금액</th>
										<td><div id="ele_own_mortAmt" class="setCommaCls"></div></td>
										<th>배정가능금액</th>
										<td><div id="ele_own_assAvailAmt" class="setCommaCls"></div></td>
									</tr>
								</tbody>
							</table>
							<div style="font-size: 12px; padding: 10px; background-color: #edf3f8; margin-top:3px;">
								*배정가능좌수 = 담보좌수 - 배정한좌수 - 약정사용좌수 </br>
								*배정가능금액 = 담보금액 - 배정한금액 - 약정사용금액 </br>
							</div>
						</div>
						<!--소유조합원정보 : e-->
						
						<!--기본조합원조회에 출좌관련 데이터 조인해야함 : 공통 fragment에 적용 어떻게할지 고민하기-->
						<!--<th:block th:include="com/comMembSearch::comMemb (소유조합원)"></th:block> 조합원조회 -->
						
						<!--배정조합원정보 : s-->
						<div class="wrapBox mt5">
							<section class="area">
								<div class="fl">
									<h4 class="title">배정조합원정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:90px;">
									<col style="width:120px;">
									<col style="width:80px;">
									<col style="width:120px;">
									<col style="width:80px;">
									<col style="">
								</colgroup>
								<tbody>
									<!--<tr>
										<th>배정조합원</th>
										<td colspan="3">
											<input type="search" name="sAssMembNo" id="sAssMembNo" style="width:50px;" onkeyup="if(window.event.keyCode===13){com.fnMembInfoMulti('ass')}">
											<input type="search" name="sAssMembNm" id="sAssMembNm" style="width:150px;" onkeyup="if(window.event.keyCode===13){com.fnMembInfoMulti('ass')}">
											<button type="button" class="btn icoSearch" onclick="com.fnMembInfoMulti('ass')">검색</button>
										</td>
										<th>대표자</th>
										<td><div id="ele_ass_ceoNm"></div></td>
									</tr>-->
									<tr>
										<th>배정조합원</th>
										<td colspan="3"><span id="ele_ass_membNo"></span> / <span id="ele_ass_membNm"></span></td>
										<th>대표자</th>
										<td><div id="ele_ass_ceoNm"></div></td>
									</tr>	
									<tr>
										<th>법인번호</th>
										<td><div id="ele_ass_lawNo"></div></td>
										<th>사업자번호</th>
										<td><div id="ele_ass_bizNo"></div></td>
										<th>전화번호</th>
										<td><div id="ele_ass_telNo"></div></td>
									</tr>
									<tr>
										<th>상태</th>
										<td><div id="ele_ass_membStatNm"></div></td>
										<th>주장르</th>
										<td><div id="ele_ass_mainBussNm"></div></td>
										<th>소속단체</th>
										<td><div id="ele_ass_belong"></div></td>
									</tr>
									<tr>
										<th>주소</th>
										<td colspan="5"><div id="ele_ass_addrFull"></div></td>
									</tr>
									<tr>
										<th>출좌좌수</th>
										<td><div id="ele_ass_investNum" class="setCommaCls"></div></td>
										<th>출좌금액</th>
										<td colspan="3"><div id="ele_ass_investAmt" class="setCommaCls"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--배정조합원정보 : e-->
						
					</div>
					
					
					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:52%">	
						<!--출자증권정보 : s-->
						<div class="wrapBox">
							<section class="area">
								<div class="fl">
									<h4 class="title">출자증권정보</h4>
								</div>
							</section>
							<table id="assInvtBillTbl" class="tbl">
								<colgroup>
									<col style="width:100px;">
								</colgroup>
								<thead>
									<tr>
										<th class="tac">항목</th>
										<th class="tac">1좌권</th>
										<th class="tac">5좌권</th>
										<th class="tac">10좌권</th>
										<th class="tac">20좌권</th>
										<th class="tac">50좌권</th>
										<th class="tac">100좌권</th>
										<th class="tac">합계매수/좌수</th>
									</tr>
								</thead>
								<tbody>
									<tr>
					                    <th>보유매수/좌수</th>
					                    <td class="tac"><span id="billCnt1"></span> / <span id="billNum1"></span></td>
					                    <td class="tac"><span id="billCnt5"></span> / <span id="billNum5"></span></td>
										<td class="tac"><span id="billCnt10"></span> / <span id="billNum10"></span></td>
										<td class="tac"><span id="billCnt20"></span> / <span id="billNum20"></span></td>
										<td class="tac"><span id="billCnt50"></span> / <span id="billNum50"></span></td>
										<td class="tac"><span id="billCnt100"></span> / <span id="billNum100"></span></td>
					                    <td class="tac"><span id="billTtCnt"></span> / <span id="billTtNum"></span></td>
					                </tr>
					                <tr>
					                    <th>담보매수/좌수</th>
					                    <td class="tac"><span id="mortCnt1"></span> / <span id="mortNum1"></span></td>
					                    <td class="tac"><span id="mortCnt5"></span> / <span id="mortNum5"></span></td>
										<td class="tac"><span id="mortCnt10"></span> / <span id="mortNum10"></span></td>
										<td class="tac"><span id="mortCnt20"></span> / <span id="mortNum20"></span></td>
										<td class="tac"><span id="mortCnt50"></span> / <span id="mortNum50"></span></td>
										<td class="tac"><span id="mortCnt100"></span> / <span id="mortNum100"></span></td>
					                    <td class="tac"><span id="mortTtCnt"></span> / <span id="mortTtNum"></span></td>
					                </tr>
					                <tr>
					                    <th>기배정매수/좌수</th>
					                    <td class="tac"><span id="assCnt1"></span> / <span id="assNum1"></span></td>
					                    <td class="tac"><span id="assCnt5"></span> / <span id="assNum5"></span></td>
										<td class="tac"><span id="assCnt10"></span> / <span id="assNum10"></span></td>
										<td class="tac"><span id="assCnt20"></span> / <span id="assNum20"></span></td>
										<td class="tac"><span id="assCnt50"></span> / <span id="assNum50"></span></td>
										<td class="tac"><span id="assCnt100"></span> / <span id="assNum100"></span></td>
					                    <td class="tac"><span id="assTtCnt"></span> / <span id="assTtNum"></span></td>
					                </tr>
					                <tr>
					                    <th>잔여매수/좌수</th>
					                    <td class="tac"><span id="resCnt1"></span> / <span id="resNum1"></span></td>
					                    <td class="tac"><span id="resCnt5"></span> / <span id="resNum5"></span></td>
										<td class="tac"><span id="resCnt10"></span> / <span id="resNum10"></span></td>
										<td class="tac"><span id="resCnt20"></span> / <span id="resNum20"></span></td>
										<td class="tac"><span id="resCnt50"></span> / <span id="resNum50"></span></td>
										<td class="tac"><span id="resCnt100"></span> / <span id="resNum100"></span></td>
					                    <td class="tac"><span id="resTtCnt"></span> / <span id="resTtNum"></span></td>
					                </tr>
								</tbody>
								<tfoot>
									<th>설정매수/좌수</th>
									<td class="tac">
										<input type="search" name="setCnt1"   id="setCnt1"   onkeyup="com.fnOnlyNum(this);invtCom.fnSetAssignCnt(sheetInvtMortAss,'upt');" style="width:40px"/> / <input type="text" name="setNum1"   id="setNum1" style="width:28px" readonly/>
									</td>
									<td class="tac">
										<input type="search" name="setCnt5"   id="setCnt5"   onkeyup="com.fnOnlyNum(this);invtCom.fnSetAssignCnt(sheetInvtMortAss,'upt');" style="width:40px"/> / <input type="text" name="setNum5"   id="setNum5" style="width:28px" readonly/>
									</td>
									<td class="tac">
										<input type="search" name="setCnt10"  id="setCnt10"  onkeyup="com.fnOnlyNum(this);invtCom.fnSetAssignCnt(sheetInvtMortAss,'upt');" style="width:40px"/> / <input type="text" name="setNum10"  id="setNum10" style="width:28px" readonly/>
									</td>
									<td class="tac">
										<input type="search" name="setCnt20"  id="setCnt20"  onkeyup="com.fnOnlyNum(this);invtCom.fnSetAssignCnt(sheetInvtMortAss,'upt');" style="width:40px"/> / <input type="text" name="setNum20"  id="setNum20" style="width:28px" readonly/>
									</td>
									<td class="tac">
										<input type="search" name="setCnt50"  id="setCnt50"  onkeyup="com.fnOnlyNum(this);invtCom.fnSetAssignCnt(sheetInvtMortAss,'upt');" style="width:40px"/> / <input type="text" name="setNum50"  id="setNum50" style="width:28px" readonly/>
									</td>
									<td class="tac">
										<input type="search" name="setCnt100" id="setCnt100" onkeyup="com.fnOnlyNum(this);invtCom.fnSetAssignCnt(sheetInvtMortAss,'upt');" style="width:40px"/> / <input type="text" name="setNum100" id="setNum100" style="width:28px" readonly/>
									</td>
									<td class="tac">
									<input type="text" name="setTtCnt" id="setTtCnt" style="width:40px" readonly/><span class="text">/</span><input type="text" name="setTtNum" id="setTtNum" style="width:28px" readonly/></td>
								</tfoot>
							</table>
							
						</div><!-- //wrapbox-->
						<!--출자증권정보 : e-->
						
						<!--출자증권담보설정목록 : s-->
						<div style="display: none;">
							<div class="mt10">담보배정등록에서 출자담보정보 그리드는 hidden값 입니다. 업무테스트를 위해, 잠시 show해놓은 상태입니다</div>
							<th:block th:include="com/comInvtMortAss"></th:block> <!-- 출자담보정보(공통) -->
						</div>
						<!-- //wrapbox-->
						
						<!--담보배정설정정보 : s-->
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담보배정설정정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
								</colgroup>
								<tbody>
									<tr>
										<th>배정일자</th>
										<td colspan="5">
											<input type="search" name="assignDt" id="assignDt" title="배정일자" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:120px" maxlength="10"/>
											<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'assignDt', 'yyyy-mm-dd')" />
										</td>
									</tr>
									<tr>
										<th>담보배정좌수</th>
										<td colspan="2"><input type="search" id="assignNum" name="assignNum" class="setCommaCls" style="width:100%" title="담보배정좌수" readonly></td>
										<th>담보배정금액</th>
										<td colspan="4">
											<input type="search" id="assignAmt" name="assignAmt" class="setCommaCls" style="width:100%" title="담보배정금액" readonly>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!-- //wrapbox-->
						<!--담보배정설정정보 : e-->
						<div class="wrapBox">
							<section class="area mt25">
								<div class="fl">
									<h4 class="title">심사서류정보<span style="font-size: 11px; color: #ff6600">(첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></h4>
								</div>
							</section>
							<table class="tbl" id="myUpload"></table>
						</div>
					</div>
					<!-- 그리드 우측 부분 끝 -->
						
					<!-- END 컨텐츠 영역 -->
				</div>
				<div class="layer-flex mt50">
					<!-- 처리 버튼 영역 -->
					<div class="" style="width:100%">	
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">수정</button>
							</div>
						</section>
					</div>
					<!-- 처리 버튼 영역 끝-->
						
				</div>
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
