<!--
	파일정보 : invtDeptList.html
	파일명 : invtDept현황
	업무명 : 예수금 현황 현황 조회, 등록, 수정
	생성자 : 박재만
	생성일 : 2023-06-08
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "IV06", gridNoList : "20204:20205"}

			var rowData = {}; //선택된 행

			//초기화 조회 콜백
			$(document).ready(function(){
				//코드값 처리
				com.fnCodeSelectBox("IV12", "sInvtProcStat", 2, ""); //전체

				//통계조회
				//fnSearchDeptSum();

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//그리드 푸터에 합계 옵션추가
				$.each(gridOptList[0].Cols, function(idx, item){
					if(item.Name === "depositAmt" || item.Name === "refundAmt" || item.Name === "totalDepositAmt"){
						item.FormulaRow = "Sum"
					}
					if(item.Name === "membNo"){
						item.FormulaRow = "합계"
					}
				});

				$.each(gridOptList[1].Cols, function(idx, item){

					//입출금계좌 (조합원계좌)
					var getEnum = com.fnBankIbSelectBox();
					if(item.Name === "payBank"){
						item.Enum = getEnum.enumNm;
						item.EnumKeys = getEnum.enumKeys;
					}

				});

				//초기데이터설정(출자증권정보에서 최종조합원이 클릭한 조합원과 다를경우 backgroundColor변경)
				gridOptList[1].Def = {
						Row:{CanFormula: 1
						, CalcOrder: "Color"
						, ColorFormula: function (param) {
				          if (param.Row["delYn"] === "Y") { //발행되었던 과거의 증권(현재 다른조합원쪽으로 이동된 증권)
				               return "#FFFFDD";
				          }
				       }
			       }
		       }

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });
			    IBSheet.create({ id: "sheetPay", el: "sheetDivPay", options: gridOptList[1] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

			    /////////////////////sheet 이벤트 시작 /////////////////////////////////

				//sheetDiv 원클릭 처리
				sheet.bind("onAfterClick" , function(obj) { //원클릭
					if(obj.kind === "Filter" || obj.kind === "Header") return;
					sheetPay.removeAll();//마스터 값이 없을 경우
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기

					//$("#serchFrm #depositNo").val(rowData.depositNo);
					$("#serchFrm #membNo").val(rowData.membNo);

					if(String(rowData.depositNo) !== ""){
						fnSearchDtl(); //조회 호출
					};

					//상세화면 호출 - 조합원명원클릭시
<!--					if(obj.col === "membNm"){-->
<!--						fnView("V");-->
<!--					}; -->

				});

				//sheetDiv 더블클릭 처리
				sheet.bind("onDblClick", function(obj){ //더블클릭
					if(obj.kind === "Filter") return;
					fnView("V");
				});
				
				//sheetDiv 더블클릭 처리
				sheet.bind("onSearchFinish", function(obj){ //더블클릭
					//통계
					formulRow = sheet.getRowById("FormulaRow");
					
					$("#ele_membCnt").text(sheet.getTotalRowCount());
					$("#ele_depositAmt").text(com.addComma(formulRow.depositAmt));
					$("#ele_completedAmt").text(com.addComma(formulRow.totalDepositAmt));
					
					
				});



				sheetPay.bind("onDataLoad" , function(obj) { //원클릭
				 	//console.log(obj);
				 	var rows = sheetPay.getDataRows();
				 	for(var i=0; i<rows.length; i++){
						var payType = rows[i].payType;
						var payBankCd = rows[i].payBankCd;
						var payAcct = rows[i].payAcct;
						var setPayBank = payBankCd + "," + payAcct
						sheetPay.setValue(rows[i], "payBank", setPayBank);
						/*필수*/
						//처음 불러온 데이터는 입출금조합계좌 세팅으로 인핸 changed 상태값을 변경 : 무효화
						rows[i].Changed = 0;
					}
					
					
				});

				/////////////////////sheet 이벤트 시작 /////////////////////////////////
			});

			//현황 조회
			var fnSearch = function(){

				$("#serchFrm #depositNo").val("");
				$("#serchFrm #membNo").val("");

				sheetPay.removeAll();//마스터 값이 없을 경우

				//그리드조회
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/invtDept/selectInvtDeptList.do", param, sheet); //param, sheetId 생략 가능

				//통계조회
				//fnSearchDeptSum();
			};

			//예수금변경이력 조회
			var fnSearchDtl = function(){
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/invtDept/selectInvtDeptPayList.do", param, sheetPay); //param, sheetId 생략 가능
			};

			//통계조회
			var fnSearchDeptSum = function(){
				var param = $("#serchFrm").serializeObject();
				//var param = {sMembNo: $("#sMembNo").val(), sMembNm: $("#sMembNm").val()};
				var obj = {url:"/invtDept/selectDepositSum.do", param:param, callBack:fnSearchDeptSumCallback, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			}

			//현황조회 콜백, 통계적용
			var fnSearchDeptSumCallback = function(resData){

				parent.$("#ele_loading").css("display","none"); //로딩바

				if(resData)
				console.log(resData);
				com.fnSetKeyVal(resData.total);
				//출자증권정보, 출자담보정보(히든)리스트가져온걸로 세팅
				//invtCom.fnSetinvtbillCnt(sheetInvtMortAss);

				//콤마추가 클래스들 세팅
				$.each($(".setCommaCls"), function(idx,item){
					$(item).text($(item).text() === "" ? "0":com.addComma($(item).text()));
				});
			};

			//화면 호출(등록, 수정, 상세)
			var fnView = function(type){
				rowData = sheet.getFocusedRow(); //생성된 행 정보 가져오기
				if(type !== "I") {
					if(com.fnIsEmpty(rowData)) {
						alert('목록이 선택되지 않았습니다.');
						return false;
					}

					//if($("#serchFrm #investNo").val() === ""){
						//alert('목록이 선택되지 않았습니다.');
						//return false;
					//} ;
				}

				//if(type === "I") menuCd = "1020108";
				if(type === "U") menuCd = "1020121";
				if(type === "V") menuCd = "1020123";
				param = {menuCd:menuCd, paramMap:{membNo:rowData.membNo, atthType:/*[[${menuInfo.atthType}]]*/ } };
				parent.menuOpen(param);
			};

			//등록 화면 호출
			var fnIns = function(){
				menuNm = /*[[${menuInfo.menuNm}]]*/;
				param = {menuCd:1020122, title:menuNm+"등록", paramMap:{menuNm:menuNm, atthType:/*[[${menuInfo.atthType}]]*/}};
				parent.menuOpen(param);
			};

			//엑셀 다운로드
			var fnExcel = function(){
				com.fnExcelToJs(sheet, gridOptList[0].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/); //초기화 호출
			};

			//삭제처리
			var fnDeleteInvtDept = function(){
				if($('#membNo').val()===""){
					alert("목록이 선택되지 않았습니다.");
					return false;
				}


				if(confirm("삭제 처리 하시겠습니까?")){
					obj = {url:"/invtDept/deleteInvtDept.do", param:{membNo: $("#membNo").val(), atthNo: rowData.atthNo, atthType:/*[[${menuInfo.atthType}]]*/}, callBack:fnDeleteInvtDeptCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
					com.fnAjaxDef(obj);
				}

			}

			//삭제콜백
			var fnDeleteInvtDeptCallBack = function(){
				$("#serchFrm #membNo").val(""); //재조회시 클리어 먼저
				$("#serchFrm #depositNo").val("");
				fnSearch();
			}

			//검색 초기화
			var fnReset = function(){
				com.fnSerchInit("#serchFrm");
				$("#sInvtEndDt").val(com.fnDateGet(/*[[${today}]]*/,0)); //
				fnSearch();
			};

		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>

				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>

					<!--오른쪽 업무 버튼-->
					<!--<div class="bizBtns">
						<button type="button" onclick="" class="btn style01">저장</button>
						<button type="button" onclick="" class="btn style02">저장</button>
						<button type="button" onclick="" class="btn style03">저장</button>
						<button type="button" onclick="" class="btn style04">저장</button>
						<button type="button" onclick="" class="btn style07">저장</button>
						<button type="button" onclick="" class="btn style08">저장</button>
					</div>-->
				</div>
			</div><!-- //contentsTop -->

			<div class="contents flex">
				<!-- 검색 부분 -->
				<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<input type="hidden" name="depositNo" id="depositNo" value=""/>
				<input type="hidden" name="membNo" id="membNo" value=""/>
				<section class="searchArea mt10">
					<div class="row">
						<dl>
							<dt>조합원명</dt>
							<dd style="width:250px;">
								<input type="search" name="sMembNo" id="sMembNo" style="width:60px;" maxlength="4" onkeyup="com.fnOnlyNum(this);">
								<input type="search" name="sMembNm" id="sMembNm" style="width:150px;" maxlength="40">
								<button type="button" class="btn icoSearch" onclick="com.fnMembInfo()">검색</button>
							</dd>
							<dt>기준일자</dt>
							<dd style="width:140px;">
	                        	<input type="text" name="sSerchDt" id="sSerchDt" title="기준일" maxlength="10" style="width:100px" th:value="${today}" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);fnSearch()" autocomplete="off"/>
	                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sSerchDt', 'yyyy-mm-dd','sSerchEndDt', 1)" />
	                     	</dd>
	                     	
							<dt>처리상태</dt>
							<dd style="width:140px;">
								<select name="sInvtProcStat" id="sInvtProcStat" style="width:120px;"></select>
							</dd>
							<!--<dt>예수일자</dt>
							<dd style="width:240px;">
								<input type="text" name="sInvtStaDt" id="sInvtStaDt" title="시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sInvtStaDt','sInvtEndDt','F');"/>
								<input type="text" name="sInvtEndDt" id="sInvtEndDt" title="종료일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sInvtStaDt','sInvtEndDt','T');"/>
								<span class="text"><img src="../images/icon_calendar.png" alt="달력" title="달력" id="btn_invtDt"/></span>
								<div id="ele_invtDt" class="ele_dt"></div>
							</dd>
							<dt>처리상태</dt>
							<dd style="width:140px;">
								<select name="sInvtProcStat" id="sInvtProcStat" style="width:120px;"></select>
							</dd>-->
						</dl>
					</div><!-- //row -->

					<div class="searchBtn">
						<button type="button" onclick="javascript:fnSearch();" class="btn search">조회</button>
						<button type="button" onclick="javascript:fnReset();" class="btn reset">초기화</button>
					</div>
				</section>
				</form>

				<!--통계요약 시작-->
				<div class="statSummary">
					<ul>
						<li>
							<strong>회원건수 : </strong>
							<span id="ele_membCnt" class="setCommaCls"></span><em>건</em>
						</li>
						<li>
							<strong>예수금액합 : </strong>
							<span id="ele_depositAmt" class="setCommaCls"></span><em>건</em>
						</li>
						<li>
							<strong>예수금잔액 : </strong>
							<span id="ele_completedAmt" class="setCommaCls"></span><em>건</em>
						</li>
					</ul>
				</div>
				<!--통계요약 끝-->

				<!-- 검색 부분 끝 -->
				<div class="layer-flex collapseArea mt20">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:48%">
						<!-- 그리드 상단 부분 -->
						<section class="area">
							<div class="fr">
								<button type="button" onclick="javascript:fnIns('I');" class="btn style08">등록</button>
								<button type="button" onclick="javascript:fnView('U');" class="btn style08">수정</button>
								<button type="button" onclick="javascript:fnView('V');" class="btn style08">상세</button>
								<button type="button" onclick="javascript:fnExcel();" class="btn style04">엑셀</button>
							</div>
						</section>
						<!-- 그리드 상단 부분 끝 -->
						<div class="mt10">
					    	<div id="sheetDiv" style="width:100%;height:500px"></div>
						</div>
					</div>
					<!-- 그리드 좌측 부분 끝 -->

					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:51%">
						<!-- 그리드 상단 부분 -->
						<section class="area">
							<div class="fl">
								<h4 class="title">예수금입출금 이력내역</h4>
							</div>
						</section>
						<!--출자증권정보 리스트 :s-->
						<div class="mt10">
					    	<div id="sheetDivPay" style="width:100%;height:500px"></div>
						</div>
						<!--출자증권정보 리스트 :e-->
						<!-- 그리드 상단 부분 끝 -->
					</div>

					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
		</div><!-- //contentsArea -->
	</body>
</html>
