<!--
	파일정보 : invt/invtBillAssCanDtl.html
	파일명 : assign
	업무명 : 담보배정해제상세(설정정보)
	생성자 : 윤가영1
	생성일 : 2023-04-17
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션

			var sMembType = ""; //조합원검색구분
			var vMembType = ""; //조합원결과상세구분

			//초기화 조회 콜백
			$(document).ready(function(){


				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//출자담보배정 출자담보정보(공통부), canView : 담보배정해제정보
				fnIbsInvtMortAss(gridOptList[0], "canView");

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    //IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

			});

			//검색
			var fnSearch = function(){
				//상세정보 조회

			    var ownMembNo = /*[[${paramMap.ownMembNo}]]*/;
			    var orgAssMembNm = /*[[${paramMap.orgAssMembNm}]]*/;
			    var assMembNo = /*[[${paramMap.assMembNo}]]*/;
			    var investNo = /*[[${paramMap.investNo}]]*/;
			    var atthType = /*[[${menuInfo.atthType}]]*/;

			    var param = {ownMembNo : ownMembNo, assMembNo : assMembNo, orgAssMembNm:orgAssMembNm, investNo : investNo, atthType: atthType};
				obj = {url:"/InvtBillAss/selectInvtBillAss.do", param:param, callBack:fnSearchCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			};

			//검색콜백
			var fnSearchCallBack = function(resData){
				console.log(resData);

				//소유조합원세팅
				invtCom.fnAssSetKeyVal(resData.membData,"own");
				invtCom.fnAssSetKeyVal(resData.assignData,"own"); //담보해제가능좌수, 금액 소유조합원쪽에도 세팅

				//배정조합원세팅
				invtCom.fnAssSetKeyVal(resData.assData,"ass");

				//담보배정해제정보
				resData.assignData.assignDt = com.fnDateFormat(resData.assignData.assignDt);
				invtCom.fnAssSetKeyVal(resData.assignData);

				//콤마추가 클래스들 세팅
				$.each($(".setCommaCls"), function(idx,item){
					$(item).text($(item).text() === "" ? "0":com.aprojomma($(item).text()));
				});

				//첨부파일
				//com.fnIbsUploadViewOne(resData.fileList);

				//시트값 설정
				sheetInvtMortAss.loadSearchData(resData.assignList);

				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_own_membNm").text()}
				com.fnSetTabMembTag(tabObj);

			};

			//수정
			var fnUpt = function(type){

				//담보해제 혹은 설정 상세 구분
				if(type === "U") menuCd = "1020120" //수정 (담보배정해제설정)

				param = {menuCd:menuCd, paramMap:{
										ownMembNo: /*[[${paramMap.ownMembNo}]]*/
										, ownMembNm: /*[[${paramMap.ownMembNm}]]*/
										, assMembNo: /*[[${paramMap.assMembNo}]]*/
										, assMembNm: /*[[${paramMap.assMembNm}]]*/
										, orgAssMembNm: /*[[${paramMap.orgAssMembNm}]]*/
										, investNo: /*[[${paramMap.investNo}]]*/
										, atthType:/*[[${menuInfo.atthType}]]*/
									}
				};
				parent.menuOpen(param);
				parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
			};

			/*]]>*/



		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>

				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>

			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">

			<div class="contents flex">

				<div class="layer-flex collapseArea mt10">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						<!--소유조합원정보 : s-->
						<div class="wrapBox">
							<section class="area">
								<div class="fl">
									<h4 class="title">소유조합원</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:90px;">
									<col style="width:140px;">
									<col style="width:80px;">
									<col style="width:140px;">
									<col style="width:80px;">
									<col style="">
								</colgroup>
								<tbody>
									<tr>
										<th>소유조합원</th>
										<td colspan="3"><span id="ele_own_membNo"></span> / <span id="ele_own_membNm"></span></td>
										<th>대표자</th>
										<td><div id="ele_own_ceoNm"></div></td>
									</tr>
									<tr>
										<th>법인번호</th>
										<td><div id="ele_own_lawNo"></div></td>
										<th>사업자번호</th>
										<td><div id="ele_own_bizNo"></div></td>
										<th>전화번호</th>
										<td><div id="ele_own_telNo"></div></td>
									</tr>
									<tr>
										<th>상태</th>
										<td><div id="ele_own_membStatNm"></div></td>
										<th>주장르</th>
										<td><div id="ele_own_mainBussNm"></div></td>
										<th>소속단체</th>
										<td><div id="ele_own_belong"></div></td>
									</tr>
									<tr>
										<th>주소</th>
										<td colspan="5"><div id="ele_own_addrFull"></div></td>
									</tr>
									<tr>
										<th>출자좌수</th>
										<td><div id="ele_own_investNum" class="setCommaCls"></div></td>
										<th>담보좌수</th>
										<td><div id="ele_own_mortNum" class="setCommaCls"></div></td>
										<th>배정해제전 해제가능좌수</th>
										<td><div id="ele_own_assignNum" class="setCommaCls"></div></td>
									</tr>
									<tr>
										<th>출자금액</th>
										<td><div id="ele_own_investAmt" class="setCommaCls"></div></td>
										<th>담보금액</th>
										<td><div id="ele_own_mortAmt" class="setCommaCls"></div></td>
										<th>배정해제전 해제가능금액</th>
										<td><div id="ele_own_assignAmt" class="setCommaCls"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--소유조합원정보 : e-->

						<!--담보배정설정정보 : s-->
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담보배정해제정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:90px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
								</colgroup>
								<tbody>
									<tr>
										<th>배정해제일자</th>
										<td colspan="5">
											<div id="ele_assignDt"></div>
											<!--<input type="search" name="" id="today" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:120px"/>-->
										</td>
									</tr>
									<tr>
										<th>배정해제좌수</th>
										<td colspan="3"><div id="ele_assignNum" class="setCommaCls"></div></td>
										<th>배정해제금액</th>
										<td colspan="3"><div id="ele_assignAmt" class="setCommaCls"></div></td>
									</tr>
								</tbody>
							</table>
						</div><!-- //wrapbox-->
						<!--담보배정설정정보 : e-->

					</div>

					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:49%">
						<!--출자증권정보 : s-->
						<!--<div class="wrapBox">
							<section class="area">
								<div class="fl">
									<h4 class="title">출자증권정보</h4>
								</div>
							</section>
							<div class="">
						    	<div id="sheetDiv" style="width:100%;height:250px"></div>
							</div>
						</div>-->
						<!--출자증권담보설정목록 : s-->
						<th:block th:include="com/comInvtMortAss"></th:block> <!-- 출자담보정보(공통) -->
						<!-- //wrapbox-->
						<!--출자증권정보 : e-->

					</div>
					<!-- 그리드 우측 부분 끝 -->

					<!-- END 컨텐츠 영역 -->
				</div>
				<!-- 처리 버튼 영역 -->
				<div class="area mt50" style="width:100%">
					<section class="area">
						<div class="fc">
							<button type="button" onclick="javascript:fnUpt('U');" id="btn_upt" class="btn style08" >수정</button>
							<button type="button" th:onclick="javascript:parent.closeMenu([[${menuInfo.menuIdx}]], [[${menuInfo.refMenuIdx}]])" class="btn style06" >닫기</button>
						</div>
					</section>
				</div>
				<!-- 처리 버튼 영역 끝-->
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
