<!--
	파일정보 : invt/invtSpltDtl.html
	파일명 : invtSpltDtl
	업무명 : 출자증권분할 상세
	생성자 : 윤가영1
	생성일 : 2023-07-31
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			
			var sMembType = ""; //조합원검색구분
			var vMembType = ""; //조합원결과상세구분
			
			//초기화 조회 콜백
			$(document).ready(function(){
				
				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);
				
				//분할병합공통그리드
				fnIbsInvtTrans(gridOptList[0], "uptSplt"); 
				
				//줄자증권발행정보 설정
				invtCom.fnSetinvtStock("IV03", "billTypeTbl") 
				
				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    //IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });
			    
			    //시트 생성 이후 
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};
			    
				//sheetDiv 원클릭 처리
				//sheetInvtMortAss.bind("onDataLoad" , function(obj) { //원클릭
				//});
			});
			
			//검색
			var fnSearch = function(){
				//상세정보 조회
				
			    var sepmerSeq = /*[[${paramMap.sepmerSeq}]]*/;
			    var investNo = /*[[${paramMap.investNo}]]*/;
			    var membNo = /*[[${paramMap.membNo}]]*/;
			    var sepmerCd = /*[[${paramMap.sepmerCd}]]*/;
			    var befBillNo = /*[[${paramMap.befBillNo}]]*/;
			    var aftBillNo = /*[[${paramMap.aftBillNo}]]*/;
			    
			    
			    var param = {sepmerSeq : sepmerSeq, investNo : investNo, membNo : membNo, mode : "upt" };
				obj = {url:"/invtSpltMerg/selectInvtSpltDtl.do", param:param, callBack:fnSearchCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			};
			
			//검색콜백
			var fnSearchCallBack = function(resData){
				console.log(resData);
				//출자증권분할정보, 출자증권병합정보 공통조회
				resData.invtSpltData.sepmerDt = com.fnDateFormat(resData.invtSpltData.sepmerDt);
				resData.invtSpltData.sepmerNum = resData.invtSpltData.befBillType; //분할선택좌수(이전-등록당시)
				resData.invtSpltData.sepmerAmt = resData.invtSpltData.befAmt; //분할선택금액(이전-등록당시)
				com.fnSetKeyVal(resData.invtSpltData);

				//조합원정보
				com.fnSetKeyVal(resData.membData);
								
				//콤마추가 클래스들 세팅
				$.each($(".setCommaCls"), function(idx,item){
					$(item).text($(item).text() === "" ? "0":com.addComma($(item).text()));
					$(item).val($(item).val()   === "" ? "0":com.addComma($(item).val()));
				});
				
				//액면가조회
				invtCom.selectFaceDeal('sepmer');
				
				//시트값 설정
				sheetInvtTrans.loadSearchData(resData.billList);
				
				//권종리스트(세팅해야할권종)
				const typeObj = {};
				$.each(resData.invtSpltDataList, function(idx, item){
					 var typeNum = item.aftBillType;
					 var cntKey = "billCnt"+typeNum;
					
					if (typeObj.hasOwnProperty(cntKey)){
						typeObj[cntKey] = typeObj[cntKey]+1;
					}else {
						typeObj[cntKey] = 1;
					}
					
					com.fnSetKeyVal(typeObj);
					invtCom.calcByBillNum(typeNum);
					
				});
				
				//메뉴탭 조합원명세팅
				let tabObj = {target: $("#ele_membNm").text()}
				com.fnSetTabMembTag(tabObj);
				
			};
			
			//저장
			var fnSave = function(saveType){
				
				//저장 vs 저장후 계속등록
				var msg = "";
				msg = "출자증권 분할 정보를 등록하시겠습니까?";
				
				//필수체크
				if($('#ele_ceoNm').text()===""){
					alert("조합원을 선택해 주십시오.");
					$("#ele_ceoNm").focus();
					return false;
				}
				
				if($('#sepmerDt').val()===""){
					alert("분할일자를 입력해 주십시오.");
					$("#sepmerDt").focus();
					return false;
				}		
				
				if($('#sepmerNum').val()==="" || $('#sepmerNum').val() === 0){
					alert("분할처리를 위한 증권이 선택되지 않았습니다.");
					$("#sepmerNum").focus();
					return false;
				} 
				
				if($('#sumBillCnt').val()==="" || $('#sumBillCnt').val() === 0){
					alert("증권 분할 정보가 입력되지 않았습니다.");
					return false;
				} 
				
				if(com.rmComma($("#sumBillCnt").val()) !== com.rmComma($("#sepmerNum").val())) {
			            alert("분할할 출자증권의 좌수(금액)와 분할 정보가 일치하지 않습니다.\n분할 정보를 확인하여 주십시오.");
			            $("#sepmerNum").focus();
			            return false;
			        }
				
				//필수체크
				var valChks = ["sepmerDt"];
				
				if(com.fnValChk(valChks)){
					
					if(confirm(msg)){
						var param = $("#saveFrm").serializeObject();
						param.spltBillData = sheetInvtTrans.getSaveJson();
						
						obj = {url:"/invtSpltMerg/updateInvtSplt.do", jParam:param, callBack:fnSaveCallBack, fileId:"docFile", msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						//var param = { paramData: $("#saveFrm").serializeObject(), AssBillData: sheetInvtMortAss.getSaveJson()};
						//console.log(param);
						
						//obj = {url:"/InvtBillAss/insertInvtBillAss.do", formId:"saveFrm", fileId:"docFile", callBack:fnSaveCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						com.fnAjaxMulti(obj);
	
					}
				}	
			};
			
			//저장콜백
			var fnSaveCallBack = function(resData){
				if(resData.resultCode === 0) {
					parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
					//com.fnDoAfterClose(); 
				}
			};
			
			//저장콜백(저장후계속등록)
			var fnSaveKeepCallBack = function(resData){
				if(resData.resultCode === 0) {
					$("#saveFrm").find('input, select, button').prop('disabled', true);
					//parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
					param = {menuCd:"1020113", paramMap:{atthType:/*[[${menuInfo.atthType}]]*/}}
					parent.menuOpen(param);
				}
			};
			
			//달력 날짜선택시 액면가 호출
			var fnGetFaceDeal = function(){
				invtCom.selectFaceDeal('sepmer');
			}
			
			/*]]>*/
		    
		    
            
		</script>
		
		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
				
				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
					<!--오른쪽 업무 버튼-->
					<!--<div class="bizBtns">
						<button type="button" onclick="" class="btn style01">저장</button>
						<button type="button" onclick="" class="btn style02">저장</button>
						<button type="button" onclick="" class="btn style03">저장</button>
						<button type="button" onclick="" class="btn style04">저장</button>
						<button type="button" onclick="" class="btn style07">저장</button>
						<button type="button" onclick="" class="btn style08">저장</button>
					</div>-->
				</div>
				
			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
			<input type="hidden" name="imgAtthNo"  id="imgAtthNo" />
			<input type="hidden" name="atthNo"     id="atthNo"/>
			<input type="hidden" name="modFileCds" id="modFileCds" />
			<input type="hidden" name="investNo"   id="investNo" value=""/>
			<input type="hidden" name="faceAmt"    id="faceAmt" />
    		<input type="hidden" name="dealAmt"    id="dealAmt" />
    		<input type="hidden" name="befBillNo"  id="befBillNo">
			<div class="contents flex">
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						
						<!--조합원정보 : s-->
						<div class="wrapBox mb5">
							<th:block th:include="com/comMemb :: type('invtSpltMerg')"></th:block> <!--조합원조회 -->
						</div>
						<!--조합원정보 : e-->
						
						<!--출자증권목록 : s-->
						<!--출자증권담보설정목록 : s-->
						<th:block th:include="com/comInvtTrans :: type1('출자증권목록')"></th:block> <!-- 줄자증권목록 -->
						<div style="font-size: 11px;">- 1좌권은 분할불가, 그리드는 1좌권이 제외된 데이터만 보여집니다.</div>
						<!-- //wrapbox-->
						<!--출자증권목록 : e-->
					</div>
					
					
					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:49%">	
						<!--증권분할정보 : s-->
						<div class="wrapBox">
							<section class="area">
								<div class="fl">
									<h4 class="title">증권분할정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup> 
									<col style="width:90px;">
									<col style="width:140px;">
									<col style="width:90px;">
									<col style="width:140px;">
									<col style="width:90px;">
									<col style="width:140px;">
								</colgroup>
								<tbody>
									<tr>
										<th>분할일자</th>
										<td colspan="5">
											<input type="search" name="sepmerDt" id="sepmerDt" title="분할일자" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:120px" maxlength="10"/>
											<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sepmerDt', 'yyyy-mm-dd','','',fnGetFaceDeal)" />
										</td>
									</tr>
									<tr>
										<th>분할선택좌수</th>
										<td colspan="2"><input type="search" id="sepmerNum" name="sepmerNum" class="setCommaCls"  style="width:100%" title="분할선택좌수" readonly></td>
										<th>분할선택금액</th>
										<td colspan="4">
											<input type="search" id="sepmerAmt" name="sepmerAmt" class="setCommaCls" style="width:100%" title="분할선택금액" readonly>
										</td>
									<tr>
								</tbody>
							</table>
							
							<!--분할정보 계산 테이블-->
							<table id="billTypeTbl" class="tbl mt10">
								<colgroup>
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
								</colgroup>
								<thead>
									<tr>
										<th scope="col" class="alignC">권종</th>
										<th scope="col" class="alignC">액면가</th>
										<th scope="col" class="alignC">매수</th>
										<th scope="col" class="alignC">금액</th>
										<th scope="col" class="alignC">비고</th>
									</tr>
								</thead>
								<tbody>
									
							</table>
							
						</div><!-- //wrapbox-->
					</div>
					<!-- 그리드 우측 부분 끝 -->
						
					<!-- END 컨텐츠 영역 -->
				</div>
				<div class="layer-flex mt50">
					<!-- 처리 버튼 영역 -->
					<div class="" style="width:100%">	
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">수정</button>
							</div>
						</section>
					</div>
					<!-- 처리 버튼 영역 끝-->
				</div>
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
