<!--
	파일정보 : invt/invtTakeList.html
	파일명 : invtTakeList
	업무명 : 출자증권지분취득현황
	생성자 : 윤가영1
	생성일 : 2023-07-18
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>

		<th:block th:layout="comjs">
			<script th:src="@{/js/invtCom.js}"></script>
		</th:block>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "", gridNoList : "20203"}

			var rowData = {}; //선택된 행

			//초기화 조회 콜백
			$(document).ready(function(){
				//초기화

				$("#sTakeStaDt, #sTakeEndDt").val("");

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};


				/////////////////////sheet 이벤트 시작 /////////////////////////////////

				//sheetDiv 원클릭 처리
				sheet.bind("onAfterClick" , function(obj) { //원클릭
					if(obj.kind === "Filter" || obj.kind === "Header") return;
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기

					$("#serchFrm #investNo").val(rowData.investNo);
					$("#serchFrm #transSeq").val(rowData.transSeq);
					$("#serchFrm #transMembNo").val(rowData.transMembNo);
					$("#serchFrm #takeMembNo").val(rowData.takeMembNo);

					//상세화면 호출 - 조합원명원클릭시
<!--					if(obj.col === "membNm"){-->
<!--						fnView("V");-->
<!--					}; -->

				});

				//sheetDiv 더블클릭 처리
				sheet.bind("onDblClick", function(obj){ //더블클릭
					if(obj.kind === "Filter") return;
					fnView("V");
				});

				/////////////////////sheet 이벤트 시작 /////////////////////////////////

			});

			//출자증권지분취득현황 조회
			var fnSearch = function(){
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/invtTran/selectInvtTakeList.do", param, sheet); //param, sheetId 생략 가능
			};

			//화면 호출(등록, 수정, 상세)
			var fnView = function(type){
				rowData = sheet.getFocusedRow(); //생성된 행 정보 가져오기

				if(type === "TAKE" || type ==="SEL") {
					if(type === "TAKE") menuCd = "1020213"; //지분취득등록
					if(type === "SEL")  menuCd = "1020214"; //지분처분등록

					param = {menuCd:menuCd,paramMap:{atthType:/*[[${menuInfo.atthType}]]*/}};

				}else{

					if(com.fnIsEmpty(rowData)) {
						alert('목록이 선택되지 않았습니다.');
						return false;
					}

					//지분취득 혹은 처분 상세 구분
					if(type === "U"){
						if(rowData.transMembNo === 0 ){
							menuCd = "1020215" //수정 (지분처분)
						}else{
							menuCd = "1020212" //수정 (지분취득)
						};
					}

					if(type === "V"){
						if(rowData.transMembNo === 0 ){
							menuCd = "1020211"; //상세 (지분처분)
						}else{
							menuCd = "1020210"; //상세 (지분취득)
						};
					}

					param = {menuCd:menuCd,
							paramMap:{
								investNo: rowData.investNo,
								transSeq: rowData.transSeq,
								transMembNo: rowData.transMembNo,
								takeMembNo: rowData.takeMembNo,
								mainMembNm: rowData.membNm,
								atthType:/*[[${menuInfo.atthType}]]*/
							}
						};
				}

				parent.menuOpen(param);
			};

			//삭제처리
			var fnDeleteInvtTake = function(){
				rowData = sheet.getFocusedRow(); //생성된 행 정보 가져오기
				if(com.fnIsEmpty(rowData)|| rowData.investNo === "" || rowData.investNo === undefined) {
					alert('목록이 선택되지 않았습니다.');
					return false;
				}

				//안전한 테스트를위해 35동양만 삭제 (임시)
				/*if(rowData.ownMembNo !== "35") {
					alert('개발단계중 :  35번 동양정보서비스 기준으로 테스트중입니다, 35번으로 테스트해주세요');
					return false;
				}*/

				if(confirm("삭제 처리 하시겠습니까?")){

					obj = {url:"/invtTran/deleteInvtTran.do", param:{investNo: rowData.investNo, transMembNo:rowData.transMembNo, takeMembNo:rowData.takeMembNo, atthNo: rowData.atthNo, atthType:/*[[${menuInfo.atthType}]]*/}, callBack:fnDeleteInvtCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
					com.fnAjaxDef(obj);
				}

			}

			//삭제콜백
			var fnDeleteInvtCallBack = function(){
				fnSearch();
			}

			//엑셀 다운로드
			var fnExcel = function(){
				com.fnExcelToJs(sheet, gridOptList[0].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/); //초기화 호출
			};


			//검색 초기화
			var fnReset = function(){
				com.fnSerchInit("#serchFrm");
				$("#sInvtEndDt").val(com.fnDateGet(/*[[${today}]]*/,0)); //
				fnSearch();
			};


		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
					<!--오른쪽 업무 버튼-->
					<!--<div class="bizBtns">
						<button type="button" onclick="" class="btn style01">저장</button>
						<button type="button" onclick="" class="btn style02">저장</button>
						<button type="button" onclick="" class="btn style03">저장</button>
						<button type="button" onclick="" class="btn style04">저장</button>
						<button type="button" onclick="" class="btn style07">저장</button>
						<button type="button" onclick="" class="btn style08">저장</button>
					</div>-->
				</div>
			</div><!-- //contentsTop -->

			<div class="contents flex">
				<!-- 검색 부분 -->
				<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<input type="hidden" name="membNo"      id="membNo" value=""/>
				<input type="hidden" name="investNo"    id="investNo" value=""/>
				<input type="hidden" name="transSeq"    id="transSeq" value=""/>
				<input type="hidden" name="transMembNo" id="transMembNo" value=""/>
				<input type="hidden" name="takeMembNo"  id="takeMembNo" value=""/>
				<section class="searchArea mt10">
					<div class="row">
						<dl>
							<dt>조합원</dt>
							<dd style="width:260px;">
								<input type="search" name="sMembNo" id="sMembNo" style="width:60px;" maxlength="4" onkeyup="com.fnOnlyNum(this);">
								<input type="search" name="sMembNm" id="sMembNm" style="width:165px;" maxlength="40">
								<button type="button" class="btn icoSearch" onclick="com.fnMembInfo()">검색</button>
							</dd>
							<dt>지분취득일자</dt>
							<dd style="width:260px;">
								<input type="text" name="sTakeStaDt" id="sTakeStaDt" title="시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sTakeStaDt','sTakeEndDt','F');"/>
								<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sTakeStaDt', 'yyyy-mm-dd','sTakeEndDt', 1)" />
								<input type="text" name="sTakeEndDt" id="sTakeEndDt" title="종료일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sTakeStaDt','sTakeEndDt','T');"/>
								<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sTakeEndDt', 'yyyy-mm-dd','sTakeStaDt', 2)" />
							</dd>
							<dt>출자구분</dt>
							<dd style="width:80px;">
								<select name="sTakeCd" id="sTakeCd" style="width:80px;">
									<option value="">전체</option>
									<option value="T">취득</option>
									<option value="S">처분</option>
								</select>
							</dd>
						</dl>
					</div><!-- //row -->

					<div class="searchBtn">
						<button type="button" onclick="javascript:fnSearch();" class="btn search">조회</button>
						<button type="button" onclick="javascript:fnReset();" class="btn reset">초기화</button>
					</div>
				</section>
				</form>
				<!-- 검색 부분 끝 -->
				<div class="layer-flex collapseArea mt20">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width: 100%">
						<!-- 그리드 상단 부분 -->
						<section class="area">
							<div class="fr">
								<button id="" class="btn style08" type="button" onclick="javascript:fnView('TAKE');">입력</button>
								<button id="" class="btn style08" type="button" onclick="javascript:fnView('SEL');">지분처분</button>
								<button id="" class="btn style08 transBtn" type="button" onclick="javascript:fnView('U');">수정</button>
								<button type="button" onclick="javascript:fnView('V');" class="btn style08">상세</button>
								<!--<button id="" class="btn style08" type="button" onclick="javascript:fnDeleteInvtTake();">삭제</button>-->
								<button type="button" onclick="javascript:fnExcel();" class="btn style04">엑셀</button>
							</div>
						</section>

						<!-- 그리드 상단 부분 끝 -->
						<!--출자반환현황 리스트 :s-->
						<div class="mt10">
					    	<div id="sheetDiv" style="width:100%;height:500px"></div>
						</div>
						<!--출자반환현황 리스트 :e-->
					</div>
					<!-- 그리드 좌측 부분 끝 -->

					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
		</div><!-- //contentsArea -->
	</body>
</html>
