<!--
	파일정보 : invt/invtTakeIns.html
	파일명 : invtTakeIns
	업무명 : 출자증권 지분취득 등록
	생성자 : 윤가영1
	생성일 : 2023-04-17
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			
			var sMembType = ""; //조합원검색구분
			var vMembType = ""; //조합원상세구분
			
			//초기화 조회 콜백
			$(document).ready(function(){
				
				//화면 처리
				$("#transDt").val(/*[[${today}]]*/);
					
				com.fnCodeSelectBox("IV02", "payWay", 1, ""); //선택 입금형태
				com.fnCodeSelectBox("IV07", "takeType", 1, ""); //지분취득사유
				com.fnCodeSelectBox("CM02", "payBank", 1, ""); //전체 은행목록
				
				com.fnSetBankAccList("outBanks", 1);	//출금은행목록
					
				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);
				
				//출자양도양수, 지분취득, 반환 공통 그리드
				fnIbsInvtTrans(gridOptList[0], "ins"); 
				
				//가압류현황 그리드
				IBSheet.create({ id: "sheetAcciPrsr", el: "sheetDivAcciPrsr", options: gridOptList[1] });
				
			});
			
			//취득사유
			function changeTakeType() {
				$("#remark").val("");
				
				if($("#takeType").val() === "90") $("#remark").show();
				else $("#remark").hide();
			}
			
			//조합원조회 콜백	
			//양도양수조합원, 배정조합원 값 세팅
			var fnMembInfoSet = function(obj){
				
				//초기화 (조합원검색이 두개 이상일때, 한쪽 검색후 돋보기아이콘 클릭시 조회했던 조합원 초기화)
				$("#sMembNo").val("");
				$("#sMembNm").val("");
				
				//검색input결과세팅
				$("#"+sMembType+"No").val(obj.membNo);
				$("#"+sMembType+"Nm").val(obj.membNm);
				
				//조합원 상태 체크
				var msg = "";
				if(obj.membStat !== "10" && obj.membCretopNm !== "정상"){
					msg += "조회된 업체는 현재" + obj.membStatNm + "상태이고\n";
					msg += "조기경보" + obj.membCretopNm + "등급인 조합원입니다.";
				}else if(obj.membStat !== "10"){
					msg += "조회된 업체는 현재" + obj.membStatNm + "상태입니다.";
				}else if(obj.membStat !== "10"){
					msg += "조회된 업체는 조기경보" + obj.membCretopNm + "등급인 조합원입니다.";
				}
				
				if(msg !== "" && !confirm(msg + "\n업무를 계속 진행하시겠습니까?")) {
					//ele_take_ceoNm
					$("#sTakeMembNo, #sTakeMembNm").val('');
					$("[id^=ele_take]").text('');
					return;	
				}
				
				if(obj.sestCnt > 0){
					if(confirm("해당 조합원은 현재 가압류 정보가" + obj.sestCnt + "건 등록되어 있습니다. \n 계속 진행하시겠습니까?")){
						
						//가압류 조회
						$("#acciStatBox").show();
			    		fnAcciSearch();							
					}else {
						
						$("#acciStatBox").hide();
						$("#"+sMembType+"No").val("");
						$("#"+sMembType+"Nm").val("");
						return;
					}
				}
				
				//검색한게 양도조합일 경우 양도가능좌수, 금액 세팅
				if(vMembType === "trans") {
					//양도가능금액, 좌수 세팅
					var availNum = Number(obj.investNum) - Number(obj.mortNum);
					var availAmt = Number(obj.investAmt) - Number(obj.mortAmt);
					obj.availNum = availNum;
					obj.availAmt = availAmt;
					
					//반환은행 조합원계좌로 재세팅
					var accParam = {paramId: "payBanks", sMembNo: $("#sTransMembNo").val(), sUseYn: "Y", choiceType: 1}
					com.fnSetMembAccList(accParam);
					if(obj.bankCd !== ""){
						$("#payBanks").val(obj.bankCd+","+obj.acctNo+","+obj.depoNm);
						$("#payBanks").trigger('change');
						//$("#payBank").val(obj.bankCd);
					} 
               	}
				
				//기타 조합원 상세데이터 세팅
				invtCom.fnAssSetKeyVal(obj,vMembType);
				
				//콤마추가 클래스들 세팅
				$.each($(".setCommaCls"), function(idx,item){
					$(item).text(com.addComma($(item).text()));
				});
				
				//검색한게 양도조합원이면  출자증권정보세팅하기
			    if(vMembType === "trans") {
                	//증권조회
                	fnSearchDtl();
					//양도가능 출자증권 확인
					if(Number(obj.availNum) <= 0) {
            			alert("취득가능한 출자증권이 없습니다. \n담보가 해제된 증권만이 양도가 가능합니다.");
            		}
			    }
			    
			    //알림톡세팅
				var setParam = {membNo: $("#sTransMembNo").val(), setTalk:"Y"}
				com.fnSetPersList(setParam);
			}
			
			//출자증권정보(담보정보) 조회
			var fnSearchDtl = function(){
				var param = {membNo : $("#sTransMembNo").val(), atthType: atthType, billStat: '10'};
				com.fnIbsSearch("/invtBill/selectInvtMortBillList.do", param, sheetInvtTrans ); //param, sheetId 생략 가능
			};
			
			//사고관리(가압류) 조회
			var fnAcciSearch = function(){
				var param = {sMembNo : $("#sTransMembNo").val()};
				com.fnIbsSearch("/acciPrsr/selectAcciPrsrList.do", param, sheetAcciPrsr); //param, sheetId 생략 가능
			};
			
			//저장
			var fnSave = function(saveType){
				
				//저장 vs 저장후 계속등록
				var msg = "";
				var addMsg = "";
				
				if(Number($("#ele_trans_investNum").text()) === Number($("#transNum").val()) && Number($("#transNum").val()) !==0 ) {
					addMsg = "전체취득을 선택하였습니다.\n양도조합은 탈퇴처리 되며, 가압류가 존재하는 경우는 가압류가 종료됩니다.";
				}
				
				$("#saveType").val(saveType);
				if($("#saveType").val( )=== "continue") msg = "양도양수 정보를 저장후 계속 등록하시겠습니까?" + addMsg;
				else msg = "지분취득 정보를 등록하시겠습니까?" + addMsg;
				
				//필수체크
				if($('#ele_trans_bizNo').text()===""){
					alert("조합원을 선택해 주십시오.");
					$("#ele_trans_bizNo").focus();
					return false;
				}
				
				if($('#transDt').val()===""){
					alert("지분취득일자를 입력해 주십시오.");
					$("#transDt").focus();
					return false;
				}		
				
				if($('#transNum').val()==="" || $('#transNum').val() === 0){
					alert("치분취득 처리를 위한 증권이 선택되지 않았습니다.");
					$("#transNum").focus();
					return false;
				} 
				
				//필수체크
				var valChks = ["transDt", "payWay", "payNm", "payBank", "payAcct", "outBanks", "outBank", "outAcct"];
				
				if(com.fnValChk(valChks)){
					
					if(confirm(msg)){
						var param = $("#saveFrm").serializeObject();
						param.transBillData = sheetInvtTrans.getSaveJson();
						if(saveType === "continue"){
							obj = {url:"/invtTran/insertInvtTran.do", jParam:param, callBack:fnSaveKeepCallBack, fileId:"docFile", msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						}else {
							obj = {url:"/invtTran/insertInvtTran.do", jParam:param, callBack:fnSaveCallBack, fileId:"docFile", msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						}
						//var param = { paramData: $("#saveFrm").serializeObject(), AssBillData: sheetInvtMortAss.getSaveJson()};
						//console.log(param);
						
						//obj = {url:"/InvtBillAss/insertInvtBillAss.do", formId:"saveFrm", fileId:"docFile", callBack:fnSaveCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						com.fnAjaxMulti(obj);
	
					}
				}	
			};
			
			//저장콜백
			var fnSaveCallBack = function(resData){
				if(resData.resultCode === 0) {
					
					//저장성공시 알림톡발송
					/*
					param1조합원의 출자금 param2원이 반환될 예정입니다...(이하생략)
					*/
					var paramsArray = [
					  $("#sTransMembNm").val(), //조합원명
					  $("#transAmt").val(),    //지분취득금액
					];
					
					// 배열을 콜론으로 구분된 문자열로 합치기
					var paramVal = paramsArray.join(':');
					param = {msgSeq:"4", membNo:$("#sTransMembNo").val(), param:paramVal, telNo:$("#talkTel").val(), telNm:$("#talkNm").val(), msgYn: "N"}
					com.fnSendTalkMsg(param);
					
					parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
					//com.fnDoAfterClose(); 
				}
			};
			
			//저장콜백(저장후계속등록)
			var fnSaveKeepCallBack = function(resData){
				if(resData.resultCode === 0) {
					$("#saveFrm").find('input, select, button').prop('disabled', true);
					//parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
					param = {menuCd:"1020113", paramMap:{atthType:/*[[${menuInfo.atthType}]]*/}}
					parent.menuOpen(param);
				}
			};
			
			//달력 날짜선택시 액면가 호출
			var fnGetFaceDeal = function(){
				invtCom.selectFaceDeal('trans');
			}
			
			/*]]>*/
		    
		    
            
		</script>
		
		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
			
				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
					<!--오른쪽 업무 버튼-->
					<!--<div class="bizBtns">
						<button type="button" onclick="" class="btn style01">저장</button>
						<button type="button" onclick="" class="btn style02">저장</button>
						<button type="button" onclick="" class="btn style03">저장</button>
						<button type="button" onclick="" class="btn style04">저장</button>
						<button type="button" onclick="" class="btn style07">저장</button>
						<button type="button" onclick="" class="btn style08">저장</button>
					</div>-->
				</div>
			
			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
			<input type="hidden" name="atthType"   id="atthType" th:value="${paramMap.atthType}"/>
			<input type="hidden" name="imgAtthNo"  id="imgAtthNo" />
			<input type="hidden" name="atthNo"     id="atthNo"/>
			<input type="hidden" name="modFileCds" id="modFileCds" />
			<input type="hidden" name="investNo"   id="investNo" value=""/>
			<input type="hidden" name="faceAmt"   id="faceAmt" />
    		<input type="hidden" name="dealAmt"   id="dealAmt" />
    		<!---->
    		<input type="hidden" name="sTakeMembNo" id="sTakeMembNo" value="0" />
    		<input type="hidden" name="sTakeMembNm" id="sTakeMembNm" value="한국콘텐츠공제조합" />	
			<!--조합원 공통검색용-->
			<input type="hidden" name="sMembNo"    id="sMembNo" value=""/> 
			<input type="hidden" name="sMembNm"    id="sMembNm" value=""/>
			<div class="contents flex ">
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:47%">
						<!--조합원정보 : s-->
						<div class="wrapBox mb20">
							<section class="area">
								<div class="fl">
									<h4 class="title">조합원정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup> 
									<col style="width:90px;">
									<col style="width:140px;">
									<col style="width:90px;">
									<col style="width:140px;">
									<col style="width:90px;">
									<col style="width:140px;">
								</colgroup>
								<tbody>
									<tr>
										<th>조합원명</th>
										<td colspan="3">
											<input type="search" name="sTransMembNo" id="sTransMembNo" style="width:50px;" maxlength="4" onkeyup="if(window.event.keyCode===13){com.fnMembInfoMulti(event,'trans')}" onchange="com.fnMembInfoMulti(event,'trans')">
											<input type="search" name="sTransMembNm" id="sTransMembNm" style="width:150px;" maxlength="40" onkeyup="if(window.event.keyCode===13){com.fnMembInfoMulti(event,'trans')}" onchange="com.fnMembInfoMulti(event,'trans')">
											<button type="button" class="btn icoSearch" onclick="com.fnMembInfoMulti(event,'trans')">검색</button>
										</td>
										<th>대표자</th>
										<td><div id="ele_trans_ceoNm"></div></td>
									</tr>
									<!--<tr>
										<th>소유조합원</th>
										<td colspan="3"><span id="ele_memb_membNo"></span> / <span id="ele_memb_membNm"></span></td>
										<th>대표자</th>
										<td><div id="ele_memb_ceoNm"></div></td>
									</tr>	-->
									<tr>
										<th>법인번호</th>
										<td><div id="ele_trans_lawNo"></div></td>
										<th>사업자번호</th>
										<td><div id="ele_trans_bizNo"></div></td>
										<th>전화번호</th>
										<td><div id="ele_trans_telNo"></div></td>
									</tr>
									<tr>
										<th>상태</th>
										<td><div id="ele_trans_membStatNm"></div></td>
										<th>주장르</th>
										<td><div id="ele_trans_mainBussNm"></div></td>
										<th>소속단체</th>
										<td><div id="ele_trans_belong"></div></td>
									</tr>
									<tr>
										<th>주소</th>
										<td colspan="5"><div id="ele_trans_addrFull"></div></td>
									</tr>
									<tr>
										<th>출자좌수</th>
										<td><div id="ele_trans_investNum" class="setCommaCls"></div></td>
										<th>담보좌수</th>
										<td><div id="ele_trans_mortNum" class="setCommaCls"></div></td>
										<th>취득가능좌수</th>
										<td><div id="ele_trans_availNum" class="setCommaCls"></div></td>
									</tr>
									<tr>
										<th>출자금액</th>
										<td><div id="ele_trans_investAmt" class="setCommaCls"></div></td>
										<th>담보금액</th>
										<td><div id="ele_trans_mortAmt" class="setCommaCls"></div></td>
										<th>취득가능금액</th>
										<td><div id="ele_trans_availAmt" class="setCommaCls"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--양도조합원 : e-->
						
						<!--출자증권목록 : s-->
						<!--출자증권담보설정목록 : s-->
						<th:block th:include="com/comInvtTrans :: type1('출자증권목록')"></th:block> <!-- 줄자증권목록 -->
						<!-- //wrapbox-->
						<!--출자증권목록 : e-->
						
						
					</div>
					
					
					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:52%">	
						
						<!--양도양수설정정보 : s-->
						<div class="wrapBox">
							<section class="area">
								<div class="fl">
									<h4 class="title">지분취득설정정보<span style="font-size: 11px; color: #ff6600">(반환정보는 조합원 조회후, 해당조합원과 관련된 정보 조회)</span></h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
									<col style="width:100px;">
									<col style="">
								</colgroup>
								<tbody>
									<tr>
										<th>지분취득일자</th>
										<td colspan="5">
											<input type="search" name="transDt" id="transDt" title="양도일자" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:120px"/>
											<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'transDt', 'yyyy-mm-dd','','',fnGetFaceDeal)" />
										</td>
									</tr>
									<tr>
										<th>지분취득좌수</th>
										<td colspan="2"><input type="search" id="transNum" name="transNum" style="width:100%" title="양도양수좌수" readonly></td>
										<th>지분취득금액</th>
										<td colspan="4">
											<input type="search" id="transAmt" name="transAmt" style="width:100%" title="양도양수금액" readonly>
										</td>
									<tr>
										<th>지분취득사유</th>
										<td colspan="7">
											<select name="takeType" id="takeType" title="지분취득사유" style="width:130px" onchange="changeTakeType();"></select>
											<input type="search" id="remark" name="remark" style="display: none; width:100%; margin: 2px 0 0 0;" title="양도사유" >
										</td>
									</tr>
									<tr>
										<th>출금은행<span class="reqMark">*</span></th>
										<td>
											<select name="outBanks" id="outBanks" title="출금은행" style="width:130px" onchange="com.fnBankChange(this.value,'out');">
												<optoin value=""></option>
											</select>
											<input type="hidden" name="outBank" title="출금은행" id="outBank" />
										</td>
										<th>출금계좌<span class="reqMark">*</span></th>
										<td colspan="4">
											<input name="outAcct" type="search" id="outAcct" style="width:100%" title="출금계좌" readonly="readonly" />
										</td>
									</tr>
									<tr>
										<th>반환방법<span class="reqMark">*</span></th>
										<td>
											<select name="payWay" id="payWay" title="반환방법" style="width:130px" onchange=""></select>
										</td>
										<th>반환정보<span class="reqMark">*</span></th>
										<td colspan="4">
											<select name="payBanks" id="payBanks" title="반환은행" style="width:100%" onchange="com.fnMembAccChange(this.value)">
												<option value="">선택</option>
											</select>
											<input type="hidden" id="payBank" name="payBank" style="width:100%" title="반환은행">
										</td>
									</tr>
									<tr>
										<th>반환예금주<span class="reqMark">*</span></th>
										<td>
											<input type="text" id="payNm" name="payNm" style="width:100%" title="반환예금주" readonly>
										</td>
										<th>반환계좌<span class="reqMark">*</span></th>
										<td colspan="4">
											<input type="text" id="payAcct" name="payAcct" style="width:100%" title="반환계좌" readonly>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!-- //wrapbox-->
						
						<!--알림톡정보 : s-->
						<div class="wrapBox mt10">
							<th:block th:include="com/comAlarmTalk"></th:block> <!--알람톡정보 -->
						</div><!-- //wrapbox-->
						<!--알림톡정보 : e-->
						
						<!--조합원 가압류 현황 : s-->
						<div id="acciStatBox" class="wrapBox mt15" style="display: none;">
							<section class="area">
								<div class="fl">
									<h4 class="title">
										조합원 가압류 현황
										<span style="font-size: 12px; color: #ff6600;">(* 가압류가 존재합니다. 증권 전체 취득시 가압류가 자동으로 종료됩니다.)</span>
									</h4>
								</div>
							</section>
							<!-- 그리드 상단 부분 끝 -->
							<div class="">
						    	<div id="sheetDivAcciPrsr" style="width:100%;height:225px"></div>
							</div>
						</div>
						
						
						<!--양도양수설정정보 : e-->
					</div>
					<!-- 그리드 우측 부분 끝 -->
						
					<!-- END 컨텐츠 영역 -->
				</div>
				<div class="layer-flex mt50">
					<!-- 처리 버튼 영역 -->
					<div class="" style="width:100%">	
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">등록</button>
							</div>
						</section>
					</div>
					<!-- 처리 버튼 영역 끝-->
						
				</div>
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
