<!--
	파일정보 : guar/guarUptPop.html
	파일명 : guarUptPop
	업무명 : 관리자 보증정보 수정
	생성자 : 권다슬
	생성일 : 2023-12-07
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<th:block th:layout="comjs">
			<script th:src="@{/js/guarCom.js}"></script>
		</th:block>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션

			var guarType = /*[[${paramMap.refVal}]]*/; //메뉴참조값 (보증상품)
			var paramMap = /*[[${paramMap}]]*/;

			//초기화 조회 콜백
			$(document).ready(function(){
				//코드값 처리
				if(paramMap.guarReqCd == '3') {
					com.fnCodeCheckBox("GR12", "ele_chgDescType", "chgDescType", false); //보증문구
					$("input[name='chgDescType']").click(function(){	//보증문구 클릭이벤트 추가
	    				guarCom.fnMakeGuarClassCont();	//보증문구값 생성 및 변경
					});
				}
				com.fnCodeSelectBox("GR06", "guarIssueCd", 0, ""); //발급형태
				com.fnCodeSelectBox("GR07", "orderCd", 1, ""); 		//피공제기관
				com.fnCodeRadio("GR08", "ele_contrCdArea", "contrCd", false, "E"); //계약방식
				//com.fnCodeRadio("GR09", "ele_guarAprojdArea", "guarAprojd", false, "0"); //보증기간가산

				com.fnCodeSelectBox("GR05", "procStat", 1, "22"); //처리상태
				com.fnCodeSelectBox("GR02", "guarStat", 1, ""); //보증상태
				
				com.fnCodeSelectBox("CM01", "retWay", 1, "");
				com.fnCodeSelectBox("CM02", "retBank", 1, "");
				com.fnCodeSelectBox("GR19", "guarCanType", 1, ""); //해제사유
				com.fnCodeSelectBox("CM01", "payWay", 1, ""); 	//납부방법
				com.fnSetBankAccList("selBank", 1);				//조합계좌설정
				
				$("input[name=guarAprojd]").on("click",function() {	//보증기간가산 클릭 이벤트
				    if($("#guarBegDt").val().length !== 10 || $("#guarExpDt").val().length !== 10) 	return;

					var aprojd = Number($(this).val());
					$("#guarAddDays").val(aprojd);
				    if(tmpGuarExpDt === undefined) 	tmpGuarExpDt = $("#guarExpDt").val();

				    // 보증종료일계산
				    $("#guarExpDt").val(com.fnDateGet(tmpGuarExpDt, aprojd));
				});

				com.fnCodeSelectBox("MB02", "genreCd", 1, ""); 	//장르
				$("#genreCd").on("change",function(){	//장르 선택 이밴트
					if($(this).val() === "14")	$("#genreNm").prop("disabled", false);	//기타면
					else						$("#genreNm").prop("disabled", true);
				});

				//특약 체크박스 값 한개만 클릭되도록
				$("input[name=specContrs]").on("click", function(){
					if($(this).is(":checked")){
						$("input[name=specContrs]").prop("checked", false);
						$(this).prop("checked", true);
					}
				});

				//보증 신청 조회
				fnSearchDtl();
			});


			//보증 신청 조회
			var fnSearchDtl = function(){
				var initParam = { guarNo	: /*[[${paramMap.guarNo}]]*/, atthType : /*[[${menuInfo.atthType}]]*/ };
				obj = {url:"/guar/selectGuar.do", param:initParam, callBack:fnDtlCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			}

			//상세 조회 콜백
			var fnDtlCallBack = function(resData){
				//console.log(resData);

				//1. 조합원정보
				com.fnSetKeyVal(resData.memb);

				//2-1. 보증 정보 세팅
				com.fnSetKeyVal(resData.guar);

				//2-2. (보증신청정보) 전자공고 영역 변경
				guarCom.fnGuarIssueChg($("#guarIssueCd").val());	//해당사항없음 or input + 검색 조회 버튼

				//2-3. (보증신청정보) 신청자 선택처리
				$("#txt_guarTitl").text(resData.guar.guarTypeNm + "( 보증상태 : " + resData.guar.guarStatNm + " )"); //파란글씨
				guarCom.fnSelCpSelectBox(resData.persList, resData.guar.reqNm);	//신청자 선택
				
				//3. 체크박스, radio 체크 처리
				com.checkBoxCheckValue(resData.guar.contrCd, "contrCd");	//계약방식
				com.checkBoxCheckValue(resData.guar.guarAprojd, "guarAprojd");	//보증기간가산
				com.checkBoxCheckValue(resData.guar.specContrs, "specContrs");	//특약
				com.checkBoxCheckValue(resData.guar.g2bContCheck, "g2bContCheck");	//실제이행기일
				com.checkBoxCheckValue(resData.guar.koccaYn, "koccaYn");		//공공기관지원사업 여부
				com.checkBoxCheckValue(resData.guar.rateModYn, "rateModYn");	//수기입력 여부
				com.checkBoxCheckValue(resData.guar.pgAddYn, "pgAddYn");		//pg수수료 보함여부
				if(resData.guar.rateModYn === "Y")	$("#commRate").attr("readonly", false);	//수기입력 Y면 readonly 해제

				//3-1 변경문구 체크박스
				if(paramMap.guarReqCd == '2'){
					var guarClassCd = resData.guar.guarClassCd;
					$("input[name=chgDescType]").each(function(){
						if(guarClassCd.indexOf($(this).val()) > -1)	$(this).prop("checked", true);
					});
				}

				//3-3 보증문구 체크박스
				if(paramMap.guarReqCd == '3'){
					var guarClassCont = resData.guar.guarClassCont;
					if(!com.fnIsEmpty(guarClassCont)){
						$("input[name=chgDescType]").each(function(){
							if(guarClassCont.indexOf(com.fnInputText("GR12", $(this).val())) > -1)	$(this).prop("checked", true);
						});
					}
				}

				tempCommRate = $("#commRate").val();	//수기입력 체크시 원복할 값
				
				//해제/취소 경우 해제 정보 활성화
				if(resData.guar.guarStat === "30" || resData.guar.guarStat === "31" ){
					$("#areaCanInfo").show();	
					
					if(resData.guar.guarCanReason !== ""){
						$("#guarCanReason").show();
					}
				}
				
				//입금정보 설정
				$("#selBank").val(resData.guar.payBank+","+resData.guar.payAcct);
			}

			//계약일수,약정일수 입력 이벤트
			var fnAddDay = function(begDtId, expDtId, daysId){
				if($("#"+begDtId).val() === "") {
		            alert("시작일자를 입력해 주십시오.");
		            $("#"+daysId).val("");
		            $("#"+begDtId).focus();
		            return;
		        }

		        $("#"+expDtId).val(com.fnDateGet($("#"+begDtId).val(), guarCom.fnToNumber($("#"+daysId).val()) -1));
			}

			//적용요율 수기입력 체크박스 클릭 이벤트
			var modifyRate = function() {
			    if($("input[name=rateModYn]").is(":checked"))	$("#commRate").attr("readonly", false);
			    else								 			$("#commRate").attr("readonly", true).val(tempCommRate);	//tempCommRate : guarCom.js(fnSelectRateCallBack에서 정의)
			    //guarCom.fnCalcCommAmt();
			}

			//저장
			var fnSave = function(){
				if(paramMap.guarReqCd == '2'){
					//금액 바꾸면 자동 입력해주던  guarClassCd값 변경
					var classCd = "";

					$("input[name='chgDescType']:checked").each(function(){
						classCd += $(this).val();
					});
				    if(classCd.length < 2) 			classCd += "0";
				    $("#guarClassCd").val(classCd);
				}

				if(confirm("저장 처리 하시겠습니까?")){

					var param = $("#saveFrm").serializeObject();
					var obj = {url:"/guar/updateGuarEtc.do", param:param, callBack:fnSaveCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
					com.fnAjaxDef(obj);
				}
			};

			//저장콜백
			var fnSaveCallBack = function(resData){
				if(typeof parent.fnSearch != "undefined"){
					parent.fnSearch();	
				}else{
					parent.location.reload();	
				}
				
				parent.$("#dialog").dialog("close");
				//parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
			};
			
			//해제사유 변경
			var fnCanTypeChg = function(obj) {
				$("#guarCanReason").val("");
		
				if(obj === "90"){
					$("#guarCanReason").show();
				} else {
					$("#guarCanReason").hide();
				}
			}
			
			/*]]>*/

		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
			<!-- 첨부파일 관련 -->
			<input type="hidden" name="atthType" 	id="atthType" th:value="${menuInfo.atthType}"/>
			<input type="hidden" name="atthNo" 		id="atthNo"/>
			<input type="hidden" name="guarNo"    	id="guarNo" /> 		<!-- 보증번호 -->

			<!-- 보증문구 만드는데 사용됨(저장x) -->
			<input type="hidden" name="initReqDt" 	id="initReqDt" />
			<input type="hidden" name="initDocNo" 	id="initDocNo" />
			<input type="hidden" name="chgCnt" 		id="chgCnt" />	<!-- 변경차수 -->
			
			<input type="hidden" name="befGuarBegDt" 		id="befGuarBegDt" />
			<input type="hidden" name="befGuarExpDt" 		id="befGuarExpDt" />
			<input type="hidden" name="guarClassCd" id="guarClassCd" />
			
			
			<div class="contents flex">
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
							
						<th:block th:include="com/comMemb"></th:block> <!--조합원조회 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">보증신청정보 <font color="blue" id="txt_guarTitl"></font></h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th>보증번호</th>
									<td><span id="ele_guarNo"></span></td>
									<th>신청구분</th>
									<td><span id="ele_guarReqCdNm"></span></td>
									<th>변경구분</th>
									<td>--</td>
								</tr>

								<tr>
									<th>신청일자</th>
									<td>
										<input type="search" name="reqDt" id="reqDt" title="신청일자" th:value="${today}" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);" style="width:100px"/>	<!-- ;guarCom.fnSelectGuarRate(); -->
										<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'reqDt', 'yyyy-mm-dd','')" />	
									</td>
									<th>발급구분</th>
									<td><select name="guarIssueCd" id="guarIssueCd" title="발급구분" style="width:120px" onchange="guarCom.fnGuarIssueChg(this.value);"></select></td>
									<th>전자공고번호</th>
									<td><div id="ele_g2bNone">해당사항없음</div>
										<div id="ele_g2b" style="display:none">
											<input type="search" name="publicNo" id="publicNo" maxlength="30" style="width:100px" />
											<!--<button type="button" name="btnG2b" id="btnG2b" class="btn icoSearch" onclick="guarCom.fnG2bSearch()" >검색</button>-->
										</div>
									</td>
								</tr>
								<tr>
									<th>신청자</th>
									<td>
										<select name="selCp" id="selCp" title="신청자" style="width:120px"></select>
									</td>
									<th>신청자명</th>
									<td><input type="search" name="reqNm" id="reqNm" title="신청자명" style="width:100px" maxlength="20"/></td>
									<th>신청자연락처</th>
									<td><input type="search" name="reqTel" id="reqTel" title="신청자연락처" style="width:120px" maxlength="13" onkeyup="com.fnOnlyNum(this);com.makeTelNo(this)"/></td>
								</tr>

								<th:block th:if="${#strings.equals(paramMap.guarReqCd, '2')}">	<!-- 배서 -->
								<tr>
									<th>변경구분</th>
									<td colspan="5">
										<font color="red">※(주의)클릭하면 보증문구 자동변경됨 - 금액,기간 상관없이 클릭한값기준으로 guarClassCd가 저장됨 </font>
										<div id="ele_chgDescType" title="변경">
											<!-- data-text는 guarCom.fnMakeGuarClassCont에서 참조중 문구변경시 같이 변경 필요 -->
											<input type="checkbox" name="chgDescType" id="chgDtUp" value="2" data-text="기간연장" onclick="guarCom.fnDetectChg(this.id,'chgDtDn')" /> 기간연장
						                    <input type="checkbox" name="chgDescType" id="chgDtDn" value="3" data-text="기간단축" onclick="guarCom.fnDetectChg(this.id,'chgDtUp')" /> 기간단축
						                    <input type="checkbox" name="chgDescType" id="chgAmtUp" value="4" data-text="금액증액" onclick="guarCom.fnDetectChg(this.id,'chgAmtDn')" /> 금액증액
						                    <input type="checkbox" name="chgDescType" id="chgAmtDn" value="5" data-text="금액감액" onclick="guarCom.fnDetectChg(this.id,'chgAmtUp')" /> 금액감액
										</div>
									</td>
								</tr>
								</th:block>

								<th:block th:if="${#strings.equals(paramMap.guarReqCd, '3')}">	<!-- 기재변경 -->
								<tr>
			                        <th>보증문구</th>
			                        <td colspan="5">
			                        	<font color="red">※(주의)클릭하면 보증문구 자동변경됨</font>
			                        	<div id="ele_chgDescType" title="보증문구"></div>
			                        </td>
			                    </tr>
			                    </th:block>

							</tbody>
						</table>

						<!-- 주계약정보 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">주계약정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th th:if="${#strings.equals(paramMap.refVal, '11')}">입찰건명</th>	<!-- 입찰 -->
									<th th:if="${!#strings.equals(paramMap.refVal, '11')}">계약건명</th>	<!-- 입찰 이외 -->
									<td colspan="5">
										<input type="search" name="servNm" id="servNm" title="계약건명" maxlength="100" style="width:350px" value="" />
										<!--<button type="button" class="btn icoSearch" onclick="fnServSel()">검색</button>-->
									</td>
								</tr>
								<tr>
									<th>피공제기관</th>
									<td colspan="3">
										<select name="orderCd" id="orderCd" title="기관구분" style="width:100px" ></select>
										<input type="search" name="orderNm" id="orderNm" title="피공제기관" maxlength="50" style="width:200px" value="" />
										<!--<button type="button" class="btn icoSearch" onclick="fnOrderSel()">검색</button>-->
									</td>
									<th>사업자번호</th>
									<td><input type="search" name="orderBizNo" id="orderBizNo" title="사업자번호" maxlength="12" onkeyup="com.fnOnlyNum(this);com.makeBizNo(this);"  style="width:120px" value="" /></td>
								</tr>

								<!-- 입찰보증 -->
								<th:block th:if="${#strings.equals(paramMap.refVal, '11')}">
								<tr>
									<th>입찰마감일</th>
									<td colspan="5">
										<input type="search" name="releDt" id="releDt" title="입찰마감일" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this)" style="width:100px" />	<!-- guarCom.fnSetReleDt(); -->
										<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'releDt', 'yyyy-mm-dd')" />	<!-- ,'','',guarCom.fnSetReleDt -->
									</td>
								</tr>
								</th:block>

								<!-- 계약,하자,선급금, 이행지급, 성능이행, 인허가, 상품판매 체결일정보 -->
								<th:block th:if="${!#strings.equals(paramMap.refVal, '11')}">
								<tr>
									<!-- 지급보증의지급이 아닌경우 계약체결일 -->
									<th:block th:if="${!#strings.equals(paramMap.refVal, '34')}">
									<th>계약체결일</th>
									<td colspan="3">
										<input type="search" name="contrDt" id="contrDt" title="계약체결일자" maxlength="10" th:value="${today}" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this)" style="width:100px"/>
										<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'contrDt', 'yyyy-mm-dd')" />
									</td>
									</th:block>

									<!-- 지급보증의지급인 경우 지급보증종류 -->
									<th:block th:if="${#strings.equals(paramMap.refVal, '34') }">
									<th>지급보증종류</th>
									<td colspan="3"><input type="search" name="perfKind" id="perfKind" title="지급보증종류" maxlength="50" style="width:200px" /></td>
									</th:block>

									<th th:if="${#strings.equals(paramMap.refVal, '13')}">검수완료일</th>	<!-- 하자보수 -->
									<th th:if="${#strings.equals(paramMap.refVal, '14')}">지급예정일</th>	<!-- 선금급 -->
									<th th:if="${!#strings.equals(paramMap.refVal, '13') and !#strings.equals(paramMap.refVal, '14') }">낙찰일자</th>	<!-- 그외 -->
									<td>
										<input type="search" name="releDt" id="releDt" title="낙찰일자" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);"/>	<!-- guarCom.fnSetReleDt(); -->
										<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'releDt', 'yyyy-mm-dd')" />	<!-- , '' , '', guarCom.fnSetReleDt -->
									</td>
								</tr>
								<tr>
									<th th:if="${#strings.equals(paramMap.refVal, '32')}">인·허가기간</th>	<!-- 인허가 -->
									<th th:if="${#strings.equals(paramMap.refVal, '34')}">지급보증기간</th>	<!-- 지급보증의지급 -->
									<th th:if="${!#strings.equals(paramMap.refVal, '32') and !#strings.equals(paramMap.refVal, '34') }">계약기간</th>	<!-- 그외 -->
									<td colspan="5">
										<input type="text" name="contrBegDt" id="contrBegDt" title="계약시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('contrBegDt','contrExpDt','F');" autocomplete="off"/>	<!-- guarCom.fnSetContrDays(); -->
				                    	<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'contrBegDt', 'yyyy-mm-dd','contrExpDt', 1)" />	<!-- , guarCom.fnSetContrDays -->
				                    	&nbsp;~
				                    	<input type="text" name="contrExpDt" id="contrExpDt" title="계약종료일" maxlength="10" style="width:100px" value=""onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('contrBegDt','contrExpDt','T');" autocomplete="off"/>	<!-- guarCom.fnSetContrDays(); -->
				                    	<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'contrExpDt', 'yyyy-mm-dd', 'contrBegDt', 2)" />	<!-- , guarCom.fnSetContrDays -->
										(<input type="search" name="contrDays" id="contrDays" title="계약일수" maxlength="4" style="width:60px" onkeyup="com.fnOnlyNum(this);fnAddDay('contrBegDt', 'contrExpDt', 'contrDays');"/>&nbsp;일)
									</td>
								</tr>
								</th:block>

								<!-- 하자보수보증 -->
								<th:block th:if="${#strings.equals(paramMap.refVal, '13')}">
								<tr>
									<th>하자담보기간</th>
									<td colspan="5">
										<input type="text" name="releBegDt" id="releBegDt" title="하자담보시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('releBegDt','releEndDt','F');" autocomplete="off"/>
				                    	<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'releBegDt', 'yyyy-mm-dd','releEndDt', 1)" />	<!-- , guarCom.fnSetReleDays -->
				                    	&nbsp;~
				                    	<input type="text" name="releEndDt" id="releEndDt" title="하자담보종료일" maxlength="10" style="width:100px" value=""onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('releBegDt','releEndDt','T');" autocomplete="off"/>	<!-- guarCom.fnSetReleDays(); -->
				                    	<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'releEndDt', 'yyyy-mm-dd', 'releBegDt', 2)" />	<!-- , guarCom.fnSetReleDays -->
										(<input type="search" name="releDays" id="releDays" title="하자담보일수" maxlength="4" style="width:60px" onkeyup="com.fnOnlyNum(this);fnAddDay('releBegDt', 'releEndDt', 'releDays');"/>&nbsp;일)
									</td>
								</tr>
								</th:block>

								<!-- 인허가 제외 -->
								<th:block th:if="${!#strings.equals(paramMap.refVal,'32')}">
									<th:block th:if="${#strings.equals(paramMap.guarReqCd, '2')}">	<!-- 보증변경등록 수정일때 -->
										<th:block th:if="${!#strings.equals(paramMap.refVal,'14')}">	<!-- 선금급 아닐때 -->
										<tr>
											<th>기존계약금액</th>
											<td colspan="5"><input type="search" name="befContrAmt" id="befContrAmt" title="계약금액" maxlength="15" style="width:120px" value="" onkeyup="com.fnOnlyNum(this);com.makeComma(this);" readonly/></td>
										</tr>
										</th:block>

										<th:block th:if="${#strings.equals(paramMap.refVal, '14')}">	<!-- 선금급일때 -->
										<tr>
											<th>기존계약금액</th>
											<td colspan="3"><input type="search" name="befContrAmt" id="befContrAmt" title="계약금액" maxlength="15" style="width:120px" value="" onkeyup="com.fnOnlyNum(this);com.makeComma(this);" readonly/></td>

											<th>기존선금금액</th>
											<td><input type="search" name="befRepayAmt" id="befRepayAmt" title="기존선금금액" maxlength="15" style="width:120px" value="" onkeyup="com.fnOnlyNum(this);com.makeComma(this);" readonly/></td>
										</tr>
										</th:block>
									</th:block>

									<th:block  th:if="${!#strings.equals(paramMap.guarReqCd, '3')}">	<!-- 기재변경등록이 아니면 -->
									<tr>
										<th th:if="${#strings.equals(paramMap.refVal, '11')}">입찰금액</th>	<!-- 입찰 -->
										<th th:if="${!#strings.equals(paramMap.refVal, '11')}">계약금액</th>	<!-- 입찰 이외 -->
										<td colspan="3"><input type="search" name="contrAmt" id="contrAmt" title="계약금액" maxlength="15" style="width:120px" value="" onkeyup="com.fnOnlyNum(this);com.makeComma(this);" /></td><!--guarCom.fnSetGuarAmt(); -->

										<th th:if="${#strings.equals(paramMap.refVal, '14')}">선금금율</th>	<!-- 선금급 -->
										<th th:if="${!#strings.equals(paramMap.refVal, '14')}">보증금율</th>	<!-- 선금급 이외 -->
										<td><span id = "ele_guarRate"></span>&nbsp;%</td>	
									</tr>
									</th:block>
								</th:block>

								<th:block th:if="${#strings.equals(paramMap.refVal, '14')}"> <!-- 선금급보증 -->
									<th:block th:if="${!#strings.equals(paramMap.guarReqCd, '3')}">	<!-- 기재변경등록이 아니면 -->
									<tr>
										<th>선금금액</th>
										<td><input type="search" name="repayAmt" id="repayAmt" title="선금금액" maxlength="15" style="width:120px" value="" onkeyup="com.fnOnlyNum(this);com.makeComma(this);" /></td>	<!-- guarCom.fnSetContrInterAmt(); -->

										<th >약정이자액</th>
										<td colspan="3">
											<input type="search" name="contrInterAmt" id="contrInterAmt" title="약정이자액" maxlength="15" style="width:120px" value="" />
											(&nbsp;약정이자율
											<input type="search" name="contrInterRate" id="contrInterRate" title="약정이자율" maxlength="5" style="width:60px" value=""  onkeyup="com.fnOnlyDecimal(this);" />&nbsp;%	<!-- guarCom.fnSetContrInterAmt(); -->
											)
										</td>
									</tr>
									</th:block>
								</th:block>

								<!-- 인허가 장소 -->
								<th:block th:if="${#strings.equals(paramMap.refVal, '32')}">
								<tr>
									<th>인·허가장소</th>
									<td colspan="5"><input type="search" name="permPlace" id="permPlace" title="인·허가장소" maxlength="50" style="width:250px" value=""/></td>
								</tr>
								</th:block>

								<!-- 계약보증, 이행지급, 성능이행, 인허가 -->
								<th:block th:if="${#strings.equals(paramMap.refVal, '12') or #strings.equals(paramMap.refVal, '15') or #strings.equals(paramMap.refVal, '31') or #strings.equals(paramMap.refVal, '32') or #strings.equals(paramMap.refVal, '34')}">
								<tr>
									<th>계약방식</th>
									<td colspan="5"><div id="ele_contrCdArea" title="계약방식"></div></td>
								</tr>
								</th:block>

							</tbody>
						</table>
						
						
						
						<!-- 관리자가 아닌경우 -->
						<th:block th:if="${!#strings.equals(session.userId,'admin')}">
						<input type="hidden" name="procStat" 		id="procStat" />	<!-- 처리상태 -->	
						<input type="hidden" name="guarStat" 		id="guarStat" />	<!-- 발급상태 -->	
						<input type="hidden" name="commAmt" 		id="commAmt" />	<!-- 보증료 -->	
						<input type="hidden" name="pgCommAmt" 		id="pgCommAmt" />	<!-- 보증료 -->
						<input type="hidden" name="specContrs" 		id="specContrs" />	<!-- 특약 -->
						<input type="hidden" name="g2bContCheck" 	id="g2bContCheck" />	<!-- 실제이행기일 -->
						<input type="hidden" name="koccaYn" 		id="koccaYn" />	<!-- 공공기관지원사업 -->
						
						</th:block>
						<th:block th:if="${#strings.equals(session.userId,'admin')}">
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">관리자 수정</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th>처리상태</th>
									<td><select name="procStat" id="procStat" title="처리상태" style="width:120px; "></select></td>
									<th>발급상태</th>
									<td><select name="guarStat" id="guarStat" style="width:100px;"></select></td>
									<th>--</th>
									<td>--</td>
								</tr>
								<tr>
									<th>보증료</th>
									<td>
										<input type="search" name="commAmt" id="commAmt" title="보증료" maxlength="20" style="width:120px" value="" />
										<!--<input type="hidden" name="calcCommAmt" id="calcCommAmt" title="계산보증료" maxlength="20" value=""/>-->
									</td>
									<th>PG수수료</th>
									<td colspan="3">
										<input type="search" name="pgCommAmt" id="pgCommAmt" title="PG수수료" maxlength="20" style="width:120px" value="" />&nbsp;
										<input type="checkbox" name="pgAddYn" title="" value="Y" onclick="guarCom.fnPgAddYnChange();"/>&nbsp;포함(전자결제시)
									</td>
								</tr>
								<tr>
									<th>특약</th>
									<td colspan="5">
										<th:block th:if="${#strings.equals(paramMap.refVal, '11') || #strings.equals(paramMap.refVal, '12') || #strings.equals(paramMap.refVal, '13') || #strings.equals(paramMap.refVal, '14')}">
										<input type="checkbox" name="specContrs" value="1"/>&nbsp;공제금지급특별약관
										</th:block>

										<th:block th:if="${#strings.equals(paramMap.refVal, '12')}"> <!-- 계약보증 -->
										<input type="checkbox" name="g2bContCheck" value="Y"/>&nbsp;실제이행기일
										</th:block>

										<th:block th:if="${#strings.equals(paramMap.refVal, '15') || #strings.equals(paramMap.refVal, '31') || #strings.equals(paramMap.refVal, '32') || #strings.equals(paramMap.refVal, '33') || #strings.equals(paramMap.refVal, '34')}">
										<input type="checkbox" name="specContrs" id="specContrs_1" value="1"/>&nbsp;보증금지급특별약관&nbsp;
										<input type="checkbox" name="specContrs" id="specContrs_2" value="2"/>&nbsp;추가위험부담특별약관
										</th:block>

										<th:block th:if="${#strings.equals(paramMap.refVal, '21')}"> <!-- 채무보증 -->
										<input type="checkbox" name="specContrs" id="specContrs_3" value="3"/>&nbsp;특별출연업무협약&nbsp;
										<input type="checkbox" name="specContrs" id="specContrs_4" value="4"/>&nbsp;기업일반자금대출
										</th:block>

										<th:block th:if="${#strings.equals(paramMap.refVal, '15') || #strings.equals(paramMap.refVal, '31') || #strings.equals(paramMap.refVal, '32') || #strings.equals(paramMap.refVal, '33') || #strings.equals(paramMap.refVal, '34')}"> <!-- 이행지급, 성능이행, 인허가, 상품팜내 -->
										<input type="checkbox" name="koccaYn" value="Y" onclick="guarCom.fnKoccaChange();"/>&nbsp;공공기관지원사업 여부&nbsp;
										</th:block>
									</td>
								</tr>
							</tbody>
						</table>
						</th:block>
						
								
					</div>
					<!--여긴 영역 감싼 버전으로 -->
					<!--fixScroll 스크롤 넣으면 안쪽영역으로 -->
					<div class="collapseBox fixable" style="width:49%"> 
						<!-- 보증계약정보 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">보증계약정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup> 
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="">
							</colgroup>
							<tbody>
								<th:block th:if="${#strings.equals(paramMap.guarReqCd, '3')}">	<!-- 기재변경등록에만 -->
								<tr> 
									<th>보증료</th>
									<td colspan="5">
										<input type="search" name="commAmt" id="commAmt" title="보증료" maxlength="20" style="width:120px" onkeyup="com.fnOnlyNum(this);com.makeComma(this);" value=""/>
									</td>
								</tr>
								</th:block>
								<tr>
									<th>보증기간</th>
									<td colspan="3">
										<span id = "ele_guarBegDt"></span>&nbsp;~&nbsp;<span id = "ele_guarExpDt"></span>&nbsp;(&nbsp;<span id = "ele_guarAddDays"></span>&nbsp;일)	
									</td>
									<th>보증기간가산</th>
									<td ><span id="ele_guarAprojdNm"></span></td>
								</tr>

								<th:block th:if="${#strings.equals(paramMap.guarReqCd, '2')}">	<!-- 보증변경등록 수정일때만 -->
								<tr>
									<th>기존보증금액</th>
									<td><span id="ele_befGuarAmt"></span></td>
									<th>기존보증료</th>
									<td colspan="3"><span id="ele_befCommAmt"></span></td>
								</tr>
								</th:block>

								<th:block th:if="${!#strings.equals(paramMap.guarReqCd, '3')}">	<!-- 기재변경등록이 아니면 -->
								<tr>
									<th>보증금액</th>
									<td colspan="5">
										<span id="ele_guarAmt"></span>
									</td>
								</tr>
								<tr>
									<th>기본요율</th>
									<td>
										<span id="ele_orgRate"></span>&nbsp;%
									</td>	<!-- readonly -->
									<th>적용요율</th>
									<td colspan="3">
										<span id="ele_commRate"></span>&nbsp;%
									</td>
								</tr>
								<tr>
									<th>보증료산식</th>
									<td colspan="5">
										<span id="ele_commCalc"></span>
									</td>
								</tr>
								<tr>
									<th>보증료</th>
									<td><span id="ele_commAmt"></span></td>
									<th>PG수수료</th>
									<td colspan="3"><span id="ele_pgCommAmt"></span></td>
								</tr>
								
								</th:block>
								<!--
								<tr>
									<th>장르</th>
									<td colspan="5">
										<select name="genreCd" id="genreCd" title="장르" style="width:150px"></select>
										<input type="search" name="genreNm" id="genreNm" title="장르명" maxlength="20" style="width:120px" value="" />
									</td>
								</tr>
								-->
								<tr>
									<th>보증내용</th>
									<td colspan="5"><input type="search" name="guarCont" id="guarCont"  value="" maxlength="100" style="width:400px" /></td>
								</tr>
								<th:block th:if="${!#strings.equals(paramMap.guarReqCd, '1')}"><!-- 일반 보증등록이 아니면(변경등록, 기재변경에서는 나오게) -->
								<tr>
									<th>보증문구</th>
									<td colspan="5"><textarea name="guarClassCont" id="guarClassCont" rows="2" cols="60"></textarea></td>
								</tr>
								</th:block>
								<tr>
									<th>특기사항</th>
									<td colspan="5"><textarea name="guarClassContAdd" id="guarClassContAdd" rows="2" cols="60"></textarea></td>
								</tr>
								<tr>
									<th>적요</th>
									<td colspan="5"><textarea name="summary" id="summary" rows="2" cols="60"></textarea></td>
								</tr>
								<tr>
									<th>비고</th>
									<td colspan="5">
										<textarea name="remark" id="remark" rows="2" cols="60"></textarea>
									</td>
								</tr>
								<tr>
									<th>비고(추가)</th>
									<td colspan="5">
										<textarea name="remarkAdd" id="remarkAdd" rows="2" cols="60"></textarea>
									</td>
								</tr>
							</tbody>
						</table>
						
						<!-- 납부정보 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">납부정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup> 
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th>청구일자</th>
									<td>
										<input type="search" name="payPreDt" id="payPreDt" title="청구일자" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:100px"/>
										<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'payPreDt', 'yyyy-mm-dd')" />
									</td>
									<th>입금일자</th>
									<td colspan="3">
										<input type="search" name="payDt" id="payDt" title="입금일자" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:100px"/>
										<img src="../images/icon_calendar.png" alt="달력" class="calendar-box" onclick="calendar(this, 'payDt', 'yyyy-mm-dd')" />
									</td>
								</tr>
								<tr>
									<th>입금방법</th>
									<td>
										<select name="payWay" id="payWay" title="입금방법" style="width:115px" onchange="fnSetBankCd(this);">
									</td>
									<th>입금자</th>
									<td colspan="3">
										<input type="search" name="payNm" id="payNm" title="입금자" style="width:300px"/>
									</td>
								</tr>
								<tr>
									<th>입금은행</th>
									<td colspan="5">
										<select name="selBank" id="selBank" title="입금은행" style="width:230px" onchange="com.fnBankChange(this.value);">
											<optoin value=""></option>
										</select>
										<input name="payAcct" type="text" id="payAcct" style="width:300px" title="입금계좌" readonly="readonly" />
										<input type="hidden" name="payBank" id="payBank" />
									</td>
								</tr>
							</tbody>
						</table>
						
						<th:block th:if="${#strings.equals(paramMap.guarReqCd, '2')}">	<!-- 배서 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">추가 보증 정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
					                <th>변경분<br />표시여부</th>
					                <td>
					                    <input type="checkbox" name="chgDispYn" value="N" onclick="guarCom.fnChgDispYn(this.value);" checked/> 전체표시
					                    <input type="checkbox" name="chgDispYn" value="Y" onclick="guarCom.fnChgDispYn(this.value);"/> 변경분 표시
					                </td>
					            </tr>
					            <tr>
					                <th>변경보증기간</th>
					                <td>
										<input type="search" name="chgGuarBegDt" id="chgGuarBegDt" title="시작일" maxlength="10" style="width:100px" value="" readonly/>~
										<input type="search" name="chgGuarExpDt" id="chgGuarExpDt" title="종료일" maxlength="10" style="width:100px" value="" readonly/>
					                    (<input type="text" name="chgGuarDays" id="chgGuarDays" maxlength="4" style="width:60px" value="" readonly/> 일)
					                </td>

					            </tr>
					            <tr>
					                <th>변경보증금액</th>
					                <td><input type="text" name="chgGuarAmt" id="chgGuarAmt" value="" size="13" onkeyup="com.fnOnlyNum(this);makeComma(this);" readonly /></td>
					            </tr>
							</tbody>
						</table>
						</th:block>
							
						<!-- 해제 정보 -->
						<div id="areaCanInfo" style="display:none">
							<section class="area mt10">
								<div class="fl">
									<h4 class="title">해제/취소 정보</h4>
								</div>
							</section>
							<table class="tbl">
								<colgroup>
									<col style="width:90px;">
									<col style="width:140px;">
									<col style="width:90px;">
									<col style="width:140px;">
									<col style="width:90px;">
									<col style="">
								</colgroup>
								<tbody> 
									<tr>
						                <th>해제일자</th>
						                <td colspan="5">
											<input type="search" name="guarCanDt" id="guarCanDt" title="해제일자"  maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);" style="width:100px"/>	
											<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'guarCanDt', 'yyyy-mm-dd','')" />
						                </td>
									</tr>
									<tr>
						                <th id="vCanReason">해제사유<span class="reqMark">*</span></th>
										<td colspan="3">
											<select name="guarCanType" id="guarCanType" title="해제사유" style="width:130px;" onChange="fnCanTypeChg(this.value)"></select>
											<input type="search" id="guarCanReason" name="guarCanReason" title="해제사유" style="width:190px;display:none" maxlength="50" />
										</td>
										<th>환불료</th>
						                <td><input type="search" id="retCommAmt" name="retCommAmt" maxlength="15" style="width:100px" onkeyup="com.fnOnlyNum(this);com.makeComma(this);" /></td>
									</tr>
									<tr>
						                <th>환불일자</th>
						                <td>
											<input type="search" name="retDt" id="retDt" title="환불일자"  maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);" style="width:100px"/>	
											<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'retDt', 'yyyy-mm-dd','')" />
						                </td>
						                <th>환불방법</th>
						                <td >
											<select name="retWay" id="retWay" title="환불방법" style="width:120px"></select>
						                </td>
						                <th>환불여부<span class="reqMark">*</span></th>
										<td>
											<select id="retYn" name="retYn" style="width:105px" title="환불여부">
												<option value="">선택</option>
												<option value="Y">환불</option>
												<option value="N" selected>미환불</option>
											</select>
										</td>
									</tr>
						            <tr>
										<th>환불은행</th>
										<td>
											<select name="retBank" id="retBank" title="환불은행" style="width:100%" >
											</select>
										</td>
										<th>환불계좌</th>
										<td><input type="search" id="retAcct" name="retAcct" maxlength="20" /></td>
										<th>환불예금주</th>
										<td>
											<input type="search" name="retNm" id="retNm" style="width:105px" maxlength="20"/>
										</td>
									</tr>
									<tr>
										<th>해제비고</th>
										<td colspan="5">
											<input type="search" name="retRmk" id="retRmk" style="min-width:280px;" title="비고" maxlength="100" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					<!-- 그리드 우측 부분 끝 -->
					<!-- END 컨텐츠 영역 -->
					</div>
				</div>
				<!--하단 버튼 영역-->
				<div class="layer-flex mt20">
					<!-- 처리 버튼 영역 -->
					<div class="" style="width:100%">
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">저장</button>
							</div>
						</section>
					</div>
				</div>
				<!-- 처리 버튼 영역 끝-->
			</div><!-- //contents -->
			
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
