<!--
	파일정보 : guarPayNoSumList.html
	파일명 : guarPayNoSumList
	업무명 : 미수수수료 기준일자 기준 잔액현황 조회
	생성자 : 윤가영
	생성일 : 2023-12-01
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<th:block th:layout="comjs">
			<script th:src="@{/js/guarCom.js}"></script>
		</th:block>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			var reloadYn = false;	//공통 리로드 방지

			//초기화 조회 콜백
			$(document).ready(function(){
				//검색 영역 처리

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				gridOptList[0].Cfg.HeaderCheck = 1; //헤더체크
				
				$.each(gridOptList[0].Cols, function(idx, item){
					if(item.Name === "chkYn"){ //체크박스숨기기
						item.Visible = "0"      
						item.CanEdit = "0"  
					}
					if(item.Name === "payStatus"){ //기준일자기준 납부상태 표출
						item.Visible = "1"      
						item.CanEdit = "0" 
						item.excelYn = "1"
					}
				});

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });
			    IBSheet.create({ id: "sheetHist", el: "sheetDivHist", options: gridOptList[1] });


				//화면 처리
				//달력부분
				$("#sSerchStaDt").val(com.fnDateGet(/*[[${today}]]*/, -180));	//시작일
				$("#sSerchEndDt").val(com.fnDateGet(/*[[${today}]]*/, 0));		//종료일

				com.fnCodeSelectBox("GR01", "sGuarType", 1, ""); //보증종류
				com.fnCodeSelectBox("GR23", "sGuarPayYn", 1, "", "1"); //처리상태
				com.fnCodeSelectBox("GR23", "payYn", 1, ""); //보증료납부여부
				com.fnCodeSelectBox("CM01", "payWay", 1, "");//입금방법
				com.fnCodeSelectBox("MB24", "sMembCd", 1, "");//입금방법
				com.fnCodeSelectBox("GR07", "sOrderCd", 1, ""); //기관구분

				//조합계좌설정
				com.fnSetBankAccList("selBank", 1);

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

			    //저장후 이벤트
			    sheet.bind("onAfterSave" , function(obj) {
					resData = JSON.parse(obj.response.response);
					alert(resData.resultMsg);
			        if (resData.resultCode === 0) {
					    //fnSearchDtl(); //조회 호출
			        }
				});

				//sheetDiv 원클릭 처리
				sheet.bind("onAfterClick" , function(obj) { //원클릭
					if(obj.kind === "Filter" || obj.kind === "Header") return;
					sheetHist.removeAll();//마스터 값이 없을 경우
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기
					//console.log(rowData);

					//param = JSON.stringify($("#serchFrm").serializeObject());
					param = {guarNo:rowData.guarNo, sBasDt: $("#sBasDt")};
					com.fnIbsSearch("/guarPay/selectGuarPartPayList.do", param, sheetHist); //param, sheetId 생략 가능

				});

				//sheetDiv 더블클릭 처리
				sheet.bind("onDblClick", function(obj){ //더블클릭
					if(obj.kind === "Filter") return;
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기
					if(obj.col !== "chkYn"){
						menuCd = "1030224"; //발급상세 (guar/guarDtl.html)
						param = {menuCd:menuCd, paramMap:{guarNo:rowData.guarNo
														, guarType:rowData.guarType //상품별 주계약화면 변경
														, listType:"PROC" //처리용
														}};
						parent.menuOpen(param);
					}
				});



				sheet.bind("onSearchFinish", function(obj) {
					var membs = [];
					var commAmt = 0;
					var remainCommAmt = 0;
					var payCommAmt = 0;
					var rows = sheet.getDataRows();
					
					for(var i=0; i<rows.length; i++){
						var row = rows[i];

						if(membs.indexOf(row.membNo) === -1){
							membs[membs.length] = row.membNo;
						}
						commAmt += row.commAmt;
						remainCommAmt += row.remainCommAmt;
						payCommAmt += row.payCommAmt;

						guarCom.fnIbsStyleSet(sheet, row); //필드색상정의
					}

					$("#statTot").html(com.aprojomma(sheet.getTotalRowCount()) + " <em>건</em>");
					$("#statMembTot").html(com.aprojomma(membs.length) + " <em>건</em>");
					$("#statCommAmt").html(com.aprojomma(commAmt) + " <em>원</em>");
					$("#remainCommAmt").html(com.aprojomma(remainCommAmt) + " <em>원</em>");
					$("#totRemainCommAmt").html(com.aprojomma(payCommAmt) + " <em>원</em>");
				})
			});

			//현황 조회
			var fnSearch = function(){
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/guarPay/selectGuarPayNoSumList.do", param); //param, sheetId 생략 가능
			};

			//엑셀 다운로드
			var fnExcel = function(type){
				if(type === "hist"){
					com.fnExcelToJs(sheetHist, gridOptList[1].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/); //초기화 호출
				}else{
					
					com.fnExcelToJs(sheet, gridOptList[0].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/); //초기화 호출
				}
			};

			//화면 호출(상세)
			var fnView = function(type){

				if(type === "DTL"){
					menuCd = "1030224"; //발급상세 (guar/guarDtl.html)
					param = {menuCd:menuCd, paramMap:{guarNo:rowData.guarNo
													, guarType:rowData.guarType //상품별 주계약화면 변경
													, listType:"PROC" //처리용
													}};
					parent.menuOpen(param);
				}
			};

			//검색 초기화
			var fnReset = function(){
				com.fnSerchInit("#serchFrm");
				$("#sSerchStaDt").val(com.fnDateGet(/*[[${today}]]*/, -180));	//시작일
				$("#sSerchEndDt").val(com.fnDateGet(/*[[${today}]]*/, 0));		//종료일

				fnSearch();
			};

		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
			</div><!-- //contentsTop -->
			<div class="contents flex">
				<!-- 검색 부분 -->
				<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<section class="searchArea mt10">
					<div class="row">
						<dl>
							<dt>조합원명</dt>
							<dd style="width:260px;">
								<input type="search" name="sMembNo" id="sMembNo" style="width:60px;" maxlength="4" onkeyup="com.fnOnlyNum(this);">
								<input type="search" name="sMembNm" id="sMembNm" style="width:165px;" maxlength="40">
								<button type="button" class="btn icoSearch" onclick="com.fnMembInfo()">검색</button>
							</dd>

							<dt>보증서종류</dt>
							<dd style="width:160px;">
								<select name="sGuarType" id="sGuarType" style="width:160px;"></select>
							</dd>
							<dt>완납여부</dt>
							<dd style="width:230px;">
								<select name="sPayYn" id="sPayYn" style="width:100px;">
									<option value="">전체</option>
									<option value="N" selected>미납(부분납)</option>
									<option value="Y">완납</option>
								</select>
							</dd>
						</dl>
					</div>
					<div class="row">
						<dl>
							<dt >
								<select name="sSerchDtType" id="sSerchDtType">
									<option value="T">발급일</option>
									<option value="P">입금일</option>
								</select>
							</dt>
							<dd style="width:260px;">
	                        	<input type="text" name="sSerchStaDt" id="sSerchStaDt" title="시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sSerchStaDt','sSerchEndDt','F');" autocomplete="off"/>
	                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sSerchStaDt', 'yyyy-mm-dd','sSerchEndDt', 1)" />
	                        	<input type="text" name="sSerchEndDt" id="sSerchEndDt" title="종료일" maxlength="10" style="width:100px" value=""onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);com.fnDateFromToChk('sSerchStaDt','sSerchEndDt','T');" autocomplete="off"/>
	                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sSerchEndDt', 'yyyy-mm-dd', 'sSerchStaDt', 2)" />
							</dd>

							<dt>계약건명</dt>
							<dd style="width:160px;">
								<input type="search" name="sServNm" id="sServNm" title="계약건명" maxlength="50" style="width:160px" value=""/>
							</dd>

							<dt>공제기관</dt>
							<dd style="width:230px;">
								<select name="sOrderCd" id="sOrderCd" style="width:100px;"></select>
								<input type="search" name="sOrderNm" id="sOrderNm" maxlength="50" style="width:125px;">
							</dd>
						</dl>
					</div>

					<div class="row">
						<dl>
							<dt>기준일자</dt>
							<dd style="width:260px;">
								<input type="search" name="sBasDt" id="sBasDt" value="" title="기준일자" style="width:100px" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this);">
								<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sBasDt', 'yyyy-mm-dd')">
							</dd>
							<dt>신청자</dt>
							<dd style="width:160px;">
								<input type="search" name="sReqNm" id="sReqNm" title="신청자" maxlength="20" style="width:130px" value=""/>
							</dd>
							<dt>보증서번호</dt>
							<dd style="width:160px;">
								<input type="search" name="sDocNo" id="sDocNo" title="보증서번호" maxlength="25" style="width:160px" value=""/>
							</dd>
						</dl>
					</div>

					<div class="searchBtn">
						<button type="button" onclick="javascript:fnSearch();" class="btn search">조회</button>
						<button type="button" onclick="javascript:fnReset();" class="btn reset">초기화</button>
					</div>
				</section>
				<!--그리드 위 통계-->
				<div class="statSummary" style="margin-bottom:10px">
					<ul>
						<li>
							<strong>총건수 : </strong>
							<span id="statTot"><em>건</em></span>
						</li>
						<li>
							<strong>회원건수 : </strong>
							<span id="statMembTot"><em>건</em></span>
						</li>
						<li>
							<strong>보증료총합 : </strong>
							<span id="statCommAmt"><em>원</em></span>
						</li>
						<li>
							<strong>잔액총합 : </strong>
							<span id="remainCommAmt"><em>원</em></span>
						</li>
						<li>
							<strong>입금액총합 : </strong>
							<span id="totRemainCommAmt"></span>
						</li>
					</ul>
				</div>
				</form>
				<!-- 검색 부분 끝 -->
				<div class="layer-flex collapseArea mt20">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:70%">
						<!-- 그리드 상단 부분 -->
						<section class="area">
							<div class="fr">
								<button type="button" onclick="javascript:fnView('DTL');" class="btn style08">상세</button>
								<button type="button" onclick="javascript:fnExcel();" class="btn style04">엑셀</button>
							</div>
						</section>
						<!-- 그리드 상단 부분 끝 -->
						<div class="mt10">
					    	<div id="sheetDiv" style="width:100%;height:500px"></div>
						</div>
					</div>
					<!-- 그리드 좌측 부분 끝 -->

					<!-- 그리드 우측부분 시작 -->
					<div class="collapseBox fixable" style="width:29%">
						<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
						<!--<section class="area">
							<div class="fl">
								<h4 class="title">회원 및 약정정보</h4>
							</div>
						</section>
						<div class="mt10">
							<table class="tbl">
								<colgroup>
									<col style="width:80px;">
									<col style="width:140px;">
								</colgroup>
								<tr>
									<th>입금일자</th>
									<td>
										<input type="search" name="payDt" id="payDt" title="입금일자" th:value="${today}" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:100px" />
										<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'payDt', 'yyyy-mm-dd')" />

									</td>
								</tr>
							</table>
						</div>-->
						</form>
						<section class="area">
							<div class="fl">
								<h4 class="title">수수료 납부이력</h4>
							</div>
							<div class="fr">
								<button type="button" onclick="javascript:fnExcel('hist');" class="btn style04">엑셀</button>
							</div>
						</section>
						<div class="mt10">
					    	<div id="sheetDivHist" style="width:100%;height:500px"></div>
						</div>
					</div>

					<!-- 그리드 우측부분 끝 -->
					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
		</div><!-- //contentsArea -->
	</body>
</html>
