<!--
	파일정보 : guarChg/guarChgIns.html
	파일명 : guarChg
	업무명 : 보증(배서)변경 등록
	생성자 : 변성균
	생성일 : 2023-04-11
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<th:block th:layout="comjs">
			<script th:src="@{/js/guarCom.js}"></script>
		</th:block>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "GR01:GR05:GR06:GR07:GR08:GR09:GR13:GR14:GR23:MB02:CM01:CM02:CM13:CRET", gridNoList : ""}

			var guarType = /*[[${paramMap.refVal}]]*/; //메뉴참조값 (보증상품)
			var paramMap = /*[[${paramMap}]]*/;
			var guarChgYn = "Y";// 추가보증여

			//초기화 조회 콜백
			$(document).ready(function(){
				//화면 처리
				$("#txt_commAmt").text("재산출보증료");			//(보증계약정보) 보증료 -> 재산출보증료
				$("#commAmt").attr("name", "curCommAmt");	//(보증계약정보) 보증료 이름 변경
				$("#commAmt").attr("id", "curCommAmt");		//(보증계약정보) 보증료 이름 변경

				//코드값 처리 (각각 html include 할때 해당 영역에서 처리하도록 수정)
				com.fnCodeSelectBox("GR06", "guarIssueCd", 0, ""); 	//발급형태

				guarCom.fnProcStatSelectBox();	//처리상태
				//com.fnCodeSelectBox("GR05", "procStat", 1, "22"); //처리상태

				//동적 첨부파일 (다건)
				com.fnIbsUpload($("#docFile"));

				//주계약정보 화면 설정(guar/comGuarReqContr.html)
				fnGuarContrInputSet();

				//보증 신청 조회
				fnSearchDtl();
			});

			//
			var fnSearchDtl = function(){
				var initParam = {
					guarNo: paramMap.guarNo,
					befCommType: 'R'	//selectGuar에서 사용됨(BEF_COMM_AMT 계산)
				};

				//보증변경등록 전용 데이터로 수정(심사승인자 조회 추가, 첨부파일 제외)
				obj = {url:"/guarChg/selectGuarChg.do", param:initParam, callBack:fnDtlCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				//obj = {url:"/guar/selectGuar.do", param:initParam, callBack:fnDtlCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			}

			//상세 조회 콜백
			var fnDtlCallBack = function(resData){
				//console.log(resData);

				//1. 심사승인자 selectBox 생성
				var empList = {"data": resData.empList};
				guarCom.fnSelectEmployCallBack(empList);

				//2. 조합원정보 데이터 set
				com.fnSetKeyVal(resData.memb);
				$("#sMembNo").val(resData.memb.membNo);

				//3. 주계약정보 화면 설정
				guarType = resData.guar.guarType;
				fnGuarContrViewSet(guarType, resData); //주계약정보 화면설정(상세) guar/comGuarDtl

				//4-1. 약정정보
				com.fnSetKeyVal(resData.contr, "areaGuarContr");
				$("#finalGrade").val(resData.contr.finalGrade);		//신용도

				//4-2. 상품별 한도정보
				var typeValue = guarType;
				if(guarType === "31")	typeValue = "13";
				if(guarType === "32")	typeValue = "12";
				if(guarType === "33" || guarType === "34")	typeValue = "15";
				$("#ele_limitAmt").text(resData.contr["limitAmt"+typeValue]);	//한도금액
				$("#ele_useAmt").text(resData.contr["useAmt"+typeValue]);		//사용액
				$("#ele_remainAmt").text(resData.contr["remainAmt"+typeValue]);	//가능액

				//5-1. 보증 정보
				com.fnSetKeyVal(resData.guar);
				if(com.fnIsEmpty(resData.guar.guarApprNm))	$("#ele_guarApprNm").text(/*[[${session.userNm}]]*/);
				guarCom.fnGuarIssueChg($("#guarIssueCd").val());	//전자공고 영역 변경(입력부분)

				$("#areaGuarDtl #btnG2b").hide();	//전자공고 상세부분 검색버튼 숨김
				guarCom.fnGuarIssueChg($("#guarIssueCd").val(), "areaGuarDtl");	//전자공고 영역 변경(상세부분)

				//5-2. 기존보증 데이터
				$("#befGuarNo").val(resData.guar.guarNo);		//기존보증번호
				$("#befGuarSeq").val(resData.guar.guarSeq);		//기존보증서순번
				$("#befMembNo").val(resData.guar.membNo);		//기존조합원번호
				$("#befGuarBegDt").val(resData.guar.guarBegDt);	//기존보증시작일
				$("#befGuarExpDt").val(resData.guar.guarExpDt);	//기존보증종료일
				$("#befGuarDays").val(resData.guar.guarDays);	//기존보증기간
				$("#befGuarAmt").val(resData.guar.guarAmt);		//기존보증금액
				$("#befCommRate").val(resData.guar.commRate);	//변경전요율
				$("#befContrAmt").val(resData.guar.contrAmt)	//기존계약금액
				$("#befRepayAmt").val(resData.guar.repayAmt)	//기존선금급금액
				$("#befDocNo").val(resData.guar.docNo);
				$("#reqDt").val(/*[[${today}]]*/);	//신청일자 오늘로(guarCom.fnSelectGuarRate 보증료 조회 전에 set 필수)

				//5-3 보증 체크박스, radio 체크
				fnUptCheckValGuar(resData.guar);	//comGuarReqGuar.html 체크값 체크
				fnUptCheckValContr(resData.guar);	//comGuarReqContr.html 체크값 체크

				//5-4 보증요율, 기본요율 조회
				//guarCom.fnSelectGuarRate("N");	//N: 조회 후 계산 x -> 2023-12-19 적용요율은 기존값으로 사용하도록 처리

				//6. 심사정보
				guarCom.fnSelCpSelectBox(resData.persList, resData.guar.reqNm);	//신청자
				
				//7. 기존데이터 안쓰고 초기화 필요 데이터
				$("#procStat").val("22");		//처리상태 디폴트: 심사승인
				$("#pgCommAmt, #commAmt, #commCalc").val("");	//pg수수료, 보증료, 보증료산식 초기화
				if($("#pgAddYn").is(":checked"))	$("#pgAddYn").prop("checked",false);	//PG수수료..
				initPayReSet();	//보증료 미수처리값 초기화(comGuarPay.html)
				$("#btn_partPayProc").hide();	//(comGuarPay.html) 납입처리 버튼 숨김
				guarCom.fnInitTempGuarExpDt();	//tempGuarExpdt값 초기화
				showGuarPayArea("mod");			//comGuarPay.html (input으로 보여주기)
				$("#guarClassCd").val(""); //변경구분 초기화
			}

			//저장
			var fnSave = function(){
				//필수체크
				var valChks = ["servNm", "orderCd", "orderNm", "contrAmt", "guarBegDt", "guarExpDt", "examNm"];
				if(guarType !== "11")						valChks.push(...["contrBegDt", "contrExpDt", "contrDays"]);
				if(guarType === "11" || guarType === "13")	valChks.push(...["releDt"]);
				if(guarType === "13")						valChks.push(...["releBegDt", "releEndDt", "releDays"]);
				if(guarType === "15" || guarType === "31" || guarType === "32" || guarType === "33" || guarType === "34")	valChks.push(...["reqDt", "guarAmt", "guarCont"]);

				if(com.fnValChk(valChks)){
					//약정번호(조합원 조회시 등록됨)
					if($("#contrNo").val() === ""){
						alert("조합원을 선택해 주십시오.");
						return;
					}

					//전자보증 체크
				    if($("#guarIssueCd").val() === "G") {
						//입찰공고 번호
						if($("#publicNo").val() === ""){
							alert("입찰공고번호를 입력해 주십시오.");
				            $("#publicNo").focus();
				            return;
						}

						//전자공고번호
						if($("#orderBizNo").val() === ""){
							alert("조달청 계약 내용이 검색되지 않았습니다.");
							$("#publicNo").focus();	//조달청 검색 필요해서 포커스
            				return;
						}

				    }

					//보증금액
					if(guarCom.fnToNumber($("#guarAmt").val()) > guarCom.fnToNumber($("#ele_remainAmt").text()) + guarCom.fnToNumber($("#befGuarAmt").val())  ) {
				        alert("보증금액이 보증가능금액을 초과하였습니다.");
				        $("#guarAmt").focus();
				        return;
				    }

				    //출자면제보증한도체크
				    if($("#contrType").val() === "13" && guarCom.fnToNumber($("#guarAmt").val()) > guarCom.fnToNumber($("#exemLimitAmt").val())) {
				    	alert("보증금액이 출자면제약정 건당 한도액(" + com.aprojomma($("#exemLimitAmt").val()) + ")을 초과하였습니다.");
				    	$("#guarAmt").focus();
				        return;
				    }

					//보증료
				    if($("#curCommAmt").val() === "") {
				        alert("보증료가 계산되지 않았습니다.\n보증내용을 확인해 주십시오.");
				        $("#curCommAmt").focus();
				        return;
				    }

					//경보
				    if(guarCom.fnToNumber($("#cretop").val()) > 12) {
				        alert("이 업체는 "+   com.fnInputText("CRET", $("#cretop").val()) +" 등급입니다.");
				        //return;
				    }

				    //보증금율 계산
				    if(guarType === "12"){
						if(guarCom.fnToNumber($("#guarRate").val()) === 0) {
					        guarCom.fnSetGuarRate();
					    }
					}

					if(confirm("저장 처리 하시겠습니까?")){
						//console.log($("#saveFrm").serializeObject());
						obj = {url:"/guarChg/insertGuarChg.do", formId: "saveFrm", fileId:"docFile", callBack:fnSaveCallBack, msgYn:"Y", sessYn:"Y", loadYn:"Y"};
						com.fnAjaxMulti(obj);
					}
				}
			};

			//저장콜백
			var fnSaveCallBack = function(resData){
				parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/, /*[[${menuInfo.refMenuIdx}]]*/);
			};

			/*]]>*/

		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
				<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
<!--						<button type="type" class="btn-collapse close"><span></span></button>-->
						<button type="type" class="reLoadFrm"></button>
					</div>
			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
			<!-- 첨부파일 관련 -->
			<input type="hidden" name="atthType" 	id="atthType" th:value="${menuInfo.atthType}"/>
			<input type="hidden" name="atthNo" 		id="atthNo"/>

			<!-- 화면 관련 -->
			<input type="hidden" name="guarNo"    	id="guarNo" />
			<input type="hidden" name="guarYear" 	id="guarYear" />
			<input type="hidden" name="guarSeq"  	id="guarSeq"  />
			<input type="hidden" name="befPublicNo" id="befPublicNo" />

			<input type="hidden" name="guarType"    id="guarType"   th:value="${paramMap.refVal}" /> <!-- 보증상품 -->
		    <input type="hidden" name="contrType"   id="contrType"  value="" /> <!-- 약정구분 -->
		    <input type="hidden" name="finalGrade"  id="finalGrade" value="" /> <!-- 신용등급 -->
		    <input type="hidden" name="contrNo"     id="contrNo"    value="" /> <!-- 약정번호 -->
		    <input type="hidden" name="cretop" 		id="cretop" 	value="" /> <!-- 조합원신용 -->
			<input type="hidden" name="reqType" 	id="reqType"/> 	<!-- 신청유형 -->
			<input type="hidden" name="reqSeq"  	id="reqSeq"/> 	<!-- 신청순번 -->
			<input type="hidden" name="membNo"  	id="membNo"/>
			<input type="hidden" name="sMembNo"  	id="sMembNo"/>
			<input type="hidden" name="membNm"  	id="membNm"/>
			<input type="hidden" name="ceoNm"  		id="ceoNm"/>


			<input type="hidden" name="mortCnt"  	id="mortCnt"/> <!-- 담보갯수 -->
			<input type="hidden" name="exemLimitAmt"  	id="exemLimitAmt"/> <!-- 출자면제보증한도 -->

			<!-- 신규보증(asis serviceimple initGuarParam 파라미터 페이지에 세팅) -->
			<input type="hidden" name="guarStat"  	id="guarStat" value=""/> 	<!-- 보증상태 : GR02 - 처리중(10) -->
			<input type="hidden" name="guarClassCd" id="guarClassCd" value=""/> <!-- 신청유형 : GR03 - 최초 -->
			<input type="hidden" name="guarReqCd"  	id="guarReqCd" value=""/>	<!-- 신청유형 : GR04 - 배서(2) -->

			<!--전자보증용 필드 #######################################################################################-->
			<!--<th:block th:include="guar/comHiddenElect"></th:block>--> <!--전자보증용 -->
			<!--전자보증용 필드 #######################################################################################-->

			<!-- 저장 or 페이지 계산을 위해 필요한 이전 보증정보(bef) -->
			<input type="hidden" name="befGuarBegDt"  	id="befGuarBegDt"/>	<!-- 기존보증시작일자 -->
			<input type="hidden" name="befGuarExpDt"  	id="befGuarExpDt"/>	<!-- 기존보증만기일자 -->
			<input type="hidden" name="befGuarDays"  	id="befGuarDays"/>	<!-- 기존보증일수 -->

			<input type="hidden" name="befGuarNo"  		id="befGuarNo"/>	<!-- 기존보증일수 -->
			<input type="hidden" name="befGuarSeq"  	id="befGuarSeq"/>	<!--  -->
			<input type="hidden" name="befMembNo"  		id="befMembNo"/>	<!--  -->
			<input type="hidden" name="befGuarAmt"  	id="befGuarAmt"/>	<!-- 기존보증금액 -->
			<input type="hidden" name="befCommAmt"  	id="befCommAmt"/>	<!-- 기존보증료 -->
			<input type="hidden" name="befCommRate"  	id="befCommRate"/>	<!-- 변경전요율 -->

			<input type="hidden" name="befContrAmt"  	id="befContrAmt"/>	<!-- 기존계약(대출)금액 -->
			<input type="hidden" name="befRepayAmt"  	id="befRepayAmt"/>	<!-- 기존선금급금액 -->
			<input type="hidden" name="initReqDt"  		id="initReqDt"/>	<!-- 최초신청일자 -->

			<input type="hidden" name="initDocNo"  		id="initDocNo"/>	<!-- 최초보증서 -->
			<input type="hidden" name="befDocNo"  		id="befDocNo"/>		<!-- 이전보증서 -->
			<input type="hidden" name="initGuarSeq" 	id="initGuarSeq" />	<!-- 최초보증서순번 -->
			<input type="hidden" name="chgCnt" 			id="chgCnt" />		<!-- 변경차수 -->

			<!--<input type="hidden" name="retCommAmt" 		id="retCommAmt" />-->	<!-- 환불보증료(금액감액일때만) -->

			<div class="contents flex">
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						<th:block th:include="com/comMemb"></th:block> <!--조합원조회 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">보증신청정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
							</colgroup>
							<tbody>
								<tr>
									<th>신청일자</th>
									<td>
										<input type="search" name="reqDt" id="reqDt" title="신청일자" th:value="${today}" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);guarCom.fnSelectGuarRate();" onblur="com.fnDateValiChk(this);" style="width:100px" />
										<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'reqDt', 'yyyy-mm-dd', '', '', guarCom.fnSelectGuarRate)" />
									</td>
									<th>발급구분</th>
									<td><select name="guarIssueCd" id="guarIssueCd" title="발급구분" style="width:120px" onchange="guarCom.fnGuarIssueChg(this.value);"></select></td>
									<th>전자공고번호</th>
									<td><div id="ele_g2bNone">해당사항없음</div>
										<div id="ele_g2b" style="display:none">
											<input type="search" name="publicNo" id="publicNo" maxlength="30" style="width:100px" />
											<button type="button" name="btnG2b" id="btnG2b" class="btn icoSearch" onclick="guarCom.fnG2bSearch()" >검색</button>
										</div>
									</td>
								</tr>
								<tr>
									<th>신청자</th>
									<td>
										<select name="selCp" id="selCp" title="신청자" style="width:120px"></select>
									</td>
									<th>신청자명</th>
									<td><input type="search" name="reqNm" id="reqNm" title="신청자명" style="width:100px" maxlength="20"/></td>
									<th>신청자연락처</th>
									<td><input type="search" name="reqTel" id="reqTel" title="신청자연락처" style="width:120px" maxlength="13" onkeyup="com.fnOnlyNum(this);com.makeTelNo(this)"/></td>
								</tr>
								<tr>
									<th>변경구분</th>
									<td colspan="5">
										<div id="ele_chgDescType" title="변경">
											<!-- data-text는 guarCom.fnMakeGuarClassCont에서 참조중 문구변경시 같이 변경 필요 -->
											<input type="checkbox" id="chgDtUp" value="2" data-text="기간연장" onclick="guarCom.fnDetectChg(this.id,'chgDtDn')" /> 기간연장
						                    <input type="checkbox" id="chgDtDn" value="3" data-text="기간단축" onclick="guarCom.fnDetectChg(this.id,'chgDtUp')" /> 기간단축
						                    <input type="checkbox" id="chgAmtUp" value="4" data-text="금액증액" onclick="guarCom.fnDetectChg(this.id,'chgAmtDn')" /> 금액증액
						                    <input type="checkbox" id="chgAmtDn" value="5" data-text="금액감액" onclick="guarCom.fnDetectChg(this.id,'chgAmtUp')" /> 금액감액
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">변경 주계약정보<th:block th:if="${#strings.equals(session.userId,'admin')}"> (comGuarReqContr.html)</th:block></h4>
							</div>
						</section>
						<!--주계약정보 ################################################################################## -->
						<th:block th:include="guar/comGuarReqContr"></th:block> <!--주계약정보 -->
						<!--주계약정보 ################################################################################## -->

						<!--보증계약정보 #######################################################################################-->
						<th:block th:include="guar/comGuarReqGuar :: type('guarChgIns')"></th:block> <!--보증계약정보 -->
						<!--보증계약정보 #######################################################################################-->

						<section class="area mt10">
							<div class="fl">
								<h4 class="title">추가 보증 정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
					                <th>변경분<br />표시여부</th>
					                <td>
					                    <input type="checkbox" name="chgDispYn" value="N" onclick="guarCom.fnChgDispYn(this.value);" checked/> 전체표시
					                    <input type="checkbox" name="chgDispYn" value="Y" onclick="guarCom.fnChgDispYn(this.value);"/> 변경분 표시
					                </td>
					            </tr>
					            <tr>
					                <th>변경보증기간</th>
					                <td>
										<input type="search" name="chgGuarBegDt" id="chgGuarBegDt" title="시작일" maxlength="10" style="width:100px" value="" readonly/>~
										<input type="search" name="chgGuarExpDt" id="chgGuarExpDt" title="종료일" maxlength="10" style="width:100px" value="" readonly/>
					                    (<input type="text" name="chgGuarDays" id="chgGuarDays" maxlength="4" style="width:60px" value="" readonly/> 일)
					                </td>

					            </tr>
					            <tr>
					                <th>변경보증금액</th>
					                <td><input type="text" name="chgGuarAmt" id="chgGuarAmt" value="" size="13" onkeyup="com.fnOnlyNum(this);makeComma(this);" readonly /></td>
					            </tr>
							</tbody>
						</table>

					</div>
					<!-- 그리드 우측 부분 시작 -->
					<!-- ########################################################################################################################## -->
					<!-- ########################################################################################################################## -->
					<!-- ########################################################################################################################## -->
					<!-- ########################################################################################################################## -->
					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:49%">
						<th:block th:include="guar/comGuarContrDtl"></th:block> <!--보증약정정보 -->
						<th:block th:include="guar/comGuarDtl"></th:block> <!--보증상세정보 -->
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">첨부파일<span style="font-size: 11px; color: #ff6600">(첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></h4>
							</div>
							<div class="fr">
	                           <button type="button" onclick="javascript:com.fnIbsFileAdd($('#docFile'));" class="btn small style08">추가</button>
	                           <button type="button" onclick="javascript:com.fnIbsFileDel($('#docFile'));" class="btn small style08">삭제</button>
	                    	</div>
						</section>
						<div id="docFile" style="height:140px;"></div>
						<section class="area mt10">
							<div class="fl">
								<h4 class="title">심사정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
								<col style="width:90px;">
								<col style="width:140px;">
							</colgroup>
							<tbody>
								<tr>
									<th>처리상태</th>
									<td><select name="procStat" id="procStat" title="처리상태" style="width:120px"></select></td>
									<th>심사자</th>
									<td>[[${session.userNm}]]</td>
									<th>심사승인자</th>
									<td><select name="examNm" id="examNm" title="심사승인자" style="width:120px"></select></td>
								</tr>
								<tr>
									<th>처리사유</th>
									<td colspan="5">
										<input type="search" name="procReason" id="procReason" title="처리사유" maxlength="50" style="min-width:400px" value="" />
									</td>
								</tr>
							</tbody>
						</table>

						<th:block th:include="guar/comGuarPay"></th:block> <!--보증납부정보 -->

					</div>
					<!-- 그리드 우측 부분 끝 -->
					<!-- ########################################################################################################################## -->
					<!-- ########################################################################################################################## -->
					<!-- ########################################################################################################################## -->
					<!-- ########################################################################################################################## -->
					<!-- 그리드 우측 부분 끝 -->
					<!-- END 컨텐츠 영역 -->
				</div>
				<!--하단 버튼 영역-->
				<div class="layer-flex mt50">
					<!-- 처리 버튼 영역 -->
					<div class="" style="width:100%">
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">저장</button>
							</div>
						</section>
					</div>
				</div>
				<!-- 처리 버튼 영역 끝-->
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
