<!--
	파일정보 : guar/guarContrReqIns.html
	파일명 : 보증약정등록
	업무명 : 보증약정등록
	생성자 : 변성균
	생성일 : 2023-04-05
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<th:block th:layout="comjs">
			<script th:src="@{/js/guarCom.js}"></script>
		</th:block>

		<script th:inline="javascript">

			/*<![CDATA[*/
			var userId = /*[[${session.userId}]]*/;
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			//var initParam = {codeList : "GR11:GR21:GR22", gridNoList : "20112:30105:30106:30107:30107"}

			var selSureRow = {}; //보증인선택정보
			var selMortRow = {}; //담보선택정보
			var selReleRow = {}; //관련인선택정보

			var selMembType = ""; //관련인선택

			var membInfo; //조합원정보
			var guarContr = {}; //한도약정정보(정상)
			var confGuar = {}; //한도배수정보

			//초기화 조회 콜백
			$(document).ready(function(){
				//화면 처리
				//달력부분
				$("#contrBegDt").val(com.fnDateGet(/*[[${today}]]*/, 0)); //
				$("#contrExpDt").val(com.fnDateGet(/*[[${today}]]*/, 365)); //

				//코드값 처리
				com.fnCodeSelectBox("GR11", "contrType", 1, ""); //약정구분
				com.fnCodeRadio("GR29", "rdo_limitOptYn", "limitOptYn", false, "N"); //한도구분

				//동적 보증상품정보설정
				guarCom.fnSetGuarLimit("GR22", "tbl_guarLimit", "req");

				//동적 첨부파일 생성(동적)
				com.fnFileSet("GR21", "myUpload");

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				gridOptList[1].Cfg.CanEdit = 0;
			    gridOptList[2].Cfg.CanEdit = 0;
			    gridOptList[3].Cfg.CanEdit = 0;

			    //fnIbsInvtMort(gridOptList[0], "upt"); //출자담보정보(공통부)

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    //IBSheet.create({ id: "sheetInvtMort", el: "sheetDivInvt", options: gridOptList[0] }); //출자담보정보 (공통처리)
			    IBSheet.create({ id: "sheetSure", el: "sheetDivSure", options: gridOptList[1] }); //보증인정보
			    IBSheet.create({ id: "sheetMort", el: "sheetDivMort", options: gridOptList[2] }); //담보정보
			    IBSheet.create({ id: "sheetRele", el: "sheetDivRele", options: gridOptList[3] }); //관련조합원정보

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					//fnSearch(); //조회 호출
				};

				//sheetSure 원클릭
			    sheetSure.bind("onAfterClick" , function(obj) { //원클릭
			    	if(obj.kind === "Filter") return;
			    	//수정호출
					if(obj.col === "sureNm"){
						selSureRow = obj.row;
						fnPopup("sure");
					}

					//삭제
					if(obj.col === "delChk") sheetSure.removeRow({row:obj.row});
				});

				//sheetMort 원클릭
			    sheetMort.bind("onAfterClick" , function(obj) { //원클릭
			    	if(obj.kind === "Filter") return;
			    	//수정호출
					if(obj.col === "sureNm"){
						selMortRow = obj.row;
						fnPopup("mort");
					}

					//삭제
					if(obj.col === "delChk") sheetMort.removeRow({row:obj.row});
				});

				//sheetRele 원클릭
			    sheetRele.bind("onAfterClick" , function(obj) { //원클릭
			    	if(obj.kind === "Filter") return;
			    	//삭제
					if(obj.col === "delChk") sheetRele.removeRow({row:obj.row});
				});
				
				//한도거래 구분 선택
				$(document).on("click", "input[name=limitOptYn]", function(e){
					guarCom.fnLimitOptYnSel(this.value);
				});
					
				
			});

			//업무처리 ****************************************************************************************************************************
			//1.조합원조회 콜백
			var fnMembInfoSet = function(resData){
				
				//console.log(resData);
				//관련인
				if(selMembType === "rele"){
					if($("#membNo").val() === resData.membNo){
						alert("약정 조합원을 관련조합원으로 선택할 수 없습니다.");
						return;
					}
					//console.log(resData);
					if(com.fnIbsRowDup(sheetRele, "releMembNo", resData.membNo)){
						var data = {};
						data.releMembNo = resData.membNo;
						data.releMembNm = resData.membNm;
						data.releCeoNm = resData.ceoNm;
						data.releBizNo = resData.bizNo;
						data.btnDel = "삭제";

						com.fnIbsRowAdd("pre", data, sheetRele);

						selMembType = "";
					}


				}else{
					membInfo = resData;
					com.fnSetKeyVal(resData); //조합원설정

					fnInputInit();
					
					//신청자정보 설정
				}
				
				//알림톡세팅
				var setParam = {membNo: $("#sMembNo").val(), setTalk:"Y"}
				com.fnSetPersList(setParam);
				
			};

			//초기화
			var fnInputInit = function(){

				//초기화
				$("#contrType").val(""); //약정구분 초기화
				fnContrTypeSel();

				//$("#contrDt").val(""); //약정일자
				//$("#contrBegDt").val(""); //약정시작일
				//$("#contrExpDt").val(""); //약정종료일
				$("#contrNum").val(""); //약정좌수
				$("#finalGrade").val(""); //약정좌수
				$("#gradeDt").val(""); //약정좌수

			}
			
			//약정일자 입력시 시작일 설정
			var fnSetContrDt = function(obj){
				var contrDt = obj.value;

				$("#contrBegDt").val(contrDt); //약정시작일
				$("#contrExpDt").val(com.fnDateGet(contrDt, 365)); //약정종료일

				//약정배수조회
				fnContrDrng();
			}

			//약정좌수 금액 체크
			var fnContrNumChk = function(obj){
				var contrNum = obj.value;
				var remainNum = $("#remainNum").val();
				if(remainNum < contrNum){
					alert("약정가능좌수를 초과할 수 없습니다.");
					$("#contrNum").val("");
					$("#contrNum").focus();
					return;
				}

				guarCom.fnSumLimit(); //한도액 재계산
			}

			//신용도 조회 팝업
			var fnGrad = function(obj){

				if($("#membNo").val() === ""){
					alert("조합원 조회 후 조회 가능 합니다.");
					$("#sMembNo").focus();
					return;
				}

				var valChks = ["contrType", "contrDt", "contrNum"];

				if(com.fnValChk(valChks)){
					com.dialpopupOpen("신용도조회", "/index/pageCall.do?menuCd=1070710", "800", "500"); ///com/serchCred
				}
			}

			//신용도 조횝 팝업 콜백
			var fnGradCallBack = function(resData){
				$("#gradeNo").val(resData.gradeNo);
				$("#finalGrade").val(resData.finalGrade);
				$("#gradeDt").val(com.fnDateGet(resData.gradeDt, 0));

				//좌당금액,배수,한도조회
				fnContrDrng();
			}

			//좌당금액,배수,한도조회
			var fnContrDrng = function(resData){

				var param = {appDt : $("#contrDt").val(), finalGrade : $("#finalGrade").val()}
				obj = {url:"/guarContr/selectGuarContrBase.do", param:param, callBack:fnContrDrngCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			}

			//좌당금액,배수,한도조회 콜백
			var fnContrDrngCallBack = function(resData){
				var contrNum = $("#contrNum").val(); //약정좌수
				//상품배수율 설정
				//console.log(resData);
				confGuar = resData.confGuar;
				guarCom.fnConfSet(confGuar);

				//지분액
				$("#dealAmt").val(com.aprojomma(resData.confInvt.dealAmt));

				$("#guarEachMul").val(com.aprojomma(resData.confRisk.guarEachMul)); //개별한도
                $("#suretyMul").val(resData.confRisk.suretyMul); //연대보증인
                $("#smallAmt").val(com.aprojomma(resData.confRisk.smallAmt)); //소액공제금

                $("#sumImplRate").val(resData.confGuar.sumImplRate); //이행합계 한도배수율
                $("#sumPayRate").val(resData.confGuar.sumPayRate); 	 //지급합계 한도배수율
                $("#sumRate").val(resData.confGuar.sumRate); 		 //총한도배수율
				
				$("#subImpl_sumDoubleNum").val(resData.confGuar.sumImplRate);		//이행합계(배수) _고정
    			$("#subPay_sumDoubleNum").val(resData.confGuar.sumPayRate);		//지급합계(배수)_고정
    			
    			$("#sumDoubleNum").val(resData.confGuar.sumRate);		//총합계 고정
    			$("#totDoubleNum").val(resData.confGuar.sumRate);		//총합계 고정
    			$("#totLimitAmt").val(com.aprojomma(resData.confGuar.sumRate * resData.confInvt.dealAmt * contrNum)); //총합계금액
                
			}

			//약정구분 선택 처리
			var fnContrTypeSel = function(){
				var contrType = $("#contrType").val(); //약정구분

				if(membInfo === undefined) {
					alert("조합원 정보를 조회하십시오");
					$("#contrType").val("");
					$("#sMembNo").focus();
					return;
				}

				//한도거래 선택시 유효한 약정 번호가 있을 경우
				if(contrType == "11" && (membInfo.guarContrNo != undefined && membInfo.guarContrNo != "") ){
					if(confirm("유효한 한도거래가 있을경우 갱신 처리를 진행하셔야 합니다. 한도거래 갱신화면으로 이동하시겠습니까?")){
						param = {menuCd:"1030110", paramMap:{membNo:membInfo.membNo
										, contrNo:membInfo.guarContrNo
										, atthNo:/*[[${paramMap.atthNo}]]*/
										, atthType:/*[[${menuInfo.atthType}]]*/
										}
								};
						parent.menuOpen(param);
						parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
					}else{
						return;
					}
				}

				//한도거래 유형 선택
				if(contrType === "11")	$("#rdo_limitOptYn").css("display", "");
				else 					$("#rdo_limitOptYn").css("display", "none");

				//출자면제 구분
				if(contrType === "13") 	$("#contrNum").aprojlass("readonly").attr("readonly", true).val("");
				else					$("#contrNum").removeClass("readonly").attr("readonly", false);

				//상품정보 화면 컨트롤
				$("input[name='guarType']").each(function(idx) {
					var cd = $(this).attr("id").replace("guarType", ""); //상품id
					var chkYn = $(this).is(":checked"); //상품체크여부

					if(contrType === ""){
						$("#guarType"+cd).prop("checked", false);

					}else if(contrType === "11"){ //한도거래
						//$("#doubleNum"+cd).removeClass("readonly").attr("readonly", false);

						if(chkYn){
							$("#limitAmt"+cd).aprojlass("readonly").attr("readonly", false);
						}else{
							$("#limitAmt"+cd).aprojlass("readonly").attr("readonly", true);
						}

						//한도잔액 설정useAmt11
						$("#useAmt"+cd).val(guarContr["useAmt"+cd]);

					}else if(contrType === "13"){ //출자면제
						$("#doubleNum"+cd).aprojlass("readonly").attr("readonly", true);
						if(chkYn){
							$("#limitAmt"+cd).removeClass("readonly").attr("readonly", false);
						}else{
							$("#limitAmt"+cd).aprojlass("readonly").attr("readonly", true);
						}

					}else{
						$("#doubleNum"+cd).removeClass("readonly").attr("readonly", true);
						$("#limitAmt"+cd).aprojlass("readonly").attr("readonly", true);
					}

					//상품정보 초기화
					//$("#doubleNum"+cd).val("");
					//$("#limitAmt"+cd).val("");
				});

				//한도배수 설정
				if(contrType === "11" || contrType === "12" ){
					//guarCom.fnConfSet(confGuar);
				}
				
				//약정좌수가 있을 경우 
				if($("#contrNum").val() !== ""){
					guarCom.fnSumLimit(); //합계계산	
				}
			}

			
			//보증인/담보/관련조합원 팝업 호출
			var fnPopup = function(type, addYn){

				if($("#membNo").val() === ""){
					alert("조합원을 선택 하십시오.");
					$("#sMembNo").focus();
					return;
				}

				if(type === "sure"){
					if($("#sumLimitAmt").val() === ""){
						alert("한도금합계가 산정 되지 않았습니다.");
						//return;
					}
					if(addYn === "Y") selSureRow = {}; //초기화
					com.dialpopupOpen("보증인추가", "/index/pageCall.do?menuCd=1070715", "900", "700"); ///com/comSureAdd
				}else if(type === "mort"){
					if(addYn === "Y") selMortRow = {}; //초기화
					com.dialpopupOpen("담보추가", "/index/pageCall.do?menuCd=1070716", "900", "650"); ///com/comMortAdd
				}else if(type === "rele"){
					selMembType = "rele";
					if(addYn === "Y") selReleRow = {}; //초기화
					com.dialpopupOpen("조합원검색", "/index/pageCall.do?menuCd=1070707", "800", "500"); ///com/serchMemb

				}
			}

			//보증인 추가 콜백
			var fnSureCallBack = function(obj){
				var param = {sheetId: sheetSure, mapRow: selSureRow, rnVal: obj, ifVal: "sureNm:sureSeq"}
				com.fnIbsAprojhgRow(param);
			}
			
			//담보 추가 콜백
			var fnMortCallBack = function(obj){
				var param = {sheetId: sheetMort, mapRow: selMortRow, rnVal: obj, ifVal: "sureNm:mortSeq"}
				com.fnIbsAprojhgRow(param);
			}


			//저장
			var fnSave = function(){
				//필수체크
				var valChks = ["sMembNo", "contrType", "contrDt", "contrBegDt", "contrExpDt", "contrNum", "finalGrade"];
				if(com.fnValChk(valChks)){
					if(!$("input[name='guarType']").is(":checked")){
						alert("보증상품을 선택 하십시오");
						return;
					}
					//한도금액 확인
					var limitOptYn  = $("input[name='limitOptYn']:checked").val();//약정한도유형
					if(limitOptYn !== "Y"){
						var limitChk = false;
						if($("#contrType").val() === "11"){
							$("input[name='guarType']").each(function(idx) {
								var cd = $(this).attr("id").replace("guarType", ""); //상품id
								var chkYn = $(this).is(":checked"); //상품체크여부
								var useAmt = Number(com.rmComma( $('input[name="useAmt"]')[idx].value )); //사용액
								var limitAmt  = Number(com.rmComma($('input[name="limitAmt"]')[idx].value)); //상품한도액

								if(limitAmt < useAmt){
									limitChk = true;
								}
							});
						}
						if(limitChk){
							alert("현재 보증 사용액보다 설정 한도액이 낮습니다.");
							return;
						}
					}
					//파일여부
					var fileList01 = $("#docFile01").IBUpload('fileList');
					var fileList02 = $("#docFile02").IBUpload('fileList');
					if(fileList01.length === 0 || fileList02.length === 0 ){
						alert("관련 첨부파일을 첨부하십시오.");
						if(userId !== "admin"){
							return;
						}	
					}

					//첨부파일 첨부한 순서 코드따오기 (물리적저장순서 맞춰야해서 필수)
					com.fnGetModCds("docFile"); //modFileCds

					if(confirm("저장 처리 하시겠습니까?")){
						var param = $("#saveFrm").serializeObject();
						param.sure = sheetSure.getSaveJson(0);
						param.mort = sheetMort.getSaveJson(0);
						param.rele = sheetRele.getSaveJson(0);

						//보증상품정보 데이터 정리(저장용)
						$('input[name="guarType"]').each(function(){
							var num = $(this).val();
							//한도액
							if($(this).is(":checked")){
								param["limitAmt"+num] = $("#limitAmt"+num).val();
							}
							//배수는 수정페이지를 위해 전부 저장(신용도 조회 다시 안하기위함)
							param["doubleNum"+num] = $("#doubleNum"+num).val();
						});

						obj = {url:"/guarContr/insertGuarContrReq.do", callBack:fnSaveCallBack, jParam:param, fileId:"docFile" };
						com.fnAjaxMulti(obj);
					}

				}
			};

			//저장콜백
			var fnSaveCallBack = function(resData){
				//console.log(resData);
				//(신청)상세페이지이동
				param = {menuCd:"1030106", paramMap:{membNo: resData.paramMap.membNo
												, contrNo:resData.paramMap.contrNo
												, procStat:resData.paramMap.procStat
												, atthNo:resData.paramMap.atthNo
												, atthType:/*[[${menuInfo.atthType}]]*/
												}
				};
				parent.menuOpen(param);
				parent.closeMenu(/*[[${menuInfo.menuIdx}]]*/);
			};

			/*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
				<!--title 버튼 영역-->
				<div class="topBtnsWrap">
					<!--오른쪽접기화면 컨트롤 버튼-->
					<div class="collapseCtrl">
						<button type="type" class="btn-collapse down"><span></span></button>
						<button type="type" class="reLoadFrm"></button>
					</div>
				</div>
			</div><!-- //contentsTop -->
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false;" action="">
			<input type="hidden" name="membNo" id="membNo" value=""/>
			<input type="hidden" name="reqWay" id="reqWay" value="V"/> <!-- 신청방법 -->
			<input type="hidden" name="procStat" id="procStat" value="50"/> <!-- 처리상태(승인요청) -->
			<input type="hidden" name="gradeNo" id="gradeNo" value=""/> <!-- 신용도관리번호 -->
			<input type="hidden" name="atthType" id="atthType" th:value="${paramMap.atthType}"/>
			<input type="hidden" name="modFileCds" id="modFileCds" /> <!-- 첨부파일 첨부순서 -->

			<input type="hidden" name="dealAmt" id="dealAmt" /> <!-- 좌당지분액 -->
			<input type="hidden" name="guarEachMul" id="guarEachMul"  /> <!-- 개별한도 -->
			<input type="hidden" name="suretyMul" id="suretyMul"  /> <!-- 연대보증인 -->
			<input type="hidden" name="smallAmt" id="smallAmt"  /> <!-- 소액공제금 -->

			<input type="hidden" name="sumImplRate" id="sumImplRate"  /> <!-- 이행합계 한도배수율 -->
			<input type="hidden" name="sumPayRate" id="sumPayRate"  /> <!-- 지급합계 한도배수율 -->
			<input type="hidden" name="sumRate" id="sumRate"  /> <!-- 총한도배수율 -->

			<div class="contents flex">
				<div class="layer-flex collapseArea">
					<!-- 그리드 좌측 부분 -->
					<div class="collapseBox" style="width:49%">
						<th:block th:include="com/comMembSearch"></th:block> <!--조합원조회 -->

						<section class="area mt5">
							<div class="fl">
								<h4 class="title">약정정보</h4>
							</div>
						</section>
						<table class="tbl">
							<colgroup>
								<col style="width:100px;">
								<col style="width:140px;">
								<col style="width:100px;">
								<col style="width:140px;">
								<col style="width:100px;">
								<col style="">
							</colgroup>
							<tbody>
								<tr>
									<th><span class="reqMark">*</span>약정구분</th>
									<td colspan="5">
										<select name="contrType" id="contrType" title="약정구분" onChange="fnContrTypeSel()" style="width:120px;float:left" /></select>&nbsp;&nbsp;
										<span id="rdo_limitOptYn" style="display:none;"></span>
									</td>
								</tr>
								<tr>
									<th><span class="reqMark">*</span>약정일자</th>
									<td >
										<input type="search" name="contrDt" id="contrDt" title="약정일자" th:value="${today}" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:100px" onChange="fnSetContrDt(this);"/>
										<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'contrDt', 'yyyy-mm-dd')" />
									</td>
									<th><span class="reqMark">*</span>약정기간</th>
									<td colspan="3">
										<input type="text" name="contrBegDt" id="contrBegDt" title="시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
			                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'contrBegDt', 'yyyy-mm-dd','contrExpDt', 1)" />
			                        	<input type="text" name="contrExpDt" id="contrExpDt" title="종료일" maxlength="10" style="width:100px" value=""onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
			                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'contrExpDt', 'yyyy-mm-dd', 'contrBegDt', 2)" />
									</td>
								</tr>
								<tr>
									<th>담보좌수</th>
									<td>
										<input type="text" name="mortNum" id="mortNum" title="담보좌수" style="width:40px" readonly/>
									</td>
									<th>예수좌수</th>
									<td>
										<input type="text" name="deptNum" id="deptNum" title="담보좌수" style="width:40px" readonly/>
									</td>
									<th>총좌수</th>
									<td>
										<input type="text" name="totNum" id="totNum" title="약정사용좌수" style="width:40px" readonly/>
									</td>
								</tr>
								<tr>
									<th>배정좌수</th>
									<td>
										<input type="text" name="assignNum" id="assignNum" title="배정좌수" style="width:40px" readonly/>
									</td>
									<th>사용좌수</th>
									<td>
										<input type="text" name="contrUseNum" id="contrUseNum" title="배정좌수" style="width:40px" readonly/>
									</td>
									<th>가능좌수</th>
									<td>
										<input type="text" name="remainNum" id="remainNum" title="약정가능좌수" style="width:40px" readonly/>
									</td>
								</tr>
								<tr>
									<th><span class="reqMark">*</span>약정좌수</th>
									<td >
										<input type="search" name="contrNum" id="contrNum" title="약정좌수" style="width:60px" onKeyUp="com.fnOnlyNum(this);" onBlur="fnContrNumChk(this)"  maxlength="5" />
									</td>
									<th><span class="reqMark">*</span>신용도</th>
									<td colspan="3">
										<input type="text" name="finalGrade" id="finalGrade" title="신용도" style="width:50px" readonly/>
										<button type="button" class="btn icoSearch" onclick="fnGrad()">검색</button>
										<input type="text" name="gradeDt" id="gradeDt" title="평가일자" style="width:100px" readonly/>
									</td>
								</tr>

								<tr>
									<th>비고</th>
									<td colspan="7">
										<input type="search" name="remark" id="remark" title="비고" style="width:500px" maxlength="500"/>
									</td>
								</tr>
							</tbody>
						</table>
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">보증상품정보</h4>
							</div>
						</section>
						<table class="tbl" id="tbl_guarLimit"></table>

					</div>

					<!-- 그리드 우측 부분 시작 -->
					<div class="collapseBox fixable" style="width:49%">
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">보증인정보</h4>
								</div>
								<div class="fr">
									<button type="button" onclick="javascript:fnPopup('sure', 'Y');" class="btn small style08">추가</button>
									<button type="button" onclick="javascript:com.fnIbsRowDel(sheetSure);" class="btn small style08">삭제</button>
								</div>
							</section>
							<div id="sheetDivSure" style="width:100%;height:140px"></div>
						</div>
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">담보정보</h4>
								</div>
								<div class="fr">
									<button type="button" onclick="javascript:fnPopup('mort', 'Y');" class="btn small style08">추가</button>
									<button type="button" onclick="javascript:com.fnIbsRowDel(sheetMort);" class="btn small style08">삭제</button>
								</div>
							</section>
							<div id="sheetDivMort" style="width:100%;height:140px"></div>
						</div>
						<div class="wrapBox">
							<section class="area mt5">
								<div class="fl">
									<h4 class="title">관련조합원정보</h4>
								</div>
								<div class="fr">
									<button type="button" onclick="javascript:fnPopup('rele', 'Y');" class="btn small style08">추가</button>
									<button type="button" onclick="javascript:com.fnIbsRowDel(sheetRele);" class="btn small style08">삭제</button>
								</div>
							</section>
							<div id="sheetDivRele" style="width:100%;height:140px"></div>	<!-- height가 너무 작으면 데이터 없을때 그리드 숨김처리됨 -->
						</div>
						
						<!--알림톡정보 : s-->
						<div id="alarmBox" class="wrapBox mt10">
							<th:block th:include="com/comAlarmTalk"></th:block> <!--알람톡정보 -->
							<!--<th:block th:include="com/comAlarmTalk :: type('invtSeprt')"></th:block> -->
						</div><!-- //wrapbox-->
						<!--알림톡정보 : e-->
						
						<!-- 첨부파일 -->
						<section class="area mt5">
							<div class="fl">
								<h4 class="title">첨부파일<span style="font-size: 11px; color: #ff6600">(첨부할 파일을 끌어다 놓으시거나, 마우스 오른쪽버튼 -> '추가'로 첨부바랍니다.)</span></h4>
							</div>
						</section>
						<table class="tbl" id="myUpload"></table>
					</div>
					<!-- END 컨텐츠 영역 -->
				</div>
				<div class="layer-flex mt50">
					<!-- 처리 버튼 영역 -->
					<div class="" style="width:100%">
						<section class="area">
							<div class="fc">
								<button type="button" onclick="javascript:fnSave();" class="btn style07">저장</button>
							</div>
						</section>
					</div>
					<!-- 처리 버튼 영역 끝-->
				</div>
			</div><!-- //contents -->
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>
