<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.memb.repository.MembCredMapper"> 

	<!-- 신용평가 정보 조회 --> 
	<select id="selectMembCredList" parameterType="Map" resultType="camelMap"> 
		/* MembCredMapper.selectMembCredList */ 
		SELECT
                GRADE_DT
                , MEMB_NO
		        , MEMB_NM
		        , CONTENT_NM
		        , SCALE_CD
		        , F_GET_CD_NM('MB04', SCALE_CD) SCALE_CD_NM
		        , BUSS_CD
		        , F_GET_CD_NM('MB13', BUSS_CD) BUSS_CD_NM
		        , LIMIT_CD
		        , F_GET_CD_NM('MB15', LIMIT_CD) LIMIT_CD_NM
		        , IDX_APP_DT
		        , OUT_GRADE
		        , IN_GRADE
		        , VALUE_GRADE
		        , MODIFY_GRADE
		        , FINAL_GRADE
		        , GRADE_NO
		        , MEMB_NO
		        , FIN_VAL04
		        , FIN_VAL08
		        , FIN_VAL10  
		    FROM
		        MB_GRADE_IN          
		    <where>
		    <if test="sMembNo != null and sMembNo != ''"> 
			AND MEMB_NO = #{sMembNo} 
			</if> 
			<if test="sMembNm != null and sMembNm  != ''"> 
			AND F_GET_MEMB_NM(MEMB_NO) LIKE '%' || #{sMembNm} || '%'
			</if>
			<if test="sGradeBegDt != null and sGradeBegDt != ''"> 
			AND GRADE_DT &gt;= REPLACE(#{sGradeBegDt}, '-') 
			</if> 
			<if test="sGradeExpDt != null and sGradeExpDt != ''"> 
			AND GRADE_DT &lt;= REPLACE(#{sGradeExpDt}, '-') 
			</if> 
			</where>
		    ORDER BY
		        GRADE_DT DESC,
		        GRADE_NO DESC
	</select> 

	<!-- 신용평가 상세 조회 --> 
	<select id="selectMembCred" parameterType="Map" resultType="camelMap"> 
		/* MembCredMapper.selectMembCred*/ 
		SELECT  GRADE_NO
			  , GRADE_DT
			  , MEMB_NO
			  , MEMB_NM
			  , LAW_NO
			  , BIZ_NO
			  , CONTENT_NM
  			  , SCALE_CD
  			  , BUSS_CD
  			  , F_GET_CD_NM('MB13', BUSS_CD) BUSS_CD_NM
  			  , OUT_GRADE
  			  , IN_GRADE
  			  , VALUE_GRADE
  			  , MODIFY_GRADE
  			  , FINAL_GRADE
  			  , SUM_SCORE
  			  , FINANCE_SCORE
  			  , NON_FINANCE_SCORE
  			  , CEO_SCORE
  			  , RATE_CONT
  			  , IDX_APP_DT
  			  , LIMIT_CD
  			  , OUT_GRADE_NO
  			  , FIN_VAL01
  			  , FIN_VAL02
  			  , FIN_VAL03
  			  , FIN_VAL04
  			  , FIN_VAL05
  			  , FIN_VAL06
  			  , FIN_VAL07
  			  , FIN_VAL08
  		   	  , FIN_VAL09
  		   	  , FIN_VAL10
  		      , FIN_VAL11
  			  , FIN_VAL12
  			  , FIN_VAL13
  			  , FIN_VAL14
  			  , FIN_VAL15
  			  , FIN_VAL16
  			  , FIN_VAL17
  			  , FIN_VAL18
  			  , FIN_VAL19
  			  , FIN_VAL20
  			  , FIN_VAL21
  			  , FIN_VAL22
  			  , FIN_VAL23
  			  , FIN_VAL24
  			  , FIN_VAL25
  			  , FIN_VAL26
  			  , FIN_VAL27
  			  , FIN_VAL28
  			  , FIN_VAL29
  			  , FIN_VAL30
  			  , FIL_CD01
  			  , FIL_CD02
  			  , FIL_CD03
  			  , FIL_CD04
  			  , FIL_CD05
  			  , FIL_CD06
  			  , FIL_CD07
  			  , FIL_CD08
  			  , FIL_CD09
  			  , DEV_RATE1
  			  , DEV_RATE2
  			  , DEV_SCORE1
  			  , DEV_SCORE2
  			  , DEV_TOT_SCORE
  			  , REG_DTM
  			  , REG_NM
  			  , MOD_DTM
  			  , MOD_NM
  			  , BAL_YEAR
  			  , ATTH_NO
		  FROM ( SELECT  GRADE_NO
		  			   , GRADE_DT
		  			   , MEMB_NO
		  			   , MEMB_NM
		  			   , LAW_NO
		  			   , BIZ_NO
		  			   , CONTENT_NM
		  			   , SCALE_CD
		  			   , BUSS_CD
		  			   , OUT_GRADE
		  			   , IN_GRADE
		  			   , VALUE_GRADE
		  			   , MODIFY_GRADE
		  			   , FINAL_GRADE
		  			   , SUM_SCORE
		  			   , FINANCE_SCORE
		  			   , NON_FINANCE_SCORE
		  			   , CEO_SCORE
		  			   , RATE_CONT
		  			   , IDX_APP_DT
		  			   , LIMIT_CD
		  			   , OUT_GRADE_NO
		  			   , FIN_VAL01
		  			   , FIN_VAL02
		  			   , FIN_VAL03
		  			   , FIN_VAL04
		  			   , FIN_VAL05
		  			   , FIN_VAL06
		  			   , FIN_VAL07
		  			   , FIN_VAL08
		  			   , FIN_VAL09
		  			   , FIN_VAL10
		  			   , FIN_VAL11
		  			   , FIN_VAL12
		  			   , FIN_VAL13
		  			   , FIN_VAL14
		  			   , FIN_VAL15
		  			   , FIN_VAL16
		  			   , FIN_VAL17
		  			   , FIN_VAL18
		  			   , FIN_VAL19
		  			   , FIN_VAL20
		  			   , FIN_VAL21
		  			   , FIN_VAL22
		  			   , FIN_VAL23
		  			   , FIN_VAL24
		  			   , FIN_VAL25
		  			   , FIN_VAL26
		  			   , FIN_VAL27
		  			   , FIN_VAL28
		  			   , FIN_VAL29
		  			   , FIN_VAL30
		  			   , FIL_CD01
		  			   , FIL_CD02
		  			   , FIL_CD03
		  			   , FIL_CD04
		  			   , FIL_CD05
		  			   , FIL_CD06
		  			   , FIL_CD07
		  			   , FIL_CD08
		  			   , FIL_CD09
		  			   , DEV_RATE1
		  			   , DEV_RATE2
		  			   , DEV_SCORE1
		  			   , DEV_SCORE2
		  			   , DEV_TOT_SCORE
		  			   , REG_DTM
		  			   , REG_NM
		  			   , MOD_DTM
		  			   , MOD_NM
		  			   , BAL_YEAR
		  			   , ATTH_NO
		  		  FROM MB_GRADE_IN
		  		  <where> 
					<if test="gradeNo != null and gradeNo != ''"> 
					AND GRADE_NO = #{gradeNo} 
					</if>
					<if test="membNo != null and membNo != ''">
					AND MEMB_NO = #{membNo}
					</if>
				  </where>
				  ORDER BY GRADE_DT DESC
		  		)
		 WHERE ROWNUM &lt;= '1'
	</select>
	
	
	<select id="selectCredDtl" parameterType="Map" resultType="camelMap">
		SELECT  M.GRADE_NO
		      , M.IDX_SEQ
		      , C.IDX_NO
		      , C.LARGE_NM
		      , C.MEDIUM_NM
		      , C.SMALL_NM
		      , C.IDX_TITLE
		      , C.VAL_CD1
		      , F_GET_CD_NM('MB06', C.VAL_CD1) VAL_CD1_NM
		      , C.REF_CD1
		      , M.IDX_VAL1
		      , C.IDX_CAL
		      , M.SMALL_SCORE
		      , M.SMALL_GRADE
		      , C.RANGE_A
			  , C.RANGE_B
			  , C.RANGE_C
			  , C.RANGE_D
			  , C.RANGE_E
			  , C.SCORE_A
			  , C.SCORE_B
			  , C.SCORE_C
			  , C.SCORE_D
			  , C.SCORE_E
			  , C.ROW_CD
		  FROM  MB_INDEX M
		      , CM_INDEX C
		 WHERE M.GRADE_NO = #{gradeNo}
		   AND M.IDX_NO = C.IDX_NO
		   AND C.IDX_CD = #{idxCd}
	</select>	
	
	<!-- 관련조합원 조회 -->
	<select id="selectReleList" parameterType="Map" resultType="camelMap">
		SELECT  A.GRADE_NO
		      , A.MEMB_SEQ AS RELE_SEQ
		      , A.MEMB_NO AS RELE_MEMB_NO
		      , A.MEMB_NM AS RELE_MEMB_NM
		      , A.REG_DTM
		      , A.REG_NM
		      , C.BIZ_NO AS RELE_BIZ_NO
		      , C.CEO_NM AS RELE_CEO_NM
		  FROM  MB_GRADE_IN_MEMBER A
		  	  , MB_GRADE_IN B
		  	  , MB_MASTER C
		 WHERE A.GRADE_NO = B.GRADE_NO
		   AND A.GRADE_NO = #{gradeNo}
		   AND A.MEMB_NO = C.MEMB_NO
	</select>
	
	
	
	<!-- 내부등급 순번채번 -->
    <select id="getGradeSeq" parameterType="map" resultType="camelMap">
        SELECT /* grade.getGradeSeq */ 
        		NVL(MAX(GRADE_NO), 0) + 1 AS NEW_SEQ
          FROM MB_GRADE_IN
    </select>
	
	<select id="selectCmgradeList" parameterType="Map" resultType="camelMap">
		SELECT   GRADE_NO
			   , APP_DT
			   , GRADE_CD
			   , F_GET_CD_NM('MB12', GRADE_CD) AS GRADE_CD_NM
			   , GRADE
			   , TO_CHAR(HIGH_SCORE) AS HIGH_SCORE
			   , TO_CHAR(LOW_SCORE) AS LOW_SCORE
			   , SCALE_CD
			   , F_GET_CD_NM('MB04', SCALE_CD) AS SCALE_CD_NM
			   , (CASE WHEN FINANCE_RATE IS NOT NULL THEN FINANCE_RATE || '%' ELSE '' END) FINANCE_RATE
			   , (CASE WHEN NON_FINANCE_RATE IS NOT NULL THEN NON_FINANCE_RATE || '%' ELSE '' END) NON_FINANCE_RATE
			   , (FINANCE_RATE / 100) AS FINANCE_RATE2
			   , (NON_FINANCE_RATE / 100) AS NON_FINANCE_RATE2
			   , (CEO_RATE / 100) AS CEO_RATE2
		  FROM CM_GRADE
		 WHERE 1=1
		 	<if test="p_from_dt != null and p_from_dt != ''">
				AND APP_DT &gt;= REPLACE(#{p_from_dt}, '-', '')
			</if>
			<if test="p_to_dt != null and p_to_dt != ''">
				AND APP_DT &lt;= REPLACE(#{p_to_dt}, '-', '')
			</if>
			<if test="p_app_dt != null and p_app_dt != ''">
				AND APP_DT = REPLACE('20131001', '-', '')
			</if>
			<if test="p_scale_cd != null and p_scale_cd  != ''">
				AND SCALE_CD = #{p_scale_cd}
			</if>
			<if test="p_grade_cd != null and p_grade_cd != ''">
				AND GRADE_CD = #{p_grade_cd}
			</if>
			ORDER BY APP_DT DESC, GRADE_CD, LOW_SCORE DESC, SCALE_CD
			
	</select>
	
	<!-- 공제가입상담(상담번호 채번) -->
    <select id="selectMembCredNo" parameterType="Map" resultType="java.lang.String">
        SELECT NVL(MAX(GRADE_NO), 0) + 1  NEW_SEQ
          FROM MB_GRADE_IN
    </select> 

	<!-- 신용평가 등록 처리 --> 
	<insert id="insertMembCred" parameterType="Map"  > 
		/* MembCredMapper.insertMembCred */ 
		INSERT INTO MB_GRADE_IN (
			  GRADE_NO
			, GRADE_DT
			, MEMB_NO
			, MEMB_NM
			, CONTENT_NM
			, SCALE_CD
			, BUSS_CD
			, OUT_GRADE
			, IN_GRADE
			, VALUE_GRADE
			, MODIFY_GRADE
			, FINAL_GRADE
			, SUM_SCORE
			, FINANCE_SCORE
			, NON_FINANCE_SCORE
			, CEO_SCORE
			, RATE_CONT
			, IDX_APP_DT
			, LIMIT_CD
			, OUT_GRADE_NO
			, FIN_VAL01
			, FIN_VAL02
			, FIN_VAL03
			, FIN_VAL04
			, FIN_VAL05
			, FIN_VAL06
			, FIN_VAL07
			, FIN_VAL08
			, FIN_VAL09
			, FIN_VAL10
			, FIN_VAL11
			, FIN_VAL12
			, FIN_VAL13
			, FIN_VAL14
			, FIN_VAL15
			, FIN_VAL16
			, FIN_VAL17
			, FIN_VAL18
			, FIN_VAL19
			, FIN_VAL20
			, FIN_VAL21
			, FIN_VAL22
			, FIN_VAL23
			, FIN_VAL24
			, FIN_VAL25
			, FIN_VAL26
			, FIN_VAL27
			, FIN_VAL28
			, FIN_VAL29
			, FIN_VAL30
			, FIL_CD01
			, FIL_CD02
			, FIL_CD03
			, FIL_CD04
			, FIL_CD05
			, FIL_CD06
			, FIL_CD07
			, FIL_CD08
			, FIL_CD09
			, DEV_RATE1
			, DEV_RATE2
			, DEV_SCORE1
			, DEV_SCORE2
			, DEV_TOT_SCORE
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM
			, BAL_YEAR
			, ATTH_NO
		) VALUES (
			  #{gradeNo}
			, REPLACE(#{gradeDt}, '-', '')
			, #{sMembNo}
			, #{sMembNm}
			, #{conntentNm}
			, #{scaleCd}
			, #{bussCd}
			, TRIM(#{outGrade})
			, TRIM(#{inGrade})
			, TRIM(#{valueGrade})
			, TRIM(#{modifyGrade})
			, TRIM(#{finalGrade})
			, REPLACE(#{sumScore}, ',', '')
			, REPLACE(#{financeScore}, ',', '')
			, REPLACE(#{nonFinanceScore}, ',', '')
			, REPLACE(#{ceoScore}, ',', '')
			, #{rateCont}
			, REPLACE(#{idxAppDt}, '-', '')
			, #{limitCd}
			, #{outGradeNo}
			, REPLACE(#{finVal01}, ',', '')
			, REPLACE(#{finVal02}, ',', '')
			, REPLACE(#{finVal03}, ',', '')
			, REPLACE(#{finVal04}, ',', '')
			, REPLACE(#{finVal05}, ',', '')
			, REPLACE(#{finVal06}, ',', '')
			, REPLACE(#{finVal07}, ',', '')
			, REPLACE(#{finVal08}, ',', '')
			, REPLACE(#{finVal09}, ',', '')
			, REPLACE(#{finVal10}, ',', '')
			, REPLACE(#{finVal11}, ',', '')
			, REPLACE(#{finVal12}, ',', '')
			, REPLACE(#{finVal13}, ',', '')
			, REPLACE(#{finVal14}, ',', '')
			, REPLACE(#{finVal15}, ',', '')
			, REPLACE(#{finVal16}, ',', '')
			, REPLACE(#{finVal17}, ',', '')
			, REPLACE(#{finVal18}, ',', '')
			, REPLACE(#{finVal19}, ',', '')
			, REPLACE(#{finVal20}, ',', '')
			, REPLACE(#{finVal21}, ',', '')
			, REPLACE(#{finVal22}, ',', '')
			, REPLACE(#{finVal23}, ',', '')
			, REPLACE(#{finVal24}, ',', '')
			, REPLACE(#{finVal25}, ',', '')
			, REPLACE(#{finVal26}, ',', '')
			, REPLACE(#{finVal27}, ',', '')
			, REPLACE(#{finVal28}, ',', '')
			, REPLACE(#{finVal29}, ',', '')
			, REPLACE(#{finVal30}, ',', '')
			, #{filCd01}
			, #{filCd02}
			, #{filCd03}
			, #{filCd04}
			, #{filCd05}
			, #{filCd06}
			, #{filCd07}
			, #{filCd08}
			, #{filCd01}
			, REPLACE(#{devRate1}, ',', '')
			, REPLACE(#{devRate2}, ',', '')
			, REPLACE(#{devScore1}, ',', '')
			, REPLACE(#{devScore2}, ',', '')
			, REPLACE(#{devTotScore}, ',', '')
			, SYSDATE
			, #{userNm}
			, SYSDATE
			, #{userNm}
			, #{balYear}
			, #{atthNo}
		)
		
	</insert> 
	
	<insert id="insertMembCredIdx" parameterType="Map" >
		INSERT INTO MB_INDEX (
			  GRADE_NO
			, IDX_SEQ
			, IDX_NO
			, IDX_ORD
			, IDX_VAL1
			, IDX_VAL2
			, IDX_VAL3
			, IDX_VAL4
			, IDX_VAL5
			, IDX_VAL6
			, IDX_GRADE
			, IDX_SCORE_SUM
			, IDX_SCORE1
			, IDX_SCORE2
			, IDX_SCORE3
			, IDX_SCORE4
			, IDX_SCORE5
			, IDX_SCORE6
			, SMALL_GRADE
			, SMALL_SCORE
			, DONE_RATE
			, DONE_SCORE
			, HIT_RATE
			, HIT_SCORE
			, FINAL_RATE
			, FINAL_SCORE
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM
		) VALUES (
			  #{gradeNo}
			, (SELECT NVL(MAX(IDX_SEQ), 0) + 1 FROM MB_INDEX WHERE GRADE_NO = #{gradeNo})
			, #{idxNo}
			, #{idxOrd}
			, #{idxVal1}
			, #{idxVal2}
			, #{idxVal3}
			, #{idxVal4}
			, #{idxVal5}
			, #{idxVal6}
			, #{idxGrade}
			, REPLACE(#{idxScoreSum}, ',', '')
			, REPLACE(#{idxScore1}, ',', '')
			, REPLACE(#{idxSocre2}, ',', '')
			, REPLACE(#{idxSocre3}, ',', '')
			, REPLACE(#{idxSocre4}, ',', '')
			, REPLACE(#{idxSocre5}, ',', '')
			, REPLACE(#{idxSocre6}, ',', '')
			, #{smallGrade}
			, REPLACE(#{smallScore}, ',', '')
			, REPLACE(#{doneRate}, ',', '')
			, REPLACE(#{doneScore}, ',', '')
			, REPLACE(#{hitRate}, ',', '')
			, REPLACE(#{hitScore}, ',', '')
			, REPLACE(#{finalRate}, ',', '')
			, REPLACE(#{finalScore}, ',', '')
			, SYSDATE
			, #{userNm}
			, SYSDATE
			, #{userNm}
		)
	</insert>

	<!-- 신용평가 수정 처리 --> 
	<update id="updateMembCred" parameterType="Map"  > 
		/* MembCredMapper.updateMembCred */ 
		UPDATE MB_GRADE_IN 
		SET 
			  GRADE_DT = REPLACE(#{gradeDt}, '-', '') 
			, MEMB_NO = #{sMembNo} 
			, MEMB_NM = #{sMembNm} 
			, LAW_NO = #{lawNo} 
			, BIZ_NO = #{bizNo} 
			, CONTENT_NM = #{contentNm} 
			, SCALE_CD = #{scaleCd} 
			, BUSS_CD = #{bussCd} 
			, OUT_GRADE = #{outGrade} 
			, IN_GRADE = #{inGrade} 
			, VALUE_GRADE = #{valueGrade} 
			, MODIFY_GRADE = #{modifyGrade} 
			, FINAL_GRADE = #{finalGrade} 
			, SUM_SCORE = #{sumScore} 
			, FINANCE_SCORE = #{financeScore} 
			, NON_FINANCE_SCORE = #{nonFinanceScore} 
			, CEO_SCORE = #{ceoScore} 
			, RATE_CONT = #{rateCont} 
			, IDX_APP_DT = REPLACE(#{idxAppDt}, '-', '') 
			, LIMIT_CD = #{limitCd} 
			, OUT_GRADE_NO = #{outGradeNo} 
			, FIN_VAL01 = REPLACE(#{finVal01}, ',', '') 
			, FIN_VAL02 = REPLACE(#{finVal02}, ',', '') 
			, FIN_VAL03 = REPLACE(#{finVal03}, ',', '') 
			, FIN_VAL04 = REPLACE(#{finVal04}, ',', '') 
			, FIN_VAL05 = REPLACE(#{finVal05}, ',', '') 
			, FIN_VAL06 = REPLACE(#{finVal06}, ',', '') 
			, FIN_VAL07 = REPLACE(#{finVal07}, ',', '') 
			, FIN_VAL08 = REPLACE(#{finVal08}, ',', '') 
			, FIN_VAL09 = REPLACE(#{finVal09}, ',', '') 
			, FIN_VAL10 = REPLACE(#{finVal10}, ',', '') 
			, FIN_VAL11 = REPLACE(#{finVal11}, ',', '') 
			, FIN_VAL12 = REPLACE(#{finVal12}, ',', '') 
			, FIN_VAL13 = REPLACE(#{finVal13}, ',', '') 
			, FIN_VAL14 = REPLACE(#{finVal14}, ',', '') 
			, FIN_VAL15 = REPLACE(#{finVal15}, ',', '') 
			, FIN_VAL16 = REPLACE(#{finVal16}, ',', '') 
			, FIN_VAL17 = REPLACE(#{finVal17}, ',', '') 
			, FIN_VAL18 = REPLACE(#{finVal18}, ',', '') 
			, FIN_VAL19 = REPLACE(#{finVal19}, ',', '') 
			, FIN_VAL20 = REPLACE(#{finVal20}, ',', '') 
			, FIN_VAL21 = REPLACE(#{finVal21}, ',', '') 
			, FIN_VAL22 = REPLACE(#{finVal22}, ',', '') 
			, FIN_VAL23 = REPLACE(#{finVal23}, ',', '') 
			, FIN_VAL24 = REPLACE(#{finVal24}, ',', '') 
			, FIN_VAL25 = REPLACE(#{finVal25}, ',', '') 
			, FIN_VAL26 = REPLACE(#{finVal26}, ',', '') 
			, FIN_VAL27 = REPLACE(#{finVal27}, ',', '') 
			, FIN_VAL28 = REPLACE(#{finVal28}, ',', '') 
			, FIN_VAL29 = REPLACE(#{finVal29}, ',', '') 
			, FIN_VAL30 = REPLACE(#{finVal30}, ',', '') 
			, FIL_CD01 = #{filCd01} 
			, FIL_CD02 = #{filCd02} 
			, FIL_CD03 = #{filCd03} 
			, FIL_CD04 = #{filCd04} 
			, FIL_CD05 = #{filCd05} 
			, FIL_CD06 = #{filCd06} 
			, FIL_CD07 = #{filCd07} 
			, FIL_CD08 = #{filCd08} 
			, FIL_CD09 = #{filCd09} 
			, DEV_RATE1 = #{devRate1} 
			, DEV_RATE2 = #{devRate2} 
			, DEV_SCORE1 = #{devScore1} 
			, DEV_SCORE2 = #{devScore2} 
			, DEV_TOT_SCORE = #{devTotScore} 
			, REG_DTM = SYSDATE 
			, REG_NM = #{userNm} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm} 
			, BAL_YEAR = #{balYear} 
		WHERE GRADE_NO = #{gradeNo} 
	</update>
	
	<update id="updateMembCredIdx" parameterType="Map">
		UPDATE MB_INDEX
		   SET  IDX_NO 			= #{idxNo}
		   	  , IDX_VAL1 		= #{idxVal1}
		   	  , IDX_VAL2		= #{idxVal2}
		   	  , IDX_VAL3		= #{idxVal3}
		   	  , IDX_VAL4		= #{idxVal4}
		   	  , IDX_VAL5		= #{idxVal5}
		   	  , IDX_VAL6		= #{idxVal6}
		   	  , IDX_GRADE		= #{idxGrade}
		   	  , IDX_SCORE_SUM	= REPLACE(#{idxScoreSum}, ',', '')
		   	  , IDX_SCORE1		= REPLACE(#{idxScore1}, ',', '')
		   	  , IDX_SCORE2		= REPLACE(#{idxScore2}, ',', '')
		   	  , IDX_SCORE3		= REPLACE(#{idxScore3}, ',', '')
		   	  , IDX_SCORE4		= REPLACE(#{idxScore4}, ',', '')
		   	  , IDX_SCORE5		= REPLACE(#{idxScore5}, ',', '')
		   	  , IDX_SCORE6		= REPLACE(#{idxScore6}, ',', '')
		   	  , SMALL_GRADE		= #{smallGrade}
		   	  , SMALL_SCORE		= REPLACE(#{smallScore}, ',', '')
		   	  , DONE_RATE		= REPLACE(#{doneRate}, ',', '')
		   	  , DONE_SCORE		= REPLACE(#{doneScore}, ',', '')
		   	  , HIT_RATE		= REPLACE(#{hitRate}, ',', '')
		   	  , HIT_SCORE		= REPLACE(#{hitScore}, ',', '')
		   	  , FINAL_RATE		= REPLACE(#{finalRate}, ',', '')
		   	  , FINAL_SCORE		= REPLACE(#{finalScore}, ',', '')
		   	  , IDX_ORD			= #{idxOrd}
		   	  , MOD_DTM			= SYSDATE
		   	  , MOD_NM			= #{userNm}
		WHERE GRADE_NO = #{gradeNo}
		  AND IDX_SEQ = #{idxSeq}
	</update>

	<!-- 신용평가 삭제 처리 --> 
	<delete id="deleteMembCred" parameterType="Map"  > 
		/* MembCredMapper.deleteMembCred */ 
		DELETE FROM MB_GRADE_IN 
		WHERE GRADE_NO = #{gradeNo} 
	</delete> 
	
	<!-- 신용평가 관련조합원 등록 -->
	<insert id="insertGradeMember" parameterType="Map">
		INSERT INTO MB_GRADE_IN_MEMBER (
			   GRADE_NO
			 , MEMB_SEQ
			 , MEMB_NO
			 , MEMB_NM
			 , REG_DTM
			 , REG_NM
			 , MOD_DTM
			 , MOD_NM
		) VALUES (
			   #{gradeNo}
			 , (SELECT NVL(MAX(MEMB_SEQ), 0) + 1 FROM MB_GRADE_IN_MEMBER WHERE GRADE_NO = #{gradeNo})
			 , #{releMembNo}
			 , #{releMembNm}
			 , SYSDATE
			 , #{userNm}
			 , SYSDATE
			 , #{userNm}
		)
	</insert>

</mapper>
