<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ddc.biz.memb.repository.MembConsMapper">

	<!-- 공제가입상담 현황 조회 -->
	<select id="selectMembConsList" parameterType="Map" resultType="camelMap">
		/* MembConsMapper.selectMembConsList */
		SELECT
			COUNS_NO
			, COMP_NM
			, CEO_NM
			, F_GET_PATTERN(BIZ_NO, 'BIZ') AS BIZ_NO
			, F_GET_CRYPT_DEC(TEL_NO) TEL_NO
			, MAIN_BUSS_CD
			, JOIN_STAT
			, POST_NO
			, DORO_CD
			, DORO_NM
			, DORO_BUNHO
			, DORO_DONG
			, DORO_DTL
			, DORO_BD_NO
			, TO_CHAR (REG_DTM, 'YYYY-MM-DD HH24:MI:SS') AS REG_DTM
			, REG_NM
			, TO_CHAR (MOD_DTM, 'YYYY-MM-DD HH24:MI:SS') AS MOD_DTM
			, MOD_NM

			/* 신규 추가 */
			, ASSET_AMT
			, YEAR_SALE_AMT
			, BUSS_START_DT
			, CREDIT_GRADE
			, CREDIT_ETC
			, PERS_NM
			, F_GET_CRYPT_DEC(PERS_TEL_NO) PERS_TEL_NO
			, F_GET_PATTERN(LAW_NO, 'CRP') AS LAW_NO
			, ATTH_NO
		  FROM MB_COUNSEL
		<where>
		<if test="sCompNm != null and sCompNm != ''"> 			<!-- 업체명 -->
		   AND COMP_NM LIKE '%' || #{sCompNm} || '%'
		</if>
		<if test="sCeoNm != null and sCeoNm != ''"> 			<!-- 대표자 -->
		   AND CEO_NM LIKE '%' || #{sCeoNm} || '%'
		</if>
		<if test="sMainBussCd != null and sMainBussCd != ''"> 	<!-- 장르 -->
		   AND MAIN_BUSS_CD = #{sMainBussCd}
		</if>
		<if test="sModDtmStaDt != null and sModDtmStaDt != ''"> 	<!-- 최종수정일 시작일 -->
		   AND MOD_DTM &gt;= TO_DATE(REPLACE('${sModDtmStaDt}', '-', '') || '000000', 'YYYYMMDDHH24MISS')
		</if>
		<if test="sModDtmEndDt != null and sModDtmEndDt != ''"> 	<!-- 최종수정일 종료일 -->
		   AND MOD_DTM &lt;= TO_DATE(REPLACE('${sModDtmEndDt}', '-', '') || '235959', 'YYYYMMDDHH24MISS')
		</if>
		<if test="sCounsCont != null and sCounsCont != ''"> 		<!-- 내용 -->
		   AND COUNS_CONT LIKE '%' || #{sCounsCont} || '%'
		</if>
		<if test="sJoinStat != null and sJoinStat != ''"> 		<!-- 가입의사 -->
		   AND JOIN_STAT LIKE '%' || #{sJoinStat} || '%'
		</if>
		<if test="sBizNo != null and sBizNo != ''"> 			<!-- 사업자번호 -->
		   AND BIZ_NO = REPLACE(#{sBizNo}, '-', '')
		</if>
		<if test="sLawNo != null and sLawNo != ''"> 			<!-- 법인번호 -->
		   AND Law_NO = REPLACE(#{sLawNo}, '-', '')
		</if>
		</where>
		ORDER BY MOD_DTM DESC
	</select>

	<!-- 공제가입상담 상세 조회 -->
	<resultMap type="camelMap" id="counsMap">
        <result property="COUNS_NO" column="COUNS_NO" />
        <result property="COMP_NM" column="COMP_NM" />
        <result property="CEO_NM" column="CEO_NM" />
        <result property="BIZ_NO" column="BIZ_NO" />
        <result property="BIZ_NO1" column="BIZ_NO1" />
        <result property="BIZ_NO2" column="BIZ_NO2" />
        <result property="BIZ_NO3" column="BIZ_NO3" />
        <result property="TEL_NO" column="TEL_NO" />
        <result property="MAIN_BUSS_CD" column="MAIN_BUSS_CD" />
        <result property="MAIN_BUSS_NM" column="MAIN_BUSS_NM" />
        <result property="JOIN_STAT" column="JOIN_STAT" />
        <result property="JOIN_STAT_NM" column="JOIN_STAT_NM" />
        <result property="POST_NO" column="POST_NO" />
        <result property="DORO_CD" column="DORO_CD" />
        <result property="DORO_NM" column="DORO_NM" />
        <result property="DORO_BUNHO" column="DORO_BUNHO" />
        <result property="DORO_DONG" column="DORO_DONG" />
        <result property="DORO_DTL" column="DORO_DTL" />
        <result property="DORO_BD_NO" column="DORO_BD_NO" />
        <result property="COUNS_CONT" column="COUNS_CONT" javaType="java.lang.String" jdbcType="CLOB" />
        <result property="REG_DTM" column="REG_DTM" />
        <result property="REG_NM" column="REG_NM" />
        <result property="MOD_DTM" column="MOD_DTM" />
        <result property="MOD_NM" column="MOD_NM" />
        <result property="ASSET_AMT" column="ASSET_AMT" />
        <result property="YEAR_SALE_AMT" column="YEAR_SALE_AMT" />
        <result property="BUSS_START_DT" column="BUSS_START_DT" />
        <result property="CREDIT_GRADE" column="CREDIT_GRADE" />
        <result property="CREDIT_GRADE_NM" column="CREDIT_GRADE_NM" />
        <result property="CREDIT_ETC" column="CREDIT_ETC" />
		<result property="PERS_NM" column="PERS_NM" />
		<result property="LAW_NO" column="LAW_NO" />
		<result property="LAW_NO1" column="LAW_NO1" />
		<result property="LAW_NO2" column="LAW_NO2" />
		<result property="ATTH_NO" column="ATTH_NO" />

    </resultMap>
	<select id="selectMembCons" parameterType="Map" resultMap="counsMap">
		/* MembConsMapper.selectMembCons*/
		SELECT
			COUNS_NO
			, COMP_NM
			, CEO_NM
			, F_GET_PATTERN(BIZ_NO, 'BIZ') AS BIZ_NO
			, (CASE WHEN BIZ_NO IS NOT NULL AND LENGTH(BIZ_NO) = 10 THEN SUBSTR(BIZ_NO, 0,3) ELSE '' END) BIZ_NO1
		    , (CASE WHEN BIZ_NO IS NOT NULL AND LENGTH(BIZ_NO) = 10 THEN SUBSTR(BIZ_NO, 4,2) ELSE '' END) BIZ_NO2
		    , (CASE WHEN BIZ_NO IS NOT NULL AND LENGTH(BIZ_NO) = 10 THEN SUBSTR(BIZ_NO, 6,5) ELSE '' END) BIZ_NO3
			, F_GET_CRYPT_DEC(TEL_NO) TEL_NO
			, MAIN_BUSS_CD
			, F_GET_CD_NM('MB02',MAIN_BUSS_CD) AS MAIN_BUSS_NM
			, JOIN_STAT
			, F_GET_CD_NM('MB31',JOIN_STAT) AS JOIN_STAT_NM
			, POST_NO
			, DORO_CD
			, DORO_NM
			, DORO_BUNHO
			, DORO_DONG
			, DORO_DTL
			, DORO_BD_NO
			, (CASE WHEN POST_NO IS NOT NULL THEN DORO_NM ||' ( '||DORO_DONG||' '||DORO_BD_NO||' )'
                    ELSE '' END) AS ADDR_FULL_DORO
			, COUNS_CONT
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM

			/* 신규 추가 */
			, F_GET_PATTERN(ASSET_AMT, 'AMT') AS ASSET_AMT
			, F_GET_PATTERN(YEAR_SALE_AMT, 'AMT') AS YEAR_SALE_AMT
			, F_GET_PATTERN(BUSS_START_DT, 'DT') AS BUSS_START_DT
			, CREDIT_GRADE
			, F_GET_CD_NM('MB30',CREDIT_GRADE) AS CREDIT_GRADE_NM
			, CREDIT_ETC
			, PERS_NM
			, F_GET_CRYPT_DEC(PERS_TEL_NO) PERS_TEL_NO
			, F_GET_PATTERN(LAW_NO, 'CRP') AS LAW_NO
			, (CASE WHEN LAW_NO IS NOT NULL AND LENGTH(LAW_NO) = 13 THEN SUBSTR(LAW_NO, 0,6) ELSE '' END) LAW_NO1
			, (CASE WHEN LAW_NO IS NOT NULL AND LENGTH(LAW_NO) = 13 THEN SUBSTR(LAW_NO, 7,7) ELSE '' END) LAW_NO2
			, ATTH_NO
		  FROM MB_COUNSEL
		 WHERE COUNS_NO = #{counsNo}
	</select>

	<!-- 공제가입상담(상담번호 채번) -->
    <select id="selectMembConsNo" parameterType="Map" resultType="java.lang.String">
        SELECT NVL(MAX(COUNS_NO), 0) + 1  NEW_SEQ
          FROM MB_COUNSEL
    </select>

	<!-- 공제가입상담 등록 처리 -->
	<insert id="insertMembCons" parameterType="Map"  >
		/* MembConsMapper.insertMembCons */
		INSERT INTO MB_COUNSEL (
			COUNS_NO
			, COMP_NM
			, CEO_NM
			, BIZ_NO
			, TEL_NO
			, MAIN_BUSS_CD
			, JOIN_STAT
			, POST_NO
			, DORO_CD
			, DORO_NM
			, DORO_BUNHO
			, DORO_DONG
			, DORO_DTL
			, DORO_BD_NO
			, COUNS_CONT
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM
			, ASSET_AMT
			, YEAR_SALE_AMT
			, BUSS_START_DT
			, CREDIT_GRADE
			, CREDIT_ETC
			, PERS_NM
			, PERS_TEL_NO
			, LAW_NO
			, ATTH_NO
		) VALUES (
			#{counsNo}
			, #{compNm}
			, #{ceoNm}
			, REPLACE(#{bizNo} ,'-','')
			, F_GET_CRYPT_ENC(#{telNo})
			, #{mainBussCd}
			, #{joinStat}
			, #{postNo}
			, #{doroCd}
			, #{doroNm}
			, #{doroBunho}
			, #{doroDong}
			, #{doroDtl}
			, #{doroBdNo}
			, #{counsCont}
			, SYSDATE
			, #{userNm}
			, SYSDATE
			, #{userNm}
			, REPLACE(#{assetAmt}, ',', '')
			, REPLACE(#{yearSaleAmt}, ',', '')
			, REPLACE(#{bussStartDt}, '-', '')
			, #{creditGrade}
			, #{creditEtc}
			, #{persNm}
			, F_GET_CRYPT_ENC(#{persTelNo})
			, REPLACE(#{lawNo}, '-', '')
			, #{atthNo}
		)
	</insert>

	<!-- 공제가입상담 수정 처리 -->
	<update id="updateMembCons" parameterType="Map"  >
		/* MembConsMapper.updateMembCons */
		UPDATE
			MB_COUNSEL
		SET
			COMP_NM = #{compNm}
			, CEO_NM = #{ceoNm}
			, BIZ_NO = REPLACE(#{bizNo} ,'-','')
			, TEL_NO = F_GET_CRYPT_ENC(#{telNo})
			, MAIN_BUSS_CD = #{mainBussCd}
			, JOIN_STAT = #{joinStat}
			, POST_NO = #{postNo}
			, DORO_CD = #{doroCd}
			, DORO_NM = #{doroNm}
			, DORO_BUNHO = #{doroBunho}
			, DORO_DONG = #{doroDong}
			, DORO_DTL = #{doroDtl}
			, DORO_BD_NO = #{doroBdNo}
			, COUNS_CONT = #{counsCont}
			, MOD_DTM = SYSDATE
			, MOD_NM = #{userNm}
			, ASSET_AMT = REPLACE(#{assetAmt}, ',', '')
			, YEAR_SALE_AMT = REPLACE(#{yearSaleAmt}, ',', '')
			, BUSS_START_DT = REPLACE(#{bussStartDt}, '-', '')
			, CREDIT_GRADE = #{creditGrade}
			, CREDIT_ETC = #{creditEtc}
			, PERS_NM = #{persNm}
			, PERS_TEL_NO = F_GET_CRYPT_ENC(#{persTelNo})
			, LAW_NO = REPLACE(#{lawNo}, '-', '')
		WHERE
			COUNS_NO = #{counsNo}
	</update>

	<!-- 공제가입상담 삭제 처리 -->
	<delete id="deleteMembCons" parameterType="Map"  >
		/* MembConsMapper.deleteMembCons */
		DELETE FROM MB_COUNSEL
		 WHERE COUNS_NO = #{counsNo}
	</delete>

	<!-- 상담내용 리스트 조회 -->
	<select id="selectMembConsDtlList" parameterType="Map" resultType="camelMap">
		/* MembConsMapper.selectMembConsDtlList */
		SELECT A.COUNS_NO
    		 , A.COUNS_SEQ
    		 , A.COUNS_DT
    		 , A.COUNS_CONT
    		 , A.REG_DTM
    		 , A.REG_NM
    		 , A.MOD_DTM
    		 , A.MOD_NM
    	  FROM MB_COUNSEL_DTL A
       		 , MB_COUNSEL B
		 WHERE A.COUNS_NO = B.COUNS_NO(+)
	  	<if test="counsNo != null and counsNo != ''">
		   AND A.COUNS_NO = #{counsNo}
		</if>
		<if test="bizNo != null and bizNo != ''">
		   AND B.BIZ_NO = REPLACE(#{bizNo}, '-', '')
		</if>
		ORDER BY COUNS_DT DESC
	</select>


	<!-- 상담 진행내용 등록 처리 -->
	<insert id="insertMembConsDtl" parameterType="Map"  >
		<selectKey resultType="java.lang.String" keyProperty="counsSeq" order="BEFORE">
          SELECT NVL(MAX(COUNS_SEQ), 0) + 1  NEW_SEQ
            FROM MB_COUNSEL_DTL
           WHERE COUNS_NO = #{counsNo}
	    </selectKey>
		/* MembConsMapper.insertMembConsDtl */
		INSERT INTO MB_COUNSEL_DTL (
			COUNS_NO
			, COUNS_SEQ
			, COUNS_DT
			, COUNS_CONT
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM
		) VALUES (
			#{counsNo}
			, #{counsSeq}
			, REPLACE(#{counsDt} ,'-','')
			, #{counsCont}
			, SYSDATE
			, #{userNm}
			, SYSDATE
			, #{userNm}
		)
	</insert>

	<!-- 상담 진행내용 수정 처리 -->
	<update id="updateMembConsDtl" parameterType="Map"  >
		/* MembConsMapper.updateMembConsDtl */
		UPDATE
			MB_COUNSEL_DTL
		SET
			COUNS_DT = REPLACE(#{counsDt},'-','')
			, COUNS_CONT = #{counsCont}
			, MOD_DTM = SYSDATE
			, MOD_NM = #{userNm}
		WHERE COUNS_NO = #{counsNo}
		  AND COUNS_SEQ = #{counsSeq}
	</update>

	<!-- 상담 진행내용 삭제 처리 -->
	<delete id="deleteMembConsDtl" parameterType="Map" >
		/* MembConsMapper.deleteMembConsDtl */
		DELETE FROM MB_COUNSEL_DTL
		 WHERE COUNS_NO = #{counsNo}
		   AND COUNS_SEQ = #{counsSeq}
	</delete>


</mapper>
