<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ddc.biz.login.repository.LoginMapper">

	<!-- 로그인정보 컬럼들 정의-->
    <sql id="cols">
    	USER_ID
		, USER_PW
		, USER_NM
		, DEPT_CD
		, F_GET_CD_NM('CM04', DEPT_CD) DEPT_NM
		, POS_CD
		, F_GET_CD_NM('CM05', POS_CD) POS_NM
		, BUSINESS
		, USER_TEL
		, F_GET_CRYPT_DEC(USER_CELL) USER_CELL
		, F_GET_CRYPT_DEC(USER_EMAIL) USER_EMAIL
		, USER_STAT
		, WORK_BEG_DT
		, WORK_END_DT
		, REMARK
    </sql>
 
    <!-- 로그인정보 상세 조회 -->
    <select id="selectCmEmployee" parameterType="Map" resultType="camelMap">
    	/* LoginMapper.selectCmEmployee */
    	SELECT 
    		<include refid="cols" />
          FROM CM_EMPLOYEE 
         WHERE USER_ID = #{userId}
    </select>
    
	<!-- 로그인 로그 처리-->
    <insert id="insertLoginLog" parameterType="Map">
    	/* LoginMapper.insertLoginLog */
    	INSERT INTO CM_LOG_LOGIN
        (
            USER_ID
            , CONN_DTM
            , CONN_REF
            , CONN_IP
            , CONN_MAC
        )
        VALUES
        (
            NVL(#{userId}, 'SYSTEM')
            , SYSTIMESTAMP
            , #{connRef}
            , F_GET_CRYPT_ENC(#{connIp})
            , F_GET_CRYPT_ENC(#{connMac})
        )
    </insert>

    
</mapper>