<!--
	파일정보 : contrMortList.html
	파일명 : contrMort현황
	업무명 : 약정담보정보 현황
	생성자 : 변성균
	생성일 : 2023-06-22
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			var reloadYn = false;	//공통 리로드 방지		
			//var initParam = {codeList : "", gridNoList : "80105"}

			var refVal = /*[[${menuInfo.refVal}]]*/;
			//초기화 조회 콜백
			$(document).ready(function(){
				//초기화
				//$("#sMortStaDt").val(com.fnDateGet(/*[[${today}]]*/, -1095)); //발급일자 시작일설정

				if(refVal === "GR"){
					$("#ele_serchGuarType").css("display", "");
					com.fnCodeCheckBox("GR22", "ele_guarType", "sGuarType", false, "all"); //보증상품
				}
				if(refVal === "LD"){
					$("#ele_serchLendType").css("display", "");
					com.fnCodeCheckBox("LD01", "ele_lendType", "sLendType", false, "all"); //융자상품
				}

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

				//sheetDiv 더블클릭 처리
				sheet.bind("onDblClick", function(obj){ //더블클릭
					if(obj.kind === "Filter") return;
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기

					$("#membNo").val(rowData.contrMembNo);
					$("#contrNo").val(rowData.contrNo);
					$("#mortType").val(rowData.mortType);
					$("#mortSeq").val(rowData.mortSeq);

					com.dialpopupOpen("담보상세정보", "/index/pageCall.do?menuPage=/com/comContrMortDtl", "800", "700");
				});
			});

			//현황 조회
			var fnSearch = function(){
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/contrMort/selectContrMortList.do", param); //param, sheetId 생략 가능
			};

			//엑셀 다운로드
			var fnExcel = function(){
				com.fnExcelToJs(sheet, gridOptList[0].Cols, /*[[${menuInfo.menuNm + "_" + today}]]*/);
			};

			//검색 초기화
			var fnReset = function(){
				com.fnSerchInit("#serchFrm");

				fnSearch();
			};

			//상품종류,처리상태 전체 선택
			var fnSerchChk = function(val){
				var chkYn;
				if(refVal === "GR"){
					chkYn = $("#guarTypeAll").is(":checked");
				}else{
					chkYn = $("#lendTypeAll").is(":checked");
				}

				if(chkYn){
					$("input[name='"+val+"']").each(function(idx) {
						$(this).prop("checked", true);
					});
				}else{
					$("input[name='"+val+"']").each(function(idx) {
						$(this).prop("checked", false);
					});
				}
			}

			//전체선택 해제 처리
			var fnSerchChkAll = function(val){

				var chkYn = true;
				$("input[name='"+val+"']").each(function(idx) {
					if(!$(this).is(":checked") && $(this).val() !== ""){
						chkYn = false;
						return;
					}
				});

				$("#lendTypeAll").prop("checked", chkYn);
				$("#guarTypeAll").prop("checked", chkYn);
			}

		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<div class="contentsTop">
				<div th:insert="~{/fragments/subTitle}"></div>
			</div><!-- //contentsTop -->

			<div class="contents flex">
				<!-- 검색 부분 -->
				<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
				<input type="hidden" th:name="_csrf" th:value="${_csrf?.token}"/>
				<input type="hidden" name="membNo" id="membNo"/>
				<input type="hidden" name="contrNo" id="contrNo"/>
				<input type="hidden" name="mortType" id="mortType"/>
				<input type="hidden" name="mortSeq" id="mortSeq"/>
				<input type="hidden" name="sWorkType" id="sWorkType" th:value="${menuInfo.refVal}"/>

				<input type="hidden" name="sLendType" id="sLendType"/> <!--  하나선택될 경우 배열 오류 처리 -->
				<input type="hidden" name="sGuarType" id="sGuarType"/> <!--  하나선택될 경우 배열 오류 처리 -->



				<section class="searchArea mt10">
					<div class="row">
						<dl>
							<dt>조합원명</dt>
							<dd style="width:260px;">
								<input type="search" name="sMembNo" id="sMembNo" style="width:60px;" maxlength="4" onkeyup="com.fnOnlyNum(this);">
								<input type="search" name="sMembNm" id="sMembNm" style="width:165px;" maxlength="40">
								<button type="button" class="btn icoSearch" onclick="com.fnMembInfo()">검색</button>
							</dd>
						</dl>
						<dl>
							<dt>제공일자</dt>
							<dd style="width:260px;">
	                        	<input type="search" name="sMortStaDt" id="sMortStaDt" title="시작일" maxlength="10" style="width:100px" value="" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
	                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sMortStaDt', 'yyyy-mm-dd','sMortEndDt', 1)" />
	                        	<input type="search" name="sMortEndDt" id="sMortEndDt" title="종료일" maxlength="10" style="width:100px" value=""onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this);" onblur="com.fnDateValiChk(this);" autocomplete="off"/>
	                        	<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sMortEndDt', 'yyyy-mm-dd', 'sMortStaDt', 2)" />
							</dd>
						</dl>
					</div><!-- //row -->
					<div class="row" id="ele_serchGuarType" style="display:none">
						<dl>
							<dt>보증상품</dt>
							<dd style="width:1000px">
								<input type="checkbox" name="guarTypeAll" id="guarTypeAll" onclick="fnSerchChk('sGuarType')" checked/>&nbsp;전체&nbsp;&nbsp;
								<span id="ele_guarType" title="보증상품" onClick="fnSerchChkAll('sGuarType');"></span>
							</dd>
						</dl>
					</div><!-- //row -->
					<div class="row" id="ele_serchLendType"style="display:none">
						<dl>
							<dt>융자상품</dt>
							<dd style="width:1000px">
								<input type="checkbox" name="lendTypeAll" id="lendTypeAll" onclick="fnSerchChk('sLendType')" checked/>&nbsp;전체&nbsp;&nbsp;
								<span id="ele_lendType" title="융자상품" onClick="fnSerchChkAll('sLendType');"></span>
							</dd>
						</dl>
					</div><!-- //row -->
					<div class="searchBtn">
						<button type="button" onclick="javascript:fnSearch();" class="btn search">조회</button>
						<button type="button" onclick="javascript:fnReset();" class="btn reset">초기화</button>
					</div>
				</section>
				</form>
				<!-- 검색 부분 끝 -->
				<div class="layer-flex mt10">
					<!-- 그리드 좌측 부분 -->
					<div class="" style="width:100%">
						<!-- 그리드 상단 부분 -->
						<!-- 그리드 상단 부분 끝 -->
						<div class="mt10">
					    	<div id="sheetDiv" style="width:100%;height:500px"></div>
						</div>
					</div>
					<!-- 그리드 좌측 부분 끝 -->

					<!-- END 컨텐츠 영역 -->
				</div>
			</div><!-- //contents -->
		</div><!-- //contentsArea -->
	</body>
</html>
