<!--
	파일정보 : comInvtTrans.html
	파일명 : comInvtTrans
	업무명 : 출자 양도양수, 지분취득처분, 분할병합(공통)
	생성자 : bsg
	생성일 : 2023.06.08
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body th:fragment="type1(title)">
		<script th:inline="javascript">
			/*<![CDATA[*/
			
			var fnIbsInvtTrans = function(gridOpt, mod){
				
				//입력시				
				if(mod === "ins" || mod === "insSel") { //
					$("#invtTransBtns").show();
					
					$.each(gridOpt.Cols, function(idx, item){
						if(item.Name === "selectYn"){ //
							item.Visible = "1"      //숨겨져있는 컬럼 보이게 변경
							item.CanEdit = "1"   //증권양도양수, 지분취득 수정시 증권수정은 불가하게 막음 20231013 (이미 다른조합원에서 넘어갔을 가능성 있음)
							item.TrueValue = "Y";
							item.FalseValue = "N";
							item.OnChange= fnInvtSelChange; //선택 컨트롤러 추가
						}
						if(item.Name === "setYn"){ //담보설정선택컬럼
							item.TrueValue = "Y";
							item.FalseValue = "N";
						}
						if(item.Name === "transDt" && mod === "insSel"){ //
							item.Visible = "1"      //숨겨져있는 컬럼 보이게 변경
						}
						
					});
					
					//초기데이터설정	
					gridOpt.Def = {
							Row:{CanFormula: 1
							, CalcOrder: "CanEdit"
							, CanEditFormula: function (param) {
					          //담보설정상태가 미설정인것만 수정가능모드로 세팅
					          if (param.Row["mortYn"] !== "Y") {
					              return 1;
					          }else return 0;
					       }
				       }
			       }
					 
				 }else if(mod === "upt" || mod === "takeUpt" || mod === "selUpt") { //수정시
					$("#invtTransBtns").hide();
					
					$.each(gridOpt.Cols, function(idx, item){
						if(item.Name === "selectYn"){ //
							item.Visible = "1"      //숨겨져있는 컬럼 보이게 변경
							item.CanEdit = "0"   //증권양도양수, 지분취득 수정시 증권수정은 불가하게 막음 20231013 (이미 다른조합원에서 넘어갔을 가능성 있음)
							item.TrueValue = "Y";
							item.FalseValue = "N";
							item.OnChange= fnInvtSelChange; //선택 컨트롤러 추가
						}
						if(item.Name === "setYn"){ //담보설정선택컬럼
							item.TrueValue = "Y";
							item.FalseValue = "N";
						}
						if(item.Name === "transDt" && mod === "insSel"){ //
							item.Visible = "1"      //숨겨져있는 컬럼 보이게 변경
						}
						
					});
					
					//초기데이터설정	
					/*gridOpt.Def = {
							Row:{CanFormula: 1
							, CalcOrder: "CanEdit"
							, CanEditFormula: function (param) {
					          //담보설정상태가 미설정인것만 수정가능모드로 세팅
					          if (param.Row["mortYn"] !== "Y") {
					              return 1;
					          }else return 0;
					       }
				       }
			       }*/
				}else if (mod === "insSplt" || mod === "uptSplt") { //분할입력
				 
					 $.each(gridOpt.Cols, function(idx, item){
						if(item.Name === "selectBill"){ //
							item.Visible = "1"      //숨겨져있는 컬럼 보이게 변경
							item.CanEdit = "1"  
							item.TrueValue = "Y";
							item.FalseValue = "N";
							item.BoolGroup = "1";
							item.OnChange= fnInvtRadioChange; //선택 컨트롤러 추가
						}
						if(item.Name === "mortYnNm"){ //담보설정선택컬럼
							item.Visible = "0"      //숨겨져있는 컬럼 안보이게 변경
						}
						
					});
					
					//초기데이터설정	
					gridOpt.Def = {
							Row:{CanFormula: 1
							, CalcOrder: "CanEdit"
							, CanEditFormula: function (param) {
					          //1좌권은 제외 (분할불가능)
					          if (param.Row["billNum"] === 1 || param.Row["assignYn"] === "Y") {
					              return 0;
					          }else return 1;
					       }
				       }
			       }
					
				 } else if (mod === "insMerg" || mod === "uptMerg") { // 병합입력
				 
				 	$.each(gridOpt.Cols, function(idx, item){
						if(item.Name === "selectBill"){ //
							item.Visible = "1"      //숨겨져있는 컬럼 보이게 변경
							item.CanEdit = "1"  
							item.TrueValue = "Y";
							item.FalseValue = "N";
							item.OnChange= fnInvtMergRadioChange; //선택 컨트롤러 추가
						}
						if(item.Name === "mortYnNm"){ //담보설정선택컬럼
							item.Visible = "0"      //숨겨져있는 컬럼 안보이게 변경
						}
						
					});
					
					//초기데이터설정	
					gridOpt.Def = {
							Row:{CanFormula: 1
							, CalcOrder: "CanEdit"
							, CanEditFormula: function (param) {
					          if (param.Row["billNum"] === 100 || param.Row["assignYn"] === "Y") {
					              return 0;
					          }else return 1;
				           } 
				       }
			       }
			       
				  //기타는 현황그리드 import
				 }else if (mod === "view") { //상세모드
					 $.each(gridOpt.Cols, function(idx, item){
							if(item.Name === "investDt") item.Visible = "1"; //출자일자는 visible만
						});
				 } //기타는 현황그리드 import
				 
				//그리드 초기화
				IBSheet.create({ id: "sheetInvtTrans", el: "sheetDivInvtTrans", options: gridOpt}); //출자담보정보
				
				//그리드 로드후 
				sheetInvtTrans.bind("onDataLoad" , function(evtParam) { //로드후
					var chkLast = true;
					//***********시작***************//
					var rows = sheetInvtTrans.getDataRows();
					for(var i=0; i< rows.length; i++){
						sheetInvtTrans.setAttribute(rows[i], "transDt", "DataFormat", "yyyyMMdd");

						var setYn    = sheetInvtTrans.getValue(rows[i], "setYn"); //지분취득입력시 체크한 증권인지 분별
						var transDt  = sheetInvtTrans.getValue(rows[i], "transDt"); //증권변경의 날짜
						var billNo   = sheetInvtTrans.getValue(rows[i], "billNo"); //증권번호
						
						if(mod === "upt" || mod === "takeUpt" || mod === "selUpt"){//양도양수, 지분취득 수정
							if(setYn === 1) { //양도양수등록시, 지분취득 등록시 선택했던 증권이면
								sheetInvtTrans.setValue(rows[i], "selectYn", "Y"); //선택여부 Y로 세팅
							}
						}
						
						if(mod === "takeUpt"){//지분취득 수정
							if(setYn === 1 && chkTranDt !== transDt) { //
								chkLast = false
							}
							
						}
						
						if (mod === "uptSplt"){//증권분할
							var befBillNo = $("#befBillNo").val();
							if(billNo === befBillNo) {
								sheetInvtTrans.setValue(rows[i], "selectBill", 1); //선택여부 Y로 세팅
							}
							
						}
						
						if (mod === "uptMerg"){//증권병합
							var befBillNos = $("#befBillNos").val();
							befBillNos.split(',');
							
							if(befBillNos.includes(billNo)) {
								sheetInvtTrans.setValue(rows[i], "selectBill", 1); //선택여부 Y로 세팅
							}
							
						}
					}
					
					if(!chkLast){
						alert("설정된 출자증권중에서 변경된 이력이 있어 수정할 수 없습니다. \n시스템 관리자에게 문의하여 주시기 바랍니다.");
						$("#takeUptBtn").hide();
						return;
					}
					
					if (mod === "insSplt" || mod === "uptSplt"){//증권분할
						fnCutRowData(1); //1좌권은 숨기기
					}
					
					if (mod === "insMerg" || mod === "uptMerg"){//증권병합
						fnCutRowData(100); //100좌권은 숨기기
					}
					
					//***********끝***************//
					
				});
			}
			
			//select 선택 컨트롤   
			var fnInvtSelChange = function(evtParam) {
			    var targetVal = evtParam.sheet.getValue({row:evtParam.row,col:evtParam.col})
				fnCalcTotal();//담보설정정보 좌수, 금액계산
			}
			
			//분할 선택 컨트롤
			var fnInvtRadioChange = function(evtParam) {
			    //sheetInvtTrans.setAttribute(evtParam.row, "investDt", "DataFormat", "yyyyMMdd");
			    var targetVal = evtParam.sheet.getValue({row:evtParam.row,col:evtParam.col});
			    
			    invtCom.fnInitBill();
			    $("#sepmerNum, #sepmerAmt").val("");
			    invtCom.selectFaceDeal('sepmer');
			    
			    if(targetVal === 1){
					var billNum = evtParam.sheet.getValue(evtParam.row, "billNum");
					var billAmt = evtParam.sheet.getValue(evtParam.row, "billAmt");
					$("#sepmerNum").val(com.aprojomma(billNum));
					$("#sepmerAmt").val(com.aprojomma(billAmt));
				}
			    
			}
			
			//병합 선택 컨트롤
			var fnInvtMergRadioChange = function(evtParam) {
			    var targetVal = evtParam.sheet.getValue({row:evtParam.row,col:evtParam.col});
			    $("#sepmerNum, #sepmerAmt, #sepmerBillType").val("");
			    fnCalcMerg();// 병합선택좌수, 병합권종, 병합선택금액 계산
			}
			
			// 병합선택좌수, 병합권종, 병합선택금액 계산
			var fnCalcMerg = function() {
				var rows = sheetInvtTrans.getDataRows();
				var sepmerNum = 0;
				var sepmerAmt = 0;
				var sepmerBillType = 0;
				
				for(var i=0; i< rows.length; i++){
					var selectBill = sheetInvtTrans.getValue(rows[i], "selectBill"); //선택여부
					
					if(selectBill !== 0) {
						sepmerNum = sepmerNum + rows[i].billNum;
						sepmerAmt = sepmerAmt + rows[i].billAmt;
						sepmerBillType = sepmerNum + rows[i].billNum;
					}
				}
				
				for(var j=0; j< codeList.length; j++) {
					if(codeList[j].cd === sepmerNum) {
						$("#sepmerNum").val(com.aprojomma(sepmerNum)); //병합선택좌수
						$("#sepmerAmt").val(com.aprojomma(sepmerAmt)); //병합선택금액
						$("#sepmerBillType").val(com.aprojomma(sepmerNum)); //병합권종	
						break;
					} else {
						if(sepmerNum === 0) {
							$("#sepmerNum").val("");
						} else if(sepmerAmt === 0) {
							$("#sepmerAmt").val("");
						} else {
							$("#sepmerNum").val(com.aprojomma(sepmerNum)); //병합선택좌수
							$("#sepmerAmt").val(com.aprojomma(sepmerAmt)); //병합선택금액
							$("#sepmerBillType").val(""); //병합권종	
						}
					}
				}
				
			}
			
			//양도양수 좌수, 금액계산
			var fnCalcTotal = function(){
				var rows = sheetInvtTrans.getDataRows();
				var mortNum = 0;
				var mortAmt = 0;
				for(var i=0; i< rows.length; i++){
					var selectYn = sheetInvtTrans.getValue(rows[i], "selectYn"); //선택여부
					
					if(selectYn !== 0) {
						mortNum = mortNum + rows[i].billNum;
						mortAmt = mortAmt + rows[i].billAmt;
					}
				}
				$("#transNum").val(com.aprojomma(mortNum)); //담보좌수
				$("#transAmt").val(com.aprojomma(mortAmt)); //담보금액
			}
			
			//출자증권목록 선택버튼(전체선택/전체해제)
			var fnSelectAll = function(proc){
				var mortNum = 0;
				var mortAmt = 0;
				var today = /*[[${today}]]*/;
				today = today.replace(/-/gi, "/");
				
				proc === "Y"?1:0; // 1:Y, 0:N
				var rows = sheetInvtTrans.getDataRows();
				for(var i=0; i<rows.length; i++){
					if(rows[i].mortYn !== "Y"){ //담보설장안되어있는것만 가능
						sheetInvtTrans.setValue( rows[i], "selectYn", proc);
					}
				}
				//sheetInvtMort.rerender(1);
				fnCalcTotal(); //양도좌수, 금액 계산
			}
			
			var fnCutRowData = function(val){
				var rows = sheetInvtTrans.getDataRows();
				for(var i=0; i<rows.length; i++){
					if(rows[i]["billNum"] === val){
					    sheetInvtTrans.hideRow( {'row':rows[i],'norender':1});
					}
				}
				sheetInvtTrans.renderBody();
			}
			
			
		    /*]]>*/
		</script>
		<div class="wrapBox">
			<section class="area">
				<div class="fl">
					<h4 class="title" th:if="${!#strings.isEmpty(title)}" th:text="${title}"></h4>
					<h4 class="title" th:unless="${!#strings.isEmpty(title)}" th:text="출자증권목록">출자증권목록</h4>
				</div>
				<div id="invtTransBtns" class="fr" style="display: none;">
					<button type="button" onclick="javascript:fnSelectAll('Y');" class="btn small style08">전체선택</button>
					<button type="button" onclick="javascript:fnSelectAll('N');" class="btn small style08">전체해제</button>
				</div>
			</section>
			<div id="sheetDivInvtTrans" style="width:100%;height:220px"></div>
		</div>	
	</body>
</html>