<!--
	파일정보 : comMemb.html
	파일명 : comMemb
	업무명 : 우측 조합원정보
	생성자 : bsg
	생성일 : 2023.04.03
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body th:fragment="type(type)">
		<script th:inline="javascript">
			/*<![CDATA[*/

		    /*]]>*/
		</script>
		<section class="areaTop">
			<div class="fl">
				<h4 class="title">조합원정보</h4>
			</div>
		</section>
		<table class="tbl">
			<colgroup> <!-- 바꾸면 안됨-->
				<col style="width:90px;">
				<col style="width:140px;">
				<col style="width:90px;">
				<col style="width:140px;">
				<col style="width:90px;">
				<col style="width:140px;">
			</colgroup>
			<tbody>
				<tr>
					<th>회원명</th>
					<td colspan="3" ><span id="ele_membNo"></span>&nbsp;/&nbsp;<span id="ele_membNm"></span>&nbsp;<span id="ele_cretop" style="color: #FFFFFF; "></span></td>
					<th>대표자</th>
					<td><span id="ele_ceoNm"></span></td>
				</tr>
				<tr>
					<th>법인번호</th>
					<td><span id="ele_lawNo"></span></td>
					<th>사업자번호</th>
					<td><span id="ele_bizNo"></span></td>
					<th>전화번호</th>
					<td><span id="ele_telNo"></span></td>
				</tr>
				<tr>
					<th>상태</th>
					<td><span id="ele_membStatNm"></span></td>
					<th>주장르</th>
					<td><span id="ele_mainBussNm"></span></td>
					<th>소속단체</th>
					<td><span id="ele_belong"></span></td>
				</tr>
				<tr>
					<th>주소</th>
					<td colspan="5"><span id="ele_addrFull"></span></td>
				</tr>
				<tr>
					<th>특이사항</th>
					<td colspan="5"><span id="ele_membRemark"></span></td>
				</tr>
				<th:block  th:if="${!#strings.isEmpty(type) and #strings.equals(type, 'invtSpltMerg')}">
					<tr>
						<th>출좌좌수</th>
						<td><div id="ele_investNum" class="setCommaCls"></div></td>
						<th>출자금액</th>
						<td colspan="3"><div id="ele_investAmt" class="setCommaCls"></div></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</body>
</html>