<!--
	파일정보 : com/comSureAdd.html
	파일명 : comSureAdd
	업무명 : 보증인등록 팝업
	생성자 : BSG
	생성일 : 2023.04.05
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션
			var procMod = "I"; // I 신규, U 수정
			
			//초기화 조회 콜백
			$(document).ready(function(){
				//화면 처리
				$("#contrAmt").val(parent.$("#sumLimitAmt").val()); //약정합계금액
				$("#suretyMul").val(parent.$("#suretyMul").val()); //보증인배수

				com.fnCodeSelectBox("CM08", "sureCd", 1, ""); //입보구분
				com.fnCodeSelectBox("SY06", "sureYn", 1, ""); //설정여부
				com.fnCodeSelectBox("CM03", "compType", 1, ""); //업체구분
				com.fnCodeRadio("CM09", "ele_mortCd", "mortType", false, "00"); //담보구분

				//담보구분 선택 이벤트
				$("input[name^=mortType]").on("click", function(){
					fnMortView(this.value);
				});

				//수정시 선택 보증 정보 호출
				var getRow = parent.selSureRow;
				if(getRow.mortType !== undefined){
					procMod = "U";
					
					$("input:radio[name ='mortType']:input[value='"+getRow.mortType+"']").attr("checked", true);
					fnMortView(getRow.mortType);

					//넘어온 입보구분으로 selectbox 변화에따른 설정 재세팅
					com.fnSetKeyVal(getRow);
					$("#sureCd").trigger('change');

					var sureDt = parent.sheetSure.getString(getRow, "sureDt");
					var sureCanDt = parent.sheetSure.getString(getRow, "sureCanDt");

					$("#sureDt").val(sureDt);//설정일자
					$("#sureCanDt").val(sureCanDt);//해제일자
					$("#sureAmt").val(com.addComma($("#sureAmt").val()));
					
					$("#sureCd > option").attr("disabled", true);
					$("#juminNo").attr("readonly", true);
					$("#sureNm").attr("readonly", true);
					
					if(getRow.sureCd == "10"){
						$("#telNo").attr("readonly", true);
						$("#cellNo").attr("readonly", true);
						$("#doroDtl").attr("readonly", true);
						$("#btn_sureAddr").attr("disabled", true);
						
						
					}
				}


			});

			//입보구분
			var fnSureCdChg = function(obj){
				var sureCd = obj.value;
				
				$("#telNo, #cellNo, #sureNm, #doroDtl").attr("readonly", false);
				$("#btn_sureAddr").attr("disabled", false);
				
				if(sureCd === "10"){ //대표자
					$("#telNo, #cellNo, #sureNm, #doroDtl").attr("readonly", true);
					$("#btn_sureAddr").attr("disabled", true);
				}
					
				if(sureCd === "10" || sureCd === "20" ){
				 	$("#ele_mort").css("display", "");
				 	$(".cls_sureType").css("display", "none");
				}else{
					$("#ele_mort").css("display", "none");
					$(".cls_sureType").css("display", "");
				}

				$("#juminNo").css("display", "none");
				$("#bizNo").css("display", "none");
				$("#sMembNo").css("display", "none");

				$("#titl_telNm").text("팩스번호");
				if(sureCd === "30"){
					$("#titl_jumin").html("<span class='reqMark'>*</span>사업자번호");
					$("#bizNo").css("display", "");
				}else if(sureCd === "40"){
					$("#titl_jumin").html("<span class='reqMark'>*</span>조합원번호");
					$("#sMembNo").css("display", "");
				}else{
					$("#titl_jumin").html("<span class='reqMark'>*</span>주민등록번호");
					$("#juminNo").css("display", "");
					$("#titl_telNm").html("<span class='reqMark'>*</span>휴대폰");
				}
			};


			var fnMortView = function(mortCd){

				$("[class^=cls_mortType]").each(function(idx){
					var clsNm = $(this).attr("class");
					if(clsNm.indexOf(mortCd) > -1){
						$(this).css("display", "");
					}else{
						$(this).css("display", "none");
					}
				});

				if(mortCd !== "00"){
					$("[class=cls_mortType]").each(function(idx){
						$(this).css("display", "");
					});
				}

				if(mortCd === "10") $("#titl_amt").text("실익");
				if(mortCd === "20") $("#titl_amt").text("연소득");
				if(mortCd === "30") $("#titl_amt").text("보증한도");

				//실익,연소득 부분
				if(mortCd === "20"){
					$("#objAmt").removeClass("readonly").attr("readonly", false);
				}else{
					$("#objAmt").addClass("readonly").attr("readonly", true);
				}

				//내용 초기화
				var inputs = [];
				inputs[0] = ["objAmt","preAmt","sureAmt","suretyRemark"];
				inputs[1] = ["sureAddrFullDoro","sureDoroNm","sureDoroDtl","sureDoroCd","sureDoroBunho","sureDoroDong","sureDoroBdNo","sureAddr1","sureAddr2","surePostNo","sureAddrPath","restNm","restArea","restSite","restCollAmt","restSecuAmt","restPriceAmt","restClaimAmt"];
				inputs[2] = ["compNm","compType","compTel","workYear","deptNm","posNm"];
				inputs[3] = ["propTaxAmt"];

				$.each(inputs, function(idx, ele){
					$.each(ele, function(idx, ele){
						//console.log(ele);
						$("#"+ele).val("");
					});
				});

				//담보기보증액
				if(mortCd === "10"){
					$("#preAmt").val(com.addComma($("#restPreAmt").val()));
				}else{
					$("#preAmt").val(com.addComma($("#compPreAmt").val()));
				}
			}


			//주소 호출
			var addrTagt = "";
			var fnAddrSerch = function(tagt){
				addrTagt = tagt;
				com.fnAddrSerch('popup');
			}

			//주소 콜백처리
			var fnAddrCallBack = function(resData){

				var buldNo = resData.buldMnnm;
				if(resData.buldSlno !== "0") buldNo += "-"+resData.buldSlno;

				var lnbrNo = resData.lnbrMnnm;
				if(resData.lnbrSlno !== "0") lnbrNo += "-"+resData.lnbrSlno;

				console.log(resData);
				if(addrTagt === 1){
					$("#postNo").val(resData.zipNo); //우편
					$("#addr1").val(resData.jibunAddr); //지번주소

					$("#doroCd").val(resData.rnMgtSn); //도로코드
					$("#doroNm").val(resData.roadAddrPart1); //도로명
					$("#doroBunho").val(buldNo); //도로번지
					$("#doroDong").val(resData.emdNm); //주소동
					$("#doroBdNo").val(lnbrNo); //주소번지

					$("#addrFullDoro").val(resData.roadAddrPart1 + " " + resData.roadAddrPart1 + "(" + resData.emdNm + " " + lnbrNo + ")"); //주소번지

				}else{
					$("#surePostNo").val(resData.zipNo); //우편
					$("#sureAddr1").val(resData.jibunAddr); //지번주소

					$("#sureDoroCd").val(resData.rnMgtSn); //도로코드
					$("#sureDoroNm").val(resData.roadAddrPart1); //도로명
					$("#sureDoroBunho").val(buldNo); //도로번지
					$("#sureDoroDong").val(resData.emdNm); //주소동
					$("#sureDoroBdNo").val(lnbrNo); //주소번지

					$("#sureAddrFullDoro").val(resData.roadAddrPart1 + " " + resData.roadAddrPart1 + "(" + resData.emdNm + " " + lnbrNo + ")"); //주소번지
				}

				addrTagt = "";
			};


			//실익
			var fnCalcRestAmt = function(){
				var suretyMul = Number(com.rmComma($("#suretyMul").val()));
				var objAmt = Number(com.rmComma($("#restPriceAmt").val())) - Number(com.rmComma($("#restClaimAmt").val()));
				var preAmt = Number(com.rmComma($("#preAmt").val()));

			    if($("#restPriceAmt").val() !== "") {
			        $("#objAmt").val(com.addComma(objAmt));
			        $("#sureAmt").val(com.addComma(objAmt * suretyMul - preAmt));
			    } else {
			        $("#obj_amt").val("");
			        $("#sure_amt").val("");
			    }

			    fnSuretyAmt();
			}

			//연소득계산
			var fnCalcCompAmt = function(){
				var suretyMul = Number(com.rmComma($("#suretyMul").val()));
				var objAmt = Number(com.rmComma($("#objAmt").val()));
				var preAmt = Number(com.rmComma($("#preAmt").val()));

			    if($("#objAmt").val() !== "") {
			        $("#sureAmt").val(com.addComma(objAmt * suretyMul - preAmt));
			    } else {
			        $("#sureAmt").val("");
			    }

			    fnSuretyAmt();
			}

			//재산세
			var fnCalcPropAmt = function(){
				var suretyMul = Number(com.rmComma($("#suretyMul").val()));
				var preAmt = Number(com.rmComma($("#preAmt").val()));

			    if($("#propTaxAmt").val() !== "") {
			        var propAmt = Number(com.rmComma($("#propTaxAmt").val()));

			        //재산세계산조건(DB화필요할지나중에결정)
			        var objAmt = 0;
			        if(propAmt > 300000) {
			            objAmt = 50000000;
			        } else if(propAmt > 200000 && propAmt <= 300000) {
			            objAmt = 30000000;
			        } else if(propAmt > 100000 && propAmt <= 200000) {
			            objAmt = 20000000;
			        } else {
			            objAmt = 10000000;
			        }

			        $("#objAmt").val(com.addComma(objAmt));
			        $("#sureAmt").val(com.addComma(objAmt * suretyMul - preAmt));
			    } else {
			        $("#obj_amt").val("");
			        $("#sure_amt").val("");
			    }

			    fnSuretyAmt();
			}

			//입보금액설정
			var fnSuretyAmt = function(){
				var contrAmt = Number(com.rmComma($("#contrAmt").val()));
			    var suretyAmt = Number(com.rmComma($("#sureAmt").val()));

			    if(suretyAmt > contrAmt) {
			        $("#sureAmt").val($("#contrAmt").val());
			    }
			}

			//주민번호(사업자번호) 중복체크
			var fnDuplChk = function(type){
				if(procMod === "U") return;
				
				var chkVal = "";
				if(type === "biz"){
					chkVal = $("#bizNo").val().replace(/\-/g,"");
					if(com.fnIsEmpty(chkVal))	return;

					if(chkVal.length !== 10) {
						alert("사업자번호가 올바르지 않습니다.");
						return;
					}
					param = {bizNo : chkVal}

				}else{
					chkVal = $("#juminNo").val().replace(/\-/g,"");
					if(com.fnIsEmpty(chkVal))	return;

					if(chkVal.length !== 13) {
						alert("주민등록번호가 올바르지 않습니다.");
						return;
					}
					param = {juminNo : chkVal}
				}

				param.sureCd = $("#sureCd").val(); //구분값
				obj = {url:"/guarContr/selectGuarSuretyExst.do", param:param, callBack:fnDuplChkCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
				com.fnAjaxDef(obj);
			}
			//주민번호(사업자번호) 중복체크 콜백
			var fnDuplChkCallBack = function(resData){
				if(resData.sure !== null && resData.sure !== undefined){
					if(confirm("기존 보증인 정보가 존재 합니다. 기존 정보로 설정 하시겠습니까?")){
						com.fnSetKeyVal(resData.sure);
					}
				}else{//정보가 없는데 10(대표자)이면 주빈등록번호 초기화 : 조합원의 대표자가 아닌 개인은 개인(20)으로 등록해야함
					if($("#sureCd").val() === "10"){
						alert('조합원의 대표자가 아닌 대표자는 등록이 불가능합니다. \n 조합원 등록을 하시거나 개인(20)으로 등록해주세요.');
						$("#juminNo").val('');
						return;
					}
				}
			}

			//조합원조회 콜백
			var fnMembInfoSet = function(membInfo){
				//console.log(membInfo);
				$("#sureMembNo").val(membInfo.membNo);
				$("#sureNm").val(membInfo.membNm);
				$("#ceoNm").val(membInfo.ceoNm);
				$("#lawNo").val(membInfo.lawNo);
				$("#telNo").val(membInfo.telNo);
				$("#faxNo").val(membInfo.faxNo);

				$("#addr1").val(membInfo.addr1);
				$("#addr2").val(membInfo.addr2);
				$("#doroCd").val(membInfo.membNo);
				$("#doroNm").val(membInfo.doroNm);
				$("#doroBunho").val(membInfo.doroBunho);
				$("#doroDong").val(membInfo.doroDong);
				$("#doroBdNo").val(membInfo.doroBdNo);
				$("#postNo").val(membInfo.postNo);
				$("#addrFullDoro").val(membInfo.addrFull);
				$("#doroDtl").val(membInfo.doroDtl);

			};

			//적용
			var fnSave = function(){
				var sureCd = $("#sureCd").val();

				if(sureCd === "10" || sureCd === "20"){
					if($("#juminNo").val() === ""){
						alert("주민등록번호를 입력 하십시오.");
						return;
					}
					$("#sureRefNo").val($("#juminNo").val());
				}else if(sureCd === "30"){
					if($("#bizNo").val() === ""){
						alert("사업자번호를 입력 하십시오.");
						return;
					}
					$("#sureRefNo").val($("#bizNo").val());
				}else if(sureCd === "40"){
					if($("#sMembNo").val() === ""){
						alert("조합원번호를 입력 하십시오.");
						return;
					}
					$("#sureRefNo").val($("#sMembNo").val());
				}

				//필수체크
				var valChks = ["sureCd", "sureNm", "cellNo", "sureRelation", "sureDt"];

				if(com.fnValChk(valChks)){

					var getSure = $("#saveFrm").serializeObject();
					getSure.sureAmt = com.rmComma(getSure.sureAmt);

					if($("#sureCd").val() === "10") getSure.ceoNm = $("#sureNm").val(); //대표자경우 대표자명
					//if($("#sureCd").val() === "10" || $("#sureCd").val() === "10" ) getSure.juminNo = $("#juminNo").val(); //
					//if($("#sureCd").val() === "30" ) getSure.bizNo = $("#bizNo").val(); //

					parent.fnSureCallBack(getSure);
					parent.$("#dialog").dialog("close");
				}
			};

		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<form name="saveFrm" id="saveFrm" method="post" onSubmit="return false">
			<input type="hidden" name="sureNo" id="sureNo" />
			<input type="hidden" name="membNo" id="membNo" />
            <input type="hidden" name="ceoSeq" id="ceoSeq" />
            <input type="hidden" name="sureSeq" id="sureSeq" />
            <input type="hidden" name="suretyMul" id="suretyMul" />
            <input type="hidden" name="restPreAmt" id="restPreAmt" />
            <input type="hidden" name="compPreAmt" id="compPreAmt" />
            <input type="hidden" name="sureMembNo" id="sureMembNo" />
            <input type="hidden" name="sureRefNo" id="sureRefNo" />

			<section class="area">
				<div class="fl">
					<h4 class="title">보증인설정</h4>
				</div>
			</section>

			<table class="tbl">
				<colgroup>
					<col style="width:110px;">
					<col style="width:110px;">
					<col style="width:110px;">
					<col style="width:110px;">
					<col style="width:110px;">
					<col style="width:110px;">
					<col style="width:110px;">
					<col style="width:110px;">
				</colgroup>
				<tbody>
					<tr>
						<th><span class="reqMark">*</span>입보구분</th>
						<td colspan="7">
							<select name="sureCd" id="sureCd" title="입보구분" onChange="fnSureCdChg(this)" style="width:100px;float:left" /></select>
						</td>
					</tr>
					<tr>
						<th id="titl_jumin"><span class="reqMark">*</span>주민등록번호</th>
						<td colspan="3">
							<input type="search" name="juminNo" id="juminNo" title="주민등록번호" style="width:140px" onKeyup="com.fnOnlyNum(this);com.makeJuminNo(this);" onblur="fnDuplChk('jumin');" maxlength="14"/>
							<input type="search" name="bizNo" id="bizNo" title="사업자번호" style="width:140px;display:none" onKeyup="com.fnOnlyNum(this);com.makeBizNo(this);" onblur="fnDuplChk('biz');" maxlength="14"/>
							<input type="search" name="sMembNo" id="sMembNo" title="조합원번호" style="width:100px;display:none" onKeyup="com.fnOnlyNum(this);com.makeJuminNo(this);" onblur="com.fnMembInfo();" maxlength="4"/>
						</td>

						<th>보증인명</th>
						<td colspan="3">
							<input type="search" name="sureNm" id="sureNm" title="보증인명" style="width:140px"  maxlength="30"/>
						</td>
					</tr>
					<tr class="cls_sureType" style="display:none">
						<th>대표자</th>
						<td colspan="3">
							<input type="search" name="ceoNm" id="ceoNm" title="대표자" style="width:140px" onKeyup="com.fnOnlyNum(this);" maxlength="30"/>
						</td>
						<th>법인등록번호</th>
						<td colspan="3">
							<input type="search" name="lawNo" id="lawNo" title="법인등록번호" style="width:140px" onKeyup="com.fnOnlyNum(this);com.makeJuminNo(this);" maxlength="14"/>
						</td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td colspan="3">
							<input type="search" name="telNo" id="telNo" title="전화번호" style="width:140px" onKeyup="com.fnOnlyNum(this);com.makeTelNo(this);"  maxlength="14"/>
						</td>
						<th id="titl_telNm"><span class="reqMark">*</span>휴대폰</th>
						<td colspan="3">
							<input type="search" name="cellNo" id="cellNo" title="휴대폰" style="width:140px" onKeyup="com.fnOnlyNum(this);com.makeTelNo(this);"  maxlength="14"/>
							<input type="search" name="faxNo" id="faxNo" title="팩스번호" style="width:140px;display:none" onKeyup="com.fnOnlyNum(this);com.makeTelNo(this);"  maxlength="14"/>
						</td>
					</tr>
					<tr>
						<th>주소</th>
						<td colspan="7">
							<div class="addressWrap">
								<input type="hidden" name="addrDiv" id="addrDiv" value="DR" readonly/> <!-- 도로명 -->
								<input type="hidden" name="addr1" id="addr1" title="" />
								<input type="hidden" name="addr2" id="addr2" title="" />

								<input type="hidden" name="doroCd" id="doroCd" title="" />
								<input type="hidden" name="doroNm" id="doroNm" title="" />
								<input type="hidden" name="doroBunho" id="doroBunho" title="" />
								<input type="hidden" name="doroDong" id="doroDong" title="" />
								<input type="hidden" name="doroBdNo" id="doroBdNo" title="" />

								<input type="text" name="postNo" id="postNo" title="우편번호" style="width:70px" readonly/>
								<button type="button" class="btn icoSearch" onclick="fnAddrSerch(1);" id="btn_sureAddr">검색</button>
								<input type="text" name="addrFullDoro" id="addrFullDoro" title="도로주소" style="width:400px;" readonly/>
								<input type="search" name="doroDtl" id="doroDtl" title="도로상세" style="width:200px;" maxlength="50"/>

							</div>
						</td>
					</tr>
					<tr>
						<th><span class="reqMark">*</span>관계</th>
						<td colspan="3">
							<input type="search" name="sureRelation" id="sureRelation" title="관계" style="width:140px"  maxlength="20"/>
						</td>
						<th>입보여부</th>
						<td colspan="3">
							<select name="sureYn" id="sureYn" title="입보여부" style="width:120px"/></select>
						</td>
					</tr>
					<tr>
						<th><span class="reqMark">*</span>설정일자</th>
						<td colspan="3">
							<input type="search" name="sureDt" id="sureDt" th:value="${today}" title="설정일자" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:100px"/>
							<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sureDt', 'yyyy-mm-dd')" />
						</td>
						<th>해제일자</th>
						<td colspan="3">
							<input type="search" name="sureCanDt" id="sureCanDt" title="해제일자" maxlength="10" onkeyup="com.fnOnlyNum(this);com.fnDateMakeForm(this)" onblur="com.fnDateValiChk(this)" style="width:100px"/>
							<img src="../images/icon_calendar.png" class="calendar-box" onclick="calendar(this, 'sureCanDt', 'yyyy-mm-dd')" />
						</td>
					</tr>
				</tbody>
			</table>
			<div id="ele_mort">
				<section class="area">
					<div class="fl">
						<h4 class="title">담보설정</h4>
					</div>
				</section>
				<table class="tbl">
					<colgroup>
						<col style="width:110px;">
						<col style="width:110px;">
						<col style="width:110px;">
						<col style="width:110px;">
						<col style="width:110px;">
						<col style="width:110px;">
						<col style="width:110px;">
						<col style="width:110px;">
					</colgroup>
					<tbody>
						<tr>
							<th>담보구분</th>
							<td colspan="7">
								<div id="ele_mortCd"></div>
							</td>
						</tr>
						<tr class="cls_mortType" style="display:none">
							<th>주소</th>
							<td colspan="7">
								<div class="addressWrap">
									<input type="hidden" name="sureAddrDiv" id="sureAddrDiv" value="DR" readonly/> <!-- 도로명 -->
									<input type="hidden" name="sureAddr1" id="sureAddr1" title="" />
									<input type="hidden" name="sureAddr2" id="sureAddr2" title="" />

									<input type="hidden" name="sureDoroCd" id="dorosureDoroCdCd" title="" />
									<input type="hidden" name="sureDoroNm" id="sureDoroNm" title="" />
									<input type="hidden" name="sureDoroBunho" id="sureDoroBunho" title="" />
									<input type="hidden" name="sureDoroDong" id="sureDoroDong" title="" />
									<input type="hidden" name="sureDoroBdNo" id="sureDoroBdNo" title="" />

									<input type="text" name="surePostNo" id="surePostNo" title="우편번호" style="width:70px" readonly/>
									<button type="button" class="btn icoSearch" onclick="fnAddrSerch(2);">검색</button>
									<input type="text" name="sureAddrFullDoro" id="sureAddrFullDoro" title="주소" style="width:400px;" readonly/>
									<input type="search" name="sureDoroDtl" id="sureDoroDtl" title="상세주소" style="width:200px;" maxlength="50" />

								</div>
							</td>
						</tr>

						<!--부동산정보-->
						<tr class="cls_mortType10" style="display:none">
							<th>부동산종류</th>
							<td colspan="3">
								<input type="search" name="restNm" id="restNm" title="부동산종류" style="width:100px"  maxlength="30"/>
							</td>
							<th>부동산면적</th>
							<td colspan="3">
								건평㎡ <input type="search" name="restArea" id="restArea" title="건평" style="width:80px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)"  maxlength="5"/>
								대지㎡ <input type="search" name="restSite" id="restSite" title="대지" style="width:80px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)"  maxlength="5"/>
							</td>
						</tr>
						<tr class="cls_mortType10" style="display:none">
							<th>근저당설정액</th>
							<td colspan="3">
								<input type="search" name="restCollAmt" id="restCollAmt" title="근저당설정액" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)"  maxlength="15"/>
							</td>
							<th>임차보증금</th>
							<td colspan="3">
								<input type="search" name="restSecuAmt" id="restSecuAmt" title="임차보증금" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)" maxlength="15"/>
							</td>
						</tr>
						<tr class="cls_mortType10" style="display:none">
							<th>시세추정가격</th>
							<td colspan="3">
								<input type="search" name="restPriceAmt" id="restPriceAmt" title="시세추정가격" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this);fnCalcRestAmt()" maxlength="15"/>
							</td>
							<th>선순위채권가액</th>
							<td colspan="3">
								<input type="search" name="restClaimAmt" id="restClaimAmt" title="선순위채권가액" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this);fnCalcRestAmt()" maxlength="15"/>
							</td>
						</tr>
						<!--부동산정보 끝-->
						<!--직장정보-->
						<tr class="cls_mortType20" style="display:none">
							<th>직장명</th>
							<td>
								<input type="search" name="compNm" id="compNm" title="직장명" style="width:100px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)" maxlength="30"/>
							</td>
							<th>업체구분</th>
							<td>
								<select name="compType" id="compType" title="업체구분" style="width:100px;" /></select>
							</td>
							<th>전화번호</th>
							<td>
								<input type="search" name="compTel" id="compTel" title="전화번호" style="width:100px" onKeyup="com.fnOnlyNum(this);com.makeTelNo(this)" maxlength="12"/>
							</td>
							<th>재직기간</th>
							<td>
								<input type="search" name="workYear" id="workYear" title="재직기간" style="width:60px" onKeyup="com.fnOnlyNum(this)" maxlength="3"/>년
							</td>
						</tr>
						<tr class="cls_mortType20" style="display:none">
							<th>부서명</th>
							<td colspan="3">
								<input type="search" name="deptNm" id="deptNm" title="부서명" style="width:100px" maxlength="20"/>
							</td>
							<th>직위</th>
							<td colspan="3">
								<input type="search" name="posNm" id="posNm" title="직위" style="width:100px" maxlength="10"/>
							</td>
						</tr>
						<!--직장정보 끝-->

						<!--재산세정보-->
						<tr class="cls_mortType30" style="display:none">
							<th>재산세</th>
							<td colspan="7">
								<input type="search" name="propTaxAmt" id="propTaxAmt" title="재산세" style="width:100px" onKeyup="com.fnOnlyNum(this);com.makeComma(this);fnCalcPropAmt()" maxlength="12"/>
							</td>
						</tr>
						<!--재산세정보 끝-->
						<tr class="cls_mortType" style="display:none">
							<th id="titl_amt">실익</th>
							<td colspan="3">
								<input type="search" name="objAmt" id="objAmt" title="실익" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this);fnCalcCompAmt()" maxlength="12"/>
							</td>
							<th>기보증금액</th>
							<td colspan="3">
								<input type="search" name="preAmt" id="preAmt" title="기보증금액" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)" maxlength="12" readonly/>
							</td>
						</tr>
						<tr class="cls_mortType" style="display:none">
							<th>약정금액</th>
							<td colspan="3">
								<input type="search" name="contrAmt" id="contrAmt" title="약정금액" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)" maxlength="12" readonly/>
							</td>
							<th>입보금액</th>
							<td colspan="3">
								<input type="search" name="sureAmt" id="sureAmt" title="입보금액" style="width:150px" onKeyup="com.fnOnlyNum(this);com.makeComma(this)" maxlength="12"/>
							</td>
						</tr>
						<tr>
							<th>비고</th>
							<td colspan="7">
								<input type="search" name="remark" id="remark" title="비고" maxlength="200"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="layer-flex mt20">
				<!-- 처리 버튼 영역 -->
				<div class="" style="width:100%">
					<section class="area">
						<div class="fc">
							<button type="button" onclick="javascript:fnSave();" class="btn style07">적용</button>
							<button type="button" onclick="javascript:parent.$('#dialog').dialog('close');" class="btn style08">닫기</button>
						</div>
					</section>
				</div>
				<!-- 처리 버튼 영역 끝-->
			</div>
			</form>
		</div><!-- //contentsArea -->
	</body>
</html>