<!--
	파일정보 : serchMemb/serchMemb.html
	파일명 : serchMemb
	업무명 : 조합원검색 팝업
	생성자 : BSG
	생성일 : 2023.04.05
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/subLayout">
	<body>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var codeList = /*[[${codeList}]]*/; //공통코드
			var gridColList = /*[[${gridColList}]]*/; //그리드옵션
			var gridOptList = []; //그리드옵션

			//초기화 조회 콜백
			$(document).ready(function(){
				//화면 처리

				//부모창 검색 정보 추출 (별도 특정 조건 없을경우 세팅)
				if(parent.selMembType === undefined || parent.selMembType === ""){
					$("#sMembNo").val(parent.$("#sMembNo").val());
					$("#sMembNm").val(parent.$("#sMembNm").val());
				}

				//IBsheet 초기화
				com.fnIbsInit(/*[[${menuInfo.workGrid}]]*/);

				//초기 데이터 설정 (id : 시트 객체 ID, el : 시트를 생성할 DIV객체 ID, options : 초기화 구문 변수, data : DATA)
			    IBSheet.create({ id: "sheet", el: "sheetDiv", options: gridOptList[0] });

			    //시트 생성 이후
			    IBSheet.onRenderFirstFinishAll = function(obj){
					fnSearch(); //조회 호출
				};

				//sheet 원클릭 처리
				sheet.bind("onAfterClick" , function(obj) { //원클릭
					if(obj.kind === "Filter") return;
					rowData = this.getFocusedRow(); //생성된 행 정보 가져오기

					//상세 정보 필요한경우 상세 정보 재조회
					if(parent.fnMembInfoSet !== undefined){
						var param = {membNo : rowData.membNo}
						obj = {url:"/com/selectMemb.do", param:param, callBack:fnSearchMembCallBack, msgYn:"N", sessYn:"Y", loadYn:"Y"};
						com.fnAjaxDef(obj);

					}else{
						parent.$("#sMembNo").val(rowData.membNo);
						parent.$("#sMembNm").val(rowData.membNm);

						if(parent.fnSearch !== undefined){
							parent.fnSearch();
						}
						parent.$("#dialog").dialog("close");
					}

				});
			});

			//선택 조합원 상세 정보 조회
			var fnSearchMembCallBack = function (resData){

				if(parent.selMembType === undefined || parent.selMembType === ""){
					parent.$("#sMembNo").val(resData.data.membNo);
					parent.$("#sMembNm").val(resData.data.membNm);
				}

				parent.fnMembInfoSet(resData.data);
				parent.$("#dialog").dialog("close");

			}

			//현황 조회
			var fnSearch = function(){
				param = JSON.stringify($("#serchFrm").serializeObject());
				com.fnIbsSearch("/com/selectMembList.do", param); //param, sheetId 생략 가능
			};


		    /*]]>*/
		</script>

		<!-- 콘텐츠 시작 -->
		<div class="contentsArea">
			<form name="serchFrm" id="serchFrm" method="post" onSubmit="return false">
			<section class="searchArea">
				<div class="row">
					<dl>
						<dt>조합원명</dt>
						<dd style="width:220px;">
							<input type="search" name="sMembNo" id="sMembNo" style="width:60px;" maxlength="4" onKeyup="com.fnOnlyNum(this)"/>
							<input type="search" name="sMembNm" id="sMembNm" style="width:150px;" maxlength="40" />
						</dd>
					</dl>
					<dl>
						<dt>대표자</dt>
						<dd>
							<input type="search" name="sCeoNm" id="sCeoNm" style="width:120px;" maxlength="10"/>
						</dd>
					</dl>
				</div><!-- //row -->
				<div class="row">
					<dl>
						<dt>법인번호</dt>
						<dd style="width:220px;">
							<input type="search" name="sLawNo" id="sLawNo" style="width:130px;" maxlength="14" onkeyup="com.fnOnlyNum(this);com.makeJuminNo(this);" value=""/>
						</dd>
					</dl>
					<dl>
						<dt>사업자번호</dt>
						<dd>
							<input type="search" name="sBizNo" id="sBizNo" style="width:120px;" maxlength="12" onkeyup="com.fnOnlyNum(this);com.makeBizNo(this);" value=""/>
						</dd>
					</dl>
				</div><!-- //row -->
				<div class="searchBtn">
					<button type="button" onclick="fnSearch();" class="btn search">조회</button>
				</div>
			</section>
			</form>
			<div class="mt10">
		    	<div id="sheetDiv" style="width:100%;height:300px"></div>
			</div>
		</div><!-- //contentsArea -->
	</body>
</html>