<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.sys.repository.BrdMasMapper"> 

	<!-- 통합게시판 정보 조회 --> 
	<select id="selectBrdMasList" parameterType="Map" resultType="camelMap"> 
		/* BrdMasMapper.selectBrdMasList */ 
		SELECT 
			BRD_NO 
			, BRD_NM 
			, NOTI_YN 
			, ATTH_YN 
			, TOP_YN 
			, OPEN_YN 
			, WRITE_YN 
			, REPLY_YN 
			, MENU_CD
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		  FROM CM_BRD_MAS 
		<where> 
		<if test="sBrdNm != null and sBrdNm  != ''"> 
		AND BRD_NM LIKE '%' || #{sBrdNm} || '%' 
		</if> 
		</where> 
		ORDER BY BRD_NO
	</select> 
	
	<!-- 통합게시판 상세 조회 --> 
	<select id="selectBrdMas" parameterType="Map" resultType="camelMap"> 
		/* BrdMasMapper.selectBrdMas */ 
		SELECT 
			BRD_NO 
			, BRD_NM 
			, NOTI_YN 
			, ATTH_YN 
			, TOP_YN 
			, OPEN_YN 
			, WRITE_YN 
			, REPLY_YN 
			, MENU_CD
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		  FROM CM_BRD_MAS 
		 WHERE BRD_NO = #{brdNo} 
	</select> 

	<!-- 통합게시판 등록 처리 --> 
	<insert id="insertBrdMas" parameterType="Map"  > 
		/* BrdMasMapper.insertBrdMas */ 
		<selectKey resultType="java.lang.String" keyProperty="brdNo" order="BEFORE">
	          SELECT NVL(MAX(BRD_NO), 0) + 1 AS MAX_BRD_NO 
	            FROM CM_BRD_MAS 
	    </selectKey> 
		INSERT INTO CM_BRD_MAS ( 
			BRD_NO 
			, BRD_NM 
			, NOTI_YN 
			, ATTH_YN 
			, TOP_YN 
			, OPEN_YN 
			, WRITE_YN
			, REPLY_YN 
			, MENU_CD
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		) VALUES ( 
			#{brdNo} 
			, #{brdNm} 
			, #{notiYn} 
			, #{atthYn} 
			, #{topYn} 
			, #{openYn} 
			, #{writeYn} 
			, #{replyYn}
			, #{menuCd}  
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		) 
	</insert> 

	<!-- 통합게시판 수정 처리 --> 
	<update id="updateBrdMas" parameterType="Map"  > 
		/* BrdMasMapper.updateBrdMas */ 
		UPDATE CM_BRD_MAS 
		SET 
			BRD_NO = #{brdNo} 
			, BRD_NM = #{brdNm} 
			, NOTI_YN = #{notiYn} 
			, ATTH_YN = #{atthYn} 
			, TOP_YN = #{topYn} 
			, OPEN_YN = #{openYn} 
			, WRITE_YN = #{writeYn} 
			, REPLY_YN = #{replyYn} 
			, MENU_CD = #{menuCd} 
			, REG_DTM = SYSDATE 
			, REG_NM = #{userNm} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm} 
		WHERE BRD_NO = #{brdNo} 
	</update> 

</mapper>
