<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ddc.biz.sys.repository.ConfGuarRateMapper">

	<!-- 보증수수료율 정보 조회 -->
	<select id="selectConfGuarRateList" parameterType="Map" resultType="camelMap">
		/* ConfGuarRateMapper.selectConfGuarRateList */
		SELECT
			APP_DT
			, FINAL_GRADE
			, BID_RATE
			, CONTR_RATE
			, DEFECT_RATE
			, PAY_RATE
			, PERF_RATE
			, PERF_KOCCA_RATE
			, DEBT_RATE
			, MORT_DISC_RATE
			, DELAY_INTER_RATE
			, REMARK
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM
			, EFFI_RATE
			, PERM_RATE
			, SELL_RATE
			, REPE_RATE
		  FROM CM_GUAR_RATE
		<where>
		<if test="sAppStaDt != null and sAppStaDt  != ''">
		AND APP_DT &gt;= REPLACE(#{sAppStaDt}, '-', '')
		</if>
		<if test="sAppEndDt != null and sAppEndDt  != ''">
		AND APP_DT &lt;= REPLACE(#{sAppEndDt}, '-', '')
		</if>
		</where>
		ORDER BY APP_DT DESC, SUBSTR(FINAL_GRADE, 0, 1), LENGTH(FINAL_GRADE) DESC
	</select>

	<!-- 보증수수료율 등록 처리 -->
	<insert id="insertConfGuarRate" parameterType="Map"  >
		/* ConfGuarRateMapper.insertConfGuarRate */
		INSERT INTO CM_GUAR_RATE (
			APP_DT
			, FINAL_GRADE
			, BID_RATE
			, CONTR_RATE
			, DEFECT_RATE
			, PAY_RATE
			, PERF_RATE
			, PERF_KOCCA_RATE
			, DEBT_RATE
			, MORT_DISC_RATE
			, DELAY_INTER_RATE
			, REMARK
			, REG_DTM
			, REG_NM
			, MOD_DTM
			, MOD_NM
			, EFFI_RATE
			, PERM_RATE
			, SELL_RATE
			, REPE_RATE
		) VALUES (
			REPLACE(#{appDt}, '-', '')
			, #{finalGrade}
			, #{bidRate}
			, #{contrRate}
			, #{defectRate}
			, #{payRate}
			, #{perfRate}
			, #{perfKoccaRate}
			, #{debtRate}
			, #{mortDiscRate}
			, #{delayInterRate}
			, #{remark}
			, SYSDATE
			, #{userNm}
			, SYSDATE
			, #{userNm}
			, #{effiRate}
			, #{permRate}
			, #{sellRate}
			, #{repeRate}
		)
	</insert>

	<!-- 보증수수료율 수정 처리 -->
	<update id="updateConfGuarRate" parameterType="Map"  >
		/* ConfGuarRateMapper.updateConfGuarRate */
		UPDATE CM_GUAR_RATE
		SET
			BID_RATE = #{bidRate}
			, CONTR_RATE = #{contrRate}
			, DEFECT_RATE = #{defectRate}
			, PAY_RATE = #{payRate}
			, PERF_RATE = #{perfRate}
			, PERF_KOCCA_RATE = #{perfKoccaRate}
			, DEBT_RATE = #{debtRate}
			, MORT_DISC_RATE = #{mortDiscRate}
			, DELAY_INTER_RATE = #{delayInterRate}
			, REMARK = #{remark}
			, MOD_DTM = SYSDATE
			, MOD_NM = #{modNm}
			, EFFI_RATE = #{effiRate}
			, PERM_RATE = #{permRate}
			, SELL_RATE = #{sellRate}
			, REPE_RATE = #{repeRate}
		WHERE APP_DT = REPLACE(#{appDt}, '-', '')
		  AND FINAL_GRADE = #{finalGrade}
	</update>

	<!-- 보증수수료율 삭제 처리 -->
	<delete id="deleteConfGuarRate" parameterType="Map"  >
		/* ConfGuarRateMapper.deleteConfGuarRate */
		DELETE FROM CM_GUAR_RATE
	</delete>


</mapper>
