<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.sys.repository.ConfBaseIndiMapper"> 

	<sql id="cols"> 
		IDX_NO 
		, APP_DT 
		, LARGE_NM 
		, MEDIUM_NM 
		, SMALL_NM 
		, IDX_TITLE 
		, LARGE_ROW_SPAN 
        , MEDIUM_ROW_SPAN
        , SMALL_ROW_SPAN
		, IDX_CD 
		, BUSS_CD 
		, ROW_CD 
		, IDX_NM1 
		, IDX_NM2 
		, IDX_NM3 
		, IDX_NM4 
		, IDX_NM5 
		, IDX_NM6 
		, VAL_CD1 
		, VAL_CD2 
		, VAL_CD3 
		, VAL_CD4 
		, VAL_CD5 
		, VAL_CD6 
		, REF_CD1 
		, REF_CD2 
		, REF_CD3 
		, REF_CD4 
		, REF_CD5 
		, REF_CD6 
		, FR_VAL1 
		, FR_VAL2 
		, FR_VAL3 
		, FR_VAL4 
		, FR_VAL5 
		, FR_VAL6 
		, TO_VAL1 
		, TO_VAL2 
		, TO_VAL3 
		, TO_VAL4 
		, TO_VAL5 
		, TO_VAL6 
		, LINK_COL 
		, IDX_CAL 
		, IDX_ORD 
		, DONE_RATE 
		, HIT_RATE 
		, FINAL_RATE 
		, RANGE_A 
		, RANGE_B 
		, RANGE_C 
		, RANGE_D 
		, RANGE_E 
		, SCORE_A 
		, SCORE_B 
		, SCORE_C 
		, SCORE_D 
		, SCORE_E 
		, REG_DTM 
		, REG_NM 
		, MOD_DTM 
		, MOD_NM 
	</sql> 
	
	<!-- 기준지표관리 정보 조회 --> 
	<select id="selectConfBaseIndiList" parameterType="Map" resultType="camelMap"> 
		/* ConfBaseIndiMapper.selectConfBaseIndiList */ 
		SELECT 
			IDX_NO 
			, APP_DT 
			, LARGE_NM 
			, MEDIUM_NM 
			, SMALL_NM 
			, IDX_TITLE
			, CASE WHEN INSTR(IDX_TITLE, '자동산출') > 0 THEN '자동산출' ELSE IDX_TITLE END IDX_TITLE_VAL
			, LARGE_ROW_SPAN 
	        , MEDIUM_ROW_SPAN
	        , SMALL_ROW_SPAN
			, IDX_CD 
			, BUSS_CD 
			, ROW_CD 
			, IDX_NM1 
			, IDX_NM2 
			, IDX_NM3 
			, IDX_NM4 
			, IDX_NM5 
			, IDX_NM6 
			, VAL_CD1 
			, VAL_CD2 
			, VAL_CD3 
			, VAL_CD4 
			, VAL_CD5 
			, VAL_CD6 
			, REF_CD1 
			, REF_CD2 
			, REF_CD3 
			, REF_CD4 
			, REF_CD5 
			, REF_CD6 
			, FR_VAL1 
			, FR_VAL2 
			, FR_VAL3 
			, FR_VAL4 
			, FR_VAL5 
			, FR_VAL6 
			, TO_VAL1 
			, TO_VAL2 
			, TO_VAL3 
			, TO_VAL4 
			, TO_VAL5 
			, TO_VAL6 
			, LINK_COL 
			, IDX_CAL 
			, IDX_ORD 
			, DONE_RATE 
			, HIT_RATE 
			, FINAL_RATE 
			, RANGE_A 
			, RANGE_B 
			, RANGE_C 
			, RANGE_D 
			, RANGE_E 
			, SCORE_A 
			, SCORE_B 
			, SCORE_C 
			, SCORE_D 
			, SCORE_E 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
			, (CASE VAL_CD1 WHEN '01' THEN '코드 : ' || (SELECT CD_NM FROM CM_CODE WHERE CD_TYPE = 'ROOT' AND CD = REF_CD1)
                             WHEN '02' THEN '범위 : ' || 1 || '~' || TO_VAL1
                ELSE F_GET_CD_NM('MB06',VAL_CD1) END) VAL_NM1
            , (CASE VAL_CD2 WHEN '01' THEN '코드 : ' || (SELECT CD_NM FROM CM_CODE WHERE CD_TYPE = 'ROOT' AND CD = REF_CD2)
                             WHEN '02' THEN '범위 : ' || FR_VAL2 || '~' || TO_VAL2
                ELSE F_GET_CD_NM('MB06',VAL_CD2) END) VAL_NM2
		  FROM CM_INDEX 
		<where> 
		<if test="sIdxCd != null and sIdxCd  != ''"> 
		AND IDX_CD = #{sIdxCd} 
		</if> 
		<if test="sBussCd != null and sBussCd  != ''"> 
		AND BUSS_CD = #{sBussCd} 
		</if> 
		</where> 
		ORDER BY IDX_CD, BUSS_CD, IDX_ORD
	</select> 

	<!-- 기준지표관리 상세 조회 --> 
	<select id="selectConfBaseIndi" parameterType="Map" resultType="camelMap"> 
		/* ConfBaseIndiMapper.selectConfBaseIndi*/ 
		SELECT 
			<include refid="cols" /> 
		  FROM CM_INDEX 
		<where> 
		<if test="idxNo != null and idxNo  != ''"> 
		AND IDX_NO = idxNo 
		</if> 
		<if test="appDt != null and appDt  != ''"> 
		AND APP_DT = REPLACE(#{appDt}, '-', '') 
		</if> 
		</where> 
	</select>
	
	<!-- 지표적용일자 기준 데이터 조회 -->
	<select id="selectConfBaseIndiMaxDt" parameterType="Map" resultType="camelMap">
		/* ConfBaseIndiMapper.selectConfBaseIndiMaxAppDt*/
		SELECT  IDX_NO
			  , APP_DT
			  , LARGE_NM
			  , MEDIUM_NM
			  , SMALL_NM
			  , IDX_TITLE
			  , '' AS IDX_INPUT1
			  , LARGE_ROW_SPAN
			  , MEDIUM_ROW_SPAN
			  , SMALL_ROW_SPAN
			  , IDX_CD
			  , BUSS_CD
			  , ROW_CD
			  , IDX_NM1
			  , IDX_NM2
			  , IDX_NM3
			  , IDX_NM4
			  , IDX_NM5
			  , IDX_NM6
			  , VAL_CD1
			  , VAL_CD2
			  , VAL_CD3
			  , VAL_CD4
			  , VAL_CD5
			  , VAL_CD6
			  , REF_CD1
			  , REF_CD2
			  , REF_CD3
			  , REF_CD4
			  , REF_CD5
			  , REF_CD6
			  , FR_VAL1
			  , FR_VAL2
			  , FR_VAL3
			  , FR_VAL4
			  , FR_VAL5
			  , FR_VAL6
			  , TO_VAL1
			  , TO_VAL2
			  , TO_VAL3
			  , TO_VAL4
			  , TO_VAL5
			  , TO_VAL6
			  , IDX_CAL
			  , IDX_ORD
			  , DONE_RATE
			  , HIT_RATE
			  , FINAL_RATE
			  , RANGE_A
			  , RANGE_B
			  , RANGE_C
			  , RANGE_D
			  , RANGE_E
			  , SCORE_A
			  , SCORE_B
			  , SCORE_C
			  , SCORE_D
			  , SCORE_E
		  FROM CM_INDEX 
		 WHERE APP_DT = (
		 				SELECT MAX(APP_DT)
		 				  FROM CM_INDEX
		 			     WHERE APP_DT &lt;= REPLACE(NVL(#{appDt}, TO_CHAR(SYSDATE, 'YYYYMMDD')), '-')
		 			   )
		   AND IDX_CD = #{idxCd}
		 ORDER BY IDX_NO 
	</select> 

	<!-- 기준지표관리 등록 처리 --> 
	<insert id="insertConfBaseIndi" parameterType="Map"  > 
		/* ConfBaseIndiMapper.insertConfBaseIndi */ 
		INSERT INTO CM_INDEX ( 
			<include refid="cols" /> 
		) VALUES ( 
			#{idxNo} 
			, REPLACE(#{appDt}, '-', '') 
			, #{largeNm} 
			, #{mediumNm} 
			, #{smallNm} 
			, #{idxTitle} 
			, #{largeRowSpan} 
			, #{mediumRowSpan} 
			, #{smallRowSpan} 
			, #{idxCd} 
			, #{bussCd} 
			, #{rowCd} 
			, #{idxNm1} 
			, #{idxNm2} 
			, #{idxNm3} 
			, #{idxNm4} 
			, #{idxNm5} 
			, #{idxNm6} 
			, #{valCd1} 
			, #{valCd2} 
			, #{valCd3} 
			, #{valCd4} 
			, #{valCd5} 
			, #{valCd6} 
			, #{refCd1} 
			, #{refCd2} 
			, #{refCd3} 
			, #{refCd4} 
			, #{refCd5} 
			, #{refCd6} 
			, #{frVal1} 
			, #{frVal2} 
			, #{frVal3} 
			, #{frVal4} 
			, #{frVal5} 
			, #{frVal6} 
			, #{toVal1} 
			, #{toVal2} 
			, #{toVal3} 
			, #{toVal4} 
			, #{toVal5} 
			, #{toVal6} 
			, #{linkCol} 
			, #{idxCal} 
			, #{idxOrd} 
			, #{doneRate} 
			, #{hitRate} 
			, #{finalRate} 
			, #{rangeA} 
			, #{rangeB} 
			, #{rangeC} 
			, #{rangeD} 
			, #{rangeE} 
			, #{scoreA} 
			, #{scoreB} 
			, #{scoreC} 
			, #{scoreD} 
			, #{scoreE} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		) 
	</insert> 

	<!-- 기준지표관리 수정 처리 --> 
	<update id="updateConfBaseIndi" parameterType="Map"  > 
		/* ConfBaseIndiMapper.updateConfBaseIndi */ 
		UPDATE CM_INDEX 
		SET 
			IDX_NO = #{idxNo} 
			, APP_DT = REPLACE(#{appDt}, '-', '') 
			, LARGE_NM = #{largeNm} 
			, MEDIUM_NM = #{mediumNm} 
			, SMALL_NM = #{smallNm} 
			, IDX_TITLE = #{idxTitle} 
			, LARGE_ROW_SPAN = #{largeRowSpan} 
			, MEDIUM_ROW_SPAN = #{mediumRowSpan} 
			, SMALL_ROW_SPAN = #{smallRowSpan} 
			, IDX_CD = #{idxCd} 
			, BUSS_CD = #{bussCd} 
			, ROW_CD = #{rowCd} 
			, IDX_NM1 = #{idxNm1} 
			, IDX_NM2 = #{idxNm2} 
			, IDX_NM3 = #{idxNm3} 
			, IDX_NM4 = #{idxNm4} 
			, IDX_NM5 = #{idxNm5} 
			, IDX_NM6 = #{idxNm6} 
			, VAL_CD1 = #{valCd1} 
			, VAL_CD2 = #{valCd2} 
			, VAL_CD3 = #{valCd3} 
			, VAL_CD4 = #{valCd4} 
			, VAL_CD5 = #{valCd5} 
			, VAL_CD6 = #{valCd6} 
			, REF_CD1 = #{refCd1} 
			, REF_CD2 = #{refCd2} 
			, REF_CD3 = #{refCd3} 
			, REF_CD4 = #{refCd4} 
			, REF_CD5 = #{refCd5} 
			, REF_CD6 = #{refCd6} 
			, FR_VAL1 = #{frVal1} 
			, FR_VAL2 = #{frVal2} 
			, FR_VAL3 = #{frVal3} 
			, FR_VAL4 = #{frVal4} 
			, FR_VAL5 = #{frVal5} 
			, FR_VAL6 = #{frVal6} 
			, TO_VAL1 = #{toVal1} 
			, TO_VAL2 = #{toVal2} 
			, TO_VAL3 = #{toVal3} 
			, TO_VAL4 = #{toVal4} 
			, TO_VAL5 = #{toVal5} 
			, TO_VAL6 = #{toVal6} 
			, LINK_COL = #{linkCol} 
			, IDX_CAL = #{idxCal} 
			, IDX_ORD = #{idxOrd} 
			, DONE_RATE = #{doneRate} 
			, HIT_RATE = #{hitRate} 
			, FINAL_RATE = #{finalRate} 
			, RANGE_A = #{rangeA} 
			, RANGE_B = #{rangeB} 
			, RANGE_C = #{rangeC} 
			, RANGE_D = #{rangeD} 
			, RANGE_E = #{rangeE} 
			, SCORE_A = #{scoreA} 
			, SCORE_B = #{scoreB} 
			, SCORE_C = #{scoreC} 
			, SCORE_D = #{scoreD} 
			, SCORE_E = #{scoreE} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm} 
		WHERE IDX_NO = #{idxNo} 
		  AND APP_DT = REPLACE(#{appDt}, '-', '') 
	</update> 

	<!-- 기준지표관리 삭제 처리 --> 
	<delete id="deleteConfBaseIndi" parameterType="Map"  > 
		/* ConfBaseIndiMapper.deleteConfBaseIndi */ 
		DELETE FROM CM_INDEX 
		WHERE IDX_NO = #{idxNo} 
		  AND APP_DT = REPLACE(#{appDt}, '-', '') 
	</delete> 

</mapper>
