<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ddc.biz.sys.repository.ConfGuarMapper">

	<sql id="cols">
		APP_DT
		, FINAL_GRADE
		, BID_RATE
		, CONTR_RATE
		, DEFECT_RATE
		, PAY_RATE
		, PERF_RATE
		, DEBT_RATE
		, REMARK
		, REG_DTM
		, REG_NM
		, MOD_DTM
		, MOD_NM
	</sql>

	<!-- 보증상품배수관리 정보 조회 -->
	<select id="selectConfGuarList" parameterType="Map" resultType="camelMap">
		/* ConfGuarMapper.selectConfGuarList */
		SELECT
			<include refid="cols" />
		  FROM CM_GUAR_LIMIT
		<where>
		<if test="sAppStaDt != null and sAppStaDt  != ''">
		AND APP_DT &gt;= REPLACE(#{sAppStaDt}, '-', '')
		</if>
		<if test="sAppEndDt != null and sAppEndDt  != ''">
		AND APP_DT &lt;= REPLACE(#{sAppEndDt}, '-', '')
		</if>
		</where>
		ORDER BY APP_DT DESC, SUBSTR(FINAL_GRADE, 0, 1), LENGTH(FINAL_GRADE) DESC
	</select>

	<!-- 보증상품배수관리 상세 조회 -->
	<select id="selectConfGuar" parameterType="Map" resultType="camelMap">
		/* ConfGuarMapper.selectConfGuar*/
		SELECT
			<include refid="cols" />
		  FROM CM_GUAR_LIMIT
		 WHERE APP_DT = REPLACE(#{appDt}, '-', '')
		   AND FINAL_GRADE = #{finalGrade}
	</select>


	<!-- 보증상품배수관리 상세 조회(최종) -->
	<select id="selectConfGuarMaxAppDt" parameterType="Map" resultType="camelMap">
		/* ConfGuarMapper.selectConfGuarMaxAppDt*/
		SELECT
			<include refid="cols" />
			, BID_RATE + CONTR_RATE + DEFECT_RATE SUM_IMPL_RATE	<!-- 이행 최대배수율 합계 -->
			, PAY_RATE + PERF_RATE SUM_PAY_RATE					<!-- 지급 최대배수율 합계(채무보증 제외) -->
			, BID_RATE + CONTR_RATE + DEFECT_RATE + PAY_RATE + PERF_RATE  SUM_RATE <!-- 총 최대배율 합계 -->		<!-- + DEBT_RATE 채무보증 제외 -->
		  FROM CM_GUAR_LIMIT
		 WHERE FINAL_GRADE = #{finalGrade}
		   AND APP_DT = (
		 				SELECT MAX(APP_DT)
		 				  FROM CM_GUAR_LIMIT
		 			     WHERE FINAL_GRADE = #{finalGrade}
		 			       AND APP_DT &lt; REPLACE(NVL(#{appDt}, TO_CHAR(SYSDATE, 'YYYYMMDD')), '-')
		 			   )
	</select>

	<!-- 보증상품배수관리 등록 처리 -->
	<insert id="insertConfGuar" parameterType="Map"  >
		/* ConfGuarMapper.insertConfGuar */
		INSERT INTO CM_GUAR_LIMIT (
			<include refid="cols" />
		) VALUES (
			REPLACE(#{appDt}, '-', '')
			, #{finalGrade}
			, #{bidRate}
			, #{contrRate}
			, #{defectRate}
			, #{payRate}
			, #{perfRate}
			, #{debtRate}
			, #{remark}
			, SYSDATE
			, #{userNm}
			, SYSDATE
			, #{userNm}
		)
	</insert>

	<!-- 보증상품배수관리 수정 처리 -->
	<update id="updateConfGuar" parameterType="Map"  >
		/* ConfGuarMapper.updateConfGuar */
		UPDATE CM_GUAR_LIMIT
		SET
			BID_RATE = #{bidRate}
			, CONTR_RATE = #{contrRate}
			, DEFECT_RATE = #{defectRate}
			, PAY_RATE = #{payRate}
			, PERF_RATE = #{perfRate}
			, DEBT_RATE = #{debtRate}
			, REMARK = #{remark}
			, MOD_DTM = SYSDATE
			, MOD_NM = #{userNm}
		WHERE APP_DT = REPLACE(#{appDt}, '-', '')
		  AND FINAL_GRADE = #{finalGrade}
	</update>

	<!-- 보증상품배수관리 삭제 처리 -->
	<delete id="deleteConfGuar" parameterType="Map"  >
		/* ConfGuarMapper.deleteConfGuar */
		DELETE FROM CM_GUAR_LIMIT
		WHERE APP_DT = REPLACE(#{appDt}, '-', '')
		  AND FINAL_GRADE = #{finalGrade}
	</delete>

</mapper>
