<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.sys.repository.ConfRiskMapper"> 
	
	<sql id="cols"> 
		APP_DT 
		, GOV_AMT 
		, FINC_AMT 
		, LOAN_AMT 
		, ETC_AMT 
		, GUAR_LIMIT_MUL 
		, GUAR_EACH_MUL 
		, LEND_LIMIT_MUL 
		, LEND_EACH_MUL 
		, LEND_MON 
		, LEND_LIMIT_NUM 
		, ASSIGN_RATE 
		, SURETY_MUL 
		, SMALL_AMT 
		, CONTR_MON 
		, REMARK 
		, REG_DTM 
		, REG_NM 
		, MOD_DTM 
		, MOD_NM 
		, EXEM_LIMIT_AMT  
	</sql> 
	
	<!-- 리스크및환경 정보 조회 --> 
	<select id="selectConfRiskList" parameterType="Map" resultType="camelMap"> 
		/* ConfRiskMapper.selectConfRiskList */ 
		SELECT 
			 <include refid="cols" /> 
		  FROM CM_RISK 
		<where> 
		<if test="sAppStaDt != null and sAppStaDt  != ''"> 
		AND APP_DT &gt;= REPLACE(#{sAppStaDt}, '-', '') 
		</if> 
		<if test="sAppEndDt != null and sAppEndDt  != ''"> 
		AND APP_DT &lt;= REPLACE(#{sAppEndDt}, '-', '') 
		</if> 
		</where> 
		ORDER BY APP_DT DESC
	</select> 

	<!-- 리스크및환경 상세 조회(최종)  --> 
	<select id="selectConfRiskMaxAppDt" parameterType="Map" resultType="camelMap"> 
		/* ConfRiskMapper.selectConfRiskMaxAppDt*/ 
		SELECT 
			<include refid="cols" />  
		  FROM CM_RISK 
		WHERE APP_DT = (
		 				SELECT MAX(APP_DT)
		 				  FROM CM_RISK
		 			     WHERE APP_DT &lt; REPLACE(NVL(#{appDt}, TO_CHAR(SYSDATE, 'YYYYMMDD')), '-')
		 			   )
	</select> 

	<!-- 리스크및환경 등록 처리 --> 
	<insert id="insertConfRisk" parameterType="Map"  > 
		/* ConfRiskMapper.insertConfRisk */ 
		INSERT INTO CM_RISK ( 
			<include refid="cols" /> 
		) VALUES ( 
			REPLACE(#{appDt}, '-', '') 
			, REPLACE(#{govAmt}, ',', '') 
			, REPLACE(#{fincAmt}, ',', '') 
			, REPLACE(#{loanAmt}, ',', '') 
			, REPLACE(#{etcAmt}, ',', '') 
			, #{guarLimitMul} 
			, #{guarEachMul} 
			, #{lendLimitMul} 
			, #{lendEachMul} 
			, #{lendMon} 
			, #{lendLimitNum} 
			, #{assignRate} 
			, #{suretyMul} 
			, REPLACE(#{smallAmt}, ',', '') 
			, #{contrMon} 
			, #{remark} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
			, REPLACE(#{exemLimitAmt}, ',', '') 
		) 
	</insert> 

	<!-- 리스크및환경 수정 처리 --> 
	<update id="updateConfRisk" parameterType="Map"  > 
		/* ConfRiskMapper.updateConfRisk */ 
		UPDATE CM_RISK 
		SET 
			GOV_AMT = REPLACE(#{govAmt}, ',', '') 
			, FINC_AMT = REPLACE(#{fincAmt}, ',', '') 
			, LOAN_AMT = REPLACE(#{loanAmt}, ',', '') 
			, ETC_AMT = REPLACE(#{etcAmt}, ',', '') 
			, GUAR_LIMIT_MUL = #{guarLimitMul} 
			, GUAR_EACH_MUL = #{guarEachMul} 
			, LEND_LIMIT_MUL = #{lendLimitMul} 
			, LEND_EACH_MUL = #{lendEachMul} 
			, LEND_MON = #{lendMon} 
			, LEND_LIMIT_NUM = #{lendLimitNum} 
			, ASSIGN_RATE = #{assignRate} 
			, SURETY_MUL = #{suretyMul} 
			, SMALL_AMT = REPLACE(#{smallAmt}, ',', '') 
			, CONTR_MON = #{contrMon} 
			, REMARK = #{remark} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm} 
			, EXEM_LIMIT_AMT = REPLACE(#{exemLimitAmt}, ',', '') 
		WHERE APP_DT = REPLACE(#{appDt}, '-', '') 
	</update> 

	<!-- 리스크및환경 삭제 처리 --> 
	<delete id="deleteConfRisk" parameterType="Map"  > 
		/* ConfRiskMapper.deleteConfRisk */ 
		DELETE FROM CM_RISK 
		WHERE APP_DT = REPLACE(#{appDt}, '-', '') 
	</delete> 

</mapper>
