<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.sys.repository.ConfInvtMapper"> 

	<!-- 출자좌수액 정보 조회 --> 
	<select id="selectConfInvtList" parameterType="Map" resultType="camelMap"> 
		/* ConfInvtMapper.selectConfInvtList */ 
		SELECT 
			APP_DT 
			, FACE_AMT 
			, DEAL_AMT 
			, REMARK 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		  FROM CM_INVEST 
		  ORDER BY APP_DT DESC
	</select> 
	
	<!-- 출자좌수액 상세 조회 (최종) --> 
	<select id="selectConfInvtMaxAppDt" parameterType="Map" resultType="camelMap"> 
		/* ConfInvtMapper.selectConfInvtMaxAppDt */ 
		SELECT 
			APP_DT 
			, FACE_AMT 
			, DEAL_AMT 
			, REMARK 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		  FROM CM_INVEST 
		 WHERE APP_DT  = (
		 				SELECT MAX(APP_DT)
		 				  FROM CM_INVEST
		 			     WHERE APP_DT &lt; REPLACE(NVL(#{appDt}, TO_CHAR(SYSDATE, 'YYYYMMDD')), '-')
		 			   )
	</select> 
	
	<!-- 출자좌수액 등록 처리 --> 
	<insert id="insertConfInvt" parameterType="Map"  > 
		/* ConfInvtMapper.insertConfInvt */ 
		INSERT INTO CM_INVEST ( 
			APP_DT 
			, FACE_AMT 
			, DEAL_AMT 
			, REMARK 
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		) VALUES ( 
			REPLACE(#{appDt}, '-', '') 
			, REPLACE(#{faceAmt}, ',', '') 
			, REPLACE(#{dealAmt}, ',', '') 
			, #{remark} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		) 
	</insert> 

	<!-- 출자좌수액 수정 처리 --> 
	<update id="updateConfInvt" parameterType="Map"  > 
		/* ConfInvtMapper.updateConfInvt */ 
		UPDATE CM_INVEST 
		SET 
			FACE_AMT = REPLACE(#{faceAmt}, ',', '') 
			, DEAL_AMT = REPLACE(#{dealAmt}, ',', '') 
			, REMARK = #{remark} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm}
		WHERE APP_DT = REPLACE(#{appDt}, '-', '')
	</update> 

	<!-- 출자좌수액 삭제 처리 --> 
	<delete id="deleteConfInvt" parameterType="Map"  > 
		/* ConfInvtMapper.deleteConfInvt */ 
		DELETE FROM CM_INVEST 
		WHERE APP_DT = REPLACE(#{appDt}, '-', '')
	</delete> 

</mapper>
