<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.sys.repository.ConfBaseGradeMapper"> 

	<sql id="cols"> 
		GRADE_NO 
		, APP_DT 
		, GRADE_CD 
		, GRADE 
		, HIGH_SCORE 
		, LOW_SCORE 
		, SCALE_CD 
		, FINANCE_RATE 
		, NON_FINANCE_RATE 
		, CEO_RATE 
		, REG_DTM 
		, REG_NM 
		, MOD_DTM 
		, MOD_NM 
	</sql> 
	
	<!-- 기준등급관리 정보 조회 --> 
	<select id="selectConfBaseGradeList" parameterType="Map" resultType="camelMap"> 
		/* ConfBaseGradeMapper.selectConfBaseGradeList */ 
		SELECT 
			<include refid="cols" /> 
		  FROM CM_GRADE 
		<where> 
		<if test="sAppStaDt != null and sAppStaDt  != ''"> 
		AND APP_DT &gt;= REPLACE(#{sAppStaDt}, '-', '') 
		</if> 
		<if test="sAppEndDt != null and sAppEndDt  != ''"> 
		AND APP_DT &lt;= REPLACE(#{sAppEndDt}, '-', '') 
		</if> 
		</where> 
		ORDER BY APP_DT DESC, GRADE_CD, LOW_SCORE DESC, SCALE_CD
	</select> 

	<!-- 기준등급관리 상세 조회 --> 
	<select id="selectConfBaseGrade" parameterType="Map" resultType="camelMap"> 
		/* ConfBaseGradeMapper.selectConfBaseGrade*/ 
		SELECT 
			<include refid="cols" /> 
		  FROM CM_GRADE 
		 WHERE GRADE_NO = #{gradeNo}
	</select> 

	<!-- 기준등급관리 등록 처리 --> 
	<insert id="insertConfBaseGrade" parameterType="Map"  > 
		/* ConfBaseGradeMapper.insertConfBaseGrade */ 
		<selectKey resultType="java.lang.String" keyProperty="gradeNo" order="BEFORE">
          SELECT NVL(MAX(GRADE_NO), 0) + 1 AS MAX_GRADE_NO
            FROM CM_GRADE 
	    </selectKey> 
		INSERT INTO CM_GRADE ( 
			<include refid="cols" />  
		) VALUES ( 
			#{gradeNo} 
			, REPLACE(#{appDt}, '-', '') 
			, #{gradeCd} 
			, #{grade} 
			, #{highScore} 
			, #{lowScore} 
			, #{scaleCd} 
			, #{financeRate} 
			, #{nonFinanceRate} 
			, #{ceoRate} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		) 
	</insert> 

	<!-- 기준등급관리 수정 처리 --> 
	<update id="updateConfBaseGrade" parameterType="Map"  > 
		/* ConfBaseGradeMapper.updateConfBaseGrade */ 
		UPDATE CM_GRADE 
		SET 
			APP_DT = REPLACE(#{appDt}, '-', '') 
			, GRADE_CD = #{gradeCd} 
			, GRADE = #{grade} 
			, HIGH_SCORE = #{highScore} 
			, LOW_SCORE = #{lowScore} 
			, SCALE_CD = #{scaleCd} 
			, FINANCE_RATE = #{financeRate} 
			, NON_FINANCE_RATE = #{nonFinanceRate} 
			, CEO_RATE = #{ceoRate} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{userNm} 
		WHERE GRADE_NO = #{gradeNo} 
	</update> 

	<!-- 기준등급관리 삭제 처리 --> 
	<delete id="deleteConfBaseGrade" parameterType="Map"  > 
		/* ConfBaseGradeMapper.deleteConfBaseGrade */ 
		DELETE FROM CM_GRADE 
		WHERE GRADE_NO = #{gradeNo} 
	</delete> 

</mapper>
