<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.sys.repository.DocMapper"> 

	<!-- 서식관리 정보 조회 --> 
	<select id="selectDocList" parameterType="Map" resultType="camelMap"> 
		/* DocMapper.selectDocList */ 
		SELECT 
			DOC_NO 
			, DOC_NM 
			, DOC_FILE_NM 
			, DOC_CONT
			, WORK_TYPE 
			, USE_YN 
			, ATTH_NO
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		  FROM CM_DOC 
		<where> 
		<if test="sDocNo != null and sDocNo  != ''"> 
		AND DOC_NO = #{sDocNo} 
		</if> 
		<if test="sDocNm != null and sDocNm  != ''"> 
		AND DOC_NM LIKE '%' || #{sDocNm} || '%' 
		</if> 
		</where> 
		ORDER BY DOC_NO DESC
	</select> 

	<!-- 서식관리 등록 처리 --> 
	<insert id="insertDoc" parameterType="Map"  > 
		/* DocMapper.insertDoc */ 
		<selectKey resultType="java.lang.String" keyProperty="docNo" order="BEFORE">
	        SELECT NVL(MAX(DOC_NO),0) + 1 FROM CM_DOC
	    </selectKey>
		INSERT INTO CM_DOC ( 
			DOC_NO 
			, DOC_NM 
			, DOC_FILE_NM 
			, DOC_CONT
			, WORK_TYPE
			, USE_YN 
			, ATTH_NO
			, REG_DTM 
			, REG_NM 
			, MOD_DTM 
			, MOD_NM 
		) VALUES ( 
			#{docNo}
			, #{docNm} 
			, #{docFileNm} 
			, #{docCont} 
			, #{workType} 
			, #{useYn} 
			, #{atthNo} 
			, SYSDATE 
			, #{regNm} 
			, SYSDATE 
			, #{modNm} 
		) 
	</insert> 

	<!-- 서식관리 수정 처리 --> 
	<update id="updateDoc" parameterType="Map"  > 
		/* DocMapper.updateDoc */ 
		UPDATE CM_DOC 
		SET 
			DOC_NM = #{docNm} 
			, DOC_FILE_NM = #{docFileNm} 
			, DOC_CONT = #{docCont} 
			, WORK_TYPE = #{workType} 
			, USE_YN = #{useYn} 
			, MOD_DTM = SYSDATE 
			, MOD_NM = #{modNm} 
		WHERE DOC_NO = #{docNo} 
	</update> 

	<!-- 서식관리 삭제 처리 --> 
	<delete id="deleteDoc" parameterType="Map"  > 
		/* DocMapper.deleteDoc */ 
		DELETE FROM CM_DOC 
		WHERE DOC_NO = #{docNo} 
	</delete> 

</mapper>
