<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="ddc.biz.sys.repository.KocfcAccMapper"> 

	<!-- 조합계좌 정보 조회 --> 
	<select id="selectKocfcAccList" parameterType="Map" resultType="camelMap"> 
		/* KocfcAccMapper.selectKocfcAccList */ 
		SELECT 
			BANK_CD 
			, ACCT_NO 
			, BANK_NM 
			, BANK_TYPE 
			, USE_YN 
			, REMARK 
			, REG_DTM 
			, REG_ID 
			, MOD_DTM 
			, MOD_ID 
		  FROM CM_KOCFC_ACC 
		<where> 
		 NVL(DEL_YN, 'N') = 'N'
		<if test="sBankCd != null and sBankCd  != ''"> 
		AND BANK_CD = #{sBankCd} 
		</if> 
		<if test="sAcctNo != null and sAcctNo  != ''"> 
		AND ACCT_NO LIKE '%' || #{sAcctNo} || '%' 
		</if>
		<if test="sUseYn != null and sUseYn  != ''"> 
		AND USE_YN = #{sUseYn} 
		</if> 
		</where> 
		ORDER BY BANK_CD DESC, ACCT_NO DESC
	</select> 
	
	<!-- 조합계좌 상세 조회 --> 
	<select id="selectKocfcAcc" parameterType="Map" resultType="camelMap"> 
		/* KocfcAccMapper.selectKocfcAcc */ 
		SELECT 
			BANK_CD 
			, ACCT_NO
			, REPLACE(ACCT_NO, '-') ACCT_NO_NUM 
			, BANK_NM 
			, BANK_TYPE 
			, USE_YN 
			, REMARK 
			, REG_DTM 
			, REG_ID 
			, MOD_DTM 
			, MOD_ID 
		  FROM CM_KOCFC_ACC 
		 WHERE NVL(DEL_YN, 'N') = 'N'
		<if test="bankCd != null and bankCd  != ''"> 
		AND BANK_CD = #{bankCd} 
		</if> 
		<if test="acctNo != null and acctNo  != ''"> 
		AND ACCT_NO LIKE '%' || #{acctNo} || '%' 
		</if> 
		<if test="remark != null and remark  != ''"> 
		AND REMARK = #{remark} 
		</if> 
	</select> 

	<!-- 조합계좌 등록 처리 --> 
	<insert id="insertKocfcAcc" parameterType="Map"  > 
		/* KocfcAccMapper.insertKocfcAcc */ 
		INSERT INTO CM_KOCFC_ACC ( 
			BANK_CD 
			, ACCT_NO 
			, BANK_NM 
			, BANK_TYPE 
			, USE_YN 
			, REMARK 
			, REG_DTM 
			, REG_ID 
			, MOD_DTM 
			, MOD_ID 
		) VALUES ( 
			#{bankCd} 
			, #{acctNo} 
			, F_GET_CD_NM('CM02', #{bankCd})
			, #{bankType} 
			, #{useYn} 
			, #{remark} 
			, SYSDATE 
			, #{userNm} 
			, SYSDATE 
			, #{userNm} 
		) 
	</insert> 

	<!-- 조합계좌 수정 처리 --> 
	<update id="updateKocfcAcc" parameterType="Map"> 
		/* KocfcAccMapper.updateKocfcAcc */ 
		UPDATE CM_KOCFC_ACC 
		SET 
			BANK_CD = #{bankCd} 
			, ACCT_NO = #{acctNo} 
			, BANK_NM = F_GET_CD_NM('CM02', #{bankCd}) 
			, BANK_TYPE = #{bankType} 
			, USE_YN = #{useYn} 
			, REMARK = #{remark} 
			, MOD_DTM = SYSDATE 
			, MOD_ID = #{userNm} 
		WHERE BANK_CD = #{bankCd} 
		  AND ACCT_NO = #{acctNo} 
	</update> 

	<!-- 조합계좌 삭제 처리 --> 
	<delete id="deleteKocfcAcc" parameterType="Map"  > 
		/* KocfcAccMapper.deleteKocfcAcc */ 
		UPDATE CM_KOCFC_ACC 
		SET DEL_YN = 'Y' 
		WHERE BANK_CD = #{bankCd} 
		  AND ACCT_NO = #{acctNo}
	</delete> 

</mapper>
