<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ddc.biz.sys.repository.WorkRmvMapper">

	<!-- *************** 보증약정해지 처리 ***************************-->
	<!-- 보증약정해지 대상 조회 -->
	<select id="selectGuarContrWorkRmvTargList" parameterType="Map" resultType="camelMap">
		/* WorkRmvMapper.selectGuarContrWorkRmvTargList */
		SELECT A.CONTR_NO
		  FROM GR_CONTRACT A
		     , (
		       SELECT CONTR_NO, COUNT(*) CNT
		         FROM GR_MASTER
		        WHERE GUAR_STAT IN ('20', '90')
		        GROUP BY CONTR_NO
		     ) B
		 WHERE A.CONTR_NO = B.CONTR_NO(+)
		   AND A.CONTR_STAT = '10'
		   AND A.CONTR_EXP_DT &lt; TO_CHAR(SYSDATE, 'YYYYMMDD')
	</select>

	<!-- 보증약정해지 처리 -->
	<update id="updateGuarContrWorkRmv" parameterType="Map"  >
		/* WorkRmvMapper.updateGuarContrWorkRmv */
		UPDATE GR_CONTRACT
		   SET CONTR_STAT = '20'
		     , CONTR_CAN_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		 WHERE CONTR_NO = #{contrNo}
	</update>

	<!--  보증약정담보해지  -->
	<update id="updateGuarContrMortWorkRmv" parameterType="Map"  >
		/* WorkRmvMapper.updateGuarContrMortWorkRmv */
		UPDATE GR_MORT
		   SET MORT_YN = 'N'
		     , MORT_CAN_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		     , CAN_RESN_CD = '20'
		     , CAN_RESN_NM = '만기해지'
		WHERE CONTR_NO = #{contrNo}
	</update>

	<!--  보증약정연대보증  -->
	<update id="updateGuarContrSureWorkRmv" parameterType="Map"  >
		/* WorkRmvMapper.updateGuarContrSureWorkRmv */
		UPDATE GR_SURETY
		   SET SURE_YN = 'N'
		     , SURE_CAN_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		WHERE CONTR_NO = #{contrNo}
	</update>

	<!-- *************** 보증 해지  처리 ***************************-->

	<!-- 보증해지 대상 조회 -->
	<select id="selectGuarWorkRmvTargList" parameterType="Map" resultType="camelMap">
		/* WorkRmvMapper.selectGuarWorkRmvTargList */
		SELECT G.GUAR_NO, G.GUAR_TYPE, G.GUAR_EXP_DT, G.GUAR_STAT, NVL(M.SUPER_YN, 'N') SUPER_YN
  		  FROM GR_MASTER G
     		 , MB_MASTER M
 		 WHERE G.MEMB_NO = M.MEMB_NO(+)
   		   AND G.INIT_DOC_NO IN
						      (
						     SELECT INIT_DOC_NO
						       FROM
							       (
							         SELECT G.INIT_DOC_NO
							              , MAX(CASE WHEN M.SUPER_YN = 'Y' THEN GUAR_EXP_DT
							                     ELSE F_GET_GUAR_EXP_PRE_DT(G.INIT_DOC_NO) END) GUAR_EXP_DT
							           FROM GR_MASTER G
							              , MB_MASTER M
							         WHERE G.MEMB_NO = M.MEMB_NO
							           AND G.GUAR_STAT = '90'
							         GROUP BY G.INIT_DOC_NO
							         )
						     WHERE GUAR_EXP_DT &lt;= TO_CHAR(SYSDATE, 'YYYYMMDD')
						     GROUP BY INIT_DOC_NO
						     )
		  AND G.GUAR_TYPE = #{guarType}
		  AND G.GUAR_STAT = '90'
	</select>


	<!--  보증해지 처리  -->
	<update id="updateGuarWorkRmv" parameterType="Map"  >
		/* WorkRmvMapper.updateGuarWorkRmv */
		UPDATE GR_MASTER
		   SET GUAR_STAT = '30'
	         , GUAR_CAN_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
	         , GUAR_CAN_AMT = GUAR_AMT
	         , GUAR_CAN_TYPE = CASE WHEN GUAR_TYPE IN ('12', '14', '15', '21', '31', '32', '33', '34')
	         						THEN (CASE WHEN NVL(#{superYn}, 'N') = 'Y' THEN '21' ELSE '20' END)
	         						ELSE '30' END /*20 소멸시효, 30 기간경과, 21 콘텐츠우량기업 보증기간 경과*/
		WHERE GUAR_NO = #{guarNo}
		  AND GUAR_STAT = '90'
	</update>


	<!-- *************** 융자 해지  처리 ***************************-->
	<!-- 융자약정해지 대상 조회 -->
	<select id="selectLendContrWorkRmvTargList" parameterType="Map" resultType="camelMap">
		/* WorkRmvMapper.selectLendContrWorkRmvTargList */
		SELECT A.CONTR_NO
		  FROM LD_CONTRACT A
		     , (
		       SELECT CONTR_NO, COUNT(*) CNT
		         FROM LD_MASTER
		        WHERE LEND_STAT NOT IN ('90')
		        GROUP BY CONTR_NO
		     ) B
		 WHERE A.CONTR_NO = B.CONTR_NO(+)
		   AND A.CONTR_STAT = '10'
		   AND A.CONTR_EXP_DT &lt; TO_CHAR(SYSDATE, 'YYYYMMDD')
		   AND B.CNT = 0 /* 정상 보증 없을 경우 */
	</select>

	<!-- 융자약정해지 처리 -->
	<update id="updateLendContrWorkRmv" parameterType="Map"  >
		/* WorkRmvMapper.updateLendContrWorkRmv */
		UPDATE LD_CONTRACT
		   SET CONTR_STAT = '20'
		     , CONTR_CAN_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		 WHERE CONTR_NO = #{contrNo}
	</update>

	<!--  융자약정담보해지  -->
	<update id="updateLendContrMortWorkRmv" parameterType="Map"  >
		/* WorkRmvMapper.updateLendContrMortWorkRmv */
		UPDATE LD_MORT
		   SET MORT_YN = 'N'
		     , MORT_CAN_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		     , CAN_RESN_CD = '30'
		     , CAN_RESN_NM = '대출금상환'
		WHERE CONTR_NO = #{contrNo}
	</update>

	<!--  융자약정연대보증  -->
	<update id="updateLendContrSureWorkRmv" parameterType="Map"  >
		/* WorkRmvMapper.updateLendContrSureWorkRmv */
		UPDATE LD_SURETY
		   SET SURE_YN = 'N'
		     , SURE_CAN_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		WHERE CONTR_NO = #{contrNo}
	</update>



</mapper>
